interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "She spe", "description":
        "The Galactic Empire is nearing ", "categories": [{"name": "Reuben", "framework":
        "It is"}], "criticality": 1, "relatedEntities": [], "name": "Polenta", "count":
        24077}, {"criticalityLabel": "They ar", "description": "Do you have any idea
        why this is not w", "categories": [{"name": "Venis", "framework": "The s"}],
        "criticality": 1, "relatedEntities": [], "name": "Boulliabaise", "count":
        343622}, {"criticalityLabel": "Atoms c", "description": "Do you come here
        often?", "categories": [{"name": "Grits", "framework": "Make "}], "criticality":
        1, "relatedEntities": [], "name": "French Onion Soup", "count": 1109[...]
