interactions:
- request:
    body: '{"limit": 10, "name": "Moise Test"}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/search
  response:
    body:
      string: '[{"id": "report:wpHivJ", "name": "Tagine", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-02-06T16:43:16.287Z", "owner_id":
        "Do you have any ", "owner_name": "It is also a garbage-co", "organisation_id":
        "The arguments ca", "organisation_name": "It is also a garbage-collected ru",
        "owner_organisation_details": {"owner_id": "Its main impleme", "owner_name":
        "Type classes first appe", "organisations": [], "enterprise_id": "The arguments
        ca", "enterprise_name": "He looked inquisitively at his ke"}}]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
