interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/search?limit=11&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-05-25T00:00:04.341Z",
        "firstSeen": "2026-02-16T18:28:34.201Z"}, "risk": {"criticalityLabel": "The
        Galactic E", "riskString": "The s", "rules": 10, "criticality": 4, "riskSummary":
        "Any element of a tuple can be accessed ", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Tuples are containers for a fixed
        number of Erlang data types.", "rule": "Initially composing light-he", "criticality":
        1, "timestamp": "2026-05-25T21:06:48.178Z", "criticalityLabel": "I don''t"},
        {"mitigationString": "", "evidenceString": "Messages can be sent to and received
        from ports, but these messages must obey the so-called \"port protocol.\"",
        "rule": "She spent her earliest years reading cl", "criticality": 1, "timestamp":
        "2026-03-25T17:21:01.507Z", "criticalityLabel": "Tuples "}, {"mitigationString":
        "", "evidenceString": "Tuples are containers for a fixed number of Erlang
    [...]
