interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "Initial", "description":
        "The arguments can be primitive data types or co", "categories": [{"name":
        "Pop-Tarts", "framework": "Do yo"}], "criticality": 1, "relatedEntities":
        [], "name": "Mission burrito", "count": 4938697}, {"criticalityLabel": "Its
        mai", "description": "Ports are used to communicat", "categories": [{"name":
        "Milksh", "framework": "Erlan"}, {"name": "French", "framework": "Do yo"},
        {"name": "Home f", "framework": "The s"}], "criticality": 1, "relatedEntities":
        [], "name": "Stuffed ham", "count": 3952}, {"criticalityLabel": "I don''t
        e", "description": "Erlang is a general-purpose, co", "categories": [{"name":
        "Chocol", "framework": "The s"}[...]
