interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/alert/rule?limit=1000
  response:
    body:
      string: '{"data": {"results": [{"intelligence_goals": [{"name": "Steak sauce",
        "id": "report:_intelligence_goal_ig-70"}], "priority": true, "tags": [], "use_case_id":
        "The sequential subset of Erlang ", "id": "mf0rAV", "owner": {"name": "Protein
        bar", "id": "X6GnOCXxC5EJnNQH"}, "title": "The syntax {D1,D2,...,Dn} denote",
        "created": "2022-05-06T08:19:33.423Z", "notification_settings": {"email_subscribers":
        [{"name": "Laksa", "id": "tt8TLgkbStcqcJPq"}], "mobile_subscribers": []},
        "enabled": true}, {"intelligence_goals": [{"name": "Geoduck", "id": "report:_intelligence_goal_ig-70"}],
        "priority": false, "tags": [], "use_case_id": "Tuples are containers for a
        fix", "id": "mf0rAW", "owner": {"name": "Soft Shell Crab", "id": "GeyIGw6EMlWBBMJ2"},
        "title": "Where are my pants?", "created": "2022-05-06T08:19:34.867Z", "notification_settings":
        {"email_subscribers": [{"name": "Chicken bog", "id": "IiPypxycrnXGMDu6"}],
        "mobile_subscribers": []}, "enabl[...]
