interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/https%3A%2F%2Fwebhook.site%2Fbb8ca5f6-4175-45d2-b042-fc9ebb8170b7?fields=timestamps%2CintelCard%2Crisk%2Centity
  response:
    body:
      string: '{"data": {"intelCard": "https://peas.tirol/", "timestamps": {"lastSeen":
        "2026-02-16T23:59:59.000Z", "firstSeen": "2026-02-16T00:00:00.000Z"}, "risk":
        {"criticalityLabel": "Sour crea", "riskString": "Bell", "rules": 4, "criticality":
        3, "riskSummary": "Phaal", "score": 89, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "Spaghetti and Meatballs", "rule": "Lorna Doone", "criticality":
        1, "timestamp": "2025-12-03T14:17:58.603Z", "criticalityLabel": "Osso Bu"},
        {"mitigationString": "", "evidenceString": "Creamed corn", "rule": "Deep Fried
        Oreos", "criticality": 1, "timestamp": "2025-09-30T05:29:55.000Z", "criticalityLabel":
        "Flan"}, {"mitigationString": "", "evidenceString": "Pumpkin pie", "rule":
        "Chicken herby pasta bake", "criticality": 1, "timestamp": "2026-02-16T09:02:28.430Z",
        "criticalityLabel": "French "}, {"mitigationString": "", "evidenceString":
        "Coq Au Vin", "rule": "Mini pizzas", "criticality": 3, "timestamp": "2025-09-17T00:00:00.000Z",
        "criticalityLabel": "Cheesecak"}]}, "entity": {"id": "url:https://columbus.run/",
        "name": "https://cnn.helsinki/", "type": "URL"}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
