interactions:
- request:
    body: '{"name": "wannacry", "limit": 5}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/entity-match/match
  response:
    body:
      string: '[{"id": "SoA6SP", "name": "Shri", "type": "Malware"}, {"id": "Ub_GAO",
        "name": "Calf''s l", "type": "Username"}, {"id": "n1nHgO", "name": "Pigs in
        ", "type": "Username"}, {"id": "UnaoWy", "name": "Geoduck", "type": "Username"},
        {"id": "hRrBs3", "name": "Charlest", "type": "Username"}]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
