interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/entity-match/entity/SoA6SP
  response:
    body:
      string: '{"data": {"id": "SoA6SP", "type": "Malware", "attributes": {"name":
        "Tetr", "common_names": ["She spent he", "They are wr", "Make me a ", "Haskell
        is ", "Any element of ", "Type classes", "Ports ar"], "alias": ["The argu",
        "Haskell feature", "In 1989 the", "They", "The syntax ", "The argum", "I don''t
        even car", "Its main i", "She spent her e", "Atoms are us", "They are writte",
        "Erlang is ", "I don''", "Type classes ", "They are wr", "Tuples are container",
        "Any "], "is_threat_actor": false}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
