interactions:
- request:
    body: '{"filter": {"types": ["sigma"], "created": {}, "updated": {}}, "limit":
      10}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 10, "total_count": 568, "result": [{"id": "doc:o6_lui", "type":
        "sigma", "title": "Type classes first appeared in the Haskell programming
        language.", "description": "The syntax {D1,D2,...,Dn} denotes a tuple whose
        arguments are D1, D2, ... Dn.", "created": "2022-11-23T22:47:39.858Z", "updated":
        "2023-02-02T16:31:20.120Z", "rules": [{"entities": [{"id": "RyMNEN8MfwvuC54",
        "type": "MitreAttackIdentifier", "name": "Philadelp", "display_name": "Do
        you have any idea why this is not working?"}, {"id": "mEs8JbvChTf493g", "type":
        "MitreAttackIdentifier", "name": "Pizza str", "display_name": "The arguments
        can be primitive data types or compound data types."}, {"id": "y3yYIras20wCLEJ",
        "type": "MitreAttackIdentifier", "name": "Chicken A", "display_name": "He
        looked inquisitively at his keyboard "}, {"id": "C2AwyT6bnb7", "type": "MitreAttackIdentifier",
        "name": "Chick", "display_name": "The G[...]
