interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "Ports a", "description":
        "Tuples are containers for a fix", "categories": [{"name": "Popove", "framework":
        "Any e"}], "criticality": 1, "relatedEntities": [], "name": "Chocolat", "count":
        24080}, {"criticalityLabel": "Atoms a", "description": "I don''t even care.",
        "categories": [{"name": "Onion", "framework": "Erlan"}], "criticality": 1,
        "relatedEntities": [], "name": "Chicken nugget", "count": 345929}, {"criticalityLabel":
        "She spe", "description": "The sequential subset of Erlang supp", "categories":
        [{"name": "Gumbo", "framework": "Haske"}], "criticality": 1, "relatedEntities":
        [], "name": "Pancakes", "count": 111054737}, {"cri[...]
