interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "Erla", "description": "Messages
        can be sent ", "categories": [{"name": "Matzo Ball Soup", "framework": "The
        Gal"}], "criticality": 3, "relatedEntities": [], "name": "Chips and ", "count":
        12456}, {"criticalityLabel": "Do you have a", "description": "Ports are created
        with the built-in function ope", "categories": [{"name": "Lobste", "framework":
        "Tuple"}, {"name": "Pastrami on Rye", "framework": "It is a"}, {"name": "Spaghe",
        "framework": "It is"}], "criticality": 5, "relatedEntities": ["Ports "], "name":
        "Chicken Salad Wrap", "count": 514}, {"criticalityLabel": "Erl", "description":
        "Do you have any idea why this ", "categories": [...]
