interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc
  response:
    body:
      string: '{"status": {"status_code": "Tu", "status_message": "Spaghetti and Meatballs"},
        "data": {"playbook_alert_id": "task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc",
        "rule_id": "Sausag", "alert_rule": {"id": "qS_wmm", "label": "Baba Ghanoush",
        "name": "Chicken nuggets"}, "status": "InProgress", "priority": "Port", "created":
        "2024-12-10T10:11:54.696Z", "updated": "2026-02-13T10:11:00.790Z", "category":
        "code_repo_leakage", "title": "Ports are used to communicate with the external
        world.", "owner_id": "Alice Springs Ch", "owner_name": "Butter cookie", "organisation_id":
        "Pistachio Ice Cr", "organisation_name": "Currywurst", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Mango and Sticky", "organisation_name":
        "Jell-O"}], "enterprise_id": "Brisket", "enterprise_name": "Caviar"}, "actions_taken":
        []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/code_repo_leakage/task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc
  response:
    body:
      string: '{"status": {"status_code": "Su", "status_message": "Maple bacon donut"},
        "data": {"playbook_alert_id": "task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc",
        "panel_status": {"status": "InProgress", "priority": "Appl", "created": "2024-12-10T10:11:54.696Z",
        "updated": "2026-02-13T10:11:00.790Z", "case_rule_id": "Haystack", "case_rule_label":
        "Data Leakage on Code Repository", "alert_rule": {"id": "qS_wmm", "label":
        "Surf and turf", "name": "Popover"}, "owner_id": "Chili dog", "owner_name":
        "Meatcake", "organisation_id": "Milk Steak", "organisation_name": "Chimichanga",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Celery
        Victor", "organisation_name": "Macaroni and Cheese"}], "enterprise_id": "Hokkien
        fried ri", "enterprise_name": "Maine Lobster"}, "entity_id": "Tagine", "entity_name":
        "https://rome.net/", "entity_criticality": "", "risk_score": 0, "targets":
        [{"name": "London"}], "actions_taken": []}, "panel_evidence_summary": {"repository":
        {"id": "url:https://banners.tires/", "name": "https://became.abudhabi/", "owner":
        {"name": "Slinger"}}, "evidence": [{"assessments": [{"id": "bGEJWEtAUMfwKaUeRP4M",
        "title": "Where are my pant", "value": "Shrim"}, {"id": "zelstaTbjd5Q1CshKhgMXwJSHYk",
        "title": "In 1989 the building was heavily da", "value": "Mozzar"}], "targets":
        [{"name": "Macaro"}], "url": "https://eds.sydney/", "content": "Chicago Hot
        Dog", "published": "2025-03-27T14:56:01.383Z"}, {"assessments": [{"id": "qbCDEGqQgoKFMtjjuKcP",
        "title": "Where are my pant", "value": "Russian "}, {"id": "UmjA1OHW3dkzpHJwg7IKFWlbthN",
        "title": "They are written as strings of cons", "value": "Mini p"}], "targets":
        [{"name": "Meatca"}], "url": "https://gage.discount/", "content": "Deviled
        crab", "published": "2025-01-21T23:45:39.488Z"}, {"assessments": [{"id": "LbqIzwncdoeUhNSxY2ug",
        "title": "The sequential su", "value": "[...]
