interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "She spe", "description":
        "Haskell is a standardized, general-purpose pure", "categories": [{"name":
        "Pork Bell", "framework": "Its m"}], "criticality": 1, "relatedEntities":
        [], "name": "Massaman Curry", "count": 5120321}, {"criticalityLabel": "They
        ar", "description": "Make me a sandwich.", "categories": [{"name": "Home f",
        "framework": "Do yo"}, {"name": "Curryw", "framework": "Where"}, {"name":
        "Kimchi", "framework": "Ports"}], "criticality": 1, "relatedEntities": [],
        "name": "Laksa", "count": 3949}, {"criticalityLabel": "The seque", "description":
        "The Galactic Empire is nearing ", "categories": [{"name": "Laksa", "framework":
        "Erlan"}, {"name": "Beef [...]
