interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:f87706b1-cea4-4765-9d50-7647ee9bda9b
  response:
    body:
      string: '{"status": {"status_code": "Bu", "status_message": "Chowder"}, "data":
        {"playbook_alert_id": "task:f87706b1-cea4-4765-9d50-7647ee9bda9b", "rule_id":
        "Suckli", "alert_rule": {"id": "s8LnBp", "label": "Sushi", "name": "Chicken
        fried ste"}, "status": "InProgress", "priority": "Montreal", "created": "2024-12-05T20:05:50.787Z",
        "updated": "2026-02-13T10:11:10.360Z", "category": "identity_novel_exposures",
        "title": "He looked inquisitively at his ke", "owner_id": "Cheese stuffed
        c", "owner_name": "Gumbo", "organisation_id": "Fried Green Toma", "organisation_name":
        "Pop-Tarts", "owner_organisation_details": {"organisations": [{"organisation_id":
        "BBQ Chicken Pizz", "organisation_name": "Chicken Biryani"}], "enterprise_id":
        "Moules Frites", "enterprise_name": "Chocolate cheesecake"}, "actions_taken":
        []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/identity_novel_exposures/task:f87706b1-cea4-4765-9d50-7647ee9bda9b
  response:
    body:
      string: '{"status": {"status_code": "Ba", "status_message": "Fried fish"}, "data":
        {"playbook_alert_id": "task:f87706b1-cea4-4765-9d50-7647ee9bda9b", "panel_status":
        {"status": "InProgress", "priority": "Pastrami", "created": "2024-12-05T20:05:50.787Z",
        "updated": "2026-02-13T10:11:10.360Z", "case_rule_id": "Potatoes O''Br", "case_rule_label":
        "Novel Identity Exposure", "alert_rule": {"id": "s8LnBp", "label": "Deviled
        crab", "name": "Meatcake"}, "owner_id": "Shish Kabob", "owner_name": "Apple
        butter", "organisation_id": "Pulled pork", "organisation_name": "Corn flakes",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Black
        Pudding", "organisation_name": "Falafel"}], "enterprise_id": "Bear claw",
        "enterprise_name": "Tuna Pizza"}, "entity_id": "Cornish game hen", "entity_name":
        "Bellini", "targets": [{"name": "handled.org"}, {"name": "checked.se"}], "actions_taken":
        []}, "panel_evidence_summary": {"assessments": [{"name": "Ice Cre", "criticality":
        "Falafel"}], "subject": "Queso Fresco", "authorization_url": "https://consumer.holiday/",
        "exposed_secret": {"type": "clear", "effectively_clear": true, "hashes": [{"algorithm":
        "SHA1", "hash": "fe8da2dd41bf557972ed4e409b4434459275b40bc197c582aac36378b8d0a993"},
        {"algorithm": "SHA256", "hash": "3c3c5fae320fb980fdab7856d137e7822093b39524c789145285fe7acee0f831"},
        {"algorithm": "NTLM", "hash": "7f52f416b935adf1ea802cd0c879fe60fdb66a135f127a4dc98d74fb39834559"},
        {"algorithm": "MD5", "hash": "4546d103a44bc3addf519b251f5244239d403f38dedded4df03307c9f7ad83fa"}],
        "details": {"properties": ["Pemmic", "BBQ Chicken Pizza"], "clear_text_value":
        "Hummus", "clear_text_hint": "Po"}}, "dump": {"name": "Churrasco", "description":
        "Chicken fingers"}, "compromised_host": {"exfiltration_date": "2024-12-05T13:19:24.000Z"},
        "malware_family": {"id": "nlflWX", "name": "Drunken chicken"}}, "panel_log":
        [{"id": "kGhTZRoZB2RLC0mwhuArPtTsqLr0mfw6eMqenHJzt", "actor_name": "Reuben",
        "actor_id": "Paella", "created": "2025-05-29T12:28:59.248Z", "modified": "Crepes",
        "message": "Parma Ham"}, {"id": "t7yBROPIATYKJuR3XPjKdMoptIej368YiXYFNWn1d",
        "actor_name": "Pulled pork", "actor_id": "Coleslaw", "created": "2025-05-29T12:29:58.430Z",
        "modified": "Paella", "message": "Domesticated t"}, {"id": "j3j1CTyGJeONZIrGwpkOqQ4HUEWxxm7eiYuuK0pgn",
        "actor_name": "London broil", "actor_id": "Corned beef", "created": "2025-05-29T12:38:19.661Z",
        "modified": "Grits", "message": "Glorified rice"}, {"id": "dmHtfozf9AeyJ3CVYPOCbW3IaKDnMwHvvvriynVyd",
        "actor_name": "Pork and beans", "actor_id": "Beef Manhattan", "created": "2025-05-29T15:21:37.183Z",
        "modified": "Chicken herby pasta bake", "changes": {"status_change": {"old":
        "New", "new": "Charlesto", "type": "status_change"}}}, {"id": "3eHEdDm3B3N8HF6T68sbyXnLw97ssetTuiCw7dAL5",
        "actor_name": "Jerky", "actor_id": "Ice cream cake", "created": "2025-05-29T15:27:08.140Z",
        "modified": "Philly Cheese Steak", "changes": {"status_change": {"old": "Porterhou",
        "new": "Potato Wed", "type": "status_change"}}}, {"id": "1KehQCifbmJsQZJMtNrkxr0WM0MV9iK7xGk3G9VqD",
        "actor_name": "Reuben sandwich", "actor_id": "Chicken Manchuri", "created":
        "2025-05-29T[...]
