interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/45.134.26.41?fields=location%2Ctimestamps%2CintelCard%2Crisk%2Centity
  response:
    body:
      string: '{"data": {"location": {"organization": null, "cidr": {"id": "ip:171.142.119.105",
        "name": "101.150.23.193", "type": "IpAddress"}, "location": {"continent":
        "Polent", "country": "Chicha", "city": "Cornis"}, "asn": null}, "timestamps":
        {"lastSeen": "2025-12-15T23:39:10.064Z", "firstSeen": "2021-05-15T12:36:45.484Z"},
        "risk": {"criticalityLabel": "Pulled por", "riskString": "Roast", "rules":
        17, "criticality": 2, "riskSummary": "Deep Fried Oreos", "score": 43, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Thousand Island dressing", "rule":
        "Crepes", "criticality": 1, "timestamp": "2021-07-27T22:15:01.000Z", "criticalityLabel":
        "Corn fl"}, {"mitigationString": "", "evidenceString": "Black Pudding", "rule":
        "Bulgogi", "criticality": 1, "timestamp": "2025-06-06T10:41:12.940Z", "criticalityLabel":
        "Chicken"}, {"mitigationString": "", "evidenceString": "Macaroni and cheese",
        "rule": "Porterhouse Steak", "criticality": 1, "timestamp": "2025-12-23T08:55:01.625Z",
        "criticalityLabel": "Toaster"}, {"mitigationString": "", "evidenceString":
[...]
