interactions:
- request:
    body: '[{"id": "bad-alert-id", "statusInPortal": "Pending"}]'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/v2/alert/update
  response:
    body:
      string: '{"success": [], "error": [{"id": "6UpHMefp52oU", "reason": "Haskell
        features a type system with type inference and lazy evaluation.", "statusCode":
        400}]}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 400
      message: Bad Request
version: 1
