interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/search?limit=1&riskScore=%2850%2C61%5D&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-12-09T08:08:28.909Z",
        "firstSeen": "2026-04-08T04:12:30.408Z"}, "risk": {"criticalityLabel": "I
        don''t ev", "riskString": "In 1", "rules": 6, "criticality": 2, "riskSummary":
        "Messages can be sent to and received f", "score": 58, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "He looked inquisitively at his
        keyboard and wrote another sentence.", "rule": "Its main implementation is
        the Glasgow Haske", "criticality": 1, "timestamp": "2026-04-22T18:54:09.735Z",
        "criticalityLabel": "The Gal"}, {"mitigationString": "", "evidenceString":
        "Do you have any idea why this is not working?", "rule": "Haskell is a standardized,
        general-purpo", "criticality": 1, "timestamp": "2026-09-13T11:46:01.345Z",
        "criticalityLabel": "She spe"}, {"mitigationString": "", "evidenceString":
        "Ports are used to communicate with the external world.", "rule": "Type classes
        first appeared in the Hask", "criticality": 1, "timestamp": "2026-05-20T08:46:33.509Z",
        "criticalityLabel": "Atoms c"}, {"mitigationString": "", "evidenceString":
        "Do you have any idea why this is not working?", "rule": "Do you have any
        idea why this is not", "criticality": 1, "timestamp": "2026-01-06T01:17:14.248Z",
        "criticalityLabel": "Do you "}, {"mitigationString": "", "evidenceString":
        "Where are my pants?", "rule": "The arguments can be pri", "criticality":
        2, "timestamp": "2026-09-27T02:27:02.732Z", "criticalityLabel": "She spent
        "}, {"mitigationString": "", "evidenceString": "Haskell features a type system
        with type inference and lazy evaluation.", "rule": "Atoms are used within
        a progr", "criticality": 2, "timestamp": "2026-09-29T10:35:25.551Z", "criticalityLabel":
        "Do you hav"}]}, "entity": {"id": "idn:folder.biz", "name": "Fried Green ",
        "type": "InternetDomainName"}}]}, "counts": {"returned": 1, "total": 6}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
