interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:db6b2635-28f5-49ec-b717-8372de9a96fd
  response:
    body:
      string: '{"status": {"status_code": "Ch", "status_message": "Frybread"}, "data":
        {"playbook_alert_id": "task:db6b2635-28f5-49ec-b717-8372de9a96fd", "rule_id":
        "Creame", "alert_rule": {"id": "pAHhqL", "label": "Sour cream", "name": "BBQ
        Ribs"}, "status": "Resolved", "priority": "Tama", "reopen": "Margh", "created":
        "2024-11-11T12:13:41.666Z", "updated": "2026-02-13T10:10:58.682Z", "category":
        "cyber_vulnerability", "title": "It is also a g", "owner_id": "Polenta", "owner_name":
        "Root Beer Float", "organisation_id": "Pastrami on Rye", "organisation_name":
        "Chicken French", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Mozzarella stick", "organisation_name": "Rice and gravy"}], "enterprise_id":
        "Haystack", "enterprise_name": "Hangtown fry"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/vulnerability/task:db6b2635-28f5-49ec-b717-8372de9a96fd
  response:
    body:
      string: '{"status": {"status_code": "Sh", "status_message": "Gazpacho"}, "data":
        {"playbook_alert_id": "task:db6b2635-28f5-49ec-b717-8372de9a96fd", "panel_status":
        {"status": "Resolved", "priority": "Pole", "reopen": "Pumpk", "created": "2024-11-11T12:13:41.666Z",
        "updated": "2026-02-13T10:10:58.682Z", "case_rule_id": "Samosa", "case_rule_label":
        "Cyber Vulnerability", "alert_rule": {"id": "pAHhqL", "label": "Chowder",
        "name": "Clam chowder"}, "owner_id": "Fajitas", "owner_name": "Corn flakes",
        "organisation_id": "Hawaiian haystac", "organisation_name": "Onion ring",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Chicken
        fingers", "organisation_name": "Shepherd''s Pie"}], "enterprise_id": "Scrapple",
        "enterprise_name": "Mango and Sticky Rice"}, "entity_id": "Scampi", "entity_name":
        "Chicken finger", "entity_criticality": "Brea", "risk_score": 67, "lifecycle_stage":
        "Shucked O", "targets": [{"name": "Eggs Neptune"}], "actions_taken": []},
        "panel_evidence_summary": {"summary": {"targets": [{"name": "Apple sauce"}],
        "lifecycle_stage": "Venison", "risk_rules": [{"rule": "Pigs in blankets",
        "description": "Gumbo"}]}, "affected_products": [{"name": "Quesadilla"}, {"name":
        "Steak sandwich"}, {"name": "Brisket"}, {"name": "Potato skins"}, {"name":
        "Roasted Bone Marrow"}, {"name": "Queso Fresco"}, {"name": "Russian dressing"},
        {"name": "Massaman Curry"}, {"name": "BBQ Ribs"}, {"name": "Potatoes O''Brien"},
        {"name": "Sloppy joe"}, {"name": "Sweet Potato Fries"}, {"name": "Scrapple"},
        {"name": "Black Pudding"}, {"name": "Pickled cucumber"}, {"name": "Baked potato"},
        {"name": "Spaghetti [...]
