interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"organisations":
        [{"organisation_id": "Ports are create", "organisation_name": "He looked inquisitively
        at his ke"}], "enterprise_id": "She spent her ea", "enterprise_name": "In
        1989 the building was heavily "}, "rule": {"use_case_deprecation": null, "name":
        "Tuna Pizza", "id": "n4mLnY", "url": {"portal": "https://pride.ing/"}}, "id":
        "5oWDPWV", "title": "In 1989 the building was heavily damaged by fire, but
        it ha", "log": {"note_author": null, "note_date": null, "status_date": null,
        "triggered": "2026-02-13T06:03:19.958Z", "status_change_by": null}}, {"review":
        {"note": null, "status_in_portal": "New", "assignee": null, "status": "no-action"},
        "owner_organisation_details": {"organisations": [{"organisation_id": "Haskell
        features", "organisation_name": "Erlang is known for its designs t"}], "enterprise_id":
        "He looked inquis", "enterprise_name": "The Galactic Empire is nearing co"},
        "rule": {"use_case_deprecation": null, "name": "Chips and dip", "id": "owPoUd",
        "url": {"portal": "https:[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50&from=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"organisations":
     [...]
