interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/1b6uQY?fields=title%2Clog%2Cai_insights%2Creview%2Curl%2Cenriched_entities%2Chits%2Cowner_organisation_details%2Ctype%2Ctriggered_by%2Crule%2Cid
  response:
    body:
      string: '{"data": {"review": {"note": "Where are my pants?", "status_in_portal":
        "Pending", "assignee": "Erlang is a general-purpose, concurrent, fu", "status":
        "pending"}, "owner_organisation_details": {"organisations": [{"organisation_id":
        "Tuples are conta", "organisation_name": "Erlang is known for its designs
        t"}], "enterprise_id": "Ports are create", "enterprise_name": "The syntax
        {D1,D2,...,Dn} denotes"}, "url": {"api": "https://eight.doctor/", "portal":
        "https://mars.doha/"}, "rule": {"use_case_deprecation": null, "name": "Scampi",
        "id": "o7x4o3", "url": {"portal": "https://glasses.pa/"}}, "id": "1b6uQY",
        "hits": [{"entities": [{"id": "0ayEt", "name": "Abal", "type": "Country"},
        {"id": "8LPTY", "name": "Huevo", "type": "Country"}, {"id": "gTPBT", "name":
        "Chee", "type": "Country"}, {"id": "mFDL8", "name": "Fried fish", "type":
        "Country"}, {"id": "qBYmn", "name": "Funne", "type": "Organization"}, {"id":
        "1XXdd", "name": "Chile Rel", "type": "Region"}, {"id": "fI7SZ", "name": "Lobster",
        "type": "Country"}], "document": {"source": {"id": "gfB52DkSin", "name": "Buffalo
        bur", "type": "Source"}, "title": "Its main implementation is the Glasgow
        Haskell Compiler.", "url": "https://auction.barcelona/", "authors": [{"id":
        "ooyNwJ", "name": "Potatoes ", "type": "Username"}]}, "fragment": "Its main
        implementation is the Glasgow Haskell Compiler.", "id": "5bHmifkLdkb", "language":
        "The", "primary_entity": null, "analyst_note": null}, {"entities": [{"id":
        "oAihl", "name": "Salmon", "type": "Country"}, {"id": "tP4YFq", "name": "Salmon
        pasta ", "type": "Username"}, {"id": "mjZq4", "name": "Shish Kab", "type":
        "Organization"}, {"id": "ihd6lq", "name": "Chile Rel", "type": "Region"},
        {"id": "mwdAf", "name": "Panca", "type": "Country"}, {"id": "ytUgW", "name":
        "Bris", "type": "Country"}, {"id": "THdiK", "name": "Pout", "type": "Organization"},
        {"id": "nQJnZb", "name": "Chocol[...]
