interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/search?limit=5&fields=entity%2ClifecycleStage%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"lifecycleStage": "Its main ", "timestamps":
        {"lastSeen": "2026-01-30T04:55:22.346Z", "firstSeen": "2026-06-20T13:30:43.501Z"},
        "risk": {"criticalityLabel": "Haskell is a ", "riskString": "Initi", "rules":
        10, "criticality": 5, "riskSummary": "Its main implementation is the Glasgow
        ", "score": 99, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Haskell is a standardized, general-purpose purely functional programming
        language, with non-strict semantics and strong static typing.", "rule": "He
        looked inquisitively at his keyboard and", "criticality": 1, "timestamp":
        "2026-11-24T05:54:10.364Z", "criticalityLabel": "Has"}, {"mitigationString":
        "", "evidenceString": "Haskell features a type system with type inference
        and lazy evaluation.", "rule": "He looked inquisitively at his ke", "criticality":
        1, "timestamp": "2026-06-30T08:24:40.528Z", "criticalityLabel": "The"}, {"mitigationString":
        "", "evidenceString": "I don''t even care.", "rule": "Erlang is known for
        its designs th", "criticality": 1, "timestamp": "2[...]
