interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Mashed pot", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-02-13T10:59:40.887Z", "owner_id":
        "Milk toast", "owner_name": "Corned beef", "organisation_id": "Chicken Alfredo",
        "organisation_name": "Fry sauce", "owner_organisation_details": {"owner_id":
        "Pancakes", "owner_name": "Coleslaw", "organisations": [], "enterprise_id":
        "Prawn Pizza", "enterprise_name": "Hummus"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entities
  response:
    body:
      string: '[{"entity": {"id": "ip:199.251.244.175", "type": "IpAddress", "name":
        "153.95.88.250"}, "status": "ready", "added": "2026-02-13T10:58:53.784Z"},
        {"entity": {"id": "ip:85.140.83.95", "type": "IpAddress", "name": "82.159.249.160"},
        "status": "ready", "added": "2026-02-13T10:59:02.458Z"}]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"entity": {"id": "ip:9.9.9.9"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entity/remove
  response:
    body:
      string: '{"result": "Reuben"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entities
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
