interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Philadelph", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-02-06T16:43:16.287Z", "owner_id":
        "It is also a gar", "owner_name": "They are written as str", "organisation_id":
        "Tuples are conta", "organisation_name": "Where are my pants?", "owner_organisation_details":
        {"owner_id": "The Galactic Emp", "owner_name": "Where are my pants?", "organisations":
        [], "enterprise_id": "Its main impleme", "enterprise_name": "Messages can
        be sent to and recei"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entities
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
