interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/aewrhprres.com?fields=timestamps%2Centity%2Crisk
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-02-12T00:04:57.651Z", "firstSeen":
        "2026-10-16T18:43:31.387Z"}, "risk": {"criticalityLabel": "Do you come he",
        "riskString": "It i", "rules": 9, "criticality": 4, "riskSummary": "Erlang
        is known for its designs that a", "score": 96, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments
        are D1, D2, ... Dn.", "rule": "Erlang is known for its designs tha", "criticality":
        1, "timestamp": "2026-05-12T19:07:17.034Z", "criticalityLabel": "Haskell"},
        {"mitigationString": "", "evidenceString": "Haskell features a type system
        with type inference and lazy evaluation.", "rule": "Ports are used to communicate
        with the ", "criticality": 1, "timestamp": "2026-04-19T22:37:10.160Z", "criticalityLabel":
        "I don''t"}, {"mitigationString": "", "evidenceString": "Do you come here
        often?", "rule": "He looked inquisitively at his keyboard a", "criticality":
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/avsvmcloud.com?fields=timestamps%2Centity%2Crisk
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-08-23T02:22:29.352Z", "firstSeen":
        "2026-01-06T01:15:44.239Z"}, "risk": {"criticalityLabel": "The sequential",
        "riskString": "The ", "rules": 8, "criticality":[...]
