interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/search?limit=5&fields=analystNotes%2CenterpriseLists%2Centity%2CintelCard%2Clinks%2Crisk%2CriskMapping%2Csightings%2CthreatLists%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"analystNotes": [{"external_id": "Do you", "attributes":
        {"published": "2026-06-09T02:02:27.882Z", "text": "Erlang is known for its
        designs that are well suited for systems. Ports are used to communicate with
        the external world. They are written as strings of consecutive alphanumeric
        characters, the first character being lowercase. Atoms can cont", "authors":
        [{"id": "69aNv9e2rJoWcFDo", "name": "Supreme pizza", "type": "IntegrationUser"}],
        "title": "They are written a", "context_entities": [{"id": "xWzCYTfS2I5lgrrAS70tVLAPBFy8C0L",
        "name": "Bangers and mash", "type": "EmailAddress"}, {"id": "url:https://adelaide.deals/",
        "name": "Chile Relleno", "type": "URL"}, {"id": "5BaTR4", "name": "Ranch dre",
        "type": "Company"}, {"id": "idn:seven.salon", "name": "Pocky", "type": "InternetDomainName"},
        {"id": "ip:248.193.63.9", "name": "Pan Seared S", "type": "IpAddress"}, {"id":
        "hash:f0b9aeb890934017fca930737aa69dffc9007a7470ca8f2f5631304e139a9942", "name":
        "Poke", "type": "Hash"}]}, "source": {"id": "mZk9fziv20ejL", "name": "Greek
        salad", "type": "Source"}, "id": "_AI5Iq"}, {"external_id": "Ports ", "attributes":
        {"published": "2026-08-23T09:22:58.988Z", "text": "Erlang is a general-purpose,
        concurrent, functional programming language. Atoms can contain any character
        if they are enclosed within single quotes and an escape convention exists
        which allows any character to be used within an atom. Type", "authors": [{"id":
        "HYJhivhLTKrDRD99", "name": "Corn chowder", "type": "IntegrationUser"}], "title":
        "It is also a garba", "context_entities": [{"id": "vTX0MX9Nc1meuNDXokfF2G1uuTJhwpm",
        "name": "Liver and onions", "type": "EmailAddress"}, {"id": "url:https://muze.biz/",
        "name": "Ratatouille", "type": "URL"}, {"id": "5BaTR4", "name": "Bagels an",
        "type": "Company"}, {"id": "idn:res.name", "name": "Italian Beef Sandw", "type":
        "InternetDomainName"}, {"id": "ip:201.178.129.155", "name": "Macaroni and",
        "type": "IpAddress"}, {"id": "hash:1eb1b1f8baefdc9b37c797ff3bc59976e7c2700f0afdeae8b10b062ed13d5bdc",
        "name": "Protein bar", "type": "Hash"}]}, "source": {"id": "buBd0TxsFYV0m",
        "name": "Alphabet pasta", "type": "Source"}, "id": "_AI5Io"}, {"attributes":
        {"validated_on": "2026-02-12T21:57:59.316Z", "published": "2026-11-22T13:53:41.553Z",
        "text": "Do you have any idea why this is not working? Haskell features a
        type system with type inference and lazy evaluation. Any element of a tuple
        can be accessed in constant time. Messages can be sent to and received from
        ports, but these messages must obey the so-called \"port protocol.\" The arguments
        can be primitive data types or compound data types.", "topic": {"id": "TXSFt0",
        "name": "Chocolate Br", "type": "Topic", "description": "Make me a sandwich."},
        "context_entities": [{"id": "2uTgl", "name": "Frito Pie", "type": "Company"},
        {"id": "LPc838", "name": "Chicken fr", "type": "AttackVector"}, {"id": "CtkwWu",
        "name": "Shepherd''s Pie", "type": "Technology"}, {"id": "Tt9BLf", "name":
        "Carolina style", "type": "Organization"}, {"id": "78Zzf", "name": "Pancakes",
        "type": "Product"}, {"id": "CTYAbt", "name": "Maraca pie", "type": "Product"},
        {"id": "JFWqep", "name": "Macaroni and Cheese", "type": "Product"}, {"id":
        "idn:livecam.rs", "name": "Gyros", "type": "InternetDomainName"}, {"id": "6X8H7",
        "name": "Maple bacon d", "type": "Country"}], "validation_urls": [{"id": "url:https://duties.au/",
        "name": "Cinnamon Roll", "type": "URL"}, {"id": "url:https://drove.degree/",
        "name": "Poutine", "type": "URL"}], "title": "The sequential subset of Erlang
        supports eager evaluation, single assignment, and dynamic typing.", "note_entities":
        [{"id": "ip:134.182.110.75", "name": "Juba", "type": "IpAddress"}, {"id":
        "ip:243.99.61.88", "name": "Spring Rolls", "type": "IpAddress"}, {"id": "ip:14.50.11.89",
        "name": "Crab Rangoon", "type": "IpAddress"}, {"id": "idn:gloves.pg", "name":
        "Grilled Snake", "type": "InternetDomainName"}, {"id": "ip:200.51.253.185",
        "name": "Montreal S", "type": "IpAddress"}, {"id": "ip:85.95.108.73", "name":
        "Milk Steak", "type": "IpAddress"}, {"id": "ip:157.225.[...]
