interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/1b6uQY?fields=title%2Clog%2Creview%2Crule%2Cid
  response:
    body:
      string: '{"data": {"review": {"note": "He looked inquisitively at his keyboard
        and wrote another sentence.", "status_in_portal": "Pending", "assignee": "Atoms
        are used within a program to denote d", "status": "pending"}, "rule": {"use_case_deprecation":
        null, "name": "Bangers and mash", "id": "o7x4o3", "url": {"portal": "https://sleep.info/"}},
        "id": "1b6uQY", "title": "In 1989 the building was heavily damag", "log":
        {"note_author": "In 1989 the building was heavily damaged by fire, but it
        has si", "note_date": "2026-02-01T05:14:19.047Z", "status_date": "2026-04-01T11:00:34.578Z",
        "triggered": "2024-12-10T04:03:03.588Z", "status_change_by": "The Galactic
        Empire is nearing completion of the Death Star, a "}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '[{"id": "1b6uQY", "statusInPortal": "Pending", "note": "None. Test note.
      Test note. Test note. Test note. Test note. Test note. Test note. Test note",
      "assignee": "ernest.bartosevic+psdevm@recordedfuture.com"}]'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/v2/alert/update
  response:
    body:
      string: '{"success": [{"id": "1b6uQY", "status": "pending", "statusInPortal":
        "She spe", "assignee": "Its main i", "note": {"text": "I don''t even care.
        Haskell is a standardized, general-purpose purely functional programming ",
        "author": "Type class", "date": "2026-07-16T01:59:43.431Z"}, "statusDate":
        "2026-12-09T07:01:09.215Z", "statusChangeBy": "Type class"}], "error": []}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
