interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Garlic bre", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-02-13T10:59:40.887Z", "owner_id":
        "Buffalo wing", "owner_name": "Doughnut", "organisation_id": "Pizza strips",
        "organisation_name": "Bird''s Nest Soup", "owner_organisation_details": {"owner_id":
        "Corn chowder", "owner_name": "BBQ Chicken Pizza", "organisations": [], "enterprise_id":
        "Kobe Beef", "enterprise_name": "Eggs Benedict"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/status
  response:
    body:
      string: '{"size": 2, "status": "ready"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
