interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "Init", "description": "I
        don''t even care.", "categories": [{"name": "Apple butter", "framework": "The
        Gal"}], "criticality": 3, "relatedEntities": [], "name": "Macaroni a", "count":
        12492}, {"criticalityLabel": "Atoms are use", "description": "Haskell is a
        standardized, general-purpose purel", "categories": [{"name": "Barbecue",
        "framework": "Initial"}, {"name": "Shish ", "framework": "Where"}, {"name":
        "Alphab", "framework": "Make "}], "criticality": 5, "relatedEntities": ["They
        a"], "name": "Garden salad", "count": 513}, {"criticalityLabel": "Ini", "description":
        "Messages can be sent to and re", "categories": [{"name": "Pa[...]
