interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/search?limit=5&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-03-31T14:37:37.110Z",
        "firstSeen": "2026-12-30T04:51:52.796Z"}, "risk": {"criticalityLabel": "Messages
        can b", "riskString": "It is", "rules": 10, "criticality": 4, "riskSummary":
        "Messages can be sent to and received fr", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Atoms are used within a program
        to denote distinguished values.", "rule": "In 1989 the building was hea",
        "criticality": 1, "timestamp": "2026-12-23T16:01:05.608Z", "criticalityLabel":
        "Erlang "}, {"mitigationString": "", "evidenceString": "Where are my pants?",
        "rule": "They are written as strings of consecut", "criticality": 1, "timestamp":
        "2026-04-17T16:17:49.905Z", "criticalityLabel": "Atoms c"}, {"mitigationString":
        "", "evidenceString": "Tuples are containers for a fixed number of Erlang
        data types.", "rule": "The syntax {D1,D2,...,", "criticality": 1, "timestamp":
        "2026-05-[...]
