interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/search?limit=5&fields=entity%2ChashAlgorithm%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-11-23T12:18:35.347Z",
        "firstSeen": "2026-08-31T22:32:43.142Z"}, "risk": {"criticalityLabel": "Initially",
        "riskString": "Its ", "rules": 1, "criticality": 3, "riskSummary": "The Galactic
        Empire is nearing complet", "score": 89, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "Type classes first appeared in the Haskell programming
        language.", "rule": "They are written as stri", "criticality": 3, "timestamp":
        "2026-06-17T18:09:53.834Z", "criticalityLabel": "Atoms can"}]}, "entity":
        {"id": "hash:38e5a8bfb8ba69185775481a6eb4a870cf1f9dc022be81ac8395b888592a8759",
        "name": "Fried Green Tomatoes", "type": "Hash"}, "hashAlgorithm": "It is a"},
        {"timestamps": {"lastSeen": "2026-09-15T07:29:48.054Z", "firstSeen": "2026-09-29T13:40:17.308Z"},
        "risk": {"criticalityLabel": "Tuples ar", "riskString": "The ", "rules": 2,
        "criticality": 3, "riskSummary": "Erlang is a general-purpose, concurren",
        "score": 89, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Any element of a tuple can be accessed in constant time.", "rule": "Where
        are my pant", "criticality": 2, "timest[...]
