interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/search?limit=5&fields=analystNotes%2CenterpriseLists%2Centity%2CfileHashes%2ChashAlgorithm%2CintelCard%2Clinks%2Crisk%2CriskMapping%2Csightings%2CthreatLists%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"enterpriseLists": [], "sightings": [{"source":
        "Ports are", "url": "https://randy.food/", "published": "2026-12-31T16:41:28.614Z",
        "fragment": "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments are
        D1, D2, ... Dn.", "title": "Do you have any idea why this is not working?",
        "type": "mostRecent"}, {"source": "Initially", "url": "https://fluid.forsale/",
        "published": "2026-09-18T21:28:54.491Z", "fragment": "Haskell is a standardized,
        general-purpose purely functional programming language, wi", "title": "Haskell
        is a standardized, general-purpose purely functional programming language,
        wi", "type": "first"}, {"source": "Any element of a tuple can be acce", "url":
        "https://series.hangout/", "published": "2026-02-18T19:07:07.739Z", "fragment":
        "Atoms can contain any character if they are enclosed within single quotes
        and an escape convention e", "title": "I don''t even care.", "type": "recentInfoSec"}],
        "riskMapping": [{"rule": "In 1989 the building was", "categories": [{"framework":
        "Erlan", "name": "Eggs N"}]}], "entity": {"id": "hash:c99056bd6560ce604bf955599290957e17803d399af4eeb4dd914e457b01fc95",
        "name": "Pepperoni", "type": "Hash"}, "analystNotes": [], "hashAlgorithm":
        "I don''t", "timestamps": {"lastSeen": "2026-03-14T22:27:29.421Z", "firstSeen":
        "2026-05-04T09:08:45.719Z"}, "threatLists": [], "risk": {"criticalityLabel":
        "Make me a", "riskString": "Its ", "rules": 1, "criticality": 3, "riskSummary":
        "Erlang is known for its designs that a", "score": 89, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Atoms can contain any character
        if they are enclosed within single quotes and an escape convention exists
        which allows any character to be used within an atom.", "rule": "It is also
        a garbage-col", "criticality": 3, "timestamp": "2026-03-05T19:20:04.156Z",
        "criticalityLabel": "It is als"}]}, "fileHashes": ["Initially composing light-hearte",
        "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments are D1", "Initially
        composing light-hearted and ir"], "intelCard": "https://remote.com/", "links":
        {"hits": [], "method_aggregates": [{"count": 0, "type": "hHQyM6"}, {"count":
        0, "type": "hHQyM7"}, {"count": 0, "type": "gTB8y2"}], "counts": []}}, {"enterpriseLists":
        [], "sightings": [{"source": "Haskell is a standardized, general", "url":
        "https://transsexual.ci/", "published": "2026-09-11T00:07:45.574Z", "fragment":
        "I don''t even care.", "title": "Any element of a tuple can be accessed in",
        "type": "recentInfoSec"}, {"source": "Type classes first appeared in the",
        "url": "https://picks.kyoto/", "published": "2026-09-23T23:14:12.059Z", "fragment":
        "Haskell features a type system wit[...]
