interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "Do you ha", "description":
        "The syntax {D1,D2,...,Dn} de", "categories": [], "criticality": 3, "relatedEntities":
        [], "name": "Deviled egg", "count": 2019}, {"criticalityLabel": "Erlang ",
        "description": "Any element of a tuple can be ac", "categories": [], "criticality":
        1, "relatedEntities": [], "name": "Poke", "count": 12027}, {"criticalityLabel":
        "The syntax", "description": "Do you have any idea why this is not working?",
        "categories": [{"name": "Texas", "framework": "It is"}], "criticality": 2,
        "relatedEntities": [], "name": "Jell-O", "count": 1}, {"criticalityLabel":
        "Haskell", "description": "Haskell is a standardized, general-purpos", "categories":
        [{"name": "Vichyssoi", "framework": "Where"}], "criticality": 1, "relatedEntities":
        [], "name": "Ice cream cake", "count": 279844}, {"criticalityLabel": "Do you
        come he", "description": "Erlang is known for its de", "categories": [{"name":
        "Bird''s", "framework"[...]
