interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/search?limit=5&fields=analystNotes%2CenterpriseLists%2Centity%2CintelCard%2Clinks%2Crisk%2CriskMapping%2Csightings%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"analystNotes": [{"external_id": "It is ", "attributes":
        {"published": "2026-12-30T13:58:46.214Z", "text": "Make me a sandwich. She
        spent her earliest years reading classic literature, and writing poetry. I
        don''t even care. Haskell features a type system with type inference and lazy
        evaluation. Atoms can contain any character if they are enclosed", "authors":
        [{"id": "GkNA3sqqPecupJYD", "name": "Shrimp Creole", "type": "IntegrationUser"}],
        "title": "Ports are used to ", "context_entities": [{"id": "KRfPQQQfnBl8Let3BtUrMeKHLQ4M01R",
        "name": "Potato Wedges", "type": "EmailAddress"}, {"id": "url:https://profession.cat/",
        "name": "Cheese balls", "type": "URL"}, {"id": "5BaTR4", "name": "Potato sa",
        "type": "Company"}, {"id": "idn:greensboro.sa", "name": "Milk toast", "type":
        "InternetDomainName"}, {"id": "ip:86.205.191.244", "name": "Fried chicke",
        "type": "IpAddress"}, {"id": "hash:0c08856240401a46826b3139d072ba144c7e0ab9e494013073d9acf58ca42a1f",
        "name": "Flan", "type": "Hash"}]}, "source": {"id": "tnj6TWBUJKsZb", "name":
        "Macaroni and Cheese", "type": "Source"}, "id": "_AI5Iq"}, {"external_id":
        "Ports ", "attributes": {"published": "2026-02-06T14:11:58.040Z", "text":
        "In 1989 the building was heavily damaged by fire, but it has since been restored.
        Ports are used to communicate with the external world. Haskell is a standardized,
        general-purpose purely functional programming language, with non-strict se",
        "authors": [{"id": "njABAe74mI7hrt7y", "name": "Hawaiian Pizza", "type": "IntegrationUser"}],
        "title": "Messages can be se", "context_entities": [{"id": "F3uIt2gRJ9PHIHn0UHAYfHMf9FQQdR9",
        "name": "Choco pie", "type": "EmailAddress"}, {"id": "url:https://silly.com/",
        "name": "Montreal Smoked Meat", "type": "URL"}, {"id": "5BaTR4", "name": "Italian
        B", "type": "Company"}, {"id": "idn:wanted.pictures", "name": "Sausage gravy",
        "type": "InternetDomainName"}, {"id": "ip:4.68.159.34", "name": "Onion Rings",
        "type": "IpAddress"}, {"id": "hash:5e518a531b6d7842ceeb7c91c1b97e4169ed2eab40050fd60e23865cc76c5249",
        "name": "Surf and turf", "type": "Hash"}]}, "source": {"id": "9JVLWx4gG5NCH",
        "name": "Chips and dip", "type": "Source"}, "id": "_AI5Io"}, {"attributes":
        {"validated_on": "2026-06-05T15:21:08.003Z", "published": "2026-09-30T02:14:21.991Z",
        "text": "The Galactic Empire is nearing completion of the Death Star, a space
        station with the power to destroy entire planets. Haskell is a standardized,
        general-purpose purely functional programming language, with non-strict semantics
        and strong static typing. Haskell is a standardized, general-purpose purely
        functional programming language, with non-strict semantics and strong static
        typing. The sequential subset of Erlang supports eager evaluation, single
        assignment, and dynamic typing. Where are my pants?", "attachment": "Erlang
        is known for its designs that ar", "topic": {"id": "aDKkpk", "name": "Bellini",
        "type": "Topic", "description": "Where are my pants?"}, "context_entities":
        [{"id": "sXz2T", "name": "Naan", "type": "Technology"}, {"id": "I50Cdv", "name":
        "Jell-O", "type": "Technology"}, {"id": "ExIrb7", "name": "Ques", "type":
        "Product"}, {"id": "JQJ0Eu", "name": "Chicken Ti", "type": "Technology"},
        {"id": "b4oYYp", "name": "Salmon pasta b", "type": "Product"}, {"id": "YDgQk",
        "name": "Cobb Salad", "type": "Technology"}, {"id": "OwXaGR", "name": "Escargot",
        "type": "Product"[...]
