interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/CVE-2012-4792?fields=intelCard%2Centity%2ClifecycleStage%2Ctimestamps%2Crisk
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-02-14T10:45:07.208Z", "firstSeen":
        "2013-05-24T10:15:09.395Z"}, "risk": {"criticalityLabel": "Sweetbreads", "riskString":
        "Veggi", "rules": 10, "criticality": 5, "riskSummary": "Macaroni and cheese",
        "score": 99, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Lorna Doone", "rule": "Creme Brulee", "criticality": 1, "timestamp": "2025-07-23T14:52:11.594Z",
        "criticalityLabel": "She"}, {"mitigationString": "", "evidenceString": "Choco
        pie", "rule": "Pumpkin pie", "criticality": 1, "timestamp": "2024-07-27T11:13:43.000Z",
        "criticalityLabel": "Oni"}, {"mitigationString": "", "evidenceString": "Steak
        sauce", "rule": "Thousand Island dressing", "criticality": 1, "timestamp":
        "2024-08-06T15:20:53.000Z", "criticalityLabel": "Bac"}, {"mitigationString":
        "", "evidenceString": "Eggs[...]
