interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc
  response:
    body:
      string: '{"status": {"status_code": "Pa", "status_message": "Beef Manhattan"},
        "data": {"playbook_alert_id": "task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc",
        "rule_id": "Spaghe", "alert_rule": {"id": "qS_wmm", "label": "Mozzarella sticks",
        "name": "Salted caramel cookie"}, "status": "InProgress", "priority": "Turd",
        "created": "2024-12-10T10:11:54.696Z", "updated": "2026-02-13T10:11:00.790Z",
        "category": "code_repo_leakage", "title": "Ports are created with the built-in
        function open_port.", "owner_id": "Cheesecake", "owner_name": "Risotto", "organisation_id":
        "Coleslaw", "organisation_name": "Clam cake", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Roasted Chickpea", "organisation_name":
        "Brunswick stew"}], "enterprise_id": "Chips and dip", "enterprise_name": "Protein
        bar"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/code_repo_leakage/task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc
  response:
    body:
      string: '{"status": {"status_code": "St", "status_message": "Hot chicken"},
        "data": {"playbook_alert_id": "task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc",
        "panel_status": {"status": "InProgress", "priority": "Pean", "created": "2024-12-10T10:11:54.696Z",
        "updated": "2026-02-13T10:11:00.790Z", "case_rule_id": "Baked potato", "case_rule_label":
        "Data Leakage on Code Repository", "alert_rule": {"id": "qS_wmm", "label":
        "St. Paul Sandwich", "name": "Fries"}, "owner_id": "Potato skins", "owner_name":
        "Turducken", "organisation_id": "Ceviche", "organisation_name": "Cobb Salad",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Turkish
        Delight", "organisation_name": "Stuffed ham"}], "enterprise_id": "Crepes",
        "enterprise_name": "Mulligan stew"}, "entity_id": "Banh Mi Vi\u00eat", "entity_name":
        "https://merchant.mil/", "entity_criticality": "", "risk_score": 0, "targets":
        [{"name": "Fattou"}], "actions_taken": []}, "panel_evidence_summary": {"repository":
        {"id": "url:https://retired.dz/", "name": "https://spirituality.makeup/",
        "owner": {"name": "Baked potato"}}, "evidence": [{"assessments": [{"id": "54vuPU73E2mniMDvgKfR",
        "title": "Do you have any i", "value": "Phila"}, {"id": "5ets6RnGXcA7YHHGecYvX888G5Y",
        "title": "Erlang is a general-purpose, concur", "value": "Souvla"}], "targets":
        [{"name": "Geoduc"}], "url": "https://tracks.bar/", "content": "Roasted Chickpeas",
        "published": "2025-03-27T14:56:01.383Z"}, {"assessments": [{"id": "KyACLMWaI3bXyMXQoxb1",
        "title": "It is also a garb", "value": "Geoduck"}, {"id": "KRV0gUKWs9ulGqDOGCcwMGSW6qh",
        "title": "I don''t even care.", "value": "Charle"}], "targets": [{"name":
        "Pigs i"}], "url": "https://louisiana.tel/", "content": "Chimichanga", "published":
        "2025-01-21T23:45:39.488Z"}, {"assessments": [{"id": "IXgEMj6wiw5uPdohaVkO",
        "title": "Any element of a ", "value": "Creme Br"}, {"id":[...]
