interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:3b9e9afb-3e4d-4f98-93fa-031cb3088004
  response:
    body:
      string: '{"status": {"status_code": "Ho", "status_message": "Shawarma"}, "data":
        {"playbook_alert_id": "task:3b9e9afb-3e4d-4f98-93fa-031cb3088004", "rule_id":
        "Lobste", "alert_rule": {"id": "5swDSv", "label": "Chips and dip", "name":
        "Breaded shrimp"}, "status": "New", "priority": "Chinese food", "created":
        "2026-02-11T06:00:12.978Z", "updated": "2026-02-11T06:00:12.978Z", "category":
        "malware_report", "title": "Do you come", "assignee_name": "Pork Belly", "assignee_id":
        "Gumbo", "owner_id": "Gazpacho", "owner_name": "Margherita Pizza", "organisation_id":
        "Reuben", "organisation_name": "Baklava", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Poke", "organisation_name": "Pancakes"}], "enterprise_id":
        "Venison", "enterprise_name": "Gumbo"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/malware_report/task:3b9e9afb-3e4d-4f98-93fa-031cb3088004
  response:
    body:
      string: '{"status": {"status_code": "Mo", "status_message": "Supreme pizza"},
        "data": {"playbook_alert_id": "task:3b9e9afb-3e4d-4f98-93fa-031cb3088004",
        "panel_status": {"status": "New", "priority": "Crab Rangoon", "assignee_name":
        "Patty", "assignee_id": "Paella", "created": "2026-02-11T06:00:12.978Z", "updated":
        "2026-02-11T06:00:12.978Z", "case_rule_id": "Drunken chick", "case_rule_label":
        "Cobalt Strike tags", "alert_rule": {"id": "5swDSv", "label": "Crepes", "name":
        "Protein bar"}, "owner_id": "Corned beef", "owner_name": "Satay", "organisation_id":
        "Bird''s Nest Soup", "organisation_name": "Calamari", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Stuffed peppers", "organisation_name":
        "Pickled cucumber"}], "enterprise_id": "Shrimp and Grits", "enterprise_name":
        "Garden salad"}}, "panel_evidence_summary": {"notification_title": "Hoppin''
        Joh", "report_limit_reached": false, "number_of_reports": 235, "matched_hashes":
        [{"sha256": "6cea5213de844794f90075d6493e81a6e9cd0aae73b441ad8226b2ee37ebe34c",
        "is_enterprise_submission": false, "risk_score": 65, "report_overviews": [{"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-k52ccshy4e-behavioral1",
        "sandbox_score": 10, "tags": ["Fry sauc", "Chi", "Turkish ", "Pizza strips",
        "Pickled Okra", "Bull roas", "Dirty r", "French", "Garli", "Beignets"]}, {"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-md58caay2d-behavioral1",
        "sandbox_score": 10, "tags": ["Cordon b", "Fre", "Eggo", "Russian tea ", "Fried
        Green Tomatoe", "Cheesecak", "Ratatou", "Eggs B", "Devil", "Mozzarel"]}, {"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee[...]
