interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "The Gal", "description":
        "Haskell is a standardized, gene", "categories": [{"name": "Calas", "framework":
        "Ports"}], "criticality": 1, "relatedEntities": [], "name": "Po''Boy", "count":
        24080}, {"criticalityLabel": "Atoms a", "description": "Haskell is a standardized,
        general-pur", "categories": [{"name": "Chick", "framework": "Type "}], "criticality":
        1, "relatedEntities": [], "name": "Cheese stuffed c", "count": 345931}, {"criticalityLabel":
        "Its mai", "description": "Tuples are containers for a fixed nu", "categories":
        [{"name": "Matzo ", "framework": "Initi"}], "criticality": 1, "relatedEntities":
        [], "name": "City chicken", [...]
