interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/search?limit=5&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-04-05T00:50:40.137Z",
        "firstSeen": "2026-05-02T02:34:07.621Z"}, "risk": {"criticalityLabel": "Erlang
        is know", "riskString": "Do y", "rules": 7, "criticality": 4, "riskSummary":
        "The arguments can be primitive data ty", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Erlang is known for its designs
        that are well suited for systems.", "rule": "Ports are used to communicate
        with the ", "criticality": 1, "timestamp": "2026-08-05T05:00:47.792Z", "criticalityLabel":
        "Tuples "}, {"mitigationString": "", "evidenceString": "The syntax {D1,D2,...,Dn}
        denotes a tuple whose arguments are D1, D2, ... Dn.", "rule": "The Galactic
        Empire is nearing c", "criticality": 1, "timestamp": "2026-06-13T10:05:14.788Z",
        "criticalityLabel": "Do you "}, {"mitigationString": "", "evidenceString":
        "Tuples are containers for a fixed number of Erlang data types.", "rule":
        "The Galactic E[...]
