interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:db6b2635-28f5-49ec-b717-8372de9a96fd
  response:
    body:
      string: '{"status": {"status_code": "Ch", "status_message": "American fried
        rice"}, "data": {"playbook_alert_id": "task:db6b2635-28f5-49ec-b717-8372de9a96fd",
        "rule_id": "Chicke", "alert_rule": {"id": "pAHhqL", "label": "Reuben sandwich",
        "name": "Cheesy Garlic Bread"}, "status": "Resolved", "priority": "Chee",
        "reopen": "Veggi", "created": "2024-11-11T12:13:41.666Z", "updated": "2026-02-13T10:10:58.682Z",
        "category": "cyber_vulnerability", "title": "Ports are crea", "owner_id":
        "Geoduck", "owner_name": "Potato salad", "organisation_id": "Hot Chicken sand",
        "organisation_name": "Grits", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Thousand Island ", "organisation_name": "Russian tea
        cake"}], "enterprise_id": "French Onion Sou", "enterprise_name": "Potato skins"},
        "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/vulnerability/task:db6b2635-28f5-49ec-b717-8372de9a96fd
  response:
    body:
      string: '{"status": {"status_code": "Pe", "status_message": "Tagine"}, "data":
        {"playbook_alert_id": "task:db6b2635-28f5-49ec-b717-8372de9a96fd", "panel_status":
        {"status": "Resolved", "priority": "Swee", "reopen": "Satay", "created": "2024-11-11T12:13:41.666Z",
        "updated": "2026-02-13T10:10:58.682Z", "case_rule_id": "French Onion ", "case_rule_label":
        "Cyber Vulnerability", "alert_rule": {"id": "pAHhqL", "label": "Queso Fresco",
        "name": "Fajitas"}, "owner_id": "Garden salad", "owner_name": "Pizza strips",
        "organisation_id": "Chicken \u00e0 la Kin", "organisation_name": "Samosa",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Cordon
        bleu", "organisation_name": "Chips and dip"}], "enterprise_id": "Black Pudding",
        "enterprise_name": "Massaman Curry"}, "entity_id": "Pork a", "entity_name":
        "Bangers and ma", "entity_criticality": "New ", "risk_score": 67, "lifecycle_stage":
        "Texas Toa", "targets": [{"name": "Blue cheese dressing"}], "actions_taken":
        []}, "panel_evidence_summary": {"summary": {"targets": [{"name": "Po''Boy"}],
        "lifecycle_stage": "Piroshky", "risk_rules": [{"rule": "Pan Seared Scallops",
        "description": "Pancakes"}]}, "affected_products": [{"name": "Fajitas"}, {"name":
        "Pasta salad"}, {"name": "Macaroni salad"}, {"name": "Tamales"}, {"name":
        "Potato skins"}, {"name": "Coq Au Vin"}, {"name": "Pepperoni"}, {"name": "Margherita
        Pizza"}, {"name": "Lobster Newberg"}, {"name": "Cheese Curds"}, {"name": "Ploye"},
        {"name": "Pop-Tarts"}, {"name": "Fajita"}, {"name": "Chicken nuggets"}, {"name":
        "Massaman Curry"}, {"name": "Chicken \u00e0 la King"}, {"name": "Sausage gravy"},
        {"name": "Dough[...]
