interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/search?limit=5&fields=entity%2ClifecycleStage%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"lifecycleStage": "Ports are", "timestamps":
        {"lastSeen": "2026-07-14T08:52:30.619Z", "firstSeen": "2026-01-10T10:19:47.485Z"},
        "risk": {"criticalityLabel": "Haskell featu", "riskString": "Ports", "rules":
        10, "criticality": 5, "riskSummary": "Its main implementation is the Glasgow
        ", "score": 99, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Tuples are containers for a fixed number of Erlang data types.", "rule":
        "The Galactic Empire is nearing completion o", "criticality": 1, "timestamp":
        "2026-06-13T00:00:34.536Z", "criticalityLabel": "The"}, {"mitigationString":
        "", "evidenceString": "Make me a sandwich.", "rule": "Haskell is a standardized,
        genera", "criticality": 1, "timestamp": "2026-03-26T04:41:00.442Z", "criticalityLabel":
        "She"}, {"mitigationString": "", "evidenceString": "Tuples are containers
        for a fixed number of Erlang data types.", "rule": "Do you come here often?",
        "criticality": 1, "timestamp": "2026-10-17T23:00:48.0[...]
