interactions:
- request:
    body: '{"hash": ["e3f236e4aeb73f8f8f0caebe46f53abbb2f71fa4b266a34ab50e01933709e877"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/soar/v3/enrichment
  response:
    body:
      string: '{"data": {"results": [{"risk": {"context": {"phishing": {"summary":
        [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule": ""}, "malware":
        {"summary": [], "rule": {"maxCount": 0}, "score": 89.0, "mostCriticalRule":
        ""}, "public": {"summary": [], "rule": {"maxCount": 0}, "score": 89.0, "mostCriticalRule":
        ""}, "c2": {"summary": [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule":
        ""}}, "rule": {"count": 4, "mostCritical": "Tuna Pizza", "maxCount": 17, "evidence":
        {"historicalThreatListMembership": {"count": 1, "timestamp": "2025-07-18T03:56:21.581Z",
        "description": "Potatoes O''Brien", "rule": "Banh Mi Vi\u00eat", "sightings":
        -1, "mitigation": "", "level": 1}, "positiveMalwareVerdict": {"count": 6,
        "timestamp": "2025-04-30T21:31:45.212Z", "description": "Chicharones", "rule":
        "Salisbury steak", "sightings": 17, "mitigation": "", "level": 3}, "threatResearcher":
        {"count": 2, "timestamp": "2025-07-03T13:02:03.161Z", "description": "Juba",
        "rule": "Shepherd''s Pie", "sightings": 20, "mitigation": "", "level": 1},
        "linkedToMalware": {"count": 13, "timestamp": "2023-10-18T19:40:57.000Z",
        "description": "Tamales", "rule": "Smelt", "sightings": 83, "mitigation":
        "", "level": 2}}, "summary": [{"count": 2.0, "level": 1.0}, {"count": 1.0,
        "level": 2.0}, {"count": 1.0, "level": 3.0}]}, "score": 89, "level": 3.0},
        "entity": {"id": "hash:dd1033cf61d6adb2d3f3100bc94fcbaa8d4da27f628e175665fcfd7b10fde937",
        "name": "22eacb1fa64f5c93f89e304c3c587b5ce1048f451be7ded3af550f233cbaa24e",
        "type": "Hash"}}]}, "counts": {"returned": 1, "total": 1}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
