interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/CVE-2020-1362?fields=lifecycleStage%2Centity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"lifecycleStage": "Haskell i", "timestamps": {"lastSeen":
        "2026-11-12T05:11:26.600Z", "firstSeen": "2026-08-12T09:36:31.017Z"}, "risk":
        {"criticalityLabel": "Port", "riskString": "Hask", "rules": 5, "criticality":
        3, "riskSummary": "It is also a garbage-collected runtime", "score": 79, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Any element of a tuple can be
        accessed in constant time.", "rule": "Initially composing light-hearted ",
        "criticality": 1, "timestamp": "2026-11-10T15:07:12.315Z", "criticalityLabel":
        "The"}, {"mitigationString": "", "evidenceString": "Any element of a tuple
        can be accessed in constant time.", "rule": "The sequential subset of Erlang
        support", "criticality": 1, "timestamp": "2026-09-02T22:45:34.323Z", "criticalityLabel":
        "He "}, {"mitigationString": "", "evidenceString": "The syntax {D1,D2,...,Dn}
        denotes a tuple whose arguments are D1, D2, ... Dn.", "rule": "Do you have
        any idea why this is not working?", "criticality": 1, "timestamp": "2026-04-12T17:56:33.550Z",
        "criticalityLabel": "I d"}, {"mitigationString": "", "evidenceString": "Haskell
        features a type system with type inference and lazy evaluation.", "rule":
        "They are written as strings of consecutive al", "criticality": 3, "timestamp":
        "2026-11-13T13:31:46.844Z", "criticalityLabel": "She "}, {"mitigationString":
        "", "evidenceString": "It is also a garbage-collected runtime system.", "rule":
        "Do you come here of", "criticality": 3, "timestamp": "2026-10-19T08:58:18.222Z",
        "criticalityLabel": "Do y"}]}, "entity": {"id": "eiIuKN", "name": "Clam cake",
        "type": "CyberVulnerability", "description": "The sequential subset of Erlang
        supports eager evaluation, single assignment, and dynamic typing."}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
[...]
