interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/search?limit=20&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-08-22T15:06:04.686Z",
        "firstSeen": "2026-02-18T02:02:38.816Z"}, "risk": {"criticalityLabel": "It
        is als", "riskString": "Hask", "rules": 4, "criticality": 3, "riskSummary":
        "Tuples are containers for a fixed numb", "score": 89, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Ports are used to communicate
        with the external world.", "rule": "Ports are used to communicate with the
        ", "criticality": 1, "timestamp": "2026-11-01T03:45:54.088Z", "criticalityLabel":
        "Its mai"}, {"mitigationString": "", "evidenceString": "The arguments can
        be primitive data types or compound data types.", "rule": "Haskell is a standardized,
        g", "criticality": 1, "timestamp": "2026-01-18T07:06:21.224Z", "criticalityLabel":
        "Atoms a"}, {"mitigationString": "", "evidenceString": "It is also a garbage-collected
        runtime system.", "rule": "Where are my pants?", "criticality": 1, "timestamp":
        "2026-06-08T23:13:01.630Z", "criticalityLabel": "Do you "}, {"mitigationString":
        "", "evidenceString": "He looked inquisitively at his keyboard and wrote another
        sentence.", "rule": "Ports are used to communicate wit", "criticality": 3,
        "timestamp": "2026-07-17T08:19:56.433Z", "criticalityLabel": "Atoms are"}]},
        "entity": {"id": "url:https://units.and/", "name": "Fry sauce", "type": "URL"}},
        {"timestamps": {"lastSeen": "2026-09-07T03:01:30.559Z", "firstSeen": "2026-12-31T06:04:07.697Z"},
        "risk": {"criticalityLabel": "Tuples ar", "riskString": "He lo", "rules":
        13, "criticality": 3, "riskSummary": "Its main implementation is the Glasgow
        ", "score": 83, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Initially composing light-hearted and irreverent works, he also wrote serious,
        sombre and religious pieces beginn[...]
