interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/search?limit=5&fields=analystNotes%2Ccpe%2Ccpe22uri%2Ccvss%2Ccvssv3%2Ccvssv4%2CenterpriseLists%2Centity%2CintelCard%2ClifecycleStage%2Clinks%2CnvdDescription%2CnvdReferences%2Crisk%2CriskMapping%2Csightings%2CthreatLists%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"analystNotes": [{"attributes": {"validated_on":
        "2026-04-18T10:00:07.726Z", "published": "2026-04-27T09:47:36.060Z", "text":
        "Haskell features a type system with type inference and lazy evaluation. Ports
        are created with the built-in function open_port. He looked inquisitively
        at his keyboard and wrote another sentence. The sequential subset of Erlang
        supports eager evaluation, single assignment, and dynamic typing. Any element
        of a tuple can be accessed in constant time.", "topic": {"id": "wJv-Gk", "name":
        "Bruschetta", "type": "Topic", "description": "Any element of a tuple can
        be accessed in constant time."}, "context_entities": [{"id": "PCX4qO", "name":
        "Shepherd''s Pie", "type": "AttackVector"}, {"id": "JQIdFy", "name": "Ame",
        "type": "Product"}, {"id": "LCgpC", "name": "Chicken", "type": "Product"},
        {"id": "I48ns", "name": "Parma Ham", "type": "Company"}, {"id": "I2VqZL",
        "name": "Hangto", "type": "Company"}], "validation_urls": [{"id": "url:https://specific.kyoto/",
        "name": "Milk Steak", "type": "URL"}, {"id": "url:https://season.name/", "name":
        "Hawaiian Pizza", "type": "URL"}, {"id": "url:https://less.hamburg/", "name":
        "Chips and dip", "type": "URL"}], "title": "I don''t even care.", "note_entities":
        [{"id": "wx1SZ3", "name": "Hokkien fried ", "type": "CyberVulnerability",
        "description": "The arguments can be primitive data types or compound data
        types."}, {"id": "K-1HVG", "name": "Chicken Liver", "type": "CyberVulnerability",
        "description": "Messages can be sent to and received from ports, but these
        messages must obey the so-called \"port protocol.\""}, {"id": "OCTI2M9isCF",
        "name": "Pulle", "type": "MitreAttackIdentifier"}, {"id": "EITyhsC8stP52Kb",
        "name": "Fattoush ", "type": "MitreAttackIdentifier"}, {"id": "VUDAah9jIKO",
        "name": "Sonof", "type": "MitreAttackIdentifier"}, {"id": "iUMJv", "name":
        "White chocolate cookie", "type": "Product"}, {"id": "sB4yaZ", "name": "Bacon",
        "type": "Product"}, {"id": "LLabI", "name": "Chicken herby pasta bake", "type":
        "ProductIdentifier"}, {"id": "JQhGJc", "name": "Glorified rice", "type": "ProductIdentifier"},
        {"id": "If9XVe", "name": "Pickled cucumber", "type": "ProductIdentifier"}]},
        "source": {"id": "LCiWPLNXvOm7I", "name": "Bacon Cheese", "type": "Source"},
        "id": "xOw6vj"}, {"attributes": {"validated_on": "2026-03-10T14:47:43.407Z",
        "published": "2026-09-29T20:22:04.015Z", "text": "Atoms can contain any character
        if they are enclosed within single quotes and an escape convention exists
        which allows any character to be used with", "topic": {"id": "TXSFt4", "name":
        "Wasabi Pe", "type": "Topic", "description": "Do you come here often?"}, "contex[...]
