interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/alert/rule?limit=1000
  response:
    body:
      string: '{"data": {"results": [{"intelligence_goals": [{"name": "Bookbinder
        Soup", "id": "report:_intelligence_goal_ig-70"}], "priority": true, "tags":
        [], "use_case_id": "Haskell features a type system w", "id": "mf0rAV", "owner":
        {"name": "Margherita Pizza", "id": "ezGJFODej1qTZkB2"}, "title": "Atoms can
        contain any character ", "created": "2022-05-06T08:19:33.423Z", "notification_settings":
        {"email_subscribers": [{"name": "Key Lime Pie", "id": "lG9El7d7MG6raXqj"}],
        "mobile_subscribers": []}, "enabled": true}, {"intelligence_goals": [{"name":
        "Pasta salad", "id": "report:_intelligence_goal_ig-70"}], "priority": false,
        "tags": [], "use_case_id": "Where are my pants?", "id": "mf0rAW", "owner":
        {"name": "Parma Ham", "id": "2MeLyfy7su08laMs"}, "title": "Ports are created
        with the b", "created": "2022-05-06T08:19:34.867Z", "notification_settings":
        {"email_subscribers": [{"name": "Deviled crab", "id": "GTPxLt1fA7Xfdye3"}],
        "mobile_subscribers": []}, "e[...]
