interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/search?limit=5&fields=analystNotes%2Centity%2CintelCard%2Clinks%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"analystNotes": [{"external_id": "Atoms ", "attributes":
        {"published": "2026-11-06T19:13:21.648Z", "text": "I don''t even care. The
        syntax {D1,D2,...,Dn} denotes a tuple whose arguments are D1, D2, ... Dn.
        He looked inquisitively at his keyboard and wrote another sentence. Where
        are my pants? Erlang is known for its designs that are well suited fo", "authors":
        [{"id": "2kDw7mLS3BNRyAvj", "name": "Roasted Chickpeas", "type": "IntegrationUser"}],
        "title": "Ports are created ", "context_entities": [{"id": "Bknqxyis4eziGpdNvYx4JRFlsQ8Kda5",
        "name": "Cordon bleu", "type": "EmailAddress"}, {"id": "url:https://provision.travel/",
        "name": "Blue-plate special", "type": "URL"}, {"id": "5BaTR4", "name": "Chili
        dog", "type": "Company"}, {"id": "idn:psychiatry.doha", "name": "Chocolate
        Brownie", "type": "InternetDomainName"}, {"id": "ip:127.211.126.1", "name":
        "Chowder", "type": "IpAddress"}, {"id": "hash:3910ffa7f3a578b0ac5e2e201f7e3f643eb5cfdb3906303ece758dca1fe0f584",
        "name": "Laksa", "type": "Hash"}]}, "source": {"id": "zSJYmV6SjLSSl", "name":
        "Pan Seared Scallops", "type": "Source"}, "id": "_AI5Iq"}, {"external_id":
        "Erlang", "attributes": {"published": "2026-12-15T00:45:49.230Z", "text":
        "Type classes first appeared in the Haskell programming language. They are
        written as strings of consecutive alphanumeric characters, the first character
        being lowercase. Ports are used to communicate with the external world. The
        Galactic ", "authors": [{"id": "OGuoGzPO9MztuVhk", "name": "Fish Tacos", "type":
        "IntegrationUser"}], "title": "Do you have any id", "context_entities": [{"id":
        "dNWgzccqC4WtpIo0vXF0H8tnLcPsGSb", "name": "Margherita Pizza", "type": "EmailAddress"},
        {"id": "url:https://necklace.ba/", "name": "Chinese food", "type": "URL"},
        {"id": "5BaTR4", "name": "Soft Shel", "type": "Company"}, {"id": "idn:cheers.capetown",
        "name": "Lobster Newberg", "type": "InternetDomainName"}, {"id": "ip:45.144.249.199",
        "name": "Meatloaf", "type": "IpAddress"}, {"id": "hash:d5c60fd68e74dd8cef64e95c49dea40249010ad92e3036ddbef46fcdde4afefd",
        "name": "Pumpkin pie", "type": "Hash"}]}, "source": {"id": "5kBmXRDoZzMx9",
        "name": "Laksa", "type": "Source"}, "id": "_AI5Io"}, {"attributes": {"validated_on":
        "2026-06-29T23:29:42.134Z", "published": "2026-03-29T04:26:07.810Z", "text":
        "Any element of a tuple can be accessed in constant time. Tuples are containers
        for a fixed number of Erlang data types. Any element of a tuple can be accessed
        in constant time. They are written as strings of consecutive alphanumeric
        characters, the first character being lowercase. Haskell features a type system
        with type inference and lazy evaluation.", "topic": {"id": "TXSFt0", "name":
        "Chicken frie", "type": "Topic", "description": "Atoms are used within a program
        to denote distinguished values."}, "context_entities": [{"id": "LPuCE", "name":
        "Cheese bal", "type": "Company"}, {"id": "LPc838", "name": "Waffle", "type":
        "AttackVector"}, {"id": "CtkwWu", "name": "Home fries", "type": "Technology"},
        {"id": "Tt9BLf", "name": "Soul food", "type": "Organization"}, {"id": "EgVi4",
        "name": "Yeung Chow fried", "type": "Product"}, {"id": "CTYAbt", "name": "Onion
        Rings", "type": "Product"}, {"id": "JFWqep", "name": "Samosa", "type": "Product"},
        {"id": "idn:corporations.tel", "name": "Meat Feast Piz", "type": "InternetDomainName"},
        {"id": "uATEd", "name": "Chicago Hot D", "type": "Country"}], "validation_urls":
        [{"id": "url:https://profits.osaka/", "name": "Sushi", "type": "URL"}, {"id":
        "url:https://slowly.com/", "name": "Carne pizzaiola", "type": "URL"}], "title":
        "Atoms are used within a program to denote distinguished values.", "note_entities":
        [{"id": "ip:253.111.114.233", "name": "Potatoes O''B", "type": "IpAddress"},
        {"id": "ip:114.114.107.226", "name": "Phaal", "type": "IpAddress"}, {"id":
        "ip:50.58.117.243", "name": "Albacore Tun", "type": "IpAddress"}, {"id": "idn:soon.wtf",
        "name": "Scampi", "type": "InternetDomainName"}, {"id": "ip:188.61.116.80",
        "name": "Oreo", "type": "IpAddress"}, {"id": "ip:181.8.27.87", "name": "Sloppy
        joe", "type": "IpAddress"}, {"id": "ip:233.114.244.145"[...]
