interactions:
- request:
    body: '{"name": "meow", "type": "entity"}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/create
  response:
    body:
      string: '{"id": "report:BERgaN7", "name": "Devi", "type": "entity", "created":
        "2026-02-13T10:09:55.409Z", "updated": "2026-02-13T10:09:55.409Z", "owner_id":
        "The Galactic Emp", "owner_name": "Atoms are used within a", "organisation_id":
        "Do you come here", "organisation_name": "It is also a garbage-collected ru",
        "owner_organisation_details": {"owner_id": "Tuples are conta", "owner_name":
        "She spent her earliest ", "organisations": [], "enterprise_id": "Where are
        my pan", "enterprise_name": "Do you have any idea why this is "}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
