interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/digitalcollege.org?fields=timestamps%2Crisk%2Centity
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-02-15T03:51:04.993Z", "firstSeen":
        "2020-12-14T08:46:12.085Z"}, "risk": {"criticalityLabel": "Turducken", "riskString":
        "Kung", "rules": 7, "criticality": 4, "riskSummary": "Beignets", "score":
        99, "evidenceDetails": [{"mitigationString": "", "evidenceString": "Matzo
        Ball Soup", "rule": "Kimchi", "criticality": 1, "timestamp": "2022-02-01T21:22:56.588Z",
        "criticalityLabel": "Peanut "}, {"mitigationString": "", "evidenceString":
        "Haystack", "rule": "Smelt", "criticality": 1, "timestamp": "2021-02-03T21:32:08.000Z",
        "criticalityLabel": "Beef Lo"}, {"mitigationString": "", "evidenceString":
        "Stroganoff", "rule": "Gyros", "criticality": 1, "timestamp": "2025-12-22T01:08:51.106Z",
        "criticalityLabel": "Bird''s "}, {"mitigationString": "", "evidenceString":
        "Polenta", "rule": "Chowder", "criticality": 1, "timestamp": "2020-12-18T00:00:00.000Z",
        "criticalityLabel": "Pickled"}, {"mitigationString": "", "evidenceString":
        "Tuna casserole", "rule": "Deviled egg", "criticality": 1, "timestamp": "2020-12-15T00:00:00.000Z",
        "criticalityLabel": "Poke"}, {"mitigationString": "", "evidenceString": "Pepperoni",
        "rule": "Kobe Beef", "criticality": 1, "timestamp": "2026-02-16T04:05:29.847Z",
        "criticalityLabel": "Root Be"}, {"mitigationString": "", "evidenceString":
        "Hangtown fry", "rule": "Massaman Curry", "criticality": 4, "timestamp": "2026-02-16T04:05:29.846Z",
        "criticalityLabel": "Steak sandwich"}]}, "entity": {"id": "idn:accessibility.info",
        "name": "mode.int", "type": "InternetDomainName"}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
