interactions:
- request:
    body: '{"limit": 50, "category": ["domain_abuse", "cyber_vulnerability", "third_party_risk",
      "code_repo_leakage", "identity_novel_exposures", "geopolitics_facility", "malware_report"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/search
  response:
    body:
      string: '{"status": {"status_code": "Sl", "status_message": "Stuffed zucchini"},
        "data": [{"playbook_alert_id": "task:592f0029-2ebb-4c62-b04a-d3c0005dc915",
        "rule_id": "Chocol", "alert_rule": {"id": "qS_wmm", "label": "Buffalo burger",
        "name": "London broil"}, "status": "New", "priority": "Piroshky", "created":
        "2026-03-13T14:40:22.683Z", "updated": "2026-03-13T14:40:25.292Z", "category":
        "code_repo_leakage", "title": "Do you have any idea why this is not w", "owner_id":
        "Fried Catfish", "owner_name": "Chicken French", "organisation_id": "Hawaiian
        Pizza", "organisation_name": "Baklava", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Cheese fries", "organisation_name": "Crab Rangoon"}],
        "enterprise_id": "Mission burrito", "enterprise_name": "Eggo"}, "actions_taken":
        []}, {"playbook_alert_id": "task:55527fa4-0949-42cc-bb49-8371c971c6ec", "rule_id":
        "Lobste", "alert_rule": {"id": "qS_wmm", "label": "Milk toast", "name": "Pocky"},
        "status": "New", "priority": "Soft She", "created": "2026-03-13T14:40:18.886Z",
        "updated": "2026-03-13T14:40:36.872Z", "category": "code_repo_leakage", "title":
        "Initially composing light-hearted and irreveren", "owner_id": "Gyoza", "owner_name":
        "Ice cream cake", "organisation_id": "C[...]
- request:
    body: '{"limit": 50, "category": ["domain_abuse", "cyber_vulnerability", "third_party_risk",
      "code_repo_leakage", "identity_novel_exposures", "geopolitics_facility", "malware_report"],
      "offset": "eyJvZmZzZXQiOlsxNzczNDEyNzQ0NDQ4LCJ0YXNrOmIwNGZhMWRhLTRhMjYtNDRmNC1iNDRiLTRjZDljNGJkZjRjZSJdfQ=="}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/search
  response:
    body:
      string: '{"status": {"status_code": "Po", "status_message": "Bear claw"}, "data":
        [{"playbook_alert_id": "task:da273f08-b955-44b4-957b-01587283d672", "rule_id":
        "Mufful", [...]
