interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/search?limit=5&fields=analystNotes%2Ccvss%2Ccvssv3%2Ccvssv4%2CenterpriseLists%2Centity%2CintelCard%2ClifecycleStage%2Clinks%2Crisk%2CriskMapping%2Csightings%2CthreatLists%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"analystNotes": [{"attributes": {"validated_on":
        "2026-08-09T00:23:27.755Z", "published": "2026-03-01T00:17:15.892Z", "text":
        "I don''t even care. The arguments can be primitive data types or compound
        data types. Do you come here often? I don''t even care. Ports are used to
        communicate with the external world.", "topic": {"id": "wJv-Gk", "name": "Chicken
        fried bacon", "type": "Topic", "description": "In 1989 the building was heavily
        damaged by fire, but it has since been restored."}, "context_entities": [{"id":
        "PCX4qO", "name": "Hawaiian Pizza", "type": "AttackVector"}, {"id": "JQIdFy",
        "name": "Pop", "type": "Product"}, {"id": "uhFnt", "name": "Fattous", "type":
        "Product"}, {"id": "2ugUl", "name": "Mulligan ", "type": "Company"}, {"id":
        "I2VqZL", "name": "Burnt ", "type": "Company"}], "validation_urls": [{"id":
        "url:https://playstation.xxx/", "name": "Juba", "type": "URL"}, {"id": "url:https://times.gi/",
        "name": "Energy bar", "type": "URL"}, {"id": "url:https://delivering.guide/",
        "name": "Chicharones", "type": "URL"}], "title": "Messages can be sent to
        and received from ports, but these messages must obey the so-called \"port
        prot", "note_entities": [{"id": "wx1SZ3", "name": "Mission burrit", "type":
        "CyberVulnerability", "description": "The sequential subset of Erlang supports
        eager evaluation, single assignment, and dynamic typing."}, {"id": "K-1HVG",
        "name": "Baba Ghanoush", "type": "CyberVulnerability", "description": "Any
        element of a tuple can be accessed in constant time."}, {"id": "xZG2E59KQqI",
        "name": "Break", "type": "MitreAttackIdentifier"}, {"id": "4btnNxSpadHyz5E",
        "name": "Blue-plat", "type": "MitreAttackIdentifier"}, {"id": "gStpqdrrRX3",
        "name": "Sprin", "type": "MitreAttackIdentifier"}, {"id": "W7HrV", "name":
        "Lorna Doone", "type": "Product"}, {"id": "sB4yaZ", "name": "Bagel", "type":
        "Product"}, {"id": "zcyNs", "name": "Massaman Curry", "type": "ProductIdentifier"},
        {"id": "JQhGJc", "name": "Haggis", "type": "ProductIdentifier"}, {"id": "If9XVe",
        "name": "Frito Pie", "type": "ProductIdentifier"}]}, "source": {"id": "Zty7gPwImEtwp",
        "name": "Scampi", "type": "Source"}, "id": "xOw6vj"}, {"attributes": {"validated_on":
        "2026-12-30T01:41:04.819Z", "published": "2026-06-04T03:11:34.465Z", "text":
        "Make me a sandwich. The sequential subset of Erlang supports eager evaluation,
        single assignment, and dynamic typing. He looked inquisitively at his", "topic":
        {"id": "TXSFt4", "name": "Succotash", "type": "Topic", "description": "Atoms
        are used within a program [...]
