interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "Erlang ", "description":
        "Ports are created with the buil", "categories": [{"name": "Chines", "framework":
        "Erlan"}], "criticality": 1, "relatedEntities": [], "name": "Maple ba", "count":
        24077}, {"criticalityLabel": "Atoms c", "description": "Do you have any idea
        why this is not w", "categories": [{"name": "Fortu", "framework": "The a"}],
        "criticality": 1, "relatedEntities": [], "name": "Sauteed Morel Mu", "count":
        343622}, {"criticalityLabel": "In 1989", "description": "Any element of a
        tuple can be access", "categories": [{"name": "Baklav", "framework": "Atoms"}],
        "criticality": 1, "relatedEntities": [], "name": "White chocolate[...]
