interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/search?limit=5&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-06-01T08:15:11.632Z",
        "firstSeen": "2026-01-29T10:43:44.688Z"}, "risk": {"criticalityLabel": "Haskell
        i", "riskString": "They", "rules": 4, "criticality": 3, "riskSummary": "The
        Galactic Empire is nearing complet", "score": 89, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "Ports are created with the built-in function open_port.",
        "rule": "The Galactic Empire is nearing completi", "criticality": 1, "timestamp":
        "2026-02-14T01:16:43.219Z", "criticalityLabel": "Atoms c"}, {"mitigationString":
        "", "evidenceString": "I don''t even care.", "rule": "Ports are used to communicat",
        "criticality": 1, "timestamp": "2026-07-06T04:10:30.352Z", "criticalityLabel":
        "Tuples "}, {"mitigationString": "", "evidenceString": "Ports are created
        with the built-in function open_port.", "rule": "Atoms are used within a program
        to d", "criticality": 1, "timestamp": "2026-02-02T23:16:42.525Z", "criticalityLabel":
        "Haskell"}, {"mitigationString": "", "evidenceString": "They are written as
        strings of consecutive alphanumeric characters, the first character being
        lowercase.", "rule": "It is also a garbage-collected ru", "criticality": 3,
        "timestamp": "2026-05-05T02:20:07.053Z", "criticalityLabel": "I don''t e"}]},
        "entity": {"id": "url:https://southampton.edu/", "name": "Chicken Liver Pate",
        "type": "URL"}}, {"timestamps": {"lastSeen": "2026-05-27T11:28:14.007Z", "firstSeen":
        "2026-12-15T22:41:32.594Z"}, "risk": {"criticalityLabel": "The synta", "riskString":
        "The s", "rules": 13, "criticality": 3, "riskSummary": "Its main implementation
        is the Glasgow ", "score": 83, "evidenceDetails": [{"mitigationString": "",
        "evidenceString": "The arguments can be primitive data types or compound data
        types.", "rule": "Tuples are containers for a fixed numbe", "c[...]
