interactions:
- request:
    body: '{"playbook_alert_ids": ["task:f87706b1-cea4-4765-9d50-7647ee9bda9b"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/identity_novel_exposures
  response:
    body:
      string: '{"status": {"status_code": "Mo", "status_message": "Smelt"}, "data":
        [{"playbook_alert_id": "task:f87706b1-cea4-4765-9d50-7647ee9bda9b", "panel_status":
        {"status": "InProgress", "priority": "Meatloaf", "created": "2024-12-05T20:05:50.787Z",
        "updated": "2026-02-13T10:11:10.360Z", "case_rule_id": "Charleston re", "case_rule_label":
        "Novel Identity Exposure", "alert_rule": {"id": "s8LnBp", "label": "Clam cake",
        "name": "Bellini"}, "owner_id": "Suckling Pig", "owner_name": "Wasabi Peas",
        "organisation_id": "Pumpkin pie", "organisation_name": "Hawaiian Pizza", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Biscuit", "organisation_name": "Potato
        Wedges"}], "enterprise_id": "Chicago Hot Dog", "enterprise_name": "Churrasco"},
        "entity_id": "Russian dressing", "entity_name": "Thousand Island dressing",
        "targets": [{"name": "named.net"}, {"name": "downtown.edu"}], "actions_taken":
        []}, "panel_evidence_summary": {"assessments": [{"name": "Veggie ", "criticality":
        "Shucked "}], "subject": "Beignets", "authorization_url": "https://dreams.asia/",
        "exposed_secret": {"type": "clear", "effectively_clear": true, "hashes": [{"algorithm":
        "SHA1", "hash": "1db423dc8798f1576c3fd58a5373d13e0f0cfb26e3ebdf39c5074dc9078fbd71"},
        {"algorithm": "SHA256", "hash": "ccf74dcc3a3f795c98bc0ddd57564e65928e1e7d277a1999303e4b12e11c6931"},
        {"algorithm": "NTLM", "hash": "f937371ed18c7c26284f360931d43180362ec88fc04e704c023d8bb9cb37c17c"},
        {"algorithm": "MD5", "hash": "4e184e46874193ca3fc6fca543aa0f80ff876a1d7b6f7b0909816c6dae58f5ec"}],
        "details": {"properties": ["Charle", "Fish and Chips!"], "clear_text_value":
        "Po''Boy", "clear_text_hint": "Ve"}}, "dump": {"name": "Pocky", "description":
        "Poppyseed muffin"}, "compromised_host": {"exfiltration_date": "2024-12-05T13:19:24.000Z"},
        "malware_family": {"id": "nlflWX", "name": "Steamed clams"}}, "panel_log":
        [{"id": "8eLj3tsyOUsFiaRzWpYZT5hPuzHH9VghWrneak7tR", "actor_name": "Bacon
        Cheeseburger", "actor_id": "American fried r", "created": "2026-02-13T10:11:10.360Z",
        "modified": "Laksa", "changes": {"status_change": {"old": "Root Beer", "new":
        "Chicken sa", "type": "status_change"}}}, {"id": "sEpfZf0PEzOzlmyN4cq3Ph627bs5hm2sqzbMyi8zx",
        "actor_name": "Cheesy Garlic Bread", "actor_id": "Soft Shell Crab", "created":
        "2026-02-13T10:10:56.424Z", "modified": "Tetrazzini", "changes": {"status_change":
        {"old": "Mission bu", "new": "Sloppy jo", "type": "status_change"}}}, {"id":
        "ERIlwmgAATbfotkQlXBrPVtqX3MRlwzdMEipp1Pp8", "actor_name": "Funnel Cake",
        "actor_id": "Mango and Sticky", "created": "2026-02-05T17:24:03.310Z", "modified":
        "Pastrami", "changes": {"status_change": {"old": "Rabbit pi", "new": "Bacon
        Chee", "type": "status_change"}}}, {"id": "d8HY0C5aDe0B0kX5D7PJAmmWScx4qmag6EByAB9Zp",
        "actor_name": "Steak sandwich", "actor_id": "Poke", "created": "2026-02-05T17:23:44.961Z",
        "modified": "Baklava", "changes": {"status_change": {"old": "Stuffed pe",
        "new": "Rabbit pi", "type": "status_change"}}}, {"id": "4y7sQKehHUDwH0m0Js7KswrHtoFWwB2ZdhSkSj40z",
        "actor_name": "Jerky", "actor_id": "Pancakes", "created": "2026-02-05T15:03:07.874Z",
        "modified": "Slinger", "changes": {"status_change": {"old": "Drunken c", "new":
        "Tin Roof I", "type": "status_change"}, "reopen_strategy_change": {"old":
        "Quesa", "type": "reopen_strategy_change"}}}, {"id": "YKVcdKf8eNg5kK4YW1wthJXi4dJ5XNvrEVXgO7xMy",
        "actor_name": "Stroganoff", "actor_id": "Oysters Rockefel", "created": "2025-08-08T08:42:17.939Z",
        "modified": "Cowboy beans", "changes": {"status_change": {"old": "Cra", "new":
        "Onion Rin", "type": "status_change"}, "reopen_strategy_change": {"new": "Energ",
        "type": "reopen_strategy_change"}}}, {"id": "MZDS6Tbs8QsZmPA2jauzOMaybyrOmJTp4RD5xtYgj",
    [...]
- request:
    body: '{"playbook_alert_ids": ["task:db6b2635-28f5-49ec-b717-8372de9a96fd"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/vulnerability
  response:
    body:
      string: '{"status": {"status_code": "Sh", "status_message": "Tagine"}, "data":
        [{"playbook_alert_id": "task:db6b2635-28f5-49ec-b717-8372de9a96fd", "panel_status":
        {"status": "Resolved", "priority": "Mash", "reopen": "Shrim", "created": "2024-11-11T12:13:41.666Z",
        "updated": "2026-02-13T10:10:58.682Z", "case_rule_id": "Chicken bog", "case_rule_label":
        "Cyber Vulnerability", "alert_rule": {"id": "pAHhqL", "label": "Home fries",
        "name": "Sloppy joe"}, "owner_id": "Vegemite on Toas", "owner_name": "Corn
        chowder", "organisation_id": "Poppyseed muffin", "organisation_name": "Cheese
        balls", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Cheese balls", "organisation_name": "Po''Boy"}], "enterprise_id": "Turducken",
        "enterprise_name": "Ammonia cookie"}, "entity_id": "Ribs", "entity_name":
        "Ice Cream", "entity_criticality": "Soul", "risk_score": 67, "lifecycle_stage":
        "Milk toas", "targets": [{"name": "Home fries"}], "actions_taken": []}, "panel_evidence_summary":
        {"summary": {"targets": [{"name": "Carne pizzaiola"}], "lifecycle_stage":
        "Potato We", "risk_rules": [{"rule": "BBQ Chicken Pizza", "description": "Pocky"}]},
        "affected_products": [{"name": "Beef Lo Mein"}, {"name": "Pastrami on Rye"},
        {"name": "Crepes"}, {"name": "Margherita Pizza"}, {"name": "Tres Leches Cake"},
        {"name": "Risotto"}, {"name": "Sauteed Morel Mushrooms"}, {"name": "Rice and
        gravy"}, {"name": "Salmon pasta bake"}, {"name": "Fried Green Tomatoes"},
        {"name": "Ribs"}, {"name": "Oreo"}, {"name": "Stroganoff"}, {"name": "Pastrami"},
        {"name": "Surf and turf"}, {"name": "Buffalo wing"}, {"name": "Po''Boy"},
        {"name":[...]
- request:
    body: '{"playbook_alert_ids": ["task:a8b126d8-4c00-4716-acaa-43905d5a19f8"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/geopolitics_facility
  response:
    body:
      string: '{"status": {"status_code": "Ch", "status_message": "Eggs Benedict"},
        "data": [{"playbook_alert_id": "task:a8b126d8-4c00-4716-acaa-43905d5a19f8",
        "panel_status": {"status": "Resolved", "priority": "Mozz", "created": "2026-02-10T06:53:03.906Z",
        "updated": "2026-02-10T18:54:56.953Z", "case_rule_id": "Charleston re", "case_rule_label":
        "Geopolitics Facility", "alert_rule": {"id": "w41VFj", "label": "Barbecue",
        "name": "Hot Chicken sandwic"}, "owner_id": "Cheese stuffed c", "owner_name":
        "Turducken", "organisation_id": "Turducken", "organisation_name": "Salad bar",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Reuben
        sandwich", "organisation_name": "Salisbury steak"}], "enterprise_id": "Poppyseed
        muffin", "enterprise_name": "Oysters Rockefeller"}, "entity_id": "Chick",
        "entity_name": "Kobe Beef", "targets": [{"name": "Low Country Boil"}], "actions_taken":
        []}, "panel_evidence_summary": {"assessments": [{"name": "Alphabet pasta",
        "criticality": "Lobster "}, {"name": "Coq Au Vin", "criticality": "Supr"}],
        "events": [{"text": "The arguments can be primitive data types or compound
        data types. Atoms can contain any character if they are enclosed within single
        quotes and an escape convention exists which allows any character to be used
        within an atom. She spent her earliest years reading classic literature",
        "source": "Beef Lo Mein", "url": "https://broken.int/", "assessments": [{"name":
        "Mashed pumpkin", "criticality": "Crab cak"}], "document_id": "Pizza s", "time":
        "2026-02-10T06:29:05.000Z", "images": ["Calamari"]}, {"text": "Atoms can contain
        any character if they are enclosed within single quotes and an escape convention
        exists which allows any character to be used within an atom. Type classes
        first appeared in the Haskell programming language. She spent her earliest
        years reading classic literature, and writing poetry. Atoms can ", "source":
        "Macaroni salad", "url": "https://powder.africa/", "assessments": [{"name":
        "Domesticated turk", "cri[...]
- request:
    body: '{"playbook_alert_ids": ["task:3b9e9afb-3e4d-4f98-93fa-031cb3088004"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/malware_report
  response:
    body:
      string: '{"status": {"status_code": "Es", "status_message": "Blue-plate special"},
        "data": [{"playbook_alert_id": "task:3b9e9afb-3e4d-4f98-93fa-031cb3088004",
        "panel_status": {"status": "New", "priority": "Goulash", "assignee_name":
        "Pancakes", "assignee_id": "Chicken Divan", "created": "2026-02-11T06:00:12.978Z",
        "updated": "2026-02-11T06:00:12.978Z", "case_rule_id": "Albacore Tuna", "case_rule_label":
        "Cobalt Strike tags", "alert_rule": {"id": "5swDSv", "label": "Low Country
        B", "name": "Chicken French"}, "owner_id": "Tuna casserole", "owner_name":
        "Doughnut", "organisation_id": "Montreal Smoked ", "organisation_name": "Shepherd''s
        Pie", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Gyoza", "organisation_name": "Montreal Smoked Meat"}], "enterprise_id": "Prawn
        Pizza", "enterprise_name": "Bruschetta"}}, "panel_evidence_summary": {"notification_title":
        "Carne pizza", "report_limit_reached": false, "number_of_reports": 235, "matched_hashes":
        [{"sha256": "37b5955dccbf00331e2dbe96ada8af9bc4f98f9d64622eb045209f593081e38f",
        "is_enterprise_submission": false, "risk_score": 65, "report_overviews": [{"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-k52ccshy4e-behavioral1",
        "sandbox_score": 10, "tags": ["Pemmican", "For", "Calamari", "Shepherd''s
        P", "Pickled Okra", "Huevos Ra", "Carne p", "Roaste", "Bruns", "Pistachi"]},
        {"report_id": "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-md58caay2d-behavioral1",
        "sandbox_score": 10, "tags": ["Mission ", "Emp", "Energy b", "Samosa", "Ceviche",
        "Choco pie", "Eggs Be", "Cornis", "Reube", "Creamed "]}, {"report_id": "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-mgc1zaa[...]
- request:
    body: '{"playbook_alert_ids": ["task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/code_repo_leakage
  response:
    body:
      string: '{"status": {"status_code": "Mo", "status_message": "Jalapeno Poppers"},
        "data": [{"playbook_alert_id": "task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc",
        "panel_status": {"status": "InProgress", "priority": "Stuf", "created": "2024-12-10T10:11:54.696Z",
        "updated": "2026-02-13T10:11:00.790Z", "case_rule_id": "Drunken chick", "case_rule_label":
        "Data Leakage on Code Repository", "alert_rule": {"id": "qS_wmm", "label":
        "Fried Catfish", "name": "Goulash"}, "owner_id": "Fried Green Toma", "owner_name":
        "Clam chowder", "organisation_id": "Tetrazzini", "organisation_name": "Ribs",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Chocolate
        Browni", "organisation_name": "Mission burrito"}], "enterprise_id": "Russian
        tea cake", "enterprise_name": "Pastrami"}, "entity_id": "Goulash", "entity_name":
        "https://hopes.sr/", "risk_score": 0, "targets": [{"name": "Chocol"}], "actions_taken":
        []}, "panel_evidence_summary": {"repository": {"id": "url:https://ranch.moscow/",
        "name": "https://composed.bar/", "owner": {"name": "Maple bacon donu"}}, "evidence":
        [{"assessments": [{"id": "TxqL121Ppsgcf6oZIyeb", "title": "Haskell features
        ", "value": "Belli"}, {"id": "D1L2ezi8M9CX0ZuVOmxu1s63C2W", "title": "The
        sequential subset of Erlang sup", "value": "Chicke"}], "targets": [{"name":
        "Steak "}], "url": "https://surround.com/", "content": "Jalapeno Poppers",
        "published": "2025-03-27T14:56:01.383Z"}, {"assessments": [{"id": "Q6RpQmFIhqfWlUUSXaLn",
        "title": "The arguments can", "value": "Bi Bim B"}, {"id": "as4hqYaODga4kvNvfzH9dffI52q",
        "title": "Its main implementation is the Glas", "value": "Eggs B"}], "targets":
        [{"name": "Mozzar"}], "url": "https://economies.edu/", "content": "Sloppy
        joe", "published": "2025-01-21T23:45:39.488Z"}, {"assessments": [{"id": "rue4AZMmnc5XXshtyb7H",
        "title": "Haskell is a stan", "value": "La[...]
- request:
    body: '{"playbook_alert_ids": ["task:c89f8024-0462-4a50-88a9-f7e86056d485"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/third_party_risk
  response:
    body:
      string: '{"status": {"status_code": "Po", "status_message": "Hawaiian haystack"},
        "data": [{"playbook_alert_id": "task:c89f8024-0462-4a50-88a9-f7e86056d485",
        "panel_statu[...]
- request:
    body: '{"playbook_alert_ids": ["task:99a83597-3c3f-49c0-af56-c06a636532e8"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/domain_abuse
  response:
    body:
      string: '{"status": {"status_code": "Fa", "status_message": "Banh Mi Vi\u00eat"},
        "data": [{"playbook_alert_id": "task:99a83597-3c3f-49c0-af56-c06a636532e8",
        "panel_status": {"status": "Dismissed", "priority": "Bruschet", "created":
        "2024-12-10T12:21:55.012Z", "updated": "2025-09-15T14:11:14.142Z", "case_rule_id":
        "Cheesecake", "case_rule_label": "Domain Abuse", "alert_rule": {"id": "oT8Yal",
        "label": "Vichyssoise", "name": "Spanish rice"}, "owner_id": "Kobe Beef",
        "owner_name": "Sausage gravy", "organisation_id": "Shrimp and Grits", "organisation_name":
        "Bird''s Nest Soup", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Macaroni and Che", "organisation_name": "Fattoush Salad"}], "enterprise_id":
        "Baked potato", "enterprise_name": "Seafood cocktail"}, "entity_id": "Cobb
        Salad", "entity_name": "walk.com", "entity_criticality": "New", "risk_score":
        5, "context_list": [{"context": "Cordon bleu"}, {"context": "Escargot"}],
        "targets": ["Cinnamon Roll", "Shepherd''s Pie"], "attackers": ["Hot chicken"],
        "actions_taken": []}, "panel_action": [], "panel_evidence_summary": {"explanation":
        "Soul food", "cause": "Rolled oy", "resolved_record_list": [], "screenshots":
        [{"description": "Pumpkin pie", "image_id": "img:f814f884-ceaa-4782-a849-c16ed2965943",
        "created": "2024-12-10T12:31:31.840Z", "availability": "Escargot"}], "screenshot_mentions":
        [{"url": "Pancakes", "screenshot": "Schnitzel", "document": "Toaster St",
        "analyzed": "2024-12-10T12:31:24.961Z", "mentioned_entities": [{"entity":
        {"id": "idn:persian.brussels", "name": "actress.biz", "type": "InternetDomainName"},
        "reference": "Caviar", "fragment": "Turducken"}, {"entity": {"id": "idn:tips.pa",
        "name": "trails.cat", "type": "InternetDomainName"}, "reference": "Tetrazzini",
        "fragment": "Pastrami"}], "mentioned_custom_keywords": []}]}, "panel_evidence_dns":
        {"ip_list": [], "mx_list": [], "ns_list": []}, "panel_evidence_whois": {"body":
        [{"provider": "Empanada", "entity": "Lasagna", "attribute": "Shrimp and",
        "value": {"status": "autoRenewPeriod", "nameServers": ["Deviled egg", "Chili
        con carne", "Gyoza"], "registrarName": "Vichyssoise", "updatedDate": "Pastrami
        on Rye", "createdDate": "Salisbury steak", "expiresDate": "Smelt", "privateRegistration":
        false}, "added": "2025-12-11T01:17:11.801Z"}, {"provider": "Bacon Cheeseburg",
        "entity": "Kobe Beef", "attribute": "Corn dog", "value": {"type": "technicalContact"},
        "added": "2025-12-10T00:37:37.548Z"}, {"provider": "Reuben sandwich", "entity":
        "Key Lime Pie", "attribute": "Jerky", "value": {"type": "administrativeContact"},
        "added": "2025-12-10T00:37:37.548Z"}, {"provider": "French Dip", "entity":
        "Funnel Cake", "attribute": "Lasagna", "value": {"type": "registrant"}, "added":
        "2025-12-10T00:37:37.548Z"}]}, "panel_log": [{"id": "gQsTytIfBv5sCo5mfOQLjXx4mVWgVLCR18ZGIIQND",
        "actor_name": "Milk toast", "actor_id": "Potatoes O''Brien", "created": "2025-09-15T14:11:14.142Z",
        "modified": "Polenta", "message": "Chicken bog", "context": {"type": "domain_abuse",
        "changes": []}}, {"id": "DQ9Ak4x3l6eYzTKXOvwezbh6GEmRlrc64EjB2gEnD", "actor_name":
        "Cheese balls", "actor_id": "Italian Beef San", "created": "2025-09-15T14:10:54.430Z",
        "modified": "Bagels and Lox", "changes": {"status_change": {"old": "Sen",
        "new": "Hot chick", "type": "status_change"}}, "context": {"type": "domain_abuse",
        "changes": [{"old": "Gri", "new": "Parma Ham", "actions_taken": [], "type":
     [...]
