interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/fa54c4e34732b611921820be56dd690a4de98285828e4be487b904679a855a92?fields=entity%2Ctimestamps%2Crisk%2ChashAlgorithm
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2025-01-02T18:50:02.882Z", "firstSeen":
        "2019-02-13T12:41:06.966Z"}, "risk": {"criticalityLabel": "Chocolate", "riskString":
        "Sand", "rules": 2, "criticality": 3, "riskSummary": "Chicharones", "score":
        80, "evidenceDetails": [{"mitigationString": "", "evidenceString": "Slinger",
        "rule": "Pigs in blankets", "criticality": 2, "timestamp": "2025-12-14T04:19:59.157Z",
        "criticalityLabel": "Lobster Ne"}, {"mitigationString": "", "evidenceString":
        "Ammonia cookie", "rule": "Onion Rings", "criticality": 3, "timestamp": "2019-02-13T12:28:42.000Z",
        "criticalityLabel": "Macaroni "}]}, "entity": {"id": "hash:e6ffa0d80c68c5ba8287e14036d5781f823c12437dff1e348b762330f3d5e87c",
        "name": "a23034d4b28fcd993c9a9a284391cc800fcbbed21c9f3494c0d0c14a861b30a7",
        "type": "Hash"}, "hashAlgorithm": "SHA-256"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
