interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "They ar", "description":
        "She spent her earliest years reading classic li", "categories": [{"name":
        "Salted ca", "framework": "The a"}], "criticality": 1, "relatedEntities":
        [], "name": "Hawaiian haystack", "count": 4938002}, {"criticalityLabel": "Haskell",
        "description": "Do you come here often?", "categories": [{"name": "Garlic",
        "framework": "They "}, {"name": "Stuffe", "framework": "Ports"}, {"name":
        "Oyster", "framework": "The a"}], "criticality": 1, "relatedEntities": [],
        "name": "Tres Leches Cake", "count": 3952}, {"criticalityLabel": "He looked",
        "description": "Type classes first appeared in ", "categories": [{"name":
        "Frito ", "framework": "Haske"},[...]
