interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:f87706b1-cea4-4765-9d50-7647ee9bda9b
  response:
    body:
      string: '{"status": {"status_code": "Ph", "status_message": "Wasabi Peas"},
        "data": {"playbook_alert_id": "task:f87706b1-cea4-4765-9d50-7647ee9bda9b",
        "rule_id": "Souvla", "alert_rule": {"id": "s8LnBp", "label": "Pancakes", "name":
        "Creme Brulee"}, "status": "InProgress", "priority": "Fried Gr", "created":
        "2024-12-05T20:05:50.787Z", "updated": "2026-02-13T10:11:10.360Z", "category":
        "identity_novel_exposures", "title": "Atoms can contain any character i",
        "owner_id": "Steamed clams", "owner_name": "Eggs Neptune", "organisation_id":
        "Gumbo", "organisation_name": "Key Lime Pie", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Queso Fresco", "organisation_name":
        "Domesticated turkey"}], "enterprise_id": "Rolled oyster", "enterprise_name":
        "Jalapeno Poppers"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/identity_novel_exposures/task:f87706b1-cea4-4765-9d50-7647ee9bda9b
  response:
    body:
      string: '{"status": {"status_code": "Li", "status_message": "Macaroni and Cheese"},
        "data": {"playbook_alert_id": "task:f87706b1-cea4-4765-9d50-7647ee9bda9b",
        "panel_status": {"status": "InProgress", "priority": "Key Lime", "created":
        "2024-12-05T20:05:50.787Z", "updated": "2026-02-13T10:11:10.360Z", "case_rule_id":
        "Chicken Liver", "case_rule_label": "Novel Identity Exposure", "alert_rule":
        {"id": "s8LnBp", "label": "BBQ Chicken Pizza", "name": "Macaroni and Chee"},
        "owner_id": "Cheese fries", "owner_name": "Squab", "organisation_id": "Quesadilla",
        "organisation_name": "Mozzarella sticks", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Coleslaw", "organisation_name": "BBQ Ribs"}], "enterprise_id":
        "Wasabi Peas", "enterprise_name": "Chinese food"}, "entity_id": "Potato wedges",
        "entity_name": "Potato skins", "targets": [{"name": "sans.tui"}, {"name":
        "isbn.zuerich"}], "actions_taken": []}, "panel_evidence_summary": {"assessments":
        [{"name": "Chile R", "criticality": "Popover"}], "subject": "Chicken French",
        "authorization_url": "https://delegation.com/", "exposed_secret": {"type":
        "clear", "effectively_clear": true, "hashes": [{"algorithm": "SHA1", "hash":
        "4cc2ecbeb9927dbc91bd03c32318c628571c894daf20169b1f4637b826799dd8"}, {"algorithm":
        "SHA256", "hash": "265ce5e28666d8439b91c6e3f07ae2945f3d496969783ea5b4fd1f151002ebb0"},
        {"algorithm": "NTLM", "hash": "09008fb5af98ee4e9c6897529d87d8200ff198372caa0b83c221b2dfcdd898b8"},
        {"algorithm": "MD5", "hash": "aabd2808bd61cd3003232492e8a9aae279d33bee3252d5a2295e47ab2b9f15c2"}],
        "details": {"properties": ["Chicha", "Pastrami"], "clear_text_value": "Cheesy
        Garlic ", "clear_text_hint": "Pa"}}, "dump": {"name": "Corned beef", "description":
        "Prawn Pizza"}, "compromised_host": {"exfiltration_date": "2024-12-05T13:19:24.000Z"},
        "malware_family": {"id": "nlflWX", "name": "Mashed potato"}}, "panel_log":
        [{"id": "CVdUsy6CklxbQeFcTZy3p41R03mQcyXrdTkvx5hCp", "actor_name": "Ranch
        dressing", "actor_id": "Risotto", "created": "2025-05-29T12:28:59.248Z", "modified":
        "Stroganoff", "message": "Sweet Potato F"}, {"id": "vGmBGEWMz91PEzCeeL75m6WnPUNd5fciQO7XjUtFF",
        "actor_name": "Chocolate Chip Cookie", "actor_id": "Pickled Okra", "created":
        "2025-05-29T12:29:58.430Z", "modified": "Pickled Okra", "message": "Chicken
        herby "}, {"id": "KSq5LTuus7HIQ1KPCpV72BjbFeqUMxL5R40wZjmt2", "actor_name":
        "Shrimp and Grits", "actor_id": "Potato skins", "created": "2025-05-29T12:38:19.661Z",
        "modified": "Chili dog", "message": "Buffalo burger"}, {"id": "pwmLFuiSYy0WQJwt7qKkgHjAYWqt8JcqNnowUmHMw",
        "actor_name": "Surf and turf", "actor_id": "Sausage gravy", "created": "2025-05-29T15:21:37.183Z",
        "modified": "Queso Fresco", "changes": {"status_change": {"old": "Bla", "new":
        "Coleslaw", "type": "status_change"}}}, {"id": "b1Q1VjnBKKBzAr5sDNHMaTsNKq1YYY3lHUgyS8nys",
        "actor_name": "Pop-Tarts", "actor_id": "Senate bean soup", "created": "2025-05-29T15:27:08.140Z",
        "modified": "Corn dog", "changes": {"status_change": {"old": "Chimichan",
        "new": "Margherita", "type": "status_change"}}}, {"id": "gRrpZ6dYyJDx9OE4l9XKTuCzaKB6soGkTLMeDYgbi",
        "actor_name": "Burnt ends", "actor_id": "Stuffed ham", "created": "2025-05-29T15:28:17.885Z",
[...]
