interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Fry sauce", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-06-05T14:21:37.583Z", "owner_id":
        "Chicken fingers", "owner_name": "Juba", "organisation_id": "Mango and Sticky",
        "organisation_name": "Massaman Curry", "owner_organisation_details": {"owner_id":
        "Pork Belly", "owner_name": "Glorified rice", "organisations": [], "enterprise_id":
        "Home fries", "enterprise_name": "Gyoza"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entities
  response:
    body:
      string: '[{"entity": {"id": "ip:36.190.121.76", "type": "IpAddress", "name":
        "145.32.158.134"}, "context": {"annotation": "Chicken French"}, "status":
        "ready", "added": "2026-06-03T10:37:16.828Z"}]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"entity": {"id": "ip:8.8.8.8"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entity/remove
  response:
    body:
      string: '{"result": "Chicken"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entities
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
