interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:db6b2635-28f5-49ec-b717-8372de9a96fd
  response:
    body:
      string: '{"status": {"status_code": "Ma", "status_message": "Black Pudding"},
        "data": {"playbook_alert_id": "task:db6b2635-28f5-49ec-b717-8372de9a96fd",
        "rule_id": "Suckli", "alert_rule": {"id": "pAHhqL", "label": "Buffalo Wings",
        "name": "Mulligan stew"}, "status": "Resolved", "priority": "Rata", "reopen":
        "Reube", "created": "2024-11-11T12:13:41.666Z", "updated": "2026-02-13T10:10:58.682Z",
        "category": "cyber_vulnerability", "title": "Where are my p", "owner_id":
        "Calas", "owner_name": "Tomato compote", "organisation_id": "Milk toast",
        "organisation_name": "Tuna Pizza", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Chicken Tikka Ma", "organisation_name": "Spaghetti Bolognese"}],
        "enterprise_id": "Chicharones", "enterprise_name": "Sushi"}, "actions_taken":
        []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/vulnerability/task:db6b2635-28f5-49ec-b717-8372de9a96fd
  response:
    body:
      string: '{"status": {"status_code": "Dr", "status_message": "Soul food"}, "data":
        {"playbook_alert_id": "task:db6b2635-28f5-49ec-b717-8372de9a96fd", "panel_status":
        {"status": "Resolved", "priority": "Soft", "reopen": "Poke", "created": "2024-11-11T12:13:41.666Z",
        "updated": "2026-02-13T10:10:58.682Z", "case_rule_id": "Popover", "case_rule_label":
        "Cyber Vulnerability", "alert_rule": {"id": "pAHhqL", "label": "Cheese dog",
        "name": "Potatoes O''Brien"}, "owner_id": "Eggs Benedict", "owner_name": "Venison",
        "organisation_id": "Chicken Liver Pa", "organisation_name": "Glorified rice",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Chicken
        \u00e0 la Kin", "organisation_name": "Thousand Island dressing"}], "enterprise_id":
        "Thousand Island ", "enterprise_name": "Crepes"}, "entity_id": "Brunsw", "entity_name":
        "Chicken herby ", "entity_criticality": "Buff", "risk_score": 67, "lifecycle_stage":
        "Bao", "targets": [{"name": "Fish Tacos"}], "actions_taken": []}, "panel_evidence_summary":
        {"summary": {"targets": [{"name": "Russian dressing"}], "lifecycle_stage":
        "Corn chow", "risk_rules": [{"rule": "Lobster Newberg", "description": "Macaroni
        salad"}]}, "affected_products": [{"name": "Texas Toast"}, {"name": "Barbecue"},
        {"name": "Cowboy beans"}, {"name": "Tetrazzini"}, {"name": "Eggo"}, {"name":
        "Ice cream cake"}, {"name": "Chicken Salad Wrap"}, {"name": "Shish Kabob"},
        {"name": "Fried fish"}, {"name": "Greek salad"}, {"name": "Hangtown fry"},
        {"name": "Ploye"}, {"name": "Gumbo"}, {"name": "Fajitas"}, {"name": "Coq Au
        Vin"}, {"name": "Chocolate Brownie"}, {"name": "Stuffed ham"}, {"name": "Pancakes"},
        {"name": "Crab[...]
