interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/search?limit=5&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-11-18T02:07:38.536Z",
        "firstSeen": "2026-10-22T06:52:52.817Z"}, "risk": {"criticalityLabel": "Any
        element of", "riskString": "Make", "rules": 7, "criticality": 4, "riskSummary":
        "The arguments can be primitive data ty", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "It is also a garbage-collected
        runtime system.", "rule": "Initially composing light-hearted and i", "criticality":
        1, "timestamp": "2026-07-08T17:22:41.307Z", "criticalityLabel": "Where a"},
        {"mitigationString": "", "evidenceString": "Haskell is a standardized, general-purpose
        purely functional programming language, with non-strict semantics and strong
        static typing.", "rule": "It is also a garbage-collected r", "criticality":
        1, "timestamp": "2026-07-12T18:08:38.684Z", "criticalityLabel": "Tuples "},
        {"mitigationString": "", "evidenceString": "Atoms are used within a program
       [...]
