interactions:
- request:
    body: '{"limit": 10}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/search
  response:
    body:
      string: '[{"id": "report:-12CY6", "name": "Abalone", "type": "entity", "created":
        "2025-10-14T06:17:12.560Z", "updated": "2025-10-14T06:18:33.543Z", "owner_id":
        "Messages can be ", "owner_name": "Type classes first appe", "organisation_id":
        "Make me a sandwi", "organisation_name": "She spent her earliest years read",
        "owner_organisation_details": {"owner_id": "Messages can be ", "owner_name":
        "Type classes first appe", "organisations": [], "enterprise_id": "She spent
        her ea", "enterprise_name": "Do you come here often?"}}, {"id": "report:-19oK4",
        "name": "Fish Tacos", "type": "entity", "created": "2025-10-08T06:16:22.271Z",
        "updated": "2025-10-08T06:18:29.528Z", "owner_id": "Do you come here", "owner_name":
        "Type classes first appe", "organisation_id": "Initially compos", "organisation_name":
        "Where are my pants?", "owner_organisation_details": {"owner_id": "It is also
        a gar", "owner_name": "Tuples are containers f", "organisations": [], "enterp[...]
