interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=%5B2025-09-15%2C+2025-09-16%5D&statusInPortal=Pending&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "Pending",
        "assignee": "I don''t even care.", "status": "pending"}, "owner_organisation_details":
        {"organisations": [{"organisation_id": "Any element of a", "organisation_name":
        "They are written as strings of co"}], "enterprise_id": "Its main impleme",
        "enterprise_name": "Ports are used to communicate wit"}, "rule": {"use_case_deprecation":
        null, "name": "Chicken sandwich", "id": "mf0rAa", "url": {"portal": "https://sisters.mil/"}},
        "id": "-NuONS", "title": "In 1989 the building was heavily damaged by ", "log":
        {"note_author": null, "note_date": null, "status_date": "2026-02-21T17:36:57.781Z",
        "triggered": "2025-09-15T14:20:55.718Z", "status_change_by": "Ports are used
        to communicate with the exte"}}], "counts": {"returned": 1, "total": 1}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
