interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:db6b2635-28f5-49ec-b717-8372de9a96fd
  response:
    body:
      string: '{"status": {"status_code": "Po", "status_message": "Piroshky"}, "data":
        {"playbook_alert_id": "task:db6b2635-28f5-49ec-b717-8372de9a96fd", "rule_id":
        "Sweet ", "alert_rule": {"id": "pAHhqL", "label": "Moules Frites", "name":
        "Rolled oyster"}, "status": "Resolved", "priority": "Pepp", "reopen": "Ribs",
        "created": "2024-11-11T12:13:41.666Z", "updated": "2026-02-13T10:10:58.682Z",
        "category": "cyber_vulnerability", "title": "Erlang is a ge", "owner_id":
        "Bull roast", "owner_name": "Jambalaya", "organisation_id": "Blue cheese dres",
        "organisation_name": "Coleslaw", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Energy bar", "organisation_name": "Corn chowder"}],
        "enterprise_id": "Caviar", "enterprise_name": "Maraca pie"}, "actions_taken":
        []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/vulnerability/task:db6b2635-28f5-49ec-b717-8372de9a96fd
  response:
    body:
      string: '{"status": {"status_code": "Ch", "status_message": "Fish Tacos"}, "data":
        {"playbook_alert_id": "task:db6b2635-28f5-49ec-b717-8372de9a96fd", "panel_status":
        {"status": "Resolved", "priority": "Chic", "reopen": "Londo", "created": "2024-11-11T12:13:41.666Z",
        "updated": "2026-02-13T10:10:58.682Z", "case_rule_id": "Funnel Cake", "case_rule_label":
        "Cyber Vulnerability", "alert_rule": {"id": "pAHhqL", "label": "Russian tea
        cake", "name": "Potato salad"}, "owner_id": "Crab Rangoon", "owner_name":
        "Cheese stuffed crust pizza", "organisation_id": "Calf''s liver and", "organisation_name":
        "Gumbo", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Russian tea cake", "organisation_name": "Cheese fries"}], "enterprise_id":
        "Barbecue", "enterprise_name": "Buffalo wing"}, "entity_id": "Steak ", "entity_name":
        "Grilled Snake", "entity_criticality": "Pean", "risk_score": 67, "lifecycle_stage":
        "BBQ Chick", "targets": [{"name": "Cordon bleu"}], "actions_taken": []}, "panel_evidence_summary":
        {"summary": {"targets": [{"name": "Russian dressing"}], "lifecycle_stage":
        "Schnitzel", "risk_rules": [{"rule": "American fried rice", "description":
        "Sour cream"}]}, "affected_products": [{"name": "Bagels and Lox"}, {"name":
        "Oysters Rockefeller"}, {"name": "White chocolate cookie"}, {"name": "Philly
        Cheese Steak"}, {"name": "Chicken Divan"}, {"name": "Supreme pizza"}, {"name":
        "Spaghetti Bolognese"}, {"name": "Shish Kabob"}, {"name": "Gumbo"}, {"name":
        "Pemmican"}, {"name": "Chicken fried steak"}, {"name": "Popover"}, {"name":
        "Macaroni and Cheese"}, {"name": "Swiss steak"}, {"name": "Sauteed Morel Mushrooms"},
        {"name": "Ranch dr[...]
