interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/209.74.66.25?fields=timestamps%2CaiInsights%2Centity%2Crisk
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-04-11T20:00:15.212Z", "firstSeen":
        "2026-11-06T14:13:18.761Z"}, "risk": {"criticalityLabel": "Messages c", "riskString":
        "Mess", "rules": 7, "criticality": 2, "riskSummary": "She spent her earliest
        years reading c", "score": 47, "evidenceDetails": [{"mitigationString": "",
        "evidenceString": "Atoms can contain any character if they are enclosed within
        single quotes and an escape convention exists which allows any character to
        be used within an atom.", "rule": "They are written as strings of consecut",
        "criticality": 1, "timestamp": "2026-10-05T00:18:13.074Z", "criticalityLabel":
        "It is a"}, {"mitigationString": "", "evidenceString": "Do you come here often?",
        "rule": "Ports are used to communicate w", "criticality": 1, "timestamp":
        "2026-09-19T21:40:49.237Z", "criticalityLabel": "Tuples "}, {"mitigationString":
        "", "evidenceString": "Do you have any idea why this is not working?", "rule":
        "Do you have any idea why this is", "criticality": 1, "timestamp": "2026-10-01T15:00:46.926Z",
[...]
