interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/45.134.26.41?fields=dnsPortCert%2CriskMapping%2CintelCard%2Crisk%2Csightings%2Clocation%2Ctimestamps%2CthreatLists%2CanalystNotes%2Clinks%2CenterpriseLists%2Centity%2Cscanner
  response:
    body:
      string: '{"data": {"enterpriseLists": [], "risk": {"criticalityLabel": "Shish
        Kabo", "riskString": "Clam ", "rules": 17, "criticality": 2, "riskSummary":
        "Chili dog", "score": 43, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Wasabi Peas", "rule": "Ice Cream Sundae", "criticality": 1, "timestamp":
        "2021-07-27T22:15:01.000Z", "criticalityLabel": "Fried G"}, {"mitigationString":
        "", "evidenceString": "Kobe Beef", "rule": "Crab Rangoon", "criticality":
        1, "timestamp": "2025-06-06T10:41:12.940Z", "criticalityLabel": "Soft Sh"},
        {"mitigationString": "", "evidenceString": "Queso Fresco", "rule": "Creme
        Brulee", "criticality": 1, "timestamp": "2025-12-23T08:55:01.625Z", "criticalityLabel":
        "Crab Ra"}, {"mitigationString": "", "evidenceString": "Mu[...]
