interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "It is als", "description":
        "The sequential subset of Erl", "categories": [], "criticality": 3, "relatedEntities":
        [], "name": "Corn chowder", "count": 2019}, {"criticalityLabel": "The arg",
        "description": "I don''t even care.", "categories": [], "criticality": 1,
        "relatedEntities": [], "name": "Pigs i", "count": 12027}, {"criticalityLabel":
        "They are w", "description": "They are written as strings of consecutive alphanu",
        "categories": [{"name": "Pumpk", "framework": "Its m"}], "criticality": 2,
        "relatedEntities": [], "name": "Beef Lo Mein", "count": 1}, {"criticalityLabel":
        "Erlang ", "description": "Tuples are containers for a fixed number ", "categories":
        [{"name": "Italian B", "framework": "Tuple"}], "criticality": 1, "relatedEntities":
        [], "name": "Stuffed peppers", "count": 279844}, {"criticalityLabel": "Ports
        are used", "description": "Atoms are used within a pr", "categories": [{"name":
        "Chocol", "fram[...]
