interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:f87706b1-cea4-4765-9d50-7647ee9bda9b
  response:
    body:
      string: '{"status": {"status_code": "Ch", "status_message": "Fried fish"}, "data":
        {"playbook_alert_id": "task:f87706b1-cea4-4765-9d50-7647ee9bda9b", "rule_id":
        "Fries", "alert_rule": {"id": "s8LnBp", "label": "Domesticated turkey", "name":
        "Phaal"}, "status": "InProgress", "priority": "Souvlaki", "created": "2024-12-05T20:05:50.787Z",
        "updated": "2026-02-13T10:11:10.360Z", "category": "identity_novel_exposures",
        "title": "Where are my pants?", "owner_id": "Greek salad", "owner_name": "Popover",
        "organisation_id": "Chicago Hot Dog", "organisation_name": "Soft Shell Crab",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Energy
        bar", "organisation_name": "Black Pudding"}], "enterprise_id": "Chicken Divan",
        "enterprise_name": "Reuben sandwich"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/identity_novel_exposures/task:f87706b1-cea4-4765-9d50-7647ee9bda9b
  response:
    body:
      string: '{"status": {"status_code": "Eg", "status_message": "Kung Pao Chicken"},
        "data": {"playbook_alert_id": "task:f87706b1-cea4-4765-9d50-7647ee9bda9b",
        "panel_status": {"status": "InProgress", "priority": "Pop-Tart", "created":
        "2024-12-05T20:05:50.787Z", "updated": "2026-02-13T10:11:10.360Z", "case_rule_id":
        "Stroganoff", "case_rule_label": "Novel Identity Exposure", "alert_rule":
        {"id": "s8LnBp", "label": "Thousand Island dress", "name": "Bagels and Lox"},
        "owner_id": "Chocolate cheese", "owner_name": "Corn chowder", "organisation_id":
        "Salmon pasta bak", "organisation_name": "Pemmican", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Huevos Rancheros", "organisation_name":
        "Cordon bleu"}], "enterprise_id": "Fries", "enterprise_name": "Garden salad"},
        "entity_id": "Seafood cocktail", "entity_name": "Porterhouse Steak", "targets":
        [{"name": "acknowledged.cat"}, {"name": "cambodia.tv"}], "actions_taken":
        []}, "panel_evidence_summary": {"assessments": [{"name": "Onion R", "criticality":
        "Milk toa"}], "subject": "City chicken", "authorization_url": "https://adjust.org/",
        "exposed_secret": {"type": "clear", "effectively_clear": true, "hashes": [{"algorithm":
        "SHA1", "hash": "ed344c6d5ee7f8c2e5eb6fa58bd6cd4c24934977e7a340e54ce889d1db20a434"},
        {"algorithm": "SHA256", "hash": "9d684f47647d37f14141a598e201377620cf9a5c52e4c5ed59cc77e10097ff88"},
        {"algorithm": "NTLM", "hash": "0d0225592cff4eab7da59f48c1b8660ee12268a569141afb52588c4a95b3843d"},
        {"algorithm": "MD5", "hash": "cb605898f8394541893a5881270b68595cdcd4d31fff3199b309391678bb5ff4"}],
        "details": {"properties": ["Pigs i", "Turkish Delight"], "clear_text_value":
        "Brunswick stew", "clear_text_hint": "Po"}}, "dump": {"name": "Montreal Smoked
        Meat", "description": "Pepperoni"}, "compromised_host": {"exfiltration_date":
        "2024-12-05T13:19:24.000Z"}, "malware_family": {"id": "nlflWX", "name": "Brisket"}},
        "panel_log": [{"id": "nu8PLqyfeFnXFXeGq67jFh1AxGKyU4gT9WS88DnV8", "actor_name":
        "Salisbury steak", "actor_id": "Fattoush Salad", "created": "2025-05-29T12:28:59.248Z",
        "modified": "Corned beef", "message": "Steak sandwich"}, {"id": "SuQgKi92JrviXyXye5vOecAHNOq7Cyr9nI7i6gPQJ",
        "actor_name": "Hangtown fry", "actor_id": "Fried Green Toma", "created": "2025-05-29T12:29:58.430Z",
        "modified": "Maple bacon donut", "message": "Poke"}, {"id": "mM5Q7u8AFk6ZWoqDVybZEZFbSY1k2TM3Ku1pk8rli",
        "actor_name": "Senate bean soup", "actor_id": "Chile Relleno", "created":
        "2025-05-29T12:38:19.661Z", "modified": "Italian Beef Sandwich", "message":
        "Burnt ends"}, {"id": "UOAUPgvyzlUIeNqOfNxRNBo2VtfOvWrzBwnlPsc9H", "actor_name":
        "Chocolate Chip Cookie", "actor_id": "Wasabi Peas", "created": "2025-05-29T15:21:37.183Z",
        "modified": "Corn dog", "changes": {"status_change": {"old": "Stu", "new":
        "Naan", "type": "status_change"}}}, {"id": "CI6r1gab4aqC3lIJpIaOPX4OQ2PGJY9La7kmPkxQ9",
        "actor_name": "Stuffed peppers", "actor_id": "Rabbit pie", "created": "2025-05-29T15:27:08.140Z",
        "modified": "Shepherd''s Pie", "changes": {"status_change": {"old": "Salted
        ca", "new": "Energy bar", "type": "status_change"}}}, {"id": "0v1ca0DuAtGvxkJIS5nsOUyDIF8zexUVGSIaDPCJv",
        "actor_name": "Poke", "actor_id": "Brisket", "created": "2025-05-29T15:28:17.885Z",
       [...]
