interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/search?limit=5&fields=entity%2ClifecycleStage%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"lifecycleStage": "Haskell i", "timestamps":
        {"lastSeen": "2026-08-18T23:28:25.637Z", "firstSeen": "2026-04-06T08:47:36.016Z"},
        "risk": {"criticalityLabel": "She spent her", "riskString": "Do yo", "rules":
        10, "criticality": 5, "riskSummary": "Type classes first appeared in the Hask",
        "score": 99, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "She spent her earliest years reading classic literature, and writing poetry.",
        "rule": "Type classes first appeared in the Haskell ", "criticality": 1, "timestamp":
        "2026-06-25T22:36:33.327Z", "criticalityLabel": "Whe"}, {"mitigationString":
        "", "evidenceString": "Tuples are containers for a fixed number of Erlang
        data types.", "rule": "Haskell features a type system wi", "criticality":
        1, "timestamp": "2026-06-09T17:36:15.154Z", "criticalityLabel": "Its"}, {"mitigationString":
        "", "evidenceString": "Erlang is known for its designs that are well suited
        for systems.", "rule": "The sequential subset of Erlang s[...]
