interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/digitalcollege.org?fields=riskMapping%2CintelCard%2Crisk%2Csightings%2Ctimestamps%2CthreatLists%2CanalystNotes%2Clinks%2CenterpriseLists%2Centity
  response:
    body:
      string: '{"data": {"analystNotes": [{"external_id": "Soft S", "attributes":
        {"published": "2025-10-08T22:22:14.531Z", "text": "Ports are used to communicate
        with the external world. They are written as strings of consecutive alphanumeric
        characters, the first character being lowercase. She spent her earliest years
        reading classic literature, and writing poetry. Do ", "authors": [{"id": "AREsn3t317S4UFma",
        "name": "Fries", "type": "IntegrationUser"}], "title": "Do you come here o",
        "context_entities": [{"id": "3mXkRfQ3WlVOcsfXZhTahTM3zSGf87F", "name": "Salted
        caramel cookie", "type": "EmailAddress"}, {"id": "url:https://fur.com/", "name":
        "https://sigma.builders/", "type": "URL"}, {"id": "5BaTR4", "name": "French
        On", "type": "Company"}, {"id": "idn:vids.lc", "name": "modem.org", "type":
        "InternetDomainName"}, {"id": "ip:4.65.221.220", "name": "5.43.140.119", "type":
        "IpAddress"}, {"id": "hash:cd77c999b1692640b34855e464937b5f4ec053ccfde8e15a3fd7cde86c4c1ed5",
        "name": "d53d566f7c361a6d16b530c76e88b0625b284fa4a103b87b0b80669df032f682",
        "type": "Hash"}]}, "source": {"id": "esXeFOcvBgzcV", "name": "Scampi", "type":
        "Source"}, "id": "_AI5Iq"}, {"external_id": "Cheese", "attributes": {"published":
        "2025-10-08T22:20:09.143Z", "text": "Ports are created with the built-in function
        open_port. Where are my pants? Messages can be sent to and received from ports,
        but these messages must obey the so-called \"port protocol.\" Ports are used
        to communicate with the external world", "authors": [{"id": "CaAnnfsT2Fua97h7",
        "name": "Quesadilla", "type": "IntegrationUser"}], "title": "The sequential
        sub", "context_entities": [{"id": "Qtl441Rn1ulRkWFPpmd3KOn0BlQGa2t", "name":
        "Brisket", "type": "EmailAddress"}, {"id": "url:https://niger.name/", "name":
        "https://ellis.case/", "type": "URL"}, {"id": "5BaTR4", "name": "Turkish D",
        "type": "Company"}, {"id": "idn:dame.cool", "name": "establishing.bi", "type":
        "InternetDomainName"}, {"id": "ip:126.95.77.66", "name": "47.172.3.109", "type":
        "IpAddress"}, {"id": "hash:469c6e8c08cf0b03d7fa48b90573857d640d80460384319c20c6643abdd5f7c7",
        "name": "5de8cf44e63a15dbfc89ac688c8b219a4b98face9ba0230b2f04615c21ac2e11",
        "type": "Hash"}]}, "source": {"id": "jgr5LO0MpgBpl", "name": "Barbecue", "type":
        "Source"}, "id": "_AI5Io"}, {"attributes": {"validated_on": "2020-12-18T05:01:44.437Z",
        "published": "2020-12-18T05:01:44.437Z", "text": "Where are my pants? Atoms
        are used within a program to denote distinguished values. Messages can be
        sent to and received from ports, but these messages must obey the so-called
        \"port protocol.\" Haskell features a type system with type inference and
        lazy evaluation. They are written as strings of consecutive alphanumeric characters,
        the first character being lowercase.", "topic": {"id": "TXSFt0", "name": "Patty",
        "type": "Topic", "description": "Baba Ghanoush"}, "context_entities": [{"id":
        "LScuD", "name": "Maraca pie", "type": "Company"}, {"id": "LPc838", "name":
        "Potato Wed", "type": "AttackVector"}, {"id": "CtkwWu", "name": "Deep Fried
        Oreos", "type": "Technology"}, {"id": "Tt9BLf", "name": "Corned beef", "type":
        "Organization"}, {"id": "CEXAi", "name": "Waffle", "type": "Product"}, {"id":
        "CTYAbt", "name": "Gumbo", "type": "Product"}, {"id": "JFWqep", "name": "Onion
        ring", "type": "Product"}, {"id": "idn:china.islam", "name": "sells.biz",
        "type": "InternetDomainName"}, {"id": "oZ1m7", "name": "Cobb Salad", "type":
        "Country"}], "validation_urls": [{"id": "url:https://animal.museum.post/",
        "name": "https://preferences.travel/", "type": "URL"}, {"id": "url:https://ada.guru/",
        "name": "https://stamps.mobi/", "type": "URL"}], "title": "Atoms can contain
        any character if they are enclosed within single quotes and an escape convention
        exists which allows a", "note_entities": [{"id": "ip:234.150.181.220", "name":
        "43.254.69.171", "type": "IpAddress"}, {"id": "ip:113.12.69.205", "name":
        "84.22.81.36", "type": "IpAddress"}, {"id": "ip:64.208.245.68", "name": "58.68.30.255",
        "type": "IpAddress"}, {"id": "idn:recorders.quebec", "name": "medal.name",
        "type": "InternetDomainName"}, {"id": "ip:213.220.27.251", "name": "216.193.69.22",
        "type": "IpAddress"}, {"id": "ip:242.232.208.194", "name": "5.22.14.56", "type":
        "IpAddress"[...]
