interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/search?limit=5&fields=entity%2CfileHashes%2ChashAlgorithm%2CintelCard%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"hashAlgorithm": "They ar", "timestamps": {"lastSeen":
        "2026-03-28T13:33:29.873Z", "firstSeen": "2026-09-27T09:57:16.816Z"}, "intelCard":
        "https://amended.travel/", "entity": {"id": "hash:3ccd1e03f250ade2f3b0c1e7762f6069c66c8393749bc4e83f259301e64a82c4",
        "name": "Baklava", "type": "Hash"}, "risk": {"criticalityLabel": "I don''t
        e", "riskString": "Port", "rules": 1, "criticality": 3, "riskSummary": "Messages
        can be sent to and received f", "score": 89, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "Any element of a tuple can be accessed in constant
        time.", "rule": "Erlang is known for its ", "criticality": 3, "timestamp":
        "2026-08-16T06:58:07.003Z", "criticalityLabel": "Initially"}]}, "fileHashes":
        ["The Galactic Empire is nearing c", "The sequential subset of Erlang supports
        eager evaluation, singl", "Type classes first appeared in the Haske"]}, {"hashAlgorithm":
        "Do you ", "timestamps": {"lastSeen": "2026-08-07T07:23:07.680Z", "firstSeen":
        "2026-01-31T16:43:25.918Z"}, "intelCard": "https://wolf.education/", "entity":
        {"id": "hash:6ca7444c61f1ad6c9c20280784d0704d283abc9e6c7d15083423c991c012db63",
        "name": "Drunken chicken", "type": "Hash"}, [...]
