interactions:
- request:
    body: '{"vulnerability": ["CVE-2012-4792", "CVE-2011-0611"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/soar/v3/enrichment
  response:
    body:
      string: '{"data": {"results": [{"risk": {"context": {"phishing": {"summary":
        [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule": ""}, "malware":
        {"summary": [], "rule": {"maxCount": 0}, "score": 90.0, "mostCriticalRule":
        ""}, "public": {"summary": [], "rule": {"maxCount": 0}, "score": 99.0, "mostCriticalRule":
        ""}, "c2": {"summary": [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule":
        ""}}, "rule": {"count": 9, "mostCritical": "Fajitas", "maxCount": 25, "evidence":
        {"relatedNote": {"count": 1, "timestamp": "2017-06-17T00:00:00.000Z", "description":
        "Pickled Okra", "rule": "Meatcake", "sightings": 1, "mitigation": "", "level":
        1}, "linkedToCyberExploit": {"count": 18, "timestamp": "2024-08-06T15:20:53.000Z",
        "description": "Sonofabitch stew", "rule": "Kung Pao Chicken", "sightings":
        74, "mitigation": "", "level": 1}, "linkedToRAT": {"count": 3, "timestamp":
        "2025-07-23T14:52:11.594Z", "description": "Macaroni and cheese", "rule":
        "Salisbury steak", "sightings": 17, "mitigation": "", "level": 1}, "analystNote":
        {"count": 1, "timestamp": "2024-07-25T00:00:00.000Z", "description": "Soft
        Shell Crab", "rule": "Burnt ends", "sightings": 2, "mitigation": "", "level":
        1}, "pocVerifiedRemote": {"count": 1, "timestamp": "2013-01-02T00:00:00.000Z",
        "description": "Tuna Pizza", "rule": "Prawn Pizza", "sightings": 2, "mitigation":
        "", "level": 2}, "linkedToIntrusionMethod": {"count": 4, "timestamp": "2024-08-08T17:05:45.819Z",
        "description": "Russian tea cake", "rule": "Black Pudding", "sightings": 16,
        "mitigation": "", "level": 1}, "scannerUptake": {"count": 1, "timestamp":
        "2022-12-21T16:38:22.000Z", "description": "Stroganoff", "rule": "Creamed
        eggs on toast", "sightings": 2, "mitigation": "", "level": 1}, "recentMalwareActivity":
        {"count": 1, "timestamp": "2026-03-02T00:00:00.000Z", "description": "Lasagna",
        "rule": "Hot chicken", "sightings": 8, "mitigation": "", "level": 5}, "nistHigh":
        {"count": 1, "timestamp": "2025-10-22T03:15:35.419Z", "description": "Shepherd''s
        Pie", "rule": "Cowboy beans", "sightings": 1, "mitigation": "", "level": 3}},
        "summary": [{"count": 6.0, "level": 1.0}, {"count": 1.0, "level": 2.0}, {"count":
        1.0, "level": 3.0}, {"count": 1.0, "level": 5.0}]}, "score": 99, "level":
        5.0}, "entity": {"id": "K-1HVG", "name": "Liver and oni", "type": "CyberVulnerability",
        "description": "Smelt"}}, {"risk": {"context": {"phishing": {"summary": [],
        "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule": ""}, "malware":
        {"summary": [], "rule": {"maxCount": 0}, "score": 90.0, "mostCriticalRule":
        ""}, "public": {"summary": [], "rule": {"maxCount": 0}, "score": 99.0, "mostCriticalRule":
        ""}, "c2": {"summary": [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule":
        ""}}, "rule": {"count": 10, "mostCritical": "Shish Kabob", "maxCount": 25,
        "evidence": {"relatedNote": {"count": 1, "timestamp": "2018-07-16T00:00:00.000Z",
        "description": "Potatoes O''Brien", "rule": "Root Beer Float", "sightings":
        2, "mitigation": "", "level": 1}, "linkedToCyberExploit": {"count": 25, "timestamp":
        "2023-07-16T12:49:25.000Z", "description": "Venison", "rule": "Maraca pie",
        "sightings": 63, "mitigation": "", "level": 1}, "linkedToRAT": {"count": 9,
        "timestamp": "2025-10-29T08:04:04.124Z", "description": "Cordon bleu", "rule":
        "French Dip", "sightings": 80, "mitigation": "", "level": 1}, "linkedToExploitKit":
        {"count": 2, "timestamp": "2025-07-23T14:52:11.536Z", "description": "Bull
        roast", "rule": "Poppyseed muffin", "sightings": 3, "mitigation": "", "level":
        1}, "analystNote": {"count": 1, "timestamp": "2016-02-23T00:00:00.000Z", "description":
        "Alice Springs Chicken", "rule": "Lasagna", "sightings": 1, "mitigation":
        "", "level": 1}, "pocVerifiedRemote": {"count": 1, "timestamp": "2011-07-03T00:00:00.000Z",
        "description": "Stroganoff", "rule": "Buffa[...]
