interactions:
- request:
    body: '{"vulnerability": ["CVE-2012-4792"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/soar/v3/enrichment
  response:
    body:
      string: '{"data": {"results": [{"risk": {"context": {"phishing": {"summary":
        [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule": ""}, "malware":
        {"summary": [], "rule": {"maxCount": 0}, "score": 90.0, "mostCriticalRule":
        ""}, "public": {"summary": [], "rule": {"maxCount": 0}, "score": 99.0, "mostCriticalRule":
        ""}, "c2": {"summary": [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule":
        ""}}, "rule": {"count": 9, "mostCritical": "Breaded shrimp", "maxCount": 25,
        "evidence": {"relatedNote": {"count": 1, "timestamp": "2017-06-17T00:00:00.000Z",
        "description": "Tuna Pizza", "rule": "Italian Beef Sandwich", "sightings":
        1, "mitigation": "", "level": 1}, "linkedToCyberExploit": {"count": 18, "timestamp":
        "2024-08-06T15:20:53.000Z", "description": "Apple sauce", "rule": "Sonofabitch
        stew", "sightings": 74, "mitigation": "", "level": 1}, "linkedToRAT": {"count":
        3, "timestamp": "2025-07-23T14:52:11.594Z", "description": "Apple sauce",
        "rule": "Breaded shrimp", "sightings": 17, "mitigation": "", "level": 1},
        "analystNote": {"count": 1, "timestamp": "2024-07-25T00:00:00.000Z", "description":
        "Moules Frites", "rule": "Pork and beans", "sightings": 2, "mitigation": "",
        "level": 1}, "pocVerifiedRemote": {"count": 1, "timestamp": "2013-01-02T00:00:00.000Z",
        "description": "Pork Belly", "rule": "Laksa", "sightings": 2, "mitigation":
        "", "level": 2}, "linkedToIntrusionMethod": {"count": 4, "timestamp": "2024-08-08T17:05:45.819Z",
        "description": "Potato Wedges", "rule": "Haggis", "sightings": 16, "mitigation":
        "", "level": 1}, "scannerUptake": {"count": 1, "timestamp": "2022-12-21T16:38:22.000Z",
        "description": "Chicken Salad Wrap", "rule": "Home fries", "sightings": 2,
        "mitigation": "", "level": 1}, "recentMalwareActivity": {"count": 1, "timestamp":
        "2026-03-02T00:00:00.000Z", "description": "Pasta salad", "rule": "Fried fish",
        "sightings": 8, "mitigation": "", "level": 5}, "nistHigh": {"count": 1, "timestamp":
        "2025-10-22T03:15:35.419Z", "description": "Oreo", "rule": "Maine Lobster",
        "sightings": 1, "mitigation": "", "level": 3}}, "summary": [{"count": 6.0,
        "level": 1.0}, {"count": 1.0, "level": 2.0}, {"count": 1.0, "level": 3.0},
        {"count": 1.0, "level": 5.0}]}, "score": 99, "level": 5.0}, "entity": {"id":
        "K-1HVG", "name": "Polenta", "type": "CyberVulnerability", "description":
        "Chocolate Chip Cookie"}}]}, "counts": {"returned": 1, "total": 1}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
