interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Corn flake", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-02-06T16:43:16.287Z", "owner_id":
        "He looked inquis", "owner_name": "Atoms can contain any c", "organisation_id":
        "The sequential s", "organisation_name": "Haskell is a standardized, genera",
        "owner_organisation_details": {"owner_id": "Ports are create", "owner_name":
        "The Galactic Empire is ", "organisations": [], "enterprise_id": "In 1989
        the buil", "enterprise_name": "Where are my pants?"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Salad bar", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-02-06T16:43:16.287Z", "owner_id":
        "Do you come here", "owner_name": "The Galactic Empire is ", "organisation_id":
        "Initially compos", "organisation_name": "They are written as strings of co",
        "owner_organisation_details": {"owner_id": "Type classes fir", "owner_name":
        "Make me a sandwich.", "organisations": [], "enterprise_id": "In 1989 the
        buil", "enterprise_name": "Where are my pants?"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
