interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/209.74.66.25?fields=intelCard%2Crisk%2CaiInsights%2Clocation%2Ctimestamps%2CanalystNotes%2Clinks%2Centity
  response:
    body:
      string: '{"data": {"aiInsights": {"comment": null, "text": "Atoms are used within
        a program to denote distinguished values. I don''t even care. It is also a
        garbage-collected runtime system. Make me a sandwich. In 1989 the building
        was heavily damaged by fire, but it has since been restored.", "numberOfReferences":
        7}, "timestamps": {"lastSeen": "2025-10-11T18:50:41.795Z", "firstSeen": "2025-02-16T12:06:00.506Z"},
        "risk": {"criticalityLabel": "Maple Baco", "riskString": "Sich", "rules":
        7, "criticality": 2, "riskSummary": "Stroganoff", "score": 47, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Pancakes", "rule": "Spring Rolls",
        "criticality": 1, "timestamp": "2025-10-11T18:49:37.452Z", "criticalityLabel":
        "Texas T"}, {"mitigationString": "", "evidenceString": "Butter cookie", "rule":
        "Turducken", "criticality": 1, "timestamp": "2025-10-20T12:27:31.000Z", "criticalityLabel":
        "Home fr"}, {"mitigationString": "", "evidenceString": "Stuffed ham", "rule":
        "Roasted Bone Marrow", "criticality": 1, "timestamp": "2025-02-17T10:02:20.079Z",
        "criticalityLabel": "Chicken"}, {"mitigationString": "", "evidenceString":
        "Chicken nuggets", "rule": "Chimichanga", "criticality": 1, "timestamp": "2025-10-10T09:37:39.719Z",
        "criticalityLabel": "Frybrea"}, {"mitigationString": "", "evidenceString":
        "Celery Victor", "rule": "Fry sauce", "criticality": 1, "timestamp": "2025-12-10T22:02:45.034Z",
        "criticalityLabel": "Domesti"}, {"mitigationString": "", "evidenceString":
        "Milkshake", "rule": "Butter cookie", "criticality": 2, "timestamp": "2025-11-25T21:03:02.000Z",
        "criticalityLabel": "Tamales"}, {"mitigationString": "", "evidenceString":
        "Currywurst", "rule": "Celery Victor", "criticality": 2, "timestamp": "2025-10-26T15:59:44.000Z",
        "criticalityLabel": "Ice Cream "}]}, "entity": {"id": "ip:152.228.255.139",
        "name": "35.81.38.94", "type": "IpAddress"}, "analystNotes": [{"external_id":
        "Chicag", "attributes": {"published": "2025-10-08T22:22:14.531Z", "text":
        "Ports are created with the built-in function open_port. Messages can be sent
        to and received from ports, but these messages must obey the so-called \"port
        protocol.\" The arguments can be primitive data types or compound data types.
        Haskell f", "authors": [{"id": "mvZiJrOjJEWpGix6", "name": "Poutine", "type":
        "IntegrationUser"}], "title": "Do you come here o", "context_entities": [{"id":
        "iZvmeB9AIMc6ziAR7dMuOrzIA84qEn2", "name": "Cheesecake", "type": "EmailAddress"},
        {"id": "url:https://taxi.mil/", "name": "https://culture.bf/", "type": "URL"},
        {"id": "5BaTR4", "name": "Cobb Sala", "type": "Company"}, {"id": "idn:restaurants.roma",
        "name": "tmp.nyc", "type": "InternetDomainName"}, {"id": "ip:223.96.131.170",
        "name": "184.218.70.201", "type": "IpAddress"}, {"id": "hash:f1e532df3be59c03bec6f629cf45a0e90b515a82d778e9bcb656ae20b06ef5ff",
        "name": "c83b515732e26f402f130b93ce5c350450ef3dff9f5bef44d78faaff2e330ec2",
        "type": "Hash"}]}, "source": {"id": "MwLhZvp2rjUxa", "name": "Prawn Pizza",
        "type": "Source"}, "id": "_AI5Iq"}, {"external_id": "Fajita", "attributes":
        {"published": "2025-10-08T22:20:09.143Z", "text": "Do you come here often?
        The syntax {D1,D2,...,Dn} denotes a tuple whose arguments are D1, D2, ...
        Dn. Do you have any idea why this is not working? Ports are used to communicate
        with the external world. The sequential subset of Erlang sup", "authors":
        [{"id": "5jvsewGEKzzLHEv5", "name": "Creme Brulee", "type": "IntegrationUser"}],
        "title": "The arguments can ", "context_entities": [{"id": "ZcdSIW7IZngAzTEpnJpnklNWNAE4G7r",
        "name": "Grilled Snake", "type": "EmailAddress"}, {"id": "url:https://built.com/",
        "name": "https://aimed.abudhabi/", "type": "URL"}, {"id": "5BaTR4", "name":
        "Barbecue", "type": "Company"}, {"id": "idn:samples.biz", "name": "athens.builders",
        "type": "InternetDomainName"}, {"id": "ip:82.233.10.158", "name": "23.110.232.4",
        "type": "IpAddress"}, {"id": "hash:39ae50e020fb18a4a0de6cec351406a8024bde435032913b34a89d7a0c3b50ac",
        "name": "3de645da5a479485ae00db1f61804de7a2ac69260f18006c2e0b816abb04cf93",
        "type": "Hash"}]}, "source": {"id": "DuS9s8ffcknR7", "name": "Maple bacon
        donut", "type": "Source"}, "id": "_AI5Io"}], "location": {"organization":
        "Spring Rolls", "cidr": {"id": "ip:213.160.183.97", "name": "243.49.216.228",
        "type": "IpAddress"}, "location": {"continent": "Ceviche", "country": "Crab
        Rangoon", "city": null}, "asn": "Carolin"}, "intelCard": "https://personally.biz/",
        "links": {"hits": [], "method_aggregates": [{"count": 0, "type": "hHQyM6"},
        {"count": 0, "type": "hHQyM7"}, {"count": 0, "type": "gTB8y2"}], "counts":
        []}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
