interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=%5B2025-05-01%2C+2025-05-05%5D&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"organisations":
        [{"organisation_id": "Ports are used t", "organisation_name": "They are written
        as strings of co"}], "enterprise_id": "The syntax {D1,D", "enterprise_name":
        "Type classes first appeared in th"}, "rule": {"use_case_deprecation": null,
        "name": "Deviled crab", "id": "mf0rAZ", "url": {"portal": "https://passage.paris/"}},
        "id": "5wXD9F", "title": "Type classes first appeared in the Haskell programming
        language.", "log": {"note_author": null, "note_date": null, "status_date":
        null, "triggered": "2025-05-04T06:06:01.042Z", "status_change_by": null}},
        {"review": {"note": null, "status_in_portal": "New", "assignee": null, "status":
        "no-action"}, "owner_organisation_details": {"organisations": [{"organisation_id":
        "She spent her ea", "organisation_name": "Any element of a tuple can be acc"}],
        "enterprise_id": "Haskell features", "enterprise_name": "Erlang is known for
        its designs t"}, "rule": {"use_case_deprecation": null, "name": "Toaster Strudel",
        "id": "mf0rAa", "url": {"portal": "http[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=%5B2025-05-01%2C+2025-05-05%5D&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50&from=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_detail[...]
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=%5B2025-05-01%2C+2025-05-05%5D&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50&from=200
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"owner_id": "Haskell
        is a sta", "enterprise_id": "Atoms are used w", "owner_name": "Ports are us",
        "organisations": [{"organisation_id": "Make me a sandwi", "organisation_name":
        "Initially composing light-hearted"}], "enterprise_name": "Atoms are used
        within a program t"}, "rule": {"use_case_deprecation": null, "name": "Haggis",
        "id": "uZenVK", "url": {"portal": "https://client.tn/"}}, "id": "5qeH1Z",
        "title": "He looked inquisitively at his keyboard and wrote another sentence.",
        "log": {"note_author": null, "note_date": null, "[...]
