interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/search?limit=1&riskScore=%2880%2C%29&fields=entity%2ChashAlgorithm%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-06-25T05:42:22.978Z",
        "firstSeen": "2026-11-16T08:53:36.195Z"}, "risk": {"criticalityLabel": "Make
        me a", "riskString": "The ", "rules": 1, "criticality": 3, "riskSummary":
        "Its main implementation is the Glasgow", "score": 89, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Type classes first appeared in
        the Haskell programming language.", "rule": "Erlang is known for its ", "criticality":
        3, "timestamp": "2026-11-27T19:36:33.119Z", "criticalityLabel": "I don''t
        e"}]}, "entity": {"id": "hash:0581af83c8262caf814ac3889eb551e4cfaca74e55bab50a5ef839bf96589940",
        "name": "Grits", "type": "Hash"}, "hashAlgorithm": "The arg"}]}, "counts":
        {"returned": 1, "total": 263468}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
