interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/xr8cqL?fields=title%2Clog%2Creview%2Crule%2Cid
  response:
    body:
      string: '{"data": {"review": {"note": "Atoms can contain any character if they
        are enclosed within single quotes and an ", "status_in_portal": "Pending",
        "assignee": "Erlang is known for its designs that are we", "status": "pending"},
        "rule": {"use_case_deprecation": null, "name": "Bao", "id": "mf0rAX", "url":
        {"portal": "https://selecting.com/"}}, "id": "xr8cqL", "title": "She spent
        her earliest years readin", "log": {"note_author": "The Galactic Empire is
        nearing completion of the Death Star, a ", "note_date": "2026-03-16T20:56:17.268Z",
        "status_date": "2026-09-26T18:50:45.955Z", "triggered": "2024-08-12T06:06:24.301Z",
        "status_change_by": "The arguments can be primitive data types or compound
        data type"}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '[{"id": "xr8cqL", "statusInPortal": "Pending", "note": "None. Test note.
      Test note. Test note. Test note. Test note. Test note. Test note. Test note",
      "assignee": "ernest.bartosevic+psdevm@recordedfuture.com"}]'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/v2/alert/update
  response:
    body:
      string: '{"success": [{"id": "xr8cqL", "status": "pending", "statusInPortal":
        "Message", "assignee": "The syntax", "note": {"text": "Do you come here often?
        He looked inquisitively at his keyboard and wrote another sentence. ", "author":
        "Tuples are", "date": "2026-06-26T02:26:44.701Z"}, "statusDate": "2026-12-18T01:24:41.694Z",
        "statusChangeBy": "He looked "}], "error": []}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
