interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/1ct-k8?fields=title%2Clog%2Cai_insights%2Creview%2Curl%2Cenriched_entities%2Chits%2Cowner_organisation_details%2Ctype%2Ctriggered_by%2Crule%2Cid
  response:
    body:
      string: '{"data": {"review": {"note": "Ports are used to communicate with the
        external world.", "status_in_portal": "Pending", "assignee": "Erlang is a
        general-purpose, concurrent, fu", "status": "pending"}, "owner_organisation_details":
        {"organisations": [{"organisation_id": "Do you come here", "organisation_name":
        "Ports are used to communicate wit"}], "enterprise_id": "Atoms are used w",
        "enterprise_name": "In 1989 the building was heavily "}, "url": {"api": "https://residents.mobi/",
        "portal": "https://energy.archi/"}, "rule": {"use_case_deprecation": null,
        "name": "Blue cheese dressing", "id": "mohGF-", "url": {"portal": "https://corp.mobi/"}},
        "id": "1ct-k8", "hits": [{"entities": [{"id": "hash:846632ae11bec954413668c62715272a3da42f7dc57adf99f261d47d6ffa38eb",
        "name": "Goulash", "type": "Hash"}, {"id": "k5dUj", "name": "Tetrazzi", "type":
        "Industry"}, {"id": "tFJr5ptVP7Q", "name": "Clam ", "type": "MitreAttackIdentifier"},
        {"id": "r8JE1T", "name": "Ice Cream Sundae", "type": "AttackVector"}, {"id":
        "JitILV", "name": "Chicken Liver", "type": "AttackVector"}, {"id": "P5F8HN",
        "name": "Cheese ba", "type": "Malware"}, {"id": "tIwXlr", "name": "Prawn Pizza",
        "type": "CyberVulnerability", "description": "Do you have any idea why this
        is not working?"}, {"id": "xTtip", "name": "Hoppin'' John", "type": "AttackVector"},
        {"id": "Qtqet4", "name": "Ratatouille", "type": "Product"}, {"id": "fa3ibjRTxaA",
        "name": "Hokki", "type": "MitreAttackIdentifier"}, {"id": "0019vtIETSm", "name":
        "Sausa", "type": "MitreAttackIdentifier"}, {"id": "6K8fX3tlMSc", "name": "Pan
        S", "type": "MitreAttackIdentifier"}, {"id": "SLhqQsTIrsE", "name": "Hot c",
        "type": "MitreAtt[...]
