interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/search?limit=5&fields=analystNotes%2Centity%2CintelCard%2Clinks%2Clocation%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-05-07T06:40:11.264Z",
        "firstSeen": "2026-02-08T03:16:08.910Z"}, "risk": {"criticalityLabel": "The
        arguments ", "riskString": "Erlan", "rules": 10, "criticality": 4, "riskSummary":
        "In 1989 the building was heavily damage", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "They are written as strings of
        consecutive alphanumeric characters, the first character being lowercase.",
        "rule": "Atoms can contain any charac", "criticality": 1, "timestamp": "2026-08-25T15:39:08.139Z",
        "criticalityLabel": "She spe"}, {"mitigationString": "", "evidenceString":
        "It is also a garbage-collected runtime system.", "rule": "Haskell features
        a type system with typ", "criticality": 1, "timestamp": "2026-07-02T13:54:58.341Z",
        "criticalityLabel": "Ports a"}, {"mitigationString": "", "evidenceString":
        "Atoms can contain any character if they are enclosed within single quotes
        and an escape convention exists which [...]
