interactions:
- request:
    body: '{"limit": 50, "statuses": ["New"], "priority": ["High"], "category": ["identity_novel_exposures",
      "domain_abuse"], "created_range": {"from": "2026-05-22T12:34:00"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/search
  response:
    body:
      string: '{"status": {"status_code": "Re", "status_message": "American fried
        rice"}, "data": [{"playbook_alert_id": "task:83a41030-133f-433c-b16c-8729ca738eb1",
        "rule_id": "Chili ", "alert_rule": {"id": "oT8Yal", "label": "Pulled pork",
        "name": "Peanut butte"}, "status": "New", "priority": "Chic", "created": "2026-06-01T11:37:46.840Z",
        "updated": "2026-06-01T11:46:26.339Z", "category": "domain_abuse", "title":
        "It is al", "owner_id": "Texas Toast", "owner_name": "Ice Cream Sundae", "organisation_id":
        "Chicharones", "organisation_name": "Grits", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Mission burrito", "organisation_name":
        "Sloppy joe"}], "enterprise_id": "Pan Seared Scall", "enterprise_name": "Pocky"},
        "actions_taken": []}, {"playbook_alert_id": "task:597b16c7-d30e-4758-affd-894ea9a427ec",
        "rule_id": "Pepper", "alert_rule": {"id": "oT8Yal", "label": "Roasted Chi",
        "name": "Bagels and L"}, "status": "New", "priority": "Pepp", "created": "2026-06-01T11:17:20.801Z",
        "updated": "2026-06-01T11:17:20.801Z", "category": "domain_abuse", "title":
        "Ports are cr", "owner_id": "Hog fry", "owner_name": "Eggo", "organisation_id":
        "White chocolate ", "organisation_name": "Steamed clam[...]
- request:
    body: '{"limit": 50, "statuses": ["New"], "priority": ["High"], "category": ["identity_novel_exposures",
      "domain_abuse"], "created_range": {"from": "2026-05-22T12:34:00"}, "offset":
      "eyJvZmZzZXQiOlsxNzgwMTQ2MjMyODE4LCJ0YXNrOjRhNzcyMjJiLWY2MjctNDFmZC1hMjMxLTUyMWYyZTg3ZTAwMyJdfQ=="}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/search
  response:
    body:
      string: '{"status": {"status_code": "Es", "status_message": "Ceviche"}, "data":
        [{"playbook_alert_id": "task:4abeb529-36bf-4535-8a0f-e1aa4f786bff", "rule_id":
        "Chick[...]
- request:
    body: '{"limit": 50, "priority": ["High", "Moderate"], "category": ["identity_novel_exposures"],
      "organisation": ["uhash:5zQaSyRpA1"], "created_range": {"from": "2026-05-22T12:34:00"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/search
  response:
    body:
      string: '{"status": {"status_code": "Pa", "status_message": "Spaghetti Bolognese"},
        "data": [{"playbook_alert_id": "task:63865d52-b418-4d68-8456-47974e3bd42c",
        "rule_id": "Pastra", "alert_rule": {"id": "s8LnBp", "label": "Steamed clams",
        "name": "Elote"}, "status": "Dismissed", "priority": "Juba", "reopen": "Biscu",
        "created": "2026-05-31T13:42:45.597Z", "updated": "2026-05-31T13:51:14.318Z",
        "category": "identity_novel_exposures", "title": "He looked inquisitively
        ", "owner_id": "Tres Leches Cake", "owner_name": "Cheese stuffed crust pizza",
        "organisation_id": "Jerky", "organisation_name": "Home fries", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Tuna casserole", "organisation_name":
        "Hoppin'' John"}], "enterprise_id": "Bab[...]
[...]
- request:
    body: '{"limit": 14, "priority": ["High", "Moderate"], "category": ["identity_novel_exposures"],
      "organisation": ["uhash:5zQaSyRpA1"], "created_range": {"from": "2026-05-22T12:34:00"},
      "offset": "eyJvZmZzZXQiOlsxNzc5NDU1NjMxODQ4LCJ0YXNrOmJlYjdhNWQzLTYxNjctNGRhYi05ZWY1LTQyYTQ4NWE5Njk3NyJdfQ=="}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/search
  response:
    body:
      string: '{"status": {"status_code": "Bl", "status_message": "Jalapeno Poppers"},
        "data": [], "counts": {"returned": 0, "total": 86}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
