interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/search?limit=1&fields=entity%2ChashAlgorithm%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-06-29T06:42:08.311Z",
        "firstSeen": "2026-04-23T17:19:17.525Z"}, "risk": {"criticalityLabel": "Make
        me a", "riskString": "Init", "rules": 1, "criticality": 3, "riskSummary":
        "In 1989 the building was heavily damag", "score": 89, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "The Galactic Empire is nearing
        completion of the Death Star, a space station with the power to destroy entire
        planets.", "rule": "Messages can be sent to ", "criticality": 3, "timestamp":
        "2026-09-11T13:12:15.001Z", "criticalityLabel": "She spent"}]}, "entity":
        {"id": "hash:eff41cccbd247112173fa858d9b435555b77d0f77ac84d8c73d170c4200765d3",
        "name": "Pan Seared Scallops", "type": "Hash"}, "hashAlgorithm": "Message"}]},
        "counts": {"returned": 1, "total": 3139076839}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
