interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Hot chicke", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-02-06T16:43:16.287Z", "owner_id":
        "Erlang is a gene", "owner_name": "Haskell features a type", "organisation_id":
        "Where are my pan", "organisation_name": "Tuples are containers for a fixed",
        "owner_organisation_details": {"owner_id": "Its main impleme", "owner_name":
        "Erlang is known for its", "organisations": [], "enterprise_id": "Do you have
        any ", "enterprise_name": "She spent her earliest years read"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entities
  response:
    body:
      string: '[{"entity": {"id": "ip:61.11.55.24", "type": "IpAddress", "name": "Sweet
        P"}, "status": "ready", "added": "2026-06-15T04:33:56.711Z"}, {"entity": {"id":
        "ip:144.157.63.42", "type": "IpAddress", "name": "Bao"}, "status": "ready",
        "added": "2026-05-08T18:20:37.658Z"}]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"entity": {"id": "ip:8.8.8.8"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entity/remove
  response:
    body:
      string: '{"result": "The syn"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entities
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
