interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/alert/rule?freetext=Leaked+Credential+Monitoring&limit=1000
  response:
    body:
      string: '{"data": {"results": [{"intelligence_goals": [{"name": "Osso Buco",
        "id": "report:_intelligence_goal_ig-46"}], "priority": true, "tags": [], "use_case_id":
        "Ports are used to communicate w", "id": "mf0rAa", "owner": {"name": "Roasted
        Bone Marrow", "id": "wR5GeD66MIevxrgH"}, "title": "Any element of a tuple
        can b", "created": "2022-05-06T08:19:38.652Z", "notification_settings": {"email_subscribers":
        [{"name": "Cordon bleu", "id": "uoFVzN2lJR6U7DQo"}], "mobile_subscribers":
        []}, "enabled": true}, {"intelligence_goals": [{"name": "Pan Seared Scall",
        "id": "report:_intelligence_goal_ig-46"}], "priority": false, "tags": [],
        "use_case_id": "He looked inquisitively at his ", "id": "oT8Yaq", "owner":
        {"name": "Onion Rings", "id": "kfDpzraROTvVWNMG"}, "title": "Erlang is a general-purpose,",
        "created": "2022-10-10T15:02:52.891Z", "notification_settings": {"email_subscribers":
        [{"name": "Spaghetti Bolognes", "id": "wSwy7XYb3vK0RCg0"}], "mobile_subs[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/alert/rule?freetext=Brand+Mentions+with+Cyber+entities&limit=996
  response:
    body:
      string: '{"data": {"results": [{"intelligence_goals": [{"name": "Surf and turf",
        "id": "report:_intelligence_goal_ig-45"}], "priority": false, "tags": [],
        "use_case_id": "She spent her earliest years re", "id": "pAHftK", "owner":
        {"name": "Mozzarella Sticks", "id": "IOabN14c7Srnfv8p"}, "title": "Initially
        composing light-hearted ", "created": "2022-11-30T15:49:45.172Z", "notification_settings":
        {"email_subscribers": [], "mobile_subscribers": []}, "enabled": true}]}, "counts":
        {"returned": 1, "total": 1}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&alertRule=mf0rAa&fields=log%2Cid%2Creview%2Cowner_organisation_details%2Ctitle%2Crule&limit=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"organisations":
        [{"organisation_id": "Ports are used t", "organisation_name": "He looked inquisitively
        at his ke"}], "enterprise_id": "Erlang is known ", "enterprise_name": "It
        is also a garbage-collected ru"}, "rule": {"use_case_deprecation": null, "name":
        "Spaghetti Bolognese", "id": "mf0rAa", "url": {"portal": "https://proteins.fit/"}},
        "id": "nHHXTvo", "title": "Initially composing light-hearted and irreve",
        "log": {"note_author": null, "note_date": null, "status_date": null, "triggered":
        "2026-02-15T17:53:36.742Z", "status_change_by": null}}, {"review": {"note":
        null, "status_in_portal": "New", "assignee": null, "status": "no-action"},
        "owner_organisation_details": {"organisations": [{"organisation_id": "Where
        are my pan", "organisation_name": "Erlang is a general-purpose, conc"}], "enterprise_id":
        "Initially compos", "enterprise_name": "Any element of a tuple can be acc"},
        "rule": {"use_case_deprecation": null, "name": "Chicago Hot Dog", "id": "mf0rAa",
        "url": {"portal": "https://tagged.org/"}}, "id": "MDaea89", "title": "Ports
        are used to communicate with the exte", "log": {"note_author": null, "note_date":
        null, "status_date": null, "triggered": "2026-02-15T18:53:47.055Z", "status_change_by":
        null}}], "counts": {"returned": 2, "total": 2}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&alertRule=oT8Yaq&fields=log%2Cid%2Creview%2Cowner_organisation_details%2Ctitle%2Crule&limit=50
  response:
    body:
      string: '{"data": [], "counts": {"returned": 0, "total": 0}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&alertRule=oT8YbE&fields=log%2Cid%2Creview%2Cowner_organisation_details%2Ctitle%2Crule&limit=50
  response:
    body:
      string: '{"data": [], "counts": {"returned": 0, "total": 0}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&alertRule=oT8Ybe&fields=log%2Cid%2Creview%2Cowner_organisation_details%2Ctitle%2Crule&limit=50
  response:
    body:
      string: '{"data": [], "counts": {"returned": 0, "total": 0}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&alertRule=pAHftK&fields=log%2Cid%2Creview%2Cowner_organisation_details%2Ctitle%2Crule&limit=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"organisations":
        [{"organisation_id": "Atoms can contai", "organisation_name": "Its main implementation
        is the Gl"}], "enterprise_id": "Any element of a", "enterprise_name": "Any
        element of a tuple can be acc"}, "rule": {"use_case_deprecation": null, "name":
        "Vegemite on Toast", "id": "pAHftK", "url": {"portal": "https://und.xxx/"}},
        "id": "lCUzLlw", "title": "They are written as strings of consecutive alphanum",
        "log": {"note_author": null, "note_date": null, "status_date": null, "triggered":
        "2026-02-16T04:02:37.524Z", "status_change_by": null}}], "counts": {"returned":
        1, "total": 1}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
