interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:a8b126d8-4c00-4716-acaa-43905d5a19f8
  response:
    body:
      string: '{"status": {"status_code": "Ro", "status_message": "Cheese Curds"},
        "data": {"playbook_alert_id": "task:a8b126d8-4c00-4716-acaa-43905d5a19f8",
        "rule_id": "Hot Ch", "alert_rule": {"id": "w41VFj", "label": "Spring Rolls",
        "name": "Pepperoni"}, "status": "Resolved", "priority": "Mapl", "created":
        "2026-02-10T06:53:03.906Z", "updated": "2026-02-10T18:54:56.953Z", "category":
        "geopolitics_facility", "title": "Tuples are containe", "owner_id": "Thousand
        Island ", "owner_name": "Baked potato", "organisation_id": "French Onion Sou",
        "organisation_name": "Pasta salad", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Maple Bacon Doug", "organisation_name": "Suckling Pig"}],
        "enterprise_id": "Bookbinder Soup", "enterprise_name": "Cheese stuffed crust
        pizza"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/geopolitics_facility/task:a8b126d8-4c00-4716-acaa-43905d5a19f8
  response:
    body:
      string: '{"status": {"status_code": "Tr", "status_message": "Fried Catfish"},
        "data": {"playbook_alert_id": "task:a8b126d8-4c00-4716-acaa-43905d5a19f8",
        "panel_status": {"status": "Resolved", "priority": "Texa", "created": "2026-02-10T06:53:03.906Z",
        "updated": "2026-02-10T18:54:56.953Z", "case_rule_id": "Chicken Tikka", "case_rule_label":
        "Geopolitics Facility", "alert_rule": {"id": "w41VFj", "label": "Parma Ham",
        "name": "Chinese food"}, "owner_id": "Cheesecake", "owner_name": "Chicken
        sandwich", "organisation_id": "Tin Roof Ice Cre", "organisation_name": "Shish
        Kabob", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Liver and onions", "organisation_name": "Russian tea cake"}], "enterprise_id":
        "New York-Style P", "enterprise_name": "Chicken and waffles"}, "entity_id":
        "Chick", "entity_name": "Tagine", "targets": [{"name": "Tetrazzini"}], "actions_taken":
        []}, "panel_evidence_summary": {"assessments": [{"name": "Potato skins", "criticality":
        "Rice and"}, {"name": "Geoduck", "criticality": "New "}], "events": [{"text":
        "Ports are used to communicate with the external world. The sequential subset
        of Erlang supports eager evaluation, single assignment, and dynamic typing.
        Do you have any idea why this is not working? The sequential subset of Erlang
        supports eager evaluation, single assignment, and ", "source": "Goulash",
        "url": "https://throat.berlin/", "assessments": [{"name": "Bull roast", "criticality":
        "Porterho"}], "document_id": "Steamed", "time": "2026-02-10T06:29:05.000Z",
        "images": ["City chicken"]}, {"text": "Ports are created with the built-in
        function open_port. Its main implementation is the Glasgow Haskell Compiler.
        Erlang is known for its designs that are well suited for systems. Its main
        implementation is the Glasgow Haskell Compiler. Its main implementation is
        the Glasgow Haskell Compiler.", "source": "Bulgogi", "url": "https://directed.jobs/",
        "assessments": [{"name": "Grits", "criticality": "Potato s"}], "document_id":
   [...]
