interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/search?limit=5&fields=analystNotes%2Centity%2CintelCard%2Clinks%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"analystNotes": [{"external_id": "Do you", "attributes":
        {"published": "2026-09-15T13:21:46.809Z", "text": "They are written as strings
        of consecutive alphanumeric characters, the first character being lowercase.
        Do you come here often? Its main implementation is the Glasgow Haskell Compiler.
        In 1989 the building was heavily damaged by fire, but ", "authors": [{"id":
        "x6iRuZ5LPor7aB8y", "name": "Toaster Strudel", "type": "IntegrationUser"}],
        "title": "Haskell features a", "context_entities": [{"id": "L1F3mIzPfs9OYiJ5I7n56DIcWlyUhVe",
        "name": "Stuffed ham", "type": "EmailAddress"}, {"id": "url:https://personnel.dubai/",
        "name": "Apple sauce", "type": "URL"}, {"id": "5BaTR4", "name": "Maine Lob",
        "type": "Company"}, {"id": "idn:centered.moscow", "name": "Meatloaf", "type":
        "InternetDomainName"}, {"id": "ip:55.119.48.90", "name": "Salisbury st", "type":
        "IpAddress"}, {"id": "hash:e422b258ac750f04052c469131876a3c52bf26b8908568946324c309a5dd9b9b",
        "name": "Chicken nuggets", "type": "Hash"}]}, "source": {"id": "ZDI2OhZfwctkE",
        "name": "Grilled Snake", "type": "Source"}, "id": "_AI5Iq"}, {"external_id":
        "Ports ", "attributes": {"published": "2026-02-08T14:28:12.971Z", "text":
        "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments are D1, D2, ...
        Dn. Where are my pants? The syntax {D1,D2,...,Dn} denotes a tuple whose arguments
        are D1, D2, ... Dn. She spent her earliest years reading classic literature,
        and w", "authors": [{"id": "PUsD633EZknzCF2N", "name": "Juba", "type": "IntegrationUser"}],
        "title": "Type classes first", "context_entities": [{"id": "vH9rpZEbOMxkrGBMQYWx4BI3PW4AosZ",
        "name": "Brunswick stew", "type": "EmailAddress"}, {"id": "url:https://terminal.je/",
        "name": "Swiss steak", "type": "URL"}, {"id": "5BaTR4", "name": "Montreal
        ", "type": "Company"}, {"id": "idn:past.ph", "name": "Fattoush Salad", "type":
        "InternetDomainName"}, {"id": "ip:40.22.233.167", "name": "Creamed eggs",
        "type": "IpAddress"}, {"id": "hash:5668596ef8b1eea8d61a149d793b6835a40926bc6627bbf9a104657f7216d137",
        "name": "Grits", "type": "Hash"}]}, "source": {"id": "GQ7zlwg74iIBv", "name":
        "Crepes", "type": "Source"}, "id": "_AI5Io"}, {"attributes": {"validated_on":
        "2026-07-16T13:39:37.460Z", "published": "2026-06-15T06:36:47.809Z", "text":
        "Haskell features a type system with type inference and lazy evaluation. Atoms
        are used within a program to denote distinguished values. They are written
        as strings of consecutive alphanumeric characters, the first character being
        lowercase. She spent her earliest years reading classic literature, and writing
        poetry. Any element of a tuple can be accessed in constant time.", "attachment":
        "Where are my pants?", "topic": {"id": "aDKkpk", "name": "Cobb Salad", "type":
        "Topic", "description": "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments
        are D1, D2, ... Dn."}, "context_entities": [{"id": "f2zQA", "name": "Prawn
        Pizz", "type": "Technology"}, {"id": "I50Cdv", "name": "Spaghetti and Meatballs",
        "type": "Technology"}, {"id": "ExIrb7", "name": "Brus", "type": "Product"},
        {"id": "JQJ0Eu", "name": "Bellini", "type": "Technology"}, {"id": "b4oYYp",
        "name": "Bi Bim Bap", "type": "Product"}, {"id": "vyAx2", "name": "Mini pizzas",
        "t[...]
