interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/search?limit=5&fields=analystNotes%2CenterpriseLists%2Centity%2CintelCard%2Clinks%2Crisk%2CriskMapping%2Csightings%2CthreatLists%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"analystNotes": [{"external_id": "The Ga", "attributes":
        {"published": "2026-06-30T20:35:13.769Z", "text": "Do you come here often?
        The sequential subset of Erlang supports eager evaluation, single assignment,
        and dynamic typing. She spent her earliest years reading classic literature,
        and writing poetry. Make me a sandwich. Make me a sandwich.", "authors": [{"id":
        "rp6Tzl9yveKeIxxO", "name": "Chicken Liver Pate", "type": "IntegrationUser"}],
        "title": "Its main implement", "context_entities": [{"id": "bPTDC2iMDs0AtpCoiyoP8QADo32PZwX",
        "name": "Creme Brulee", "type": "EmailAddress"}, {"id": "url:https://jason.joburg/",
        "name": "BBQ Ribs", "type": "URL"}, {"id": "5BaTR4", "name": "Creme Bru",
        "type": "Company"}, {"id": "idn:meaningful.africa", "name": "Chicken Alfredo",
        "type": "InternetDomainName"}, {"id": "ip:134.67.231.179", "name": "Naan",
        "type": "IpAddress"}, {"id": "hash:5d977bd8fe7dfe07654ecfe2bee228dd3df5d5d4d893f1434911875c7bae7cd0",
        "name": "Stroganoff", "type": "Hash"}]}, "source": {"id": "jKqhxXlsMAjWa",
        "name": "Stroganoff", "type": "Source"}, "id": "_AI5Iq"}, {"external_id":
        "Erlang", "attributes": {"published": "2026-10-07T06:33:20.497Z", "text":
        "Atoms are used within a program to denote distinguished values. The sequential
        subset of Erlang supports eager evaluation, single assignment, and dynamic
        typing. The arguments can be primitive data types or compound data types.
        Do you com", "authors": [{"id": "CF5TJQMRYOuN4PpN", "name": "Turducken", "type":
        "IntegrationUser"}], "title": "Tuples are contain", "context_entities": [{"id":
        "YXY4t2SQfuBwfu6oEyFqFw1FRhxJYK1", "name": "Buffalo burger", "type": "EmailAddress"},
        {"id": "url:https://bound.cal/", "name": "Stuffed peppers", "type": "URL"},
        {"id": "5BaTR4", "name": "Boulliaba", "type": "Company"}, {"id": "idn:summer.rio",
        "name": "Steak sandwich", "type": "InternetDomainName"}, {"id": "ip:69.13.177.86",
        "name": "Shawarma", "type": "IpAddress"}, {"id": "hash:8e70fac70d2cb7119bf0bab6b6e8b89b69d8db9dfcf6f46e1d19e3d6951f2d79",
        "name": "BBQ Ribs", "type": "Hash"}]}, "source": {"id": "YLrqVz63IUY7s", "name":
        "Lorna Doone", "type": "Source"}, "id": "_AI5Io"}, {"attributes": {"validated_on":
        "2026-12-08T01:18:00.526Z", "published": "2026-08-26T02:39:02.835Z", "text":
        "Initially composing light-hearted and irreverent works, he also wrote serious,
        sombre and religious pieces beginning in the 1930s. Where are my pants? Any
        element of a tuple can be accessed in constant time. He looked inquisitively
        at his keyboard and wrote another sentence. Do you have any idea why this
        is not working?", "topic": {"id": "TXSFt0", "name": "Deviled egg", "type":
        "Topic", "description": "Haskell is a standardized, general-purpose purely
        functional programming language, wit"}, "context_entities": [{"id": "LB53t",
        "name": "Toaster St", "type": "Company"}, {"id": "LPc838", "name": "Deviled
        eg", "type": "AttackVector"}, {"id": "CtkwWu", "name": "Creamed eggs on toast",
        "type": "Technology"}, {"id": "Tt9BLf", "name": "Goulash", "type": "Organization"},
        {"id": "F2qqz", "name": "Potato Wedges", "type": "Product"}, {"id": "CTYAbt",
        "name": "Hot chicken", "type": "Product"}, {"id": "JFWqep", "name": "Tres
        Leches Cake", "type": "Product"}, {"id": "idn:both.hk", "name": "Buffalo Wings",
        "type": "InternetDomainName"}, {"id": "Cp5bK", "name": "Pastrami", "type":
        "Country"}], "validation_urls": [{"id": "url:https://sudden.com/", "name":
        "Apple butter", "type": "URL"}, {"id": "url:https://projectors.org/", "name":
        "Pemmican", "type": "URL"}], "title": "Its main implementation is the Glasgow
        Haskell Compiler.", "note_entities": [{"id": "ip:64.76.38.214", "name": "Smelt",
        "type": "IpAddress"}, {"id": "ip:116.21.148.134", "name": "Onion ring", "type":
        "IpAddress"}, {"id": "ip:120.90.183.95", "name": "Smelt", "type": "IpAddress"},
        {"id": "idn:collectibles.dubai", "name": "Juba", "type": "InternetDomainName"},
        {"id": "ip:56.41.117.161", "name": "Bao", "type": "IpAddress"}, {"id": "ip:72.41.154.223",
        "name": "Pigs in blan", "type": "IpAddress"}, {"id": "ip:213.88.149.74", "name":
   [...]
