interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/45.134.26.41?fields=intelCard%2Crisk%2Clocation%2Ctimestamps%2CanalystNotes%2Clinks%2Centity
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2025-12-15T23:39:10.064Z", "firstSeen":
        "2021-05-15T12:36:45.484Z"}, "risk": {"criticalityLabel": "Jambalaya", "riskString":
        "Carne", "rules": 17, "criticality": 2, "riskSummary": "New York-Style Pizza",
        "score": 43, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Protein bar", "rule": "Slinger", "criticality": 1, "timestamp": "2021-07-27T22:15:01.000Z",
        "criticalityLabel": "Pigs in"}, {"mitigationString": "", "evidenceString":
        "Chicago Hot Dog", "rule": "Sichuan Hot Pot", "criticality": 1, "timestamp":
        "2025-06-06T10:41:12.940Z", "criticalityLabel": "Bulgogi"}, {"mitigationString":
        "", "evidenceString": "Sour cream", "rule": "Dirty rice", "criticality": 1,
        "timestamp": "2025-12-23T08:55:01.625Z", "criticalityLabel": "Hangtow"}, {"mitigationString":
        "", "evidenceString"[...]
