interactions:
- request:
    body: '{"domain": ["overafazg.org"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/soar/v3/enrichment
  response:
    body:
      string: '{"data": {"results": [{"risk": {"context": {"phishing": {"summary":
        [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule": ""}, "malware":
        {"summary": [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule":
        ""}, "public": {"summary": [], "rule": {"maxCount": 0}, "score": 24.0, "mostCriticalRule":
        ""}, "c2": {"summary": [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule":
        ""}}, "rule": {"count": 5, "mostCritical": "Greek salad", "maxCount": 52,
        "evidence": {"malwareSiteDetected": {"count": 2, "timestamp": "2021-01-27T00:00:00.000Z",
        "description": "Coleslaw", "rule": "Hawaiian haystack", "sightings": 15, "mitigation":
        "", "level": 1}, "phishingSiteSuspected": {"count": 1, "timestamp": "2025-06-02T04:06:11.235Z",
        "description": "Key Lime Pie", "rule": "Steak sandwich", "sightings": 19,
        "mitigation": "", "level": 1}, "historicalThreatListMembership": {"count":
        2, "timestamp": "2023-03-08T18:19:54.441Z", "description": "Deviled egg",
        "rule": "Pork and beans", "sightings": -1, "mitigation": "", "level": 1},
        "malwareSiteSuspected": {"count": 1, "timestamp": "2021-01-27T00:00:00.000Z",
        "description": "Pasta salad", "rule": "Salad bar", "sightings": 1, "mitigation":
        "", "level": 1}, "defanged": {"count": 1, "timestamp": "2022-12-16T20:10:23.000Z",
        "description": "Shish Kabob", "rule": "Creamed eggs on toast", "sightings":
        1, "mitigation": "", "level": 1}}, "summary": [{"count": 5.0, "level": 1.0}]},
        "score": 24, "level": 1.0}, "entity": {"id": "idn:composite.xxx", "name":
        "request.wien", "type": "InternetDomainName"}}]}, "counts": {"returned": 1,
        "total": 1}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
