interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/CVE-2012-4792?fields=entity%2ClifecycleStage%2Ctimestamps%2Crisk
  response:
    body:
      string: '{"data": {"lifecycleStage": "Fattoush ", "timestamps": {"lastSeen":
        "2026-02-14T10:45:07.208Z", "firstSeen": "2013-05-24T10:15:09.395Z"}, "risk":
        {"criticalityLabel": "Spanish rice", "riskString": "Frenc", "rules": 10, "criticality":
        5, "riskSummary": "Corned beef", "score": 99, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "Shish Kabob", "rule": "Beef Manhattan", "criticality":
        1, "timestamp": "2025-07-23T14:52:11.594Z", "criticalityLabel": "Suc"}, {"mitigationString":
        "", "evidenceString": "Pizza strips", "rule": "St. Paul Sandwich", "criticality":
        1, "timestamp": "2024-07-27T11:13:43.000Z", "criticalityLabel": "Toa"}, {"mitigationString":
        "", "evidenceString": "Jerky", "rule": "Bangers and mash", "criticality":
        1, "timestamp": "2024-08-06T15:20:53.000Z", "criticalityLabel": "Coq"}, {"mitigationString":
        "", "evidenceString": "Pemmican", "rule"[...]
