interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/209.74.66.25?fields=timestamps%2CaiInsights%2Centity%2Crisk
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-07-22T12:08:38.896Z", "firstSeen":
        "2026-06-05T00:11:56.451Z"}, "risk": {"criticalityLabel": "She spent ", "riskString":
        "Its ", "rules": 7, "criticality": 2, "riskSummary": "It is also a garbage-collected
        runtime", "score": 47, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Do you come here often?", "rule": "Ports are created with the built-in fun",
        "criticality": 1, "timestamp": "2026-05-28T02:30:31.903Z", "criticalityLabel":
        "Where a"}, {"mitigationString": "", "evidenceString": "Erlang is known for
        its designs that are well suited for systems.", "rule": "Ports are created
        with the buil", "criticality": 1, "timestamp": "2026-01-10T05:58:55.122Z",
        "criticalityLabel": "Any ele"}, {"mitigationString": "", "evidenceString":
        "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments are D1, D2, ...
        Dn.", "rule": "Ports are us[...]
