interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/fa54c4e34732b611921820be56dd690a4de98285828e4be487b904679a855a92?fields=entity%2Ctimestamps%2Crisk%2ChashAlgorithm
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2025-01-02T18:50:02.882Z", "firstSeen":
        "2019-02-13T12:41:06.966Z"}, "risk": {"criticalityLabel": "Gyoza", "riskString":
        "Gumb", "rules": 2, "criticality": 3, "riskSummary": "Garden salad", "score":
        80, "evidenceDetails": [{"mitigationString": "", "evidenceString": "Elote",
        "rule": "Venison", "criticality": 2, "timestamp": "2025-12-14T04:19:59.157Z",
        "criticalityLabel": "Onion ring"}, {"mitigationString": "", "evidenceString":
        "Veggie Pizza", "rule": "Energy bar", "criticality": 3, "timestamp": "2019-02-13T12:28:42.000Z",
        "criticalityLabel": "Cowboy be"}]}, "entity": {"id": "hash:8fe33a5db2ef2f7d2b53f22e04bbfca3df44b9926d7718302f53975ad1ce45f8",
        "name": "4ffdfe2962003d503faf8904da64c5149225df3ced29f24c812a184dd98bd5c2",
        "type": "Hash"}, "hashAlgorithm": "SHA-256"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
