interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/search?limit=6&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-01-14T17:53:25.601Z",
        "firstSeen": "2026-02-20T11:11:00.081Z"}, "risk": {"criticalityLabel": "Haskell
        featur", "riskString": "It i", "rules": 7, "criticality": 4, "riskSummary":
        "In 1989 the building was heavily damag", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Any element of a tuple can be
        accessed in constant time.", "rule": "Tuples are containers for a fixed numbe",
        "criticality": 1, "timestamp": "2026-08-09T16:42:16.891Z", "criticalityLabel":
        "Do you "}, {"mitigationString": "", "evidenceString": "The Galactic Empire
        is nearing completion of the Death Star, a space station with the power to
        destroy entire planets.", "rule": "Where are my pants?", "criticality": 1,
        "timestamp": "2026-10-06T07:49:36.272Z", "criticalityLabel": "It is a"}, {"mitigationString":
        "", "evidenceString": "Make me a sandwich.", "rule": "Any element of a tuple
        can be[...]
