interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:c89f8024-0462-4a50-88a9-f7e86056d485
  response:
    body:
      string: '{"status": {"status_code": "Sc", "status_message": "Mango and Sticky
        Rice"}, "data": {"playbook_alert_id": "task:c89f8024-0462-4a50-88a9-f7e86056d485",
        "rule_id": "Apple ", "alert_rule": {"id": "sLn1j4", "label": "Deviled crab",
        "name": "Soft Shell Crab"}, "status": "Resolved", "priority": "Brunswic",
        "created": "2023-09-12T19:16:32.115Z", "updated": "2026-02-13T10:11:06.842Z",
        "category": "third_party_risk", "title": "Erlan", "assignee_name": "Waffle",
        "assignee_id": "Texas Toast", "owner_id": "Pickled Okra", "owner_name": "Churrasco",
        "organisation_id": "Pepperoni Pizza", "organisation_name": "Corn relish",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Hot
        Chicken sand", "organisation_name": "Fortune cookie"}], "enterprise_id": "Fish
        Tacos", "enterprise_name": "Reuben"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/third_party_risk/task:c89f8024-0462-4a50-88a9-f7e86056d485
  response:
    body:
      string: '{"status": {"status_code": "Mi", "status_message": "Bread"}, "data":
        {"playbook_alert_id": "task:c89f8024-0462-4a50-88a9-f7e86056d485", "panel_status":
        {"status": "Resolved", "priority": "Hawaiian", "assignee_name": "BBQ Chicken
        Pizza", "assignee_id": "Bangers and mash", "created": "2023-09-12T19:16:32.115Z",
        "updated": "2026-02-13T10:11:06.842Z", "case_rule_id": "BBQ Chicken P", "case_rule_label":
        "Third Party Risk", "alert_rule": {"id": "sLn1j4", "label": "Bagels and Lox",
        "name": "Tetrazzini"}, "owner_id": "Chile Relleno", "owner_name": "Naan",
        "organisation_id": "Milk toast", "organisation_name": "Energy bar", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Huevos Rancheros", "organisation_name":
        "Poutine"}], "enterprise_id": "Butter cookie", "enterprise_name": "French
        Onion Soup"}, "entity_id": "Swiss", "entity_name": "Chees", "entity_criticality":
        "Chili ", "risk_score": 64, "targets": [], "actions_taken": [], "tags": []},
        "panel_evidence_summary": {"assessments": []}, "panel_log": [{"id": "XWnwTF50rPu9eGF4cgY9aclze1yRWXztPWliDo0XM",
        "created": "2023-09-12T19:16:32.129Z", "modified": "Gyoza", "action_priority":
        "Cavi", "context": {"type": "third_party_risk", "changes": [{"risk_attribute":
        "Salted caramel cookie", "assessment_name": "Spanish rice", "added": {"level":
        3, "evidence_string": "Breakfast burrito", "added": "2023-09-12T19:15:25.731Z",
        "removed": "2023-09-12T19:23:43.874Z"}, "type": "tpr_assessment_change"}]}},
        {"id": "YBW6UQ3d1L3ljhk6ymKoOoVaMCxCq6lS6lXmNVEYj", "created": "2023-09-13T08:53:05.932Z",
        "modified": "Coq Au Vin", "action_priority": "Chic", "context": {"type": "third_party_risk",
        "changes": [{"risk_attribute": "Charleston red rice", "assessment_name": "Shepherd''s
        P", "removed": {"level": 3, "evidence_string": "Chicago Hot Dog", "added":
        "2023-09-13T08:34:25.737Z", "removed": "2023-09-[...]
