interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/search?limit=5&fields=entity%2CintelCard%2ClifecycleStage%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-10-02T21:33:55.145Z",
        "firstSeen": "2026-04-10T16:12:35.978Z"}, "risk": {"criticalityLabel": "The
        syntax {D", "riskString": "She s", "rules": 10, "criticality": 5, "riskSummary":
        "It is also a garbage-collected runtime ", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Its main implementation is the
        Glasgow Haskell Compiler.", "rule": "The arguments can be primitive data types
        o", "criticality": 1, "timestamp": "2026-03-13T14:24:11.126Z", "criticalityLabel":
        "The"}, {"mitigationString": "", "evidenceString": "Ports are created with
        the built-in function open_port.", "rule": "It is also a garbage-collected
        ru", "criticality": 1, "timestamp": "2026-05-24T19:51:57.313Z", "criticalityLabel":
        "He "}, {"mitigationString": "", "evidenceString": "Any element of a tuple
        can be accessed in constant time.", "rule": "In 1989 the building was heavily
        d", "criticality[...]
