interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/45.134.26.41?fields=riskMapping%2CintelCard%2Crisk%2Csightings%2Clocation%2Ctimestamps%2CthreatLists%2CanalystNotes%2Clinks%2CenterpriseLists%2Centity
  response:
    body:
      string: '{"data": {"enterpriseLists": [], "risk": {"criticalityLabel": "Tuna
        Pizza", "riskString": "Ribs", "rules": 17, "criticality": 2, "riskSummary":
        "Shawarma", "score": 43, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Pickled Okra", "rule": "Sandwich", "criticality": 1, "timestamp": "2021-07-27T22:15:01.000Z",
        "criticalityLabel": "Fajita"}, {"mitigationString": "", "evidenceString":
        "Bear claw", "rule": "Bread", "criticality": 1, "timestamp": "2025-06-06T10:41:12.940Z",
        "criticalityLabel": "Supreme"}, {"mitigationString": "", "evidenceString":
        "Roasted Bone Marrow", "rule": "Stroganoff", "criticality": 1, "timestamp":
        "2025-12-23T08:55:01.625Z", "criticalityLabel": "Turkish"}, {"mitigationString":
        "", "evidenceString": "Chick[...]
