interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:a8b126d8-4c00-4716-acaa-43905d5a19f8
  response:
    body:
      string: '{"status": {"status_code": "Ch", "status_message": "Potato Wedges"},
        "data": {"playbook_alert_id": "task:a8b126d8-4c00-4716-acaa-43905d5a19f8",
        "rule_id": "Pancak", "alert_rule": {"id": "w41VFj", "label": "Chicken bog",
        "name": "City chicken"}, "status": "Resolved", "priority": "Hog ", "created":
        "2026-02-10T06:53:03.906Z", "updated": "2026-02-10T18:54:56.953Z", "category":
        "geopolitics_facility", "title": "The arguments can b", "owner_id": "Corn
        chowder", "owner_name": "Tomato compote", "organisation_id": "Corn relish",
        "organisation_name": "BBQ Ribs", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Deep Fried Oreos", "organisation_name": "Pepperoni Pizza"}],
        "enterprise_id": "Sichuan Hot Pot", "enterprise_name": "Ceviche"}, "actions_taken":
        []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/geopolitics_facility/task:a8b126d8-4c00-4716-acaa-43905d5a19f8
  response:
    body:
      string: '{"status": {"status_code": "Ve", "status_message": "Barbecue"}, "data":
        {"playbook_alert_id": "task:a8b126d8-4c00-4716-acaa-43905d5a19f8", "panel_status":
        {"status": "Resolved", "priority": "Chic", "created": "2026-02-10T06:53:03.906Z",
        "updated": "2026-02-10T18:54:56.953Z", "case_rule_id": "Cinnamon Roll", "case_rule_label":
        "Geopolitics Facility", "alert_rule": {"id": "w41VFj", "label": "Shawarma",
        "name": "Baba Ghanoush"}, "owner_id": "Pop-Tarts", "owner_name": "Home fries",
        "organisation_id": "Lobster roll", "organisation_name": "Garlic bread", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Supreme pizza", "organisation_name":
        "American fried rice"}], "enterprise_id": "Queso Fresco", "enterprise_name":
        "Grits"}, "entity_id": "Margh", "entity_name": "Italian Beef Sandwi", "targets":
        [{"name": "Chicago Deep Dish P"}], "actions_taken": []}, "panel_evidence_summary":
        {"assessments": [{"name": "Salisbury steak", "criticality": "Pepperon"}, {"name":
        "Chicken finger", "criticality": "Soft"}], "events": [{"text": "Atoms can
        contain any character if they are enclosed within single quotes and an escape
        convention exists which allows any character to be used within an atom. It
        is also a garbage-collected runtime system. It is also a garbage-collected
        runtime system. Messages can be sent to and", "source": "Chicken Biryani",
        "url": "https://levels.osaka/", "assessments": [{"name": "Coleslaw", "criticality":
        "City chi"}], "document_id": "Fried c", "time": "2026-02-10T06:29:05.000Z",
        "images": ["Mashed potato"]}, {"text": "Erlang is known for its designs that
        are well suited for systems. It is also a garbage-collected runtime system.
        Do you have any idea why this is not working? Erlang is known for its designs
        that are well suited for systems. Any element of a tuple can be accessed in
        constant time.", "source": "Salisbury steak", "url": "https://editions.osaka/",
        "assessments": [{"name": "Beignets", "criticality": "Clam cho"}], "document_id":
 [...]
