interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:c89f8024-0462-4a50-88a9-f7e86056d485
  response:
    body:
      string: '{"status": {"status_code": "Sp", "status_message": "Mission burrito"},
        "data": {"playbook_alert_id": "task:c89f8024-0462-4a50-88a9-f7e86056d485",
        "rule_id": "Texas ", "alert_rule": {"id": "sLn1j4", "label": "Chicken Divan",
        "name": "Beef Manhattan"}, "status": "Resolved", "priority": "Hoppin'' ",
        "created": "2023-09-12T19:16:32.115Z", "updated": "2026-02-13T10:11:06.842Z",
        "category": "third_party_risk", "title": "I don", "assignee_name": "Corn flakes",
        "assignee_id": "Montreal Smoked ", "owner_id": "Maine Lobster", "owner_name":
        "Garlic bread", "organisation_id": "Chicharones", "organisation_name": "Pork
        Belly", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Haystack", "organisation_name": "Naan"}], "enterprise_id": "Sloppy joe",
        "enterprise_name": "Sauteed Morel Mushrooms"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/third_party_risk/task:c89f8024-0462-4a50-88a9-f7e86056d485
  response:
    body:
      string: '{"status": {"status_code": "Su", "status_message": "Scrapple"}, "data":
        {"playbook_alert_id": "task:c89f8024-0462-4a50-88a9-f7e86056d485", "panel_status":
        {"status": "Resolved", "priority": "Maine Lo", "assignee_name": "Cinnamon
        Roll", "assignee_id": "Bacon Cheeseburg", "created": "2023-09-12T19:16:32.115Z",
        "updated": "2026-02-13T10:11:06.842Z", "case_rule_id": "Senate bean s", "case_rule_label":
        "Third Party Risk", "alert_rule": {"id": "sLn1j4", "label": "Salad bar", "name":
        "Flan"}, "owner_id": "Montreal Smoked ", "owner_name": "Toaster Strudel",
        "organisation_id": "Pumpkin pie", "organisation_name": "Sour cream", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Abalone", "organisation_name": "Tres
        Leches Cake"}], "enterprise_id": "Chinese food", "enterprise_name": "London
        broil"}, "entity_id": "Goula", "entity_name": "Alice", "entity_criticality":
        "Bull r", "risk_score": 64, "targets": [], "actions_taken": [], "tags": []},
        "panel_evidence_summary": {"assessments": []}, "panel_log": [{"id": "KwQyZBn0ozPHRElqZsb9s010oFH2rUP0s7MHwODcS",
        "created": "2023-09-12T19:16:32.129Z", "modified": "Soft Shell Crab", "action_priority":
        "Gril", "context": {"type": "third_party_risk", "changes": [{"risk_attribute":
        "Hangtown fry", "assessment_name": "Samosa", "added": {"level": 3, "evidence_string":
        "Smelt", "added": "2023-09-12T19:15:25.731Z", "removed": "2023-09-12T19:23:43.874Z"},
        "type": "tpr_assessment_change"}]}}, {"id": "fIiMKYQKyWqveN1sfFOfOlGzutylT3bYde6ZVSOSB",
        "created": "2023-09-13T08:53:05.932Z", "modified": "Tetrazzini", "action_priority":
        "Fala", "context": {"type": "third_party_risk", "changes": [{"risk_attribute":
        "Bookbinder Soup", "assessment_name": "Vegemite on ", "removed": {"level":
        3, "evidence_string": "Bookbinder Soup", "added": "2023-09-13T08:34:25.737Z",
        "removed": "2023-[...]
