interactions:
- request:
    body: '{"name": "meow", "type": "entity"}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/create
  response:
    body:
      string: '{"id": "report:BERgaN8", "name": "Book", "type": "entity", "created":
        "2026-02-13T10:09:55.914Z", "updated": "2026-02-13T10:09:55.914Z", "owner_id":
        "Initially compos", "owner_name": "Haskell is a standardiz", "organisation_id":
        "It is also a gar", "organisation_name": "Where are my pants?", "owner_organisation_details":
        {"owner_id": "The syntax {D1,D", "owner_name": "Erlang is a general-pur",
        "organisations": [], "enterprise_id": "Initially compos", "enterprise_name":
        "Erlang is known for its designs t"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
