interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:c89f8024-0462-4a50-88a9-f7e86056d485
  response:
    body:
      string: '{"status": {"status_code": "Ra", "status_message": "Pigs in blankets"},
        "data": {"playbook_alert_id": "task:c89f8024-0462-4a50-88a9-f7e86056d485",
        "rule_id": "Liver ", "alert_rule": {"id": "sLn1j4", "label": "Hangtown fry",
        "name": "Chicago Deep Dish Pizza"}, "status": "Resolved", "priority": "Ice
        crea", "created": "2023-09-12T19:16:32.115Z", "updated": "2026-02-13T10:11:06.842Z",
        "category": "third_party_risk", "title": "The a", "assignee_name": "Pocky",
        "assignee_id": "Steak Tartare", "owner_id": "Pork and beans", "owner_name":
        "Oysters Rockefeller", "organisation_id": "Deviled crab", "organisation_name":
        "Garlic bread", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Massaman Curry", "organisation_name": "Breaded shrimp"}], "enterprise_id":
        "Milk Steak", "enterprise_name": "Baked potato"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/third_party_risk/task:c89f8024-0462-4a50-88a9-f7e86056d485
  response:
    body:
      string: '{"status": {"status_code": "Po", "status_message": "Supreme pizza"},
        "data": {"playbook_alert_id": "task:c89f8024-0462-4a50-88a9-f7e86056d485",
        "panel_status": {"status": "Resolved", "priority": "White ch", "assignee_name":
        "Osso Buco", "assignee_id": "Fajita", "created": "2023-09-12T19:16:32.115Z",
        "updated": "2026-02-13T10:11:06.842Z", "case_rule_id": "Sonofabitch s", "case_rule_label":
        "Third Party Risk", "alert_rule": {"id": "sLn1j4", "label": "Hog fry", "name":
        "Bao"}, "owner_id": "Suckling Pig", "owner_name": "Ammonia cookie", "organisation_id":
        "Potato salad", "organisation_name": "French Onion Soup", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Pulled pork", "organisation_name":
        "Fish and Chips!"}], "enterprise_id": "Potato wedges", "enterprise_name":
        "Ratatouille"}, "entity_id": "Saute", "entity_name": "Corn ", "entity_criticality":
        "Pop-Ta", "risk_score": 64, "targets": [], "actions_taken": [], "tags": []},
        "panel_evidence_summary": {"assessments": []}, "panel_log": [{"id": "o2PgTGj7gxwn4jCbcAy61g4BB2gXxKVrYV7J3xOOP",
        "created": "2023-09-12T19:16:32.129Z", "modified": "Squab", "action_priority":
        "Maca", "context": {"type": "third_party_risk", "changes": [{"risk_attribute":
        "Cheese dog", "assessment_name": "Mashed pumpk", "added": {"level": 3, "evidence_string":
        "Meat Feast Pizza", "added": "2023-09-12T19:15:25.731Z", "removed": "2023-09-12T19:23:43.874Z"},
        "type": "tpr_assessment_change"}]}}, {"id": "kEz1wxRiX3Jbf4pXQbaXc8RBQ8gHgsjlBjBZb5kFl",
        "created": "2023-09-13T08:53:05.932Z", "modified": "Salisbury steak", "action_priority":
        "Char", "context": {"type": "third_party_risk", "changes": [{"risk_attribute":
        "Cordon bleu", "assessment_name": "Falafel", "removed": {"level": 3, "evidence_string":
        "Mozzarella Sticks", "added": "2023-09-13T08:34:25.737Z", "removed": "2023-09-13T08:4[...]
