interactions:
- request:
    body: '{"domain": ["overafazg.org", "coolbeans.org"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/soar/v3/enrichment
  response:
    body:
      string: '{"data": {"results": [{"risk": {"context": {"phishing": {"summary":
        [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule": ""}, "malware":
        {"summary": [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule":
        ""}, "public": {"summary": [], "rule": {"maxCount": 0}, "score": 24.0, "mostCriticalRule":
        ""}, "c2": {"summary": [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule":
        ""}}, "rule": {"count": 5, "mostCritical": "Cheesecake", "maxCount": 52, "evidence":
        {"malwareSiteDetected": {"count": 2, "timestamp": "2021-01-27T00:00:00.000Z",
        "description": "Risotto", "rule": "Choco pie", "sightings": 15, "mitigation":
        "", "level": 1}, "phishingSiteSuspected": {"count": 1, "timestamp": "2025-06-02T04:06:11.235Z",
        "description": "Mission burrito", "rule": "Celery Victor", "sightings": 19,
        "mitigation": "", "level": 1}, "historicalThreatListMembership": {"count":
        2, "timestamp": "2023-03-08T18:19:54.441Z", "description": "Steak sandwich",
        "rule": "Roasted Bone Marrow", "sightings": -1, "mitigation": "", "level":
        1}, "malwareSiteSuspected": {"count": 1, "timestamp": "2021-01-27T00:00:00.000Z",
        "description": "Lobster Newberg", "rule": "Corn chowder", "sightings": 1,
        "mitigation": "", "level": 1}, "defanged": {"count": 1, "timestamp": "2022-12-16T20:10:23.000Z",
        "description": "Mango and Sticky Rice", "rule": "Reuben sandwich", "sightings":
        1, "mitigation": "", "level": 1}}, "summary": [{"count": 5.0, "level": 1.0}]},
        "score": 24, "level": 1.0}, "entity": {"id": "idn:trivia.bayern", "name":
        "acts.tk", "type": "InternetDomainName"}}, {"risk": {"context": {"phishing":
        {"summary": [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule":
        ""}, "malware": {"summary": [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule":
        ""}, "public": {"summary": [], "rule": {"maxCount": 0}, "score": 5.0, "mostCriticalRule":
        ""}, "c2": {"summary": [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule":
        ""}}, "rule": {"count": 1, "mostCritical": "Pepperoni", "maxCount": 52, "evidence":
        {"typosquatTypo": {"count": 1, "timestamp": "2018-09-13T01:23:53.400Z", "description":
        "Moules Frites", "rule": "Roasted Bone Marrow", "sightings": -1, "mitigation":
        "", "level": 1}}, "summary": [{"count": 1.0, "level": 1.0}]}, "score": 5,
        "level": 1.0}, "entity": {"id": "idn:knowledge.racing", "name": "webshots.eat",
        "type": "InternetDomainName"}}]}, "counts": {"returned": 2, "total": 2}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
