interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:3b9e9afb-3e4d-4f98-93fa-031cb3088004
  response:
    body:
      string: '{"status": {"status_code": "Do", "status_message": "Mini pizzas"},
        "data": {"playbook_alert_id": "task:3b9e9afb-3e4d-4f98-93fa-031cb3088004",
        "rule_id": "Paella", "alert_rule": {"id": "5swDSv", "label": "Chips and dip",
        "name": "Eggo"}, "status": "New", "priority": "Fortune cooki", "created":
        "2026-02-11T06:00:12.978Z", "updated": "2026-02-11T06:00:12.978Z", "category":
        "malware_report", "title": "She spent h", "assignee_name": "Bear claw", "assignee_id":
        "Satay", "owner_id": "Home fries", "owner_name": "Pasta salad", "organisation_id":
        "Sichuan Hot Pot", "organisation_name": "Black Pudding", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Brunswick stew", "organisation_name":
        "Rabbit pie"}], "enterprise_id": "Fajitas", "enterprise_name": "Macaroni salad"},
        "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/malware_report/task:3b9e9afb-3e4d-4f98-93fa-031cb3088004
  response:
    body:
      string: '{"status": {"status_code": "Ba", "status_message": "Chicago Deep Dish
        Pizza"}, "data": {"playbook_alert_id": "task:3b9e9afb-3e4d-4f98-93fa-031cb3088004",
        "panel_status": {"status": "New", "priority": "Falafel", "assignee_name":
        "French Onion Soup", "assignee_id": "Chinese food", "created": "2026-02-11T06:00:12.978Z",
        "updated": "2026-02-11T06:00:12.978Z", "case_rule_id": "Macaroni and ", "case_rule_label":
        "Cobalt Strike tags", "alert_rule": {"id": "5swDSv", "label": "Mozzarella
        st", "name": "Chicken and waffle"}, "owner_id": "Salmon pasta bak", "owner_name":
        "Protein bar", "organisation_id": "Gyoza", "organisation_name": "Tagine",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Cheese
        dog", "organisation_name": "Poke"}], "enterprise_id": "Elote", "enterprise_name":
        "Drunken chicken"}}, "panel_evidence_summary": {"notification_title": "Eggs
        Neptun", "report_limit_reached": false, "number_of_reports": 235, "matched_hashes":
        [{"sha256": "4cf03a4d093ccc7134021803d257b1c30c0b704ec0f531b68c97e524ad5102c6",
        "is_enterprise_submission": false, "risk_score": 65, "report_overviews": [{"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-k52ccshy4e-behavioral1",
        "sandbox_score": 10, "tags": ["Sour cre", "Cow", "Chowder", "Pork and bea",
        "Parma Ham", "Onion Rin", "Empanad", "Flan", "Lobst", "Pocky"]}, {"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-md58caay2d-behavioral1",
        "sandbox_score": 10, "tags": ["Sour cre", "Cal", "Tetrazzi", "Tagine", "Pastrami",
        "Sweet Pot", "Bull ro", "Cinnam", "Hayst", "Poutine"]}, {"report_id": "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-mgc1zaay5h-behavi[...]
