interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/entity-match/entity/JLHNoH
  response:
    body:
      string: '{"data": {"id": "JLHNoH", "type": "Malware", "attributes": {"name":
        "Cheesecake", "common_names": [], "alias": [], "is_threat_actor": false}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
