interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "Type clas", "description":
        "Erlang is a general", "categories": [{"name": "Roaste", "framework": "Haske"}],
        "criticality": 3, "relatedEntities": [], "name": "Escarg", "count": 762170},
        {"criticalityLabel": "The synta", "description": "Do you have any idea why
        this is not working?", "categories": [{"name": "Cheese", "framework": "The
        a"}], "criticality": 3, "relatedEntities": [], "name": "Shucked Oysters",
        "count": 9728}, {"criticalityLabel": "The seq", "description": "Do you have
        any idea why this is not", "categories": [{"name": "Clam c", "framework":
        "I don"}], "criticality": 1, "relatedEntities": [], "name": "Parma H[...]
