interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:a8b126d8-4c00-4716-acaa-43905d5a19f8
  response:
    body:
      string: '{"status": {"status_code": "Fr", "status_message": "Pickled cucumber"},
        "data": {"playbook_alert_id": "task:a8b126d8-4c00-4716-acaa-43905d5a19f8",
        "rule_id": "Ribs", "alert_rule": {"id": "w41VFj", "label": "Chicken Biryani",
        "name": "Prawn Pizza"}, "status": "Resolved", "priority": "Thou", "created":
        "2026-02-10T06:53:03.906Z", "updated": "2026-02-10T18:54:56.953Z", "category":
        "geopolitics_facility", "title": "Any element of a tu", "owner_id": "Bagels
        and Lox", "owner_name": "Jell-O", "organisation_id": "Patty", "organisation_name":
        "Fish and Chips!", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Polenta", "organisation_name": "Ammonia cookie"}], "enterprise_id": "Kung
        Pao Chicken", "enterprise_name": "Po''Boy"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/geopolitics_facility/task:a8b126d8-4c00-4716-acaa-43905d5a19f8
  response:
    body:
      string: '{"status": {"status_code": "Ba", "status_message": "Sauteed Morel Mushrooms"},
        "data": {"playbook_alert_id": "task:a8b126d8-4c00-4716-acaa-43905d5a19f8",
        "panel_status": {"status": "Resolved", "priority": "Mapl", "created": "2026-02-10T06:53:03.906Z",
        "updated": "2026-02-10T18:54:56.953Z", "case_rule_id": "Jalapeno Popp", "case_rule_label":
        "Geopolitics Facility", "alert_rule": {"id": "w41VFj", "label": "Elote", "name":
        "Oreo"}, "owner_id": "Chile Relleno", "owner_name": "Oysters Rockefeller",
        "organisation_id": "Gyoza", "organisation_name": "Tuna casserole", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Root Beer Float", "organisation_name":
        "Frybread"}], "enterprise_id": "Domesticated tur", "enterprise_name": "Souvlaki"},
        "entity_id": "Shrim", "entity_name": "Stuffed ham", "targets": [{"name": "Shepherd''s
        Pie"}], "actions_taken": []}, "panel_evidence_summary": {"assessments": [{"name":
        "Spaghetti and Mea", "criticality": "Peanut b"}, {"name": "Chicken Tikka ",
        "criticality": "Bisc"}], "events": [{"text": "The sequential subset of Erlang
        supports eager evaluation, single assignment, and dynamic typing. Ports are
        used to communicate with the external world. In 1989 the building was heavily
        damaged by fire, but it has since been restored. Messages can be sent to and
        received from port", "source": "Low Country Boil", "url": "https://fighters.net/",
        "assessments": [{"name": "Tuna casserole", "criticality": "Strogano"}], "document_id":
        "Meatloa", "time": "2026-02-10T06:29:05.000Z", "images": ["Philly Cheese Steak"]},
        {"text": "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments are D1,
        D2, ... Dn. Initially composing light-hearted and irreverent works, he also
        wrote serious, sombre and religious pieces beginning in the 1930s. Where are
        my pants? The arguments can be primitive data types or compound data types.
        Make me a sandwic", "source": "Mozzarella sticks", "url": "https://frequently.aero/",
        "assessments": [{"name": "Mango an[...]
