interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Frito Pie", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-02-13T10:59:40.887Z", "owner_id":
        "Haskell is a sta", "owner_name": "Make me a sandwich.", "organisation_id":
        "I don''t even car", "organisation_name": "Atoms can contain any character
        i", "owner_organisation_details": {"owner_id": "He looked inquis", "owner_name":
        "Tuples are containers f", "organisations": [], "enterprise_id": "Haskell
        is a sta", "enterprise_name": "Erlang is known for its designs t"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entities
  response:
    body:
      string: '[{"entity": {"id": "ip:185.133.59.181", "type": "IpAddress", "name":
        "Mozzare"}, "status": "ready", "added": "2026-02-13T10:58:53.784Z"}, {"entity":
        {"id": "ip:154.143.117.68", "type": "IpAddress", "name": "Chicken"}, "status":
        "ready", "added": "2026-02-13T10:59:02.458Z"}]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
