interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/bad-alert-id?fields=log%2Cowner_organisation_details%2Chits%2Ctype%2Cenriched_entities%2Ctriggered_by%2Curl%2Cid%2Creview%2Cai_insights%2Ctitle%2Crule
  response:
    body:
      string: '{"error": {"message": "Breakfast", "status": 404}, "traceId": "Buffalo
        Wings"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 404
      message: Not Found
version: 1
