interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "Tupl", "description": "He
        looked inquisitive", "categories": [{"name": "London broil", "framework":
        "Atoms a"}], "criticality": 3, "relatedEntities": [], "name": "Oysters Ro",
        "count": 12456}, {"criticalityLabel": "Do you have a", "description": "Initially
        composing light-hearted and irreverent", "categories": [{"name": "Tuna c",
        "framework": "Its m"}, {"name": "Albaco", "framework": "Do yo"}, {"name":
        "Chinese food", "framework": "They ar"}], "criticality": 5, "relatedEntities":
        ["Initia"], "name": "Ranch dressing", "count": 514}, {"criticalityLabel":
        "Any", "description": "He looked inquisitively at his", "categories": [{"name":
     [...]
