interactions:
- request:
    body: '{"filter": {"created": {"after": "2026-02-06T10:22:00"}, "updated": {}},
      "limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 6, "total_count": 6, "result": [{"id": "doc:BEMBrtW", "type":
        "yara", "title": "Erlang is a gener", "description": "The syntax {D1,D2,...,Dn}
        denotes a tuple whose arguments are D1, D2, ... Dn.", "created": "2026-02-10T13:03:55.718Z",
        "updated": "2026-02-10T13:03:55.718Z", "rules": [{"entities": [{"id": "5w374zm",
        "type": "Malware", "name": "Pirosh"}, {"id": "KBwQKT", "type": "Technology",
        "name": "Roas"}, {"id": "gZaMw", "type": "Technology", "name": "Hog fry"},
        {"id": "QYgRH0", "type": "Person", "name": "Salted"}, {"id": "cndo9", "type":
        "Company", "name": "Scrapple"}, {"id": "qQWfB", "type": "Country", "name":
        "Chick"}, {"id": "NCfiVL", "type": "AttackVector", "name": "Bao"}, {"id":
        "hsIQxQgrP8O", "type": "MitreAttackIdentifier", "name": "Sichu", "display_name":
        "The syntax {D1,D2,...,Dn} denot"}, {"id": "nQIIVu", "type": "AttackVector",
        "name": "Alice Springs Chicken"}, {"id": "nppSq1pkHLJ", "type": "MitreAttackIdentifier",
        "name": "Shrim", "display_name": "Where are my "}, {"id": "JhZjpN", "type":
        "Technology", "name": "Pepperoni "}, {"id": "fzag4w9wQuy", "type": "MitreAttackIdentifier",
        "name": "Pocky", "display_name": "Type classes first appea"}, {"id": "TJUEwK",
        "type": "Organization", "name": "Jerky"}], "content": "He looked inquisitively
        at his keyboard and wrote another sentence.", "file_name": "Haskell features
        "}]}, {"id": "doc:BEBoaUk", "type": "sigma", "title": "Ports are created with
        the built-in function open_port.", "description": "Do you have any idea why
        this is not working?", "created": "2026-02-06T18:27:02.156Z", "updated": "2026-02-06T18:27:02.156Z",
        "rules": [{"entities": [{"id": "8RF9P9", "type": "Malware", "name": "Tetrazzini"}],
        "content": "Do you come here often?", "file_name": "Make me a sandwich."}]},
        {"id": "doc:BEMCQ[...]
- request:
    body: '{"filter": {"created": {"after": "2026-02-06T10:22:00"}, "updated": {}},
      "limit": 14, "offset": "eyJvZmZzZXQiOls4NjA4LCJIRkNtUUFGVmJTdSJdfQ=="}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 0, "total_count": 6, "result": []}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"filter": {"created": {"after": "2026-02-12T10:22:00"}, "updated": {}},
      "limit": 20}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 0, "total_count": 0, "result": []}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
