interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/alert/rule?freetext=leaked&limit=1000
  response:
    body:
      string: '{"data": {"results": [{"intelligence_goals": [{"name": "Chicken and
        waff", "id": "report:_intelligence_goal_ig-46"}], "priority": true, "tags":
        [], "use_case_id": "He looked inquisitively at his ", "id": "mf0rAa", "owner":
        {"name": "Creme Brulee", "id": "UKDnR9LwJtp1pbTE"}, "title": "Erlang is a
        general-purpose,", "created": "2022-05-06T08:19:38.652Z", "notification_settings":
        {"email_subscribers": [{"name": "French Dip", "id": "xc6pkVM87Ny6EaQ3"}],
        "mobile_subscribers": []}, "enabled": true}, {"intelligence_goals": [{"name":
        "Philly Cheese Steak", "id": "report:_intelligence_goal_ig-70"}], "priority":
        true, "tags": [], "use_case_id": "Erlang is a general-purpose, con", "id":
        "oGK3rB", "owner": {"name": "Breakfast burrito", "id": "ZaMdVLMjckK41eER"},
        "title": "She spent her earliest ", "created": "2022-09-27T07:46:07.163Z",
        "notification_settings": {"email_subscribers": [], "mobile_subscribers": []},
        "enabled": true}, {"intellige[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&alertRule=mf0rAa&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"organisations":
        [{"organisation_id": "Ports are used t", "organisation_name": "Initially composing
        light-hearted"}], "enterprise_id": "The syntax {D1,D", "enterprise_name":
        "Its main implementation is the Gl"}, "rule": {"use_case_deprecation": null,
        "name": "Chicken \u00e0 la King", "id": "mf0rAa", "url": {"portal": "https://shopping.esq/"}},
        "id": "4TXP7LL", "title": "Erlang is known for its designs that are wel",
        "log": {"note_author": null, "note_date": null, "status_date": null, "triggered":
        "2026-02-12T10:22:25.683Z", "status_change_by": null}}, {"review": {"note":
        null, "status_in_portal": "New", "assignee": null, "status": "no-action"},
        "owner_organisation_details": {"organisations": [{"organisation_id": "Any
        element of a", "organisation_name": "Initially composing light-hearted"}],
        "enterprise_id": "Ports are used t", "enterprise_name": "The sequential subset
        of Erlang s"}, "rule": {"use_case_deprecation": null, "name": "Poppyseed muffin",
        "id": "mf0rAa", "url": {"portal": "htt[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&alertRule=oGK3rB&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"organisations":
        [{"organisation_id": "Make me a sandwi", "organisation_name": "The sequential
        subset of Erlang s"}], "enterprise_id": "Atoms can contai", "enterprise_name":
        "Haskell features a type system wi"}, "rule": {"use_case_deprecation": null,
        "name": "Meat Feast Pizza", "id": "oGK3rB", "url": {"portal": "https://lovers.mg/"}},
        "id": "gxTNGbZ", "title": "Haskell features a type system with typ", "log":
        {"note_author": null, "note_date": null, "status_date": null, "triggered":
        "2026-02-13T06:11:51.578Z", "status_change_by": null}}], "counts": {"returned":
        1, "total": 1}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&alertRule=oT8Yaq&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"organisations":
        [{"organisation_id": "Erlang is a gene", "organisation_name": "Atoms can contain
        "}], "enterprise_id": "Haskell features", "enterprise_name": "Atoms can contain
        any character i"}, "rule": {"use_case_deprecation": null, "name": "Tagine",
        "id": "oT8Yaq", "url": {"portal": "https://panic.bz/"}}, "id": "LwATXiK",
        "title": "The Galactic Empire is nearing completion of", "log": {"note_author":
        null, "note_date": null, "status_date": null, "triggered": "2026-02-13T06:06:10.121Z",
        "status_change_by": null}}], "counts": {"returned": 1, "total": 1}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&alertRule=oT8YbE&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50
  response:
    body:
      string: '{"data": [], "counts": {"returned": 0, "total": 0}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&alertRule=oT8Ybe&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50
  response:
    body:
      string: '{"data": [], "counts": {"returned": 0, "total": 0}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
