interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/search?limit=5&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-10-29T06:06:32.338Z",
        "firstSeen": "2026-03-02T14:37:16.594Z"}, "risk": {"criticalityLabel": "Atoms
        are used", "riskString": "The G", "rules": 10, "criticality": 4, "riskSummary":
        "The sequential subset of Erlang support", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Atoms can contain any character
        if they are enclosed within single quotes and an escape convention exists
        which allows any ch", "rule": "Make me a sandwich.", "criticality": 1, "timestamp":
        "2026-11-04T00:02:55.611Z", "criticalityLabel": "He look"}, {"mitigationString":
        "", "evidenceString": "The Galactic Empire is nearing completion of the Death
        Star, a space station with the power to destroy entire planets.", "rule":
        "The arguments can be primitive data typ", "criticality": 1, "timestamp":
        "2026-09-05T19:20:43.863Z", "criticalityLabel": "The arg"}, {"mitigationString":
        "", "evidenceString": "Do you come here often?", "rule": "Type [...]
