interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:21YKUC/info
  response:
    body:
      string: '{"id": "report:21YKUC", "name": "Fajitas", "type": "entity", "created":
        "2025-01-28T00:24:08.686Z", "updated": "2026-02-13T10:09:58.988Z", "owner_id":
        "Type classes fir", "owner_name": "Tuples are containers f", "organisation_id":
        "The sequential s", "organisation_name": "Messages can be sent to and recei",
        "owner_organisation_details": {"owner_id": "Tuples are conta", "owner_name":
        "Haskell is a standardiz", "organisations": [], "enterprise_id": "In 1989
        the buil", "enterprise_name": "I don''t even care."}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"entity": {"id": "ip:10.10.10.10"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/report:21YKUC/entity/remove
  response:
    body:
      string: '{"result": "Atoms are"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
