interactions:
- request:
    body: '{"limit": 10, "type": "attacker"}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/search
  response:
    body:
      string: '[{"id": "report:mfVhIp", "name": "Bull roast", "type": "attacker",
        "created": "2022-05-06T08:19:31.421Z", "updated": "2025-10-09T03:15:00.273Z",
        "owner_id": "Make me a sandwi", "owner_name": "Tuples are containers for a
        fixed", "organisation_id": "They are written", "organisation_name": "She spent
        her earliest years read", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Haskell features", "organisation_name": "The arguments
        can be primitive da"}], "enterprise_id": "Ports are used t", "enterprise_name":
        "Ports are created with the built-"}}, {"id": "report:oT-s10", "name": "Tuna
        Pizza", "type": "attacker", "created": "2022-10-10T15:02:45.869Z", "updated":
        "2022-12-20T11:34:51.652Z", "owner_id": "Erlang is a gene", "owner_name":
        "Messages can be se", "organisation_id": "The arguments ca", "organisation_name":
        "Its main implementation is the Gl", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Ports are used t", "organisation_[...]
