interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:21YKUC/info
  response:
    body:
      string: '{"id": "report:21YKUC", "name": "Clam chowder", "type": "entity", "created":
        "2025-01-28T00:24:08.686Z", "updated": "2026-02-13T10:10:11.291Z", "owner_id":
        "Bird''s Nest Soup", "owner_name": "Yeung Chow fried rice", "organisation_id":
        "Pepperoni Pizza", "organisation_name": "Low Country Boil", "owner_organisation_details":
        {"owner_id": "Bangers and mash", "owner_name": "Coq Au Vin", "organisations":
        [], "enterprise_id": "Cornish game hen", "enterprise_name": "Liver and onions"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"entity": {"id": "123456"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/report:21YKUC/entity/remove
  response:
    body:
      string: '{"message": "Chicago Deep Dish Pizza", "status_code": 404, "trace_id":
        "5468c6ed-7448-4306-9c9c-82be57d13d5f"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 404
      message: Not Found
version: 1
