interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "They are ", "description":
        "Do you come here often?", "categories": [], "criticality": 3, "relatedEntities":
        [], "name": "Chicken herb", "count": 2040}, {"criticalityLabel": "He look",
        "description": "The Galactic Empire is nearing c", "categories": [], "criticality":
        1, "relatedEntities": [], "name": "French", "count": 12005}, {"criticalityLabel":
        "The argume", "description": "Make me a sandwich.", "categories": [{"name":
        "Veggi", "framework": "Erlan"}], "criticality": 2, "relatedEntities": [],
        "name": "Sour cream", "count": 1}, {"criticalityLabel": "The Gal", "description":
        "Type classes first appeared in the Haskel", "categories": [{"name": "Lorna
        Doo", "framework": "Where"}], "criticality": 1, "relatedEntities": [], "name":
        "Pigs in blankets", "count": 278443}, {"criticalityLabel": "The sequential",
        "description": "They are written as string", "categories": [{"name": "Coq
        Au", "frame[...]
