interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/117.72.35.30?fields=timestamps%2Centity%2Crisk
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-02-11T19:27:58.403Z", "firstSeen":
        "2026-02-21T05:41:01.840Z"}, "risk": {"criticalityLabel": "The sequen", "riskString":
        "Erla", "rules": 8, "criticality": 2, "riskSummary": "They are written as
        strings of consecu", "score": 46, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "They are written as strings of consecutive alphanumeric
        characters, the first character being lowercase.", "rule": "Initially composing
        light-hearted and i", "criticality": 1, "timestamp": "2026-08-29T09:43:20.600Z",
        "criticalityLabel": "Do you "}, {"mitigationString": "", "evidenceString":
        "Atoms can contain any character if they are enclosed within single quotes
        and an escape convention exists which allows any character to be used within
        an atom.", "rule": "Tuples are containers for a fix", "criticality": 1, "timestamp":
        "2026-06-11T02:58:37.068Z", "criticalityLabel": "Haskell"}, {"mitigationString":
        "", "evidenceString": "He look[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/8.8.898753?fields=timestamps%2Centity%2Crisk
  response:
    body:
      string: '{"error": {"message": "The argum", "status": 404}, "traceId": "Messages
        can be sent to and received"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 404
      message: Not Found
version: 1
