interactions:
- request:
    body: '{"filter": {"entities": ["lzQ5GL"], "created": {}, "updated": {}}, "limit":
      10}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 2, "total_count": 2, "result": [{"id": "doc:l9GVme", "type":
        "yara", "title": "The arguments can be primitive data types or compound data
        types.", "description": "Make me a sandwich.", "created": "2022-03-15T16:58:17.478Z",
        "updated": "2023-07-31T21:33:55.482Z", "rules": [{"entities": [{"id": "l8vku2",
        "type": "Malware", "name": "Chicken nu"}, {"id": "hash:25a8347361be05e994417c0fb0daf8f34a882d7b9b0df13ed8090f2037766dfa",
        "type": "Hash", "name": "Bangers and mash"}, {"id": "YCjj6fHv8eOuMae", "type":
        "MitreAttackIdentifier", "name": "Beef Manh", "display_name": "Type classes
        first appeared in the Haske"}, {"id": "SbJlB", "type": "Country", "name":
        "Bear cl"}, {"id": "stGdGUobCDz", "type": "MitreAttackIdentifier", "name":
        "Macar", "display_name": "Ports are used to communicate wit"}, {"id": "s9CsLe5zzzDpc7n",
        "type": "MitreAttackIdentifier", "name": "Chicken f", "display_name": "Where
        are my pants?"}, {"id": "Lwv8pC", "type": "Organization", "name": "Matzo Ball
        So", "display_name": "She spent her earliest years reading classic literature,
        and writing"}, {"id": "tmMerd5dpyy5O", "type": "Source", "name": "Hoppin''
        J"}, {"id": "lzQ5GL", "type": "Malware", "name": "Celery Vic"}, {"id": "REh_Qh",
        "type": "Username", "name": "Hog fry", "display_name": "Where are my pants?"},
        {"id": "lStsKc", "type": "Malware", "name": "Bangers and"}, {"id": "KYwaWm",
        "type": "Product", "name": "Sloppy joe"}, {"id": "xnlscRu5O1", "type": "Source",
        "name": "Poke"}, {"id": "JDBLoh", "type": "Technology", "name": "Bulgogi"},
        {"id": "JQPzDk", "type": "AttackVector", "name": "Lobster roll"}, {"id": "I2X6in",
        "type": "Company", "name": "Ploy"}, {"id": "lvKjV5", "type": "Malware", "name":
        "Cheesy Garlic", "display_name": "They are written as stri"}, {"id": "C6WWx1",
        "type": "Technology", "name": "Pepperoni"}], "content": "Messages can be sent
        to and received from ports, but these messages must obey the so-called \"port
        protocol.\"", "file_name": "Messages can be sent "}]}, {"id": "doc:l4ZhVd",
        "type": "yara", "title": "Make me a sandwich.", "description": "Do you come
        here often?", "created": "2022-03-08T14:45:38.452Z", "updated": "2023-07-25T20:29:01.851Z",
        "rules": [{"entities": [{"id": "lzQ5GL", "type": "Malware", "name": "Meat
        Feast"}, {"id": "PzmSRI", "type": "CyberThreatActorCategory", "name": "Blue-plate
        special"}], "content": "Messages can be sent to and received from ports, but
        these messages must obey the so-called \"port protocol.\"", "file_name": "It
        is also a garbage-"}]}], "next_offset": "eyJvZmZzZXQiOls5MjkzLCJHaDZheVNDS2VOZCJdfQ=="}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"filter": {"entities": ["lzQ5GL"], "created": {}, "updated": {}}, "limit":
      8, "offset": "eyJvZmZzZXQiOls5MjkzLCJHaDZheVNDS2VOZCJdfQ=="}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 0, "total_count": 2, "result": []}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filter": {"entities": ["kK5UbE"], "created": {}, "updated": {}}, "limit":
      6, "offset": "eyJvZmZzZXQiOlsxMTczOCwiSEZBWGdBRDlUcWUiXX0="}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 0, "total_count": 2, "result": []}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
