interactions:
- request:
    body: '{"filter": {"types": ["sigma"], "created": {}, "updated": {}}, "limit":
      10}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 10, "total_count": 568, "result": [{"id": "doc:o6_lui", "type":
        "sigma", "title": "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments
        are D1, D2, ... Dn.", "description": "Haskell features a type system with
        type inference and lazy evaluation.", "created": "2022-11-23T22:47:39.858Z",
        "updated": "2023-02-02T16:31:20.120Z", "rules": [{"entities": [{"id": "ANZEpXMuk3eIi9K",
        "type": "MitreAttackIdentifier", "name": "Ice Cream", "display_name": "Any
        element of a tuple can be accessed in constant time."}, {"id": "km87JaTgZRPI0AX",
        "type": "MitreAttackIdentifier", "name": "Mozzarell", "display_name": "Do
        you have any idea why this is not working?"}, {"id": "27L4jj2nyqeWXq7", "type":
        "MitreAttackIdentifier", "name": "Corn flak", "display_name": "I don''t even
        care."}, {"id": "eNzNmV83ZMX", "type": "MitreAttackIdentifier", "name": "Maine",
        "display_name": "Haskell features a type "}, {"id": [...]
