interactions:
- request:
    body: '{"name": "wannacry", "limit": 5}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/entity-match/match
  response:
    body:
      string: '[{"id": "SoA6SP", "name": "Maca", "type": "Malware"}, {"id": "Ub_GAO",
        "name": "Gazpacho", "type": "Username"}, {"id": "UnaoWy", "name": "Patty",
        "type": "Username"}, {"id": "n1nHgO", "name": "Shepherd", "type": "Username"},
        {"id": "hRrBs3", "name": "Creamed ", "type": "Username"}]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"name": "wannacry", "limit": 3}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/entity-match/match
  response:
    body:
      string: '[{"id": "SoA6SP", "name": "Pump", "type": "Malware"}, {"id": "Ub_GAO",
        "name": "Cinnamon", "type": "Username"}, {"id": "n1nHgO", "name": "Pepperon",
        "type": "Username"}]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
