interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/search?limit=5&fields=entity%2CintelCard%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"intelCard": "https://materials.aero/", "timestamps":
        {"lastSeen": "2026-06-15T06:06:08.787Z", "firstSeen": "2026-05-25T22:54:44.843Z"},
        "risk": {"criticalityLabel": "Messages can b", "riskString": "Erla", "rules":
        7, "criticality": 4, "riskSummary": "She spent her earliest years reading
        c", "score": 99, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Messages can be sent to and received from ports, but these messages must
        obey the so-called \"port protocol.\"", "rule": "She spent her earliest years
        reading cl", "criticality": 1, "timestamp": "2026-08-17T06:33:50.093Z", "criticalityLabel":
        "I don''t"}, {"mitigationString": "", "evidenceString": "Erlang is known for
        its designs that are well suited for systems.", "rule": "The Galactic Empire
        is nearing c", "criticality": 1, "timestamp": "2026-10-15T13:09:44.571Z",
        "criticalityLabel": "Tuples "}, {"mitigationString": "", "evidenceString":
        "Ports are created with the built-in function open_port.", "rule": "The sequential
        subset of Erlang [...]
