interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/1b6uQY?fields=enriched_entities%2Ctriggered_by%2Curl%2Cai_insights%2Ctype%2Cid%2Clog%2Chits%2Crule%2Ctitle%2Cowner_organisation_details%2Creview
  response:
    body:
      string: '{"data": {"review": {"note": "Mozzarella Sticks", "status_in_portal":
        "Pending", "assignee": "London broil", "status": "pending"}, "owner_organisation_details":
        {"organisations": [{"organisation_id": "Pork Belly", "organisation_name":
        "Carolina style"}], "enterprise_id": "Chicken herby pa", "enterprise_name":
        "Popover"}, "url": {"api": "https://recovery.com/", "portal": "https://thy.financial/"},
        "rule": {"use_case_deprecation": null, "name": "Huevos Rancheros", "id": "o7x4o3",
        "url": {"portal": "https://fitness.info/"}}, "id": "1b6uQY", "hits": [{"entities":
        [{"id": "v1s4H", "name": "Huev", "type": "Country"}, {"id": "TBETE", "name":
        "Choco", "type": "Country"}, {"id": "3Z5zU", "name": "Coq ", "type": "Country"},
        {"id": "TKAcC", "name": "Hummus", "type": "Country"}, {"id": "laQCx", "name":
        "Falaf", "type": "Organization"}, {"id": "coJ0s", "name": "Bellini", "type":
        "Region"}, {"id": "WIlKQ", "name": "Clam ca", "type": "Country"}], "document":
        {"source": {"id": "zalIFwtrHq", "name": "Doughnut", "type": "Source"}, "title":
        "They are written as strings of consecutive alphanumeric characters, the first
        character being lowercase.", "url": "https://preservation.org/", "authors":
        [{"id": "ooyNwJ", "name": "Phaal", "type": "Username"}]}, "fragment": "Sloppy
        joe", "id": "r5YHOXRIh60", "language": "Chi", "primary_entity": null, "analyst_note":
        null}, {"entities": [{"id": "kpjjl", "name": "Onion ", "type": "Country"},
        {"id": "tP4YFq", "name": "London broil", "type": "Username"}, {"id": "OgzLZ",
        "name": "Reuben", "type": "Organization"}, {"id": "ihd6lq", "name": "Mozzarell",
        "type": "Region"}, {"id": "Dre8z", "name": "Kimch", "type": "Country"}, {"id":
        "M3W35", "name": "Chin", "type": "Country"}, {"id": "ZZVD7", "name": "Bao",
        "type": "Organization"}, {"id": "nQJnZb", "name": "Lasagna", "[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/xr8cqL?fields=type%2Cai_insights%2Ctitle%2Cenriched_entities%2Chits%2Clog%2Crule%2Creview%2Curl%2Cowner_organisation_details%2Ctriggered_by%2Cid
  response:
    body:
      string: '{"data": {"review": {"note": "Salted caramel cookie", "status_in_portal":
        "Pending", "assignee": "Cheese Curds", "[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/1ct-k8?fields=url%2Cid%2Chits%2Cai_insights%2Ctitle%2Cowner_organisation_details%2Crule%2Creview%2Ctype%2Ctriggered_by%2Cenriched_entities%2Clog
  response:
    body:
      string: '{"data": {"review": {"note": "Sweet Potato Fries", "status_in_portal":
        "Pending", "assignee": "Chicken bog", "stat[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/alert/rule?limit=1000
  response:
    body:
      string: '{"data": {"results": [{"intelligence_goals": [{"name": "Baba Ghanoush",
        "id": "report:_intelligence_goal_ig-70"}], "priority": true, "tags": [], "use_case_id":
        "Chicken and waffles", "id": "mf0rAV", "owner": {"name": "Cowboy beans", "id":
        "wpXLaxU6EWe8hWWY"}, "title": "Erlang is a general-purpose, con", "created":
        "2022-05-06T08:19:33.423Z", "notification_settings": {"email_subscribers":
        [{"name": "Glorified rice", "id": "QoQG20Ariy21V8tV"}], "mobile_subscribers":
        []}, "enabled": true}, {"intelligence_goals": [{"name": "Root Beer Float",
        "id": "report:_intelligence_goal_ig-70"}], "priority": false, "tags": [],
        "use_case_id": "Spaghetti Bolognese", "id": "mf0rAW", "owner": {"name": "American
        fried rice", "id": "nqiNOvvSp9dqVs44"}, "title": "Any element of a tuple can
        b", "created": "2022-05-06T08:19:34.867Z", "notification_settings": {"email_subscribers":
        [{"name": "Spaghetti Bolognes", "id": "GWr0eT8jnU2Rcohg"}], "mobile_subscribe[...]
