interactions:
- request:
    body: '{"name": "meow", "type": "entity"}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/create
  response:
    body:
      string: '{"id": "report:BERcsq-", "name": "Toas", "type": "entity", "created":
        "2026-02-13T10:09:54.741Z", "updated": "2026-02-13T10:09:54.741Z", "owner_id":
        "Atoms can contai", "owner_name": "Ports are created with ", "organisation_id":
        "She spent her ea", "organisation_name": "Type classes first appeared in th",
        "owner_organisation_details": {"owner_id": "In 1989 the buil", "owner_name":
        "Make me a sandwich.", "organisations": [], "enterprise_id": "Atoms are used
        w", "enterprise_name": "Haskell is a standardized, genera"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
