interactions:
- request:
    body: '{"status": "Dismissed"}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: PUT
    uri: https://api.recordedfuture.com/playbook-alert/common/task:99a83597-3c3f-49c0-af56-c06a636532e8
  response:
    body:
      string: '{"status": {"status_code": "An", "status_message": "She spent her earliest
        years rea"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "Resolved", "reopen": "Never"}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: PUT
    uri: https://api.recordedfuture.com/playbook-alert/common/task:db6b2635-28f5-49ec-b717-8372de9a96fd
  response:
    body:
      string: '{"status": {"status_code": "Ma", "status_message": "Haskell features
        a type system w"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"priority": "High", "status": "InProgress", "log_entry": "Bumping priority
      to High due to recent findings."}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: PUT
    uri: https://api.recordedfuture.com/playbook-alert/common/task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc
  response:
    body:
      string: '{"status": {"status_code": "Ty", "status_message": "He looked inquisitively
        at his k"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"priority": "Moderate", "status": "Resolved", "assignee": "uhash:6dCcPQn3uO",
      "log_entry": "cool comment"}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: PUT
    uri: https://api.recordedfuture.com/playbook-alert/common/task:c89f8024-0462-4a50-88a9-f7e86056d485
  response:
    body:
      string: '{"status": {"status_code": "Po", "status_message": "Type classes first
        appeared in t"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"status": "InProgress"}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: PUT
    uri: https://api.recordedfuture.com/playbook-alert/common/task:f87706b1-cea4-4765-9d50-7647ee9bda9b
  response:
    body:
      string: '{"status": {"status_code": "Po", "status_message": "Tuples are containers
        for a fixe"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
