interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/digitalcollege.org?fields=timestamps%2CintelCard%2Crisk%2Centity
  response:
    body:
      string: '{"data": {"intelCard": "https://thorough.bayern/", "timestamps": {"lastSeen":
        "2026-02-15T03:51:04.993Z", "firstSeen": "2020-12-14T08:46:12.085Z"}, "risk":
        {"criticalityLabel": "Pigs in blanke", "riskString": "Naan", "rules": 7, "criticality":
        4, "riskSummary": "Rolled oyster", "score": 99, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "Tres Leches Cake", "rule": "Eggs Neptune", "criticality":
        1, "timestamp": "2022-02-01T21:22:56.588Z", "criticalityLabel": "Chicken"},
        {"mitigationString": "", "evidenceString": "Sandwich", "rule": "Chicharones",
        "criticality": 1, "timestamp": "2021-02-03T21:32:08.000Z", "criticalityLabel":
        "Chichar"}, {"mitigationString": "", "evidenceString": "Sauteed Morel Mushrooms",
        "rule": "Salisbury steak", "criticality": 1, "timestamp": "2025-12-22T01:08:51.106Z",
        "criticalityLabel": "Frybrea"}, {"mitigationString": "", "evidenceString":
        "Texas Toast", "rule": "Baklava", "criticality": 1, "timestamp": "2020-12-18T00:00:00.000Z",
        "criticalityLabel": "Shucked"}, {"mitigationString": "", "evidenceString":
        "Milkshake", "rule": "Calf''s liver and bacon", "criticality": 1, "timestamp":
        "2020-12-15T00:00:00.000Z", "criticalityLabel": "Creamed"}, {"mitigationString":
        "", "evidenceString": "Ammonia cookie", "rule": "Squab", "criticality": 1,
        "timestamp": "2026-02-16T04:05:29.847Z", "criticalityLabel": "Matzo B"}, {"mitigationString":
        "", "evidenceString": "Shish Kabob", "rule": "Huevos Rancheros", "criticality":
        4, "timestamp": "2026-02-16T04:05:29.846Z", "criticalityLabel": "Philadelphia
        c"}]}, "entity": {"id": "idn:inspector.fk", "name": "survivor.id", "type":
        "InternetDomainName"}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
