interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Patty", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-05-28T14:12:13.723Z", "owner_id":
        "Suckling Pig", "owner_name": "Pepperoni", "organisation_id": "Banh Mi Vi\u00eat",
        "organisation_name": "Fries", "owner_organisation_details": {"owner_id": "Chicken
        Biryani", "owner_name": "Cheese dog", "organisations": [], "enterprise_id":
        "Frybread", "enterprise_name": "Surf and turf"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entities
  response:
    body:
      string: '[{"entity": {"id": "qmqiQF", "type": "Thread", "name": "Pickled Okra"},
        "status": "pending", "added": "2026-05-28T14:11:26.412Z"}, {"entity": {"id":
        "pXJnNy", "type": "FileName", "name": "214.58.212.121"}, "status": "pending",
        "added": "2026-05-28T14:12:26.081Z"}]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"entity": {"id": "qmqiQF"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entity/remove
  response:
    body:
      string: '{"result": "Thousan"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entities
  response:
    body:
      string: '[]'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
