interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/search?limit=5&fields=entity%2CintelCard%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"intelCard": "https://cnet.aero/", "timestamps":
        {"lastSeen": "2026-04-29T08:28:13.316Z", "firstSeen": "2026-05-24T16:17:50.392Z"},
        "risk": {"criticalityLabel": "I don''t e", "riskString": "They", "rules":
        4, "criticality": 3, "riskSummary": "He looked inquisitively at his keyboar",
        "score": 89, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Initially composing light-hearted and irreverent works, he also wrote serious,
        sombre and religious pieces beginning in the 1930s.", "rule": "He looked inquisitively
        at his keyboard", "criticality": 1, "timestamp": "2026-02-26T16:52:15.526Z",
        "criticalityLabel": "The seq"}, {"mitigationString": "", "evidenceString":
        "Do you have any idea why this is not working?", "rule": "Messages can be
        sent to and ", "criticality": 1, "timestamp": "2026-07-26T08:04:45.436Z",
        "criticalityLabel": "Ports a"}, {"mitigationString": "", "evidenceString":
        "They are written as strings of consecutive alphanumeric characters, the first
        character being lowercase.", "rule": "Where are my pants?", "criticality":
        1, "timestamp": "2026-08-12T05:52:31.603Z", "criticalityLabel": "Atoms c"},
        {"mitigationString": "", "evidenceString": "Ports are used to communicate
        with the external world.", "rule": "He looked inquisitively at his ke", "criticality":
        3, "timestamp": "2026-07-31T04:08:25.714Z", "criticalityLabel": "Tuples ar"}]},
        "entity": {"id": "url:https://albania.mt/", "name": "Butter cookie", "type":
        "URL"}}, {"intelCard": "https://spare.tn/", "timestamps": {"lastSeen": "2026-07-08T18:47:36.010Z",
        "firstSeen": "2026-04-30T00:45:27.160Z"}, "risk": {"criticalityLabel": "Haskell
        i", "riskString": "Ports", "rules": 13, "criticality": 3, "riskSummary": "Type
        classes first appeared in the Hask", "score": 83, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "Initially composing light-hearted and irreverent works,
        he also wrote serious, [...]
