interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/search?limit=5&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-08-15T18:05:27.964Z",
        "firstSeen": "2026-07-03T00:44:23.761Z"}, "risk": {"criticalityLabel": "The
        sequential", "riskString": "Atom", "rules": 7, "criticality": 4, "riskSummary":
        "Any element of a tuple can be accessed", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Where are my pants?", "rule":
        "Make me a sandwich.", "criticality": 1, "timestamp": "2026-02-04T21:50:58.288Z",
        "criticalityLabel": "Ports a"}, {"mitigationString": "", "evidenceString":
        "I don''t even care.", "rule": "The Galactic Empire is nearing c", "criticality":
        1, "timestamp": "2026-01-05T09:26:00.071Z", "criticalityLabel": "Ports a"},
        {"mitigationString": "", "evidenceString": "Ports are created with the built-in
        function open_port.", "rule": "Its main implementation is the Glasgow Haske",
        "criticality": 1, "timestamp": "[...]
