interactions:
- request:
    body: '[{"id": "123456", "statusInPortal": "Pending"}]'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/v2/alert/update
  response:
    body:
      string: '{"success": [], "error": [{"id": "123456", "reason": "Atoms are used
        within a program to denote distinguished values.", "statusCode": 400}]}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 400
      message: Bad Request
version: 1
