interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/45.134.26.41?fields=timestamps%2Crisk%2Centity
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2025-12-15T23:39:10.064Z", "firstSeen":
        "2021-05-15T12:36:45.484Z"}, "risk": {"criticalityLabel": "Creamed eg", "riskString":
        "Mozza", "rules": 17, "criticality": 2, "riskSummary": "Haggis", "score":
        43, "evidenceDetails": [{"mitigationString": "", "evidenceString": "Bulgogi",
        "rule": "Surf and turf", "criticality": 1, "timestamp": "2021-07-27T22:15:01.000Z",
        "criticalityLabel": "Shrimp "}, {"mitigationString": "", "evidenceString":
        "Sandwich", "rule": "Hoppin'' John", "criticality": 1, "timestamp": "2025-06-06T10:41:12.940Z",
        "criticalityLabel": "Polenta"}, {"mitigationString": "", "evidenceString":
        "Jerky", "rule": "Maple Bacon Doughnut", "criticality": 1, "timestamp": "2025-12-23T08:55:01.625Z",
        "criticalityLabel": "Moules "}, {"mitigationString": "", "evidenceString":
        "R[...]
