interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/fa54c4e34732b611921820be56dd690a4de98285828e4be487b904679a855a92?fields=fileHashes%2CenterpriseLists%2CanalystNotes%2CintelCard%2CriskMapping%2Centity%2Ctimestamps%2Clinks%2Crisk%2ChashAlgorithm%2CthreatLists%2Csightings
  response:
    body:
      string: '{"data": {"enterpriseLists": [], "sightings": [{"source": "Chicken
        ", "url": "https://accompanying.ee/", "published": "2019-08-04T22:17:30.000Z",
        "fragment": "Haystack", "title": "Tuples are co", "type": "recentPaste"},
        {"source": "White cho", "url": "https://knee.int/", "published": "2022-05-19T14:40:08.210Z",
        "fragment": "Steak Tartare", "title": "She spent her earliest years reading
        classic literature, and writing poetry.", "type": "mostRecent"}, {"source":
        "Glorified rice", "url": "Chocolate Brownie", "published": "2019-02-13T00:00:00.000Z",
        "fragment": "Potato skins", "title": "Ports are created with the built-i",
        "type": "first"}, {"source": "Corned beef", "url": "https://pci.gent/", "published":
        "2019-02-13T12:28:42.000Z", "fragment": "Chips and dip", "title": "The arguments
        can be primitive data types or compound data types.", "type": "recentInfoSec"}],
        "riskMapping": [{"rule": "Jalapeno Poppers", "categories": [{"framework":
        "Crab ", "name": "Tamale"}]}, {"rule": "Bruschetta", "categories": [{"framework":
        "Mozza", "name": "Beef M"}]}], "entity": {"id": "hash:044baeee2910cf2651a7b58ae05aac02dacb358e49e2775c620b79a8a313cf6c",
        "name": "63a773a791e76157c05a06baf7c9f8862efddba0daa1ee9f3293962f2baffa43",
        "type": "Hash"}, "analystNotes": [{"external_id": "Moules", "attributes":
        {"published": "2025-10-08T22:22:14.531Z", "text": "The syntax {D1,D2,...,Dn}
        denotes a tuple whose arguments are D1, D2, ... Dn. Atoms can contain any
        character if they are enclosed within single quotes and an escape convention
        exists which allows any character to be used within an atom. Do", "authors":
        [{"id": "MUxYlOtlDTgXEcHc", "name": "Patty", "type": "IntegrationUser"}],
        "title": "Initially composin", "context_entities": [{"id": "5Zr5MIjTnUNcfla329qbCmu1RYLh3jh",
        "name": "Frito Pie", "type": "EmailAddress"}, {"id": "url:https://silver.repair/",
        "name": "https://achievements.al/", "type": "URL"}, {"id": "5BaTR4", "name":
        "Tagine", "type": "Company"}, {"id": "idn:plate.mls", "name": "particularly.bar",
        "type": "InternetDomainName"}, {"id": "ip:130.132.162.128", "name": "66.188.149.105",
        "type": "IpAddress"}, {"id": "hash:70a2c078c3c0a510c8658901c617f1723d3ba2f9d6c84cc057ead[...]
