interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/1b6uQY?fields=title%2Clog%2Creview%2Crule%2Cid
  response:
    body:
      string: '{"data": {"review": {"note": "The Galactic Empire is nearing completion
        of the Death Star, a space station with the power ", "status_in_portal": "Pending",
        "assignee": "He looked inquisitively at his keyboard and", "status": "pending"},
        "rule": {"use_case_deprecation": null, "name": "Baba Ghanoush", "id": "o7x4o3",
        "url": {"portal": "https://zshops.museum.post/"}}, "id": "1b6uQY", "title":
        "They are written as strings of consecu", "log": {"note_author": "Ports are
        used to communicate with the external world.", "note_date": "2026-07-28T21:45:12.530Z",
        "status_date": "2026-12-12T04:37:21.824Z", "triggered": "2024-12-10T04:03:03.588Z",
        "status_change_by": "Where are my pants?"}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/xr8cqL?fields=title%2Clog%2Creview%2Crule%2Cid
  response:
    body:
      string: '{"data": {"review": {"note": "Its main implementation is the Glasgow
        Haskell Compiler.", "status_in_portal": "Pending", "assignee": "Make me a
        sandwich.", "status": "pending"}, "rule": {"use_case_deprecation": null, "name":
        "Hokkien fried rice", "id": "mf0rAX", "url": {"portal": "https://blog.ltd/"}},
        "id": "xr8cqL", "title": "Do you have any idea why this is no", "log": {"note_author":
        "Haskell is a standardized, general-purpose purely functional pr", "note_date":
        "2026-05-20T09:19:46.974Z", "status_date": "2026-02-13T13:32:10.102Z", "triggered":
        "2024-08-12T06:06:24.301Z", "status_change_by": "They are written as strings
        of consecutive alphanumeric charact"}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/1ct-k8?fields=title%2Clog%2Creview%2Crule%2Cid
  response:
    body:
      string: '{"data": {"review": {"note": "Type classes first appeared in the Haskell
        programming language.", "status_in_portal": "Pending", "assignee": "The arguments
        can be primitive data types o", "status": "pending"}, "rule": {"use_case_deprecation":
        null, "name": "Slinger", "id": "mohGF-", "url": {"portal": "https://itunes.int/"}},
        "id": "1ct-k8", "title": "Ports are created with the built-in function open_port.",
        "log": {"note_author": "Tuples are containers for a fixed number of Erlang
        data types.", "note_date": "2026-12-30T23:28:14.594Z", "status_date": "2026-05-03T03:17:39.304Z",
        "triggered": "2024-12-10T13:04:24.785Z", "status_change_by": "He looked inquisitively
        at his keyboard and wrote another sente"}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '[{"id": "1b6uQY", "statusInPortal": "Pending", "note": "None. Test note.
      Test note. Test note. Test note. Test note. Test note. Test note. Test note.
      Test note", "assignee": "ernest.bartosevic+psdevm@recordedfuture.com"}, {"id":
      "xr8cqL", "statusInPortal": "Pending", "note": "None. Test note. Test note.
      Test note. Test note. Test note. Test note. Test note. Test note. Test note",
      "assignee": "ernest.bartosevic+psdevm@recordedfuture.com"}, {"id": "1ct-k8",
      "statusInPortal": "Pending", "note": "None. Test note. Test note. Test note.
      Test note. Test note. Test note. Test note. Test note", "assignee": "ernest.bartosevic+psdevm@recordedfuture.com"}]'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/v2/alert/update
  response:
    body:
      string: '{"success": [{"id": "1b6uQY", "status": "pending", "statusInPortal":
        "Atoms a", "assignee": "Its main i", "note": {"text": "The syntax {D1,D2,...,Dn}
        denotes a tuple whose arguments are D1, D2, ... Dn. Do you come here often?
        T", "author": "Erlang is ", "date": "2026-10-25T20:15:25.540Z"}, "statusDate":
        "2026-11-19T23:23:07.709Z", "statusChangeBy": "He looked "}, {"id": "xr8cqL",
        "status": "pending", "statusInPortal": "Type cl", "assignee": "Ports are ",
        "note": {"text": "Ports are created with the built-in function open_port.
        Ports are created with the built-in function op", "author": "Do you hav",
        "date": "2026-04-08T10:01:21.828Z"}, "statusDate": "2026-08-05T05:18:28.233Z",
        "statusChangeBy": "Haskell is"}, {"id": "1ct-k8", "status": "pending", "statusInPortal":
        "Where a", "assignee": "Make me a ", "note": {"text": "Make me a sandwich.
        Atoms are used within a program to denote distinguished values. Initiall",
        "author": "Its main i", "date": "2026-09-01T17:05:02.412Z"}, "statusDate":
        "2026-03-13T13:43:32.756Z", "statusChangeBy": "Do you com"}], "error": []}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
