interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Supreme pi", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-02-06T16:43:16.287Z", "owner_id":
        "Atoms are used w", "owner_name": "Type classes first appe", "organisation_id":
        "Haskell features", "organisation_name": "Where are my pants?", "owner_organisation_details":
        {"owner_id": "Ports are used t", "owner_name": "Erlang is a general-pur",
        "organisations": [], "enterprise_id": "Atoms are used w", "enterprise_name":
        "Erlang is known for its designs t"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
