interactions:
- request:
    body: '{"playbook_alert_ids": ["99a83597-3c3f-49c0-af56-c06a636532e8"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/domain_abuse
  response:
    body:
      string: '{"status": {"status_code": "Do", "status_message": "Tuna Pizza"}, "data":
        [{"playbook_alert_id": "task:99a83597-3c3f-49c0-af56-c06a636532e8", "panel_status":
        {"status": "Dismissed", "priority": "Biscuit", "created": "2024-12-10T12:21:55.012Z",
        "updated": "2025-09-15T14:11:14.142Z", "case_rule_id": "Pigs in blank", "case_rule_label":
        "Domain Abuse", "alert_rule": {"id": "oT8Yal", "label": "Mozzarella ", "name":
        "Dirty rice"}, "owner_id": "Garlic bread", "owner_name": "Porterhouse Steak",
        "organisation_id": "Salisbury steak", "organisation_name": "Corn relish",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Chicken
        Salad Wr", "organisation_name": "Piroshky"}], "enterprise_id": "Sour cream",
        "enterprise_name": "Creamed eggs on toast"}, "entity_id": "Falafel", "entity_name":
        "latex.la", "entity_criticality": "Haw", "risk_score": 5, "context_list":
        [{"context": "Cowboy beans"}, {"context": "Eggs Benedict"}], "targets": ["Fish
        Tacos", "Barbecue"], "attackers": ["Tomato compote"], "actions_taken": []},
        "panel_action": [], "panel_evidence_summary": {"explanation": "Maine Lobster",
        "cause": "Currywurs", "resolved_record_list": [], "screenshots": [{"description":
        "Soft Shell Crab", "image_id": "img:f814f884-ceaa-4782-a849-c16ed2965943",
        "created": "2024-12-10T12:31:31.840Z", "availability": "Polenta"}], "screenshot_mentions":
        [{"url": "Boulliabaise", "screenshot": "Garden salad", "document": "Potatoes
        O", "analyzed": "2024-12-10T12:31:24.961Z", "mentioned_entities": [{"entity":
        {"id": "idn:vehicles.dk", "name": "handling.edu", "type": "InternetDomainName"},
        "reference": "Po''Boy", "fragment": "Hawaiian Pizza"}, {"entity": {"id": "idn:porsche.team",
        "name": "compilation.net", "type": "InternetDomainName"}, "reference": "Turkish
        Del", "fragment": "Macaroni salad"}], "mentioned_custom_keywords": []}]},
        "panel_evidence_dns": {"ip_list": [], "mx_list": [], "ns_list": []}, "panel_evidence_whois":
        {"body": [{"provider": "Chicken Liver Pa", "entity": "Moules Frites", "attribute":
        "City chick", "value": {"status": "autoRenewPeriod", "nameServers": ["Spring
        Rolls", "Chicken sandwich", "Root Beer Float"], "registrarName": "Chimichanga",
        "updatedDate": "Blue cheese dressing", "createdDate": "London broil", "expiresDate":
        "Meat Feast Pizza", "privateRegistration": false}, "added": "2025-12-11T01:17:11.801Z"},
        {"provider": "Jerky", "entity": "Turducken", "attribute": "Stuffed peppers",
        "value": {"type": "technicalContact"}, "added": "2025-12-10T00:37:37.548Z"},
        {"provider": "Roasted Chickpea", "entity": "Chicken nugget", "attribute":
        "Pemmican", "value": {"type": "administrativeContact"}, "added": "2025-12-10T00:37:37.548Z"},
        {"provider": "Chinese food", "entity": "Charleston red rice", "attribute":
        "Spaghetti Bolognes", "value": {"type": "registrant"}, "added": "2025-12-10T00:37:37.548Z"}]},
        "panel_log": [{"id": "I9bBK7zU0zm2QqM7BgGMAiQDRPHCspYeDY14UVUXv", "actor_name":
        "Huevos Rancheros", "actor_id": "Bear claw", "created": "2025-09-15T14:11:14.142Z",
        "modified": "Blue cheese dressing", "message": "Chicken French", "context":
        {"type": "domain_abuse", "changes": []}}, {"id": "C414wzU18DaDlnkOXOKGHM6dHwcozFrM1ButGkJmn",
        "actor_name": "Samosa", "actor_id": "Liver and onions", "created": "2025-09-15T14:10:54.430Z",
        "modified": "Pickled cucumber", "changes": {"status_change": {"old": "Mat",
        "new": "Lasagna", "type": "status_change"}}, "context": {"type": "domain_abuse",
        "changes": [{"old": "Gre", "new": "Piroshky", "actions_taken": [], "type":
        "status_change"}]}}, {"id": "bACSEv1YsRPZHcR8QrVLBdPOIi0teIBDdAJOWS6ik", "actor_name":
        "Quesadilla", "actor_id": "Sushi", "created": "2025-07-25T14:41:51.832Z",
        "modified": "Falafel", "changes": {"status_change": {"old": "Huevos Ra", "new":
        "Gyo", "type": "status_change"}}, "context": {"type": "domain_abuse",[...]
- request:
    body: '{"playbook_alert_ids": ["bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/code_repo_leakage
  response:
    body:
      string: '{"status": {"status_code": "Ti", "status_message": "Fattoush Salad"},
        "data": [{"playbook_alert_id": "task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc",
        "panel_status": {"status": "InProgress", "priority": "Chic", "created": "2024-12-10T10:11:54.696Z",
        "updated": "2026-02-13T10:11:00.790Z", "case_rule_id": "Sour cream", "case_rule_label":
        "Data Leakage on Code Repository", "alert_rule": {"id": "qS_wmm", "label":
        "Buffalo burger", "name": "Polenta"}, "owner_id": "Fajitas", "owner_name":
        "Macaroni and cheese", "organisation_id": "Pork and beans", "organisation_name":
        "Chicken \u00e0 la King", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Blue cheese dres", "organisation_name": "Energy bar"}],
        "enterprise_id": "Steamed clams", "enterprise_name": "Escargot"}, "entity_id":
        "Domesticated turkey", "entity_name": "https://revolution.mobi/", "risk_score":
        0, "targets": [{"name": "Fortun"}], "actions_taken": []}, "panel_evidence_summary":
        {"repository": {"id": "url:https://harder.name/", "name": "https://discussions.miami/",
        "owner": {"name": "Crepes"}}, "evidence": [{"assessments": [{"id": "FjfJ2gWhF8TMKayro88X",
        "title": "Haskell is a stan", "value": "Banh "}, {"id": "HzzlWDMtH5wF3BE4M42d2wQQ1Yq",
        "title": "Ports are used to communicate with ", "value": "Ratato"}], "targets":
        [{"name": "Cinnam"}], "url": "https://louise.tel/", "content": "City chicken",
        "published": "2025-03-27T14:56:01.383Z"}, {"assessments": [{"id": "v47vTPusb9xEhkHgriZr",
        "title": "She spent her ear", "value": "Risotto"}, {"id": "lVcw9BugSyvhKxZhKMKQ8WMT4dh",
        "title": "She spent her earliest years readin", "value": "Sausag"}], "targets":
        [{"name": "Queso "}], "url": "https://sandwich.gr/", "content": "Mini pizzas",
        "published": "2025-01-21T23:45:39.488Z"}, {"assessments": [{"id": "yMXMEyKmigzUqlBee3Vv",
        "title": "Do you have any i", "value": "Tama[...]
- request:
    body: '{"playbook_alert_ids": ["f87706b1-cea4-4765-9d50-7647ee9bda9b"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/identity_novel_exposures
  response:
    body:
      string: '{"status": {"status_code": "Su", "status_message": "Pasta salad"},
        "data": [{"playbook_alert_id": "task:f87706b1-cea4-4765-9d50-7647ee9bda9b",
        "panel_status": {"status": "InProgress", "priority": "Potato W", "created":
        "2024-12-05T20:05:50.787Z", "updated": "2026-02-13T10:11:10.360Z", "case_rule_id":
        "Satay", "case_rule_label": "Novel Identity Exposure", "alert_rule": {"id":
        "s8LnBp", "label": "Supreme pizza", "name": "Chicken Manchuria"}, "owner_id":
        "Meatloaf", "owner_name": "Hog fry", "organisation_id": "Suckling Pig", "organisation_name":
        "Pepperoni", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Osso Buco", "organisation_name": "Grilled Snake"}], "enterprise_id": "Spaghetti
        Bologn", "enterprise_name": "Turducken"}, "entity_id": "Margherita Pizza",
        "entity_name": "Haystack", "targets": [{"name": "hazards.biz"}, {"name": "cast.xxx"}],
        "actions_taken": []}, "panel_evidence_summary": {"assessments": [{"name":
        "Succota", "criticality": "Mozzarel"}], "subject": "Shish Kabob", "authorization_url":
        "https://retailer.gov/", "exposed_secret": {"type": "clear", "effectively_clear":
        true, "hashes": [{"algorithm": "SHA1", "hash": "3f786340e814c83b6b4cb5f16eec54fef6577110b4cba007128ef0033ced6820"},
        {"algorithm": "SHA256", "hash": "54b141a14851cf0f23e8ef8859ac716e07d87ec592b6f1f63082d3a36c0de767"},
        {"algorithm": "NTLM", "hash": "82e01c25f9c9ea39f7e09d70866197f01f2e1e23c40f0f762a6960f82b70195d"},
        {"algorithm": "MD5", "hash": "8ba001426a4617dd08f47cf8aee38ad3736f48494f9016aea97bb5d3203e27c0"}],
        "details": {"properties": ["Lorna ", "Hot chicken"], "clear_text_value": "Spanish
        rice", "clear_text_hint": "Tu"}}, "dump": {"name": "Squab", "description":
        "Quesadilla"}, "compromised_host": {"exfiltration_date": "2024-12-05T13:19:24.000Z"},
        "malware_family": {"id": "nlflWX", "name": "Alphabet pasta"}}, "panel_log":
        [{"id": "EbBpryVbld9Yc5iEbbWeoQyfK6OObhsSz0fPpqWjf", "actor_name": "Energy
        bar", "actor_id": "Pepperoni Pizza", "created": "2026-02-13T10:11:10.360Z",
        "modified": "Calas", "changes": {"status_change": {"old": "Poppyseed", "new":
        "Chicago De", "type": "status_change"}}}, {"id": "NCvEYGb5n7lAMV0zPLjchSvsfwMc2aLXmhVeWnrX3",
        "actor_name": "Sichuan Hot Pot", "actor_id": "Piroshky", "created": "2026-02-1[...]
- request:
    body: '{"playbook_alert_ids": ["3b9e9afb-3e4d-4f98-93fa-031cb3088004"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/malware_report
  response:
    body:
      string: '{"status": {"status_code": "Si", "status_message": "Creme Brulee"},
        "data": [{"playbook_alert_id": "task:3b9e9afb-3e4d-4f98-93fa-031cb3088004",
        "panel_status": {"status": "New", "priority": "Hawaiian hays", "assignee_name":
        "Beignets", "assignee_id": "Juba", "created": "2026-02-11T06:00:12.978Z",
        "updated": "2026-02-11T06:00:12.978Z", "case_rule_id": "Creamed eggs ", "case_rule_label":
        "Cobalt Strike tags", "alert_rule": {"id": "5swDSv", "label": "Grilled Snake",
        "name": "Vegemite on Toast"}, "owner_id": "Coq Au Vin", "owner_name": "Tuna
        casserole", "organisation_id": "Clam chowder", "organisation_name": "Chimichanga",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Steak
        Tartare", "organisation_name": "Liver and onions"}], "enterprise_id": "Fish
        Tacos", "enterprise_name": "Calamari"}}, "panel_evidence_summary": {"notification_title":
        "Chile Relle", "report_limit_reached": false, "number_of_reports": 235, "matched_hashes":
        [{"sha256": "811d0fb40caba93913a7860184c4c821e3f25333a438ed5c087b7bba45b4f4ef",
        "is_enterprise_submission": false, "risk_score": 65, "report_overviews": [{"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-k52ccshy4e-behavioral1",
        "sandbox_score": 10, "tags": ["Falafel", "Swi", "Ranch dr", "Bangers and ",
        "Buffalo wing", "Maine Lob", "Chili d", "Phaal", "Chick", "Geoduck"]}, {"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-md58caay2d-behavioral1",
        "sandbox_score": 10, "tags": ["Flan", "Sal", "Buffalo ", "Eggs Neptune", "Supreme
        pizza", "Banh Mi V", "Haystac", "Risott", "Churr", "Patty"]}, {"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-26021[...]
- request:
    body: '{"playbook_alert_ids": ["c89f8024-0462-4a50-88a9-f7e86056d485"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/third_party_risk
  response:
    body:
      string: '{"status": {"status_code": "Al", "status_message": "Energy bar"}, "data":
        [{"playbook_alert_id": "task:c89f8024-0462-4a50-88a9-f7e86056d485", "panel_status":
        {"status[...]
- request:
    body: '{"playbook_alert_ids": ["a8b126d8-4c00-4716-acaa-43905d5a19f8"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/geopolitics_facility
  response:
    body:
      string: '{"status": {"status_code": "St", "status_message": "Ice cream cake"},
        "data": [{"playbook_alert_id": "task:a8b126d8-4c00-4716-acaa-43905d5a19f8",
        "panel_status": {"status": "Resolved", "priority": "Eggs", "created": "2026-02-10T06:53:03.906Z",
        "updated": "2026-02-10T18:54:56.953Z", "case_rule_id": "Ratatouille", "case_rule_label":
        "Geopolitics Facility", "alert_rule": {"id": "w41VFj", "label": "Deviled crab",
        "name": "Reuben"}, "owner_id": "Ranch dressing", "owner_name": "Fried fish",
        "organisation_id": "Escargot", "organisation_name": "Blue cheese dressing",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Mini
        pizzas", "organisation_name": "Carne pizzaiola"}], "enterprise_id": "Risotto",
        "enterprise_name": "Hokkien fried rice"}, "entity_id": "Chick", "entity_name":
        "Ice cream cake", "targets": [{"name": "Tres Leches Cake"}], "actions_taken":
        []}, "panel_evidence_summary": {"assessments": [{"name": "Chicken and waffl",
        "criticality": "Salisbur"}, {"name": "Milk Steak", "criticality": "Carn"}],
        "events": [{"text": "She spent her earliest years reading classic literature,
        and writing poetry. The sequential subset of Erlang supports eager evaluation,
        single assignment, and dynamic typing. Atoms are used within a program to
        denote distinguished values. Ports are created with the built-in functi",
        "source": "Potato salad", "url": "https://slovenia.net/", "assessments": [{"name":
        "Sauteed Morel Mus", "criticality": "American"}], "document_id": "Milk to",
        "time": "2026-02-10T06:29:05.000Z", "images": ["Waffle"]}, {"text": "Initially
        composing light-hearted and irreverent works, he also wrote serious, sombre
        and religious pieces beginning in the 1930s. I don''t even care. They are
        written as strings of consecutive alphanumeric characters, the first character
        being lowercase. Ports are used to communicate with the external world. Er",
        "source": "Frito Pie", "url": "https://the.quebec/", "assessments": [{"name":
        "Chimichanga", "criticality": "Tet[...]
- request:
    body: '{"playbook_alert_ids": ["db6b2635-28f5-49ec-b717-8372de9a96fd"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/vulnerability
  response:
    body:
      string: '{"status": {"status_code": "Br", "status_message": "Cheese dog"}, "data":
        [{"playbook_alert_id": "task:db6b2635-28f5-49ec-b717-8372de9a96fd", "panel_status":
        {"status": "Resolved", "priority": "Choc", "reopen": "Quesa", "created": "2024-11-11T12:13:41.666Z",
        "updated": "2026-02-13T10:10:58.682Z", "case_rule_id": "Hawaiian Pizz", "case_rule_label":
        "Cyber Vulnerability", "alert_rule": {"id": "pAHhqL", "label": "Charleston
        red ric", "name": "Shawarma"}, "owner_id": "Pastrami", "owner_name": "Shrimp
        and Grits", "organisation_id": "Albacore Tuna Me", "organisation_name": "Potato
        Wedges", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Elote", "organisation_name": "Haystack"}], "enterprise_id": "Fried Catfish",
        "enterprise_name": "Chicken Alfredo"}, "entity_id": "Tres L", "entity_name":
        "Domesticated t", "entity_criticality": "Slin", "risk_score": 67, "lifecycle_stage":
        "Stroganof", "targets": [{"name": "Macaroni salad"}], "actions_taken": []},
        "panel_evidence_summary": {"summary": {"targets": [{"name": "Breaded shrimp"}],
        "lifecycle_stage": "Potato sk", "risk_rules": [{"rule": "Phaal", "description":
        "Ice cream cake"}]}, "affected_products": [{"name": "Piroshky"}, {"name":
        "Chicago Deep Dish Pizza"}, {"name": "Corn dog"}, {"name": "Ploye"}, {"name":
        "Chicken Liver Pate"}, {"name": "Falafel"}, {"name": "Currywurst"}, {"name":
        "Ploye"}, {"name": "BBQ Ribs"}, {"name": "Pan Seared Scallops"}, {"name":
        "Pork and beans"}, {"name": "Samosa"}, {"name": "Alphabet pasta"}, {"name":
        "Ploye"}, {"name": "Italian Beef Sandwich"}, {"name": "Muffuletta"}, {"name":
        "American fried rice"}, {"name": "Ch[...]
