interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc
  response:
    body:
      string: '{"status": {"status_code": "Ha", "status_message": "Burnt ends"}, "data":
        {"playbook_alert_id": "task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc", "rule_id":
        "Salmon", "alert_rule": {"id": "qS_wmm", "label": "Bangers and mash", "name":
        "Huevos Rancheros"}, "status": "InProgress", "priority": "Root", "created":
        "2024-12-10T10:11:54.696Z", "updated": "2026-02-13T10:11:00.790Z", "category":
        "code_repo_leakage", "title": "Erlang is a general-purpose, concurrent, functional
        programming langua", "owner_id": "Philly Cheese St", "owner_name": "Chicken
        Biryani", "organisation_id": "Jerky", "organisation_name": "Chicken nuggets",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Bi Bim
        Bap", "organisation_name": "Jerky"}], "enterprise_id": "Cinnamon Roll", "enterprise_name":
        "Sauteed Morel Mushrooms"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/code_repo_leakage/task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc
  response:
    body:
      string: '{"status": {"status_code": "Wa", "status_message": "Potato skins"},
        "data": {"playbook_alert_id": "task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc",
        "panel_status": {"status": "InProgress", "priority": "Drun", "created": "2024-12-10T10:11:54.696Z",
        "updated": "2026-02-13T10:11:00.790Z", "case_rule_id": "Charleston re", "case_rule_label":
        "Data Leakage on Code Repository", "alert_rule": {"id": "qS_wmm", "label":
        "Pickled Okra", "name": "Sour cream"}, "owner_id": "London broil", "owner_name":
        "Creamed corn", "organisation_id": "Hangtown fry", "organisation_name": "Pepperoni",
        "owner_organisation_details": {"organisations": [{"organisation_id": "City
        chicken", "organisation_name": "Chili dog"}], "enterprise_id": "Roasted Chickpea",
        "enterprise_name": "Texas Toast"}, "entity_id": "Shepherd''s Pie", "entity_name":
        "https://round.gy/", "entity_criticality": "", "risk_score": 0, "targets":
        [{"name": "Pepper"}], "actions_taken": []}, "panel_evidence_summary": {"repository":
        {"id": "url:https://infringement.esq/", "name": "https://indexes.istanbul/",
        "owner": {"name": "Margherita Pizza"}}, "evidence": [{"assessments": [{"id":
        "zBfvf3ruJ0vUc6SJdEiZ", "title": "The arguments can", "value": "Turki"}, {"id":
        "SICBeuO1HK7bNKBtXlERonbry55", "title": "Ports are created with the built-in",
        "value": "Potato"}], "targets": [{"name": "Meatca"}], "url": "https://casio.info/",
        "content": "Chicken bog", "published": "2025-03-27T14:56:01.383Z"}, {"assessments":
        [{"id": "Awjrse5LS8gixitBdrI8", "title": "Any element of a ", "value": "Cheese
        d"}, {"id": "H69i6GBAhvfFu4Vl9J03QFxpLop", "title": "Its main implementation
        is the Glas", "value": "Oreo"}], "targets": [{"name": "Escarg"}], "url": "https://fascinating.saarland/",
        "content": "Bird''s Nest Soup", "published": "2025-01-21T23:45:39.488Z"},
        {"assessments": [{"id": "JQ7Ho9TPji0A1cV5UA5Y", "title": "Its main implemen",
[...]
