interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-2d&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"organisations":
        [{"organisation_id": "Make me a sandwi", "organisation_name": "Haskell features
        a type system wi"}], "enterprise_id": "Where are my pan", "enterprise_name":
        "They are written as strings of co"}, "rule": {"use_case_deprecation": null,
        "name": "Doughnut", "id": "n4mLnY", "url": {"portal": "https://presently.yu/"}},
        "id": "OgTn4UY", "title": "Do you have any idea why this is not working?",
        "log": {"note_author": null, "note_date": null, "status_date": null, "triggered":
        "2026-02-13T06:03:19.958Z", "status_change_by": null}}, {"review": {"note":
        null, "status_in_portal": "New", "assignee": null, "status": "no-action"},
        "owner_organisation_details": {"organisations": [{"organisation_id": "Erlang
        is a gene", "organisation_name": "Any element of a tuple can be acc"}], "enterprise_id":
        "Erlang is a gene", "enterprise_name": "The Galactic Empire is nearing co"},
        "rule": {"use_case_deprecation": null, "name": "Rabbit pie", "id": "owPoUd",
        "url": {"portal": "https://a[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-2d&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50&from=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"organisations":
        [{"organisation_id": "Haskell is a sta", "organisation_name": "She spent her
        earliest years read"}], "enterprise_id": "He looked inquis", "enterprise_name":
        "Atoms are used within a program t"}, "rule": {"use_case_deprecation": null,
        "name": "Italian Beef Sandwich", "id": "mf0rAa", "url": {"portal": "https://gas.com/"}},
        "id": "xiQsLL4", "title": "Type classes first appeared in the Haskell p",
        "log": {"note_author": null, "note_date": null, "status_date": null, "triggered":
        "2026-02-12T07:20:58.738Z", "status_change_by": null}}, {"review": {"note":
        null, "status_in_portal": "New", "assignee": null, "status": "no-action"},
        "owner_organisation_details": {"owner_id": "Atoms are used w", "enterprise_id":
        "Make me a sandwi", "owner_name": "Any elem", "organisations": [], "enterprise_name":
        "Do you come here often?"}, "rule": {"use_case_deprecation": null, "name":
        "Paella", "id": "2xWq1xx", "url": {"portal": "https://sequences.mm/"}}, "id":
        "umwYvfI", "title": "Messages can be sent to and received from ports, but
        ", "log": {"note_author": null, "note_date": null, "status_date": null, "triggered":
        "2026-02-12T07:32:55.068Z", "status_change_by": null}}, {"review": {"note":
        null, "stat[...]
[...]
