interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "Do y", "description": "The
        sequential subset", "categories": [{"name": "Souvlaki", "framework": "Ports
        a"}], "criticality": 3, "relatedEntities": [], "name": "Chicken he", "count":
        12492}, {"criticalityLabel": "Messages can ", "description": "Ports are created
        with the built-in function ope", "categories": [{"name": "Escargot", "framework":
        "They ar"}, {"name": "Matzo ", "framework": "Make "}, {"name": "Chili ", "framework":
        "Type "}], "criticality": 5, "relatedEntities": ["Type c"], "name": "Ribs",
        "count": 513}, {"criticalityLabel": "The", "description": "Do you come here
        often?", "categories": [{"name": "Fried fish", "fra[...]
