interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "Type clas", "description":
        "Tuples are containers for a ", "categories": [], "criticality": 3, "relatedEntities":
        [], "name": "Spaghetti an", "count": 2040}, {"criticalityLabel": "Haskell",
        "description": "He looked inquisitively at his k", "categories": [], "criticality":
        1, "relatedEntities": [], "name": "Onion ", "count": 12005}, {"criticalityLabel":
        "Its main i", "description": "Ports are created with the built-in function
        open_", "categories": [{"name": "Fajit", "framework": "Messa"}], "criticality":
        2, "relatedEntities": [], "name": "Osso Buco", "count": 1}, {"criticalityLabel":
        "Haskell", "description": "Atoms can contain any character if they a", "categories":
        [{"name": "Buffalo w", "framework": "Do yo"}], "criticality": 1, "relatedEntities":
        [], "name": "Energy bar", "count": 278443}, {"criticalityLabel": "Erlang is
        know", "description": "Haskell features a type sy", "categories": [{"name":
        "Buffal", "framework": [...]
