interactions:
- request:
    body: '{"filter": {"created": {}, "updated": {"before": "2015-01-01T00:00:00"}},
      "limit": 10}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 0, "total_count": 0, "result": []}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
