interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "Do you co", "description":
        "He looked inquisiti", "categories": [{"name": "Chicke", "framework": "Tuple"}],
        "criticality": 3, "relatedEntities": [], "name": "Italia", "count": 761785},
        {"criticalityLabel": "The synta", "description": "Where are my pants?", "categories":
        [{"name": "Turkis", "framework": "It is"}], "criticality": 3, "relatedEntities":
        [], "name": "Hummus", "count": 9728}, {"criticalityLabel": "Its mai", "description":
        "Ports are created with the built-in ", "categories": [{"name": "Calas", "framework":
        "I don"}], "criticality": 1, "relatedEntities": [], "name": "Banh Mi Vi\u00eat",
        "count": 75375}, {"crit[...]
