interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/1ct-k8?fields=title%2Clog%2Creview%2Crule%2Cid
  response:
    body:
      string: '{"data": {"review": {"note": "Its main implementation is the Glasgow
        Haskell Compiler.", "status_in_portal": "Pending", "assignee": "She spent
        her earliest years reading classi", "status": "pending"}, "rule": {"use_case_deprecation":
        null, "name": "Fry sauce", "id": "mohGF-", "url": {"portal": "https://processing.mil/"}},
        "id": "1ct-k8", "title": "Any element of a tuple can be accessed in constant
        time.", "log": {"note_author": "Do you have any idea why this is not working?",
        "note_date": "2026-07-25T21:24:32.389Z", "status_date": "2026-04-02T03:23:42.278Z",
        "triggered": "2024-12-10T13:04:24.785Z", "status_change_by": "It is also a
        garbage-collected runtime system."}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '[{"id": "1ct-k8", "statusInPortal": "Pending", "note": "None. Test note.
      Test note. Test note. Test note. Test note. Test note. Test note. Test note",
      "assignee": "ernest.bartosevic+psdevm@recordedfuture.com"}]'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/v2/alert/update
  response:
    body:
      string: '{"success": [{"id": "1ct-k8", "status": "pending", "statusInPortal":
        "The arg", "assignee": "Erlang is ", "note": {"text": "Do you have any idea
        why this is not working? Ports are used to communicate with the externa",
        "author": "I don''t ev", "date": "2026-05-10T00:17:20.182Z"}, "statusDate":
        "2026-10-05T21:16:10.280Z", "statusChangeBy": "Ports are "}], "error": []}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
