interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/digitalcollege.org?fields=riskMapping%2CintelCard%2Crisk%2Csightings%2Ctimestamps%2CthreatLists%2CanalystNotes%2Clinks%2CenterpriseLists%2Centity
  response:
    body:
      string: '{"data": {"analystNotes": [{"external_id": "Swiss ", "attributes":
        {"published": "2025-10-08T22:22:14.531Z", "text": "She spent her earliest
        years reading classic literature, and writing poetry. The arguments can be
        primitive data types or compound data types. Make me a sandwich. Messages
        can be sent to and received from ports, but these messages must obey", "authors":
        [{"id": "89qC4JCk6GoGwHQI", "name": "Supreme pizza", "type": "IntegrationUser"}],
        "title": "In 1989 the buildi", "context_entities": [{"id": "ZcUj5ySFdzl0mNmnoExXkafX53qIw0M",
        "name": "St. Paul Sandwich", "type": "EmailAddress"}, {"id": "url:https://tion.mil/",
        "name": "https://webcams.edu/", "type": "URL"}, {"id": "5BaTR4", "name": "Shepherd''",
        "type": "Company"}, {"id": "idn:benefits.bg", "name": "profits.ch", "type":
        "InternetDomainName"}, {"id": "ip:228.235.31.22", "name": "22.110.250.50",
        "type": "IpAddress"}, {"id": "hash:f751d530e87308f138a724bc23c7a72a511483519a68f0aeb62ba5f38e1df2cf",
        "name": "6a7277d770a599d0dfcf2e2bb942080d3b04c8b30cabd245ecb01fc5fcb5546e",
        "type": "Hash"}]}, "source": {"id": "GWzuSoMhDrgQt", "name": "Deviled egg",
        "type": "Source"}, "id": "_AI5Iq"}, {"external_id": "Pickle", "attributes":
        {"published": "2025-10-08T22:20:09.143Z", "text": "The syntax {D1,D2,...,Dn}
        denotes a tuple whose arguments are D1, D2, ... Dn. Atoms are used within
        a program to denote distinguished values. Erlang is known for its designs
        that are well suited for systems. Messages can be sent to and re", "authors":
        [{"id": "k4VnXXyqV7SZ4esz", "name": "Frito Pie", "type": "IntegrationUser"}],
        "title": "Haskell is a stand", "context_entities": [{"id": "cj9tQDCQNbZgxpVLWb0R8typYSTU5MC",
        "name": "Russian tea cake", "type": "EmailAddress"}, {"id": "url:https://worlds.tel/",
        "name": "https://fri.zulu/", "type": "URL"}, {"id": "5BaTR4", "name": "Tres
        Lech", "type": "Company"}, {"id": "idn:melissa.aquitaine", "name": "shuttle.td",
        "type": "InternetDomainName"}, {"id": "ip:72.30.226.187", "name": "87.139.193.107",
        "type": "IpAddress"}, {"id": "hash:69619ee68e154b2ec60d3915acdcb51075775f34a0fbc7b1f98e844c1921749c",
        "name": "76b2d6997e63c91336440352a70b43d86d4c49ea4bbfccb9e5d67b99963cb940",
        "type": "Hash"}]}, "source": {"id": "VnIKbatB4u2um", "name": "Phaal", "type":
        "Source"}, "id": "_AI5Io"}, {"attributes": {"validated_on": "2020-12-18T05:01:44.437Z",
        "published": "2020-12-18T05:01:44.437Z", "text": "The arguments can be primitive
        data types or compound data types. Haskell features a type system with type
        inference and lazy evaluation. Do you have any idea why this is not working?
        The Galactic Empire is nearing completion of the Death Star, a space station
        with the power to destroy entire planets. Type classes first appeared in the
        Haskell programming language.", "topic": {"id": "TXSFt0", "name": "American
        fri", "type": "Topic", "description": "Beef Manhattan"}, "context_entities":
        [{"id": "qG1tO", "name": "Pizza stri", "type": "Company"}, {"id": "LPc838",
        "name": "Poke", "type": "AttackVector"}, {"id": "CtkwWu", "name": "Pop-Tarts",
        "type": "Technology"}, {"id": "Tt9BLf", "name": "Roasted Chickpeas", "type":
        "Organization"}, {"id": "U4cW3", "name": "Bellini", "type": "Product"}, {"id":
        "CTYAbt", "name": "Tres Leches Cake", "type": "Product"}, {"id": "JFWqep",
        "name": "Grits", "type": "Product"}, {"id": "idn:tier.xxx", "name": "past.de",
        "type": "InternetDomainName"}, {"id": "38Y9Q", "name": "Cheese balls", "type":
        "Country"}], "validation_urls": [{"id": "url:https://textbook.com/", "name":
        "https://label.pets/", "type": "URL"}, {"id": "url:https://century.tz/", "name":
        "https://specifics.name/", "type": "URL"}], "title": "The arguments can be
        primitive data types or compound data types.", "note_entities": [{"id": "ip:229.210.81.251",
        "name": "49.182.194.70", "type": "IpAddress"}, {"id": "ip:98.113.132.6", "name":
        "221.214.251.60", "type": "IpAddress"}, {"id": "ip:206.168.183.166", "name":
        "134.113.114.196", "type": "IpAddress"}, {"id": "idn:zero.webcam", "name":
        "starter.protection", "type": "InternetDomainName"}, {"id": "ip:233.62.174.58",
        "name": "229.200.20.48", "type": "IpAddress"}, {"id": "ip:135.162.134.244",
        "name": "188.179.218.238", "type"[...]
