interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/search?limit=5&fields=analystNotes%2Centity%2CfileHashes%2ChashAlgorithm%2CintelCard%2Clinks%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-11-26T14:36:51.000Z",
        "firstSeen": "2026-08-24T11:35:43.975Z"}, "entity": {"id": "hash:366f511f1f53c049c0a539471225923629fd7eb69e1820796b8a95ff6b814d35",
        "name": "Pickled cucumber", "type": "Hash"}, "analystNotes": [], "hashAlgorithm":
        "The Gal", "risk": {"criticalityLabel": "Atoms are", "riskString": "The ",
        "rules": 1, "criticality": 3, "riskSummary": "The syntax {D1,D2,...,Dn} denotes
        a tu", "score": 89, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "In 1989 the building was heavily damaged by fire, but it has since been restored.",
        "rule": "Initially composing ligh", "criticality": 3, "timestamp": "2026-11-07T07:32:46.874Z",
        "criticalityLabel": "Ports are"}]}, "fileHashes": ["Where are my pants?",
        "Atoms are used within a program to denote distinguished values.", "Atoms
        can contain any character if they "], "intelCard": "https://clip.miami/",
        "links": {"hits": [], "method_aggregates": [{"count": 0, "type": "hHQyM6"},
        {"count": 0, "type": "hHQyM7"}, {"count": 0, "type": "gTB8y2"}], "counts":
        []}}, {"timestamps": {"lastSeen": "2026-09-12T04:49:15.340Z", "firstSeen":
        "2026-04-15T15:56:34.972Z"}, "entity": {"id": "hash:5543e242980760e24de003d375f4dbdbd1c498239380ae79e18f14d1ced33bee",
        "name": "Veggie Pizza", "type": "Hash"}, "analystNotes": [], "hashAlgorithm":
        "The Gal", "risk": {"criticalityLabel": "The Galac", "riskString": "In 1",
        "rules": 2, "criticality": 3, "riskSummary": "Any element of a tuple can be
        accessed", "score": 89, "evi[...]
