interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/search?limit=5&fields=entity%2ChashAlgorithm%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-08-06T21:15:40.554Z",
        "firstSeen": "2026-03-13T15:55:57.511Z"}, "risk": {"criticalityLabel": "The
        Galac", "riskString": "Type", "rules": 1, "criticality": 3, "riskSummary":
        "I don''t even care.", "score": 89, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "I don''t even care.", "rule": "The Galactic Empire
        is n", "criticality": 3, "timestamp": "2026-06-23T17:25:59.089Z", "criticalityLabel":
        "Where are"}]}, "entity": {"id": "hash:47d40edc4434d212792cb84a68519c735f78ede0fa102b9addcc92097dec51b5",
        "name": "Peanut butter", "type": "Hash"}, "hashAlgorithm": "Any ele"}, {"timestamps":
        {"lastSeen": "2026-03-03T02:41:56.143Z", "firstSeen": "2026-09-11T03:28:36.713Z"},
        "risk": {"criticalityLabel": "Haskell i", "riskString": "The ", "rules": 2,
        "criticality": 3, "riskSummary": "Atoms are used within a program to den",
        "score": 89, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "The arguments can be primitive data types or compound data types.", "rule":
        "Ports are created", "criticality": 2[...]
