interactions:
- request:
    body: '{"limit": 50, "statuses": ["New"], "priority": ["High"], "category": ["identity_novel_exposures",
      "domain_abuse"], "created_range": {"from": "2026-03-03T14:41:00"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/search
  response:
    body:
      string: '{"status": {"status_code": "Ba", "status_message": "Swiss steak"},
        "data": [{"playbook_alert_id": "task:5e862a21-e391-4db5-964c-7a468c4d4dec",
        "rule_id": "Flan", "alert_rule": {"id": "oT8Yal", "label": "Frito Pie", "name":
        "Home fries"}, "status": "New", "priority": "Praw", "created": "2026-03-13T13:59:55.815Z",
        "updated": "2026-03-13T14:10:12.744Z", "category": "domain_abuse", "title":
        "The arguments can be ", "owner_id": "Garden salad", "owner_name": "Grilled
        Snake", "organisation_id": "Samosa", "organisation_name": "Brisket", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Waffle", "organisation_name": "Salted
        caramel coo"}], "enterprise_id": "Ammonia cookie", "enterprise_name": "Macaroni
        and Cheese"}, "actions_taken": []}, {"playbook_alert_id": "task:4e264145-8de3-499e-abe5-3147d208c1e3",
        "rule_id": "Satay", "alert_rule": {"id": "oT8Yal", "label": "Cheese Curd",
        "name": "Maraca pie"}, "status": "New", "priority": "Elot", "created": "2026-03-13T13:26:36.609Z",
        "updated": "2026-03-13T13:26:36.609Z", "category": "domain_abuse", "title":
        "Any element of", "owner_id": "Apple sauce", "owner_name": "Bulgogi", "organisation_id":
        "Goulash", "organisation_name": "Chicken \u00e0 [...]
- request:
    body: '{"limit": 50, "statuses": ["New"], "priority": ["High"], "category": ["identity_novel_exposures",
      "domain_abuse"], "created_range": {"from": "2026-03-03T14:41:00"}, "offset":
      "eyJvZmZzZXQiOlsxNzczMTkxNjU4NjM0LCJ0YXNrOjVhMDdhODUzLWY5MTMtNDg5Mi04ZjQ5LTMwYzQ0ZDQyODE0NyJdfQ=="}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/search
  response:
    body:
      string: '{"status": {"status_code": "Gr", "status_message": "Shucked Oysters"},
        "data": [{"playbook_alert_id": "task:ec1f916d-009c-4b05-9037-8f814a9b27d6",
        "rule_id"[...]
[...]
- request:
    body: '{"limit": 46, "priority": ["High", "Moderate"], "category": ["identity_novel_exposures"],
      "created_range": {"from": "2026-03-03T14:41:00"}, "offset": "eyJvZmZzZXQiOlsxNzcyNTQ5NDM5ODk5LCJ0YXNrOjA3YTJmYmQwLWM2YTktNDNlMC1iZDlkLTA1YzU0MTY5ODQyYiJdfQ=="}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/search
  response:
    body:
      string: '{"status": {"status_code": "Ne", "status_message": "Hot Chicken sandwich"},
        "data": [], "counts": {"returned": 0, "total": 54}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
