interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:21YKUC/info
  response:
    body:
      string: '{"id": "report:21YKUC", "name": "Calf''s liver", "type": "entity",
        "created": "2025-01-28T00:24:08.686Z", "updated": "2026-02-05T17:22:51.456Z",
        "owner_id": "Erlang is a gene", "owner_name": "Its main implementation", "organisation_id":
        "Atoms can contai", "organisation_name": "Make me a sandwich.", "owner_organisation_details":
        {"owner_id": "She spent her ea", "owner_name": "Messages can be sent to",
        "organisations": [], "enterprise_id": "Any element of a", "enterprise_name":
        "Make me a sandwich."}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"entity": {"id": "ip:10.10.10.10"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/report:21YKUC/entity/remove
  response:
    body:
      string: '{"result": "Ports are"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
