interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/search?limit=5&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-07-13T20:29:36.798Z",
        "firstSeen": "2026-10-02T22:29:56.012Z"}, "risk": {"criticalityLabel": "Atoms
        are", "riskString": "Mess", "rules": 4, "criticality": 3, "riskSummary": "Ports
        are created with the built-in fu", "score": 89, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "It is also a garbage-collected runtime system.", "rule":
        "Erlang is known for its designs that ar", "criticality": 1, "timestamp":
        "2026-12-05T14:52:55.776Z", "criticalityLabel": "Where a"}, {"mitigationString":
        "", "evidenceString": "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments
        are D1, D2, ... Dn.", "rule": "I don''t even care.", "criticality": 1, "timestamp":
        "2026-07-09T13:07:06.998Z", "criticalityLabel": "Erlang "}, {"mitigationString":
        "", "evidenceString": "In 1989 the building was heavily damaged by fire, but
        it has since been restored.", "rule": "The sequential subset of Erlang supp",
        "criticality": 1, "timestamp": "2026-11-08T03:20:19.952Z", "criticalityLabel":
        "Tuples "}, {"mitigationString": "", "evidenceString": "Tuples are containers
        for a fixed number of Erlang data types.", "rule": "Its main implementation
        is the Gl", "criticality": 3, "timestamp": "2026-02-25T23:44:56.418Z", "criticalityLabel":
        "It is als"}]}, "entity": {"id": "url:https://approximate.xxx/", "name": "Chicken
        Manchurian", "type": "URL"}}, {"timestamps": {"lastSeen": "2026-07-02T14:13:58.421Z",
        "firstSeen": "2026-09-26T20:05:35.045Z"}, "risk": {"criticalityLabel": "They
        are ", "riskString": "Do yo", "rules": 13, "criticality": 3, "riskSummary":
        "In 1989 the building was heavily damage", "score": 83, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Where are my pants?", "rule":
        "Ports are created with the built-in fun", "criticality": 1, "timestamp":
        "2026-06-[...]
