interactions:
- request:
    body: '{"limit": 50, "category": ["domain_abuse", "cyber_vulnerability", "third_party_risk",
      "code_repo_leakage", "identity_novel_exposures", "geopolitics_facility", "malware_report"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/search
  response:
    body:
      string: '{"status": {"status_code": "Gr", "status_message": "Sonofabitch stew"},
        "data": [{"playbook_alert_id": "task:f446a8af-94fc-4536-8848-c1fad75713cf",
        "rule_id": "Hot ch", "alert_rule": {"id": "qS_wmm", "label": "Pork Belly",
        "name": "Pickled cucumber"}, "status": "New", "priority": "Apple sa", "created":
        "2026-03-13T14:40:32.281Z", "updated": "2026-03-13T14:40:36.572Z", "category":
        "code_repo_leakage", "title": "Erlang is a general-purpose, concurrent, functional",
        "owner_id": "Apple sauce", "owner_name": "Pocky", "organisation_id": "Garlic
        bread", "organisation_name": "Margherita Pizza", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Apple butter", "organisation_name":
        "Macaroni and Cheese"}], "enterprise_id": "Salmon pasta bak", "enterprise_name":
        "Ammonia cookie"}, "actions_taken": []}, {"playbook_alert_id": "task:e1f21f25-f300-4874-b95d-f8fef1534f1f",
        "rule_id": "Gyoza", "alert_rule": {"id": "qS_wmm", "label": "Gyros", "name":
        "Carolina style"}, "status": "New", "priority": "Ratatoui", "created": "2026-03-13T14:40:31.796Z",
        "updated": "2026-03-13T14:40:36.386Z", "category": "code_repo_leakage", "title":
        "Any element of a tuple can be accessed in con", "owner_id": "Shucked Oysters",
        "owner_name": "Juba", "organisation_id": "Chicken [...]
- request:
    body: '{"limit": 50, "category": ["domain_abuse", "cyber_vulnerability", "third_party_risk",
      "code_repo_leakage", "identity_novel_exposures", "geopolitics_facility", "malware_report"],
      "offset": "eyJvZmZzZXQiOlsxNzczNDEyNzUzODM2LCJ0YXNrOjVmNzU0NDNjLTk3MmEtNDY1Ni04MDc5LTQ5YjgyMDU4MDVhZiJdfQ=="}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/search
  response:
    body:
      string: '{"status": {"status_code": "To", "status_message": "Falafel"}, "data":
        [{"playbook_alert_id": "task:6125f5b6-757a-48f5-826e-3eb77883733b", "rule_id":
        "Jell-O", "a[...]
