interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/117.72.35.30?fields=timestamps%2Centity%2Crisk
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-07-22T19:06:33.912Z", "firstSeen":
        "2026-03-21T18:41:14.240Z"}, "risk": {"criticalityLabel": "Its main i", "riskString":
        "The ", "rules": 8, "criticality": 2, "riskSummary": "Initially composing
        light-hearted and ", "score": 46, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "I don''t even care.", "rule": "Erlang is a general-purpose,
        concurrent", "criticality": 1, "timestamp": "2026-01-25T13:02:30.408Z", "criticalityLabel":
        "Erlang "}, {"mitigationString": "", "evidenceString": "Make me a sandwich.",
        "rule": "Where are my pants?", "criticality": 1, "timestamp": "2026-10-16T02:08:13.203Z",
        "criticalityLabel": "Haskell"}, {"mitigationString": "", "evidenceString":
        "Make me a sandwich.", "rule": "It is also a garbage-collected r", "criticality":
        1, "timestamp": "2026-07-24T20:20:08.897Z", "criticalityLabel": "Any ele"},
        {"[...]
