interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:3b9e9afb-3e4d-4f98-93fa-031cb3088004
  response:
    body:
      string: '{"status": {"status_code": "Ma", "status_message": "Spanish rice"},
        "data": {"playbook_alert_id": "task:3b9e9afb-3e4d-4f98-93fa-031cb3088004",
        "rule_id": "Pickle", "alert_rule": {"id": "5swDSv", "label": "Meatloaf", "name":
        "Pumpkin pie"}, "status": "New", "priority": "Cheese fries", "created": "2026-02-11T06:00:12.978Z",
        "updated": "2026-02-11T06:00:12.978Z", "category": "malware_report", "title":
        "The Galacti", "assignee_name": "Turducken", "assignee_id": "Osso Buco", "owner_id":
        "Mozzarella Stick", "owner_name": "Macaroni and Cheese", "organisation_id":
        "Tetrazzini", "organisation_name": "Hoppin'' John", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Buffalo wing", "organisation_name":
        "Juba"}], "enterprise_id": "Maple Bacon Doug", "enterprise_name": "Shish Kabob"},
        "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/malware_report/task:3b9e9afb-3e4d-4f98-93fa-031cb3088004
  response:
    body:
      string: '{"status": {"status_code": "Fr", "status_message": "Sour cream"}, "data":
        {"playbook_alert_id": "task:3b9e9afb-3e4d-4f98-93fa-031cb3088004", "panel_status":
        {"status": "New", "priority": "Sweet Potato ", "assignee_name": "Tres Leches
        Cake", "assignee_id": "Potato Wedges", "created": "2026-02-11T06:00:12.978Z",
        "updated": "2026-02-11T06:00:12.978Z", "case_rule_id": "Rabbit pie", "case_rule_label":
        "Cobalt Strike tags", "alert_rule": {"id": "5swDSv", "label": "Chicken Birya",
        "name": "Pork and beans"}, "owner_id": "Grilled Snake", "owner_name": "BBQ
        Chicken Pizza", "organisation_id": "Poppyseed muffin", "organisation_name":
        "Oysters Rockefeller", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Smelt", "organisation_name": "Montreal Smoked Meat"}], "enterprise_id": "Meatloaf",
        "enterprise_name": "Steak Tartare"}}, "panel_evidence_summary": {"notification_title":
        "Flan", "report_limit_reached": false, "number_of_reports": 235, "matched_hashes":
        [{"sha256": "0bac5618cc85f6611a263263547e75226c57c03b085dbb91296f7e0ae5ebedc7",
        "is_enterprise_submission": false, "risk_score": 65, "report_overviews": [{"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-k52ccshy4e-behavioral1",
        "sandbox_score": 10, "tags": ["Deviled ", "Chi", "Chowder", "Chocolate Ch",
        "Pork Belly", "Potato sk", "Potatoe", "Gazpac", "Wasab", "Po''Boy"]}, {"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-md58caay2d-behavioral1",
        "sandbox_score": 10, "tags": ["Beef Man", "Pic", "Choco pi", "Gyoza", "Low
        Country Boil", "French On", "Rolled ", "Hokkie", "Choco", "Mango an"]}, {"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260[...]
