interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:f87706b1-cea4-4765-9d50-7647ee9bda9b
  response:
    body:
      string: '{"status": {"status_code": "Po", "status_message": "Turducken"}, "data":
        {"playbook_alert_id": "task:f87706b1-cea4-4765-9d50-7647ee9bda9b", "rule_id":
        "Mini p", "alert_rule": {"id": "s8LnBp", "label": "Currywurst", "name": "Goulash"},
        "status": "InProgress", "priority": "Ice Crea", "created": "2024-12-05T20:05:50.787Z",
        "updated": "2026-02-13T10:11:10.360Z", "category": "identity_novel_exposures",
        "title": "Any element of a tuple can be acc", "owner_id": "Oysters Rockefel",
        "owner_name": "Alice Springs Chicken", "organisation_id": "Meatloaf", "organisation_name":
        "Tuna Pizza", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Milkshake", "organisation_name": "Steak sandwich"}], "enterprise_id": "Protein
        bar", "enterprise_name": "Shucked Oysters"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/identity_novel_exposures/task:f87706b1-cea4-4765-9d50-7647ee9bda9b
  response:
    body:
      string: '{"status": {"status_code": "Ba", "status_message": "Spaghetti Bolognese"},
        "data": {"playbook_alert_id": "task:f87706b1-cea4-4765-9d50-7647ee9bda9b",
        "panel_status": {"status": "InProgress", "priority": "Turducke", "created":
        "2024-12-05T20:05:50.787Z", "updated": "2026-02-13T10:11:10.360Z", "case_rule_id":
        "Chicken Manch", "case_rule_label": "Novel Identity Exposure", "alert_rule":
        {"id": "s8LnBp", "label": "Turducken", "name": "Tomato compote"}, "owner_id":
        "Sausage gravy", "owner_name": "Blue-plate special", "organisation_id": "Stuffed
        peppers", "organisation_name": "Coleslaw", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Roasted Bone Mar", "organisation_name": "Pickled cucumber"}],
        "enterprise_id": "Poutine", "enterprise_name": "Bao"}, "entity_id": "Parma
        Ham", "entity_name": "London broil", "targets": [{"name": "pleasant.nagoya"},
        {"name": "pest.shiksha"}], "actions_taken": []}, "panel_evidence_summary":
        {"assessments": [{"name": "Kung Pa", "criticality": "Souvlaki"}], "subject":
        "Quesadilla", "authorization_url": "https://indoor.sydney/", "exposed_secret":
        {"type": "clear", "effectively_clear": true, "hashes": [{"algorithm": "SHA1",
        "hash": "af0c853c1c239523cc95502b26b222f21d6488e350176ba876317e2156c6003b"},
        {"algorithm": "SHA256", "hash": "0e99c37ecc8fa1f421807600c749cac60ed8f221df27cd4d5bfe71dccf0af73d"},
        {"algorithm": "NTLM", "hash": "68e73957b27e416583bdde23c4239fa3d4c7cb141455e10f0e07f57bc4361a97"},
        {"algorithm": "MD5", "hash": "18689f3a80b1dee44782688c27e4b0cafda74f030d8066c3bac1692a6f01aa3f"}],
        "details": {"properties": ["Pasta ", "Sloppy joe"], "clear_text_value": "Butter
        cookie", "clear_text_hint": "Pl"}}, "dump": {"name": "Corn dog", "description":
        "Calf''s liver and bacon"}, "compromised_host": {"exfiltration_date": "2024-12-05T13:19:24.000Z"},
        "malware_family": {"id": "nlflWX", "name": "Supreme pizza"}}, "panel_log":
        [{"id": "Si9WIqorrbiR6eAJ7QMglmXZlGlfY8KyL1kqE4MeJ", "actor_name": "Apple
        sauce", "actor_id": "Poke", "created": "2025-05-29T12:28:59.248Z", "modified":
        "Mulligan stew", "message": "Pocky"}, {"id": "x3Wzxrcn7ZUdoJrzAxjibI3ts9Vuov4g0wuFgqptR",
        "actor_name": "Pocky", "actor_id": "Philly Cheese St", "created": "2025-05-29T12:29:58.430Z",
        "modified": "Chili con carne", "message": "Soul food"}, {"id": "bTv2fMvWyiDJqXK3buOEdVkvzIKhIxsyZ2psMPOAL",
        "actor_name": "Pepperoni", "actor_id": "Glorified rice", "created": "2025-05-29T12:38:19.661Z",
        "modified": "Steak sauce", "message": "Macaroni and Cheese"}, {"id": "IqGkGAuEQfaoyUVchfOUimeNjOlNGyTIx3eJ6AIvb",
        "actor_name": "Greek salad", "actor_id": "Chocolate cheese", "created": "2025-05-29T15:21:37.183Z",
        "modified": "Brunswick stew", "changes": {"status_change": {"old": "Kun",
        "new": "Popover", "type": "status_change"}}}, {"id": "rlHlprSkDhS6t1qoYcO55MYIM603LlWBVrTUSDVze",
        "actor_name": "Tagine", "actor_id": "Tagine", "created": "2025-05-29T15:27:08.140Z",
        "modified": "Russian dressing", "changes": {"status_change": {"old": "Bellini",
        "new": "Chile Rell", "type": "status_change"}}}, {"id": "cNVyDdSnnU2CFXGrmdxiY5fxbzfQHTrIKZF7T0bKM",
        "actor_name": "Salmon pasta bake", "actor_id": "Calamari", "created": "2025-05-29T15:28:17.885Z",
        "mod[...]
