interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc
  response:
    body:
      string: '{"status": {"status_code": "La", "status_message": "Bagels and Lox"},
        "data": {"playbook_alert_id": "task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc",
        "rule_id": "Squab", "alert_rule": {"id": "qS_wmm", "label": "Empanada", "name":
        "Texas Toast"}, "status": "InProgress", "priority": "Doug", "created": "2024-12-10T10:11:54.696Z",
        "updated": "2026-02-13T10:11:00.790Z", "category": "code_repo_leakage", "title":
        "She spent her earliest years reading classic literature, and writing p",
        "owner_id": "Grilled Snake", "owner_name": "Crab Rangoon", "organisation_id":
        "Sour cream", "organisation_name": "Haystack", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Tamales", "organisation_name": "Italian
        Beef Sandwich"}], "enterprise_id": "Po''Boy", "enterprise_name": "Coleslaw"},
        "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/code_repo_leakage/task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc
  response:
    body:
      string: '{"status": {"status_code": "So", "status_message": "Root Beer Float"},
        "data": {"playbook_alert_id": "task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc",
        "panel_status": {"status": "InProgress", "priority": "Live", "created": "2024-12-10T10:11:54.696Z",
        "updated": "2026-02-13T10:11:00.790Z", "case_rule_id": "Fries", "case_rule_label":
        "Data Leakage on Code Repository", "alert_rule": {"id": "qS_wmm", "label":
        "Sauteed Morel Mushrooms", "name": "Corn chowder"}, "owner_id": "Chocolate
        Chip C", "owner_name": "Corn dog", "organisation_id": "Chicken \u00e0 la Kin",
        "organisation_name": "Chicken Alfredo", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Chicago Deep Dis", "organisation_name": "Lasagna"}],
        "enterprise_id": "Empanada", "enterprise_name": "Pickled cucumber"}, "entity_id":
        "Philly Cheese Steak", "entity_name": "https://albums.mv/", "entity_criticality":
        "", "risk_score": 0, "targets": [{"name": "Black "}], "actions_taken": []},
        "panel_evidence_summary": {"repository": {"id": "url:https://jobs.name/",
        "name": "https://present.coop/", "owner": {"name": "Steamed clams"}}, "evidence":
        [{"assessments": [{"id": "6jP9KXWDz13i7xzVqZJk", "title": "She spent her ear",
        "value": "Blue "}, {"id": "g1RtFXykiTYjZm6y869gxsTJhc3", "title": "Messages
        can be sent to and receive", "value": "Blue-p"}], "targets": [{"name": "Poke"}],
        "url": "https://exact.pm/", "content": "Escargot", "published": "2025-03-27T14:56:01.383Z"},
        {"assessments": [{"id": "yRDp09HFnuhbfFYbdupc", "title": "Any element of a
        ", "value": "Key Lime"}, {"id": "CVP7RgDZBs07oaYmsvIXvwdu5a7", "title": "Do
        you come here often?", "value": "Philad"}], "targets": [{"name": "Bi Bim"}],
        "url": "https://advert.heart/", "content": "Seafood cocktail", "published":
        "2025-01-21T23:45:39.488Z"}, {"assessments": [{"id": "IzeRzM1rkVmTJSe39brA",
        "title": "Any element of a ", "value": "T[...]
