interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/search?limit=1&riskScore=%5B%2C90%29&fields=entity%2ClifecycleStage%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"lifecycleStage": "Atoms can", "timestamps":
        {"lastSeen": "2026-08-18T05:54:24.040Z", "firstSeen": "2026-05-18T15:40:33.857Z"},
        "risk": {"criticalityLabel": "It is al", "riskString": "Init", "rules": 7,
        "criticality": 4, "riskSummary": "I don''t even care.", "score": 89, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "The sequential subset of Erlang
        supports eager evaluation, single assignment, and dynamic typing.", "rule":
        "Erlang is a general-purpose, concu", "criticality": 1, "timestamp": "2026-05-19T21:54:11.949Z",
        "criticalityLabel": "The"}, {"mitigationString": "", "evidenceString": "Its
        main implementation is the Glasgow Haskell Compiler.", "rule": "Atoms can
        contain any characte", "criticality": 1, "timestamp": "2026-01-24T05:42:12.914Z",
        "criticalityLabel": "The"}, {"mitigationString": "", "evidenceString": "Type
        classes first appeared in the Haskell programming language.", "rule": "Messages
        can be sent to and received from p[...]
