interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/search?limit=5&fields=entity%2ClifecycleStage%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"lifecycleStage": "Tuples ar", "timestamps":
        {"lastSeen": "2026-03-30T03:53:36.041Z", "firstSeen": "2026-01-28T20:22:43.635Z"},
        "risk": {"criticalityLabel": "Haskell featu", "riskString": "Any e", "rules":
        10, "criticality": 5, "riskSummary": "In 1989 the building was heavily damage",
        "score": 99, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Its main implementation is the Glasgow Haskell Compiler.", "rule": "He looked
        inquisitively at his keyboard and", "criticality": 1, "timestamp": "2026-03-23T09:20:39.769Z",
        "criticalityLabel": "Mes"}, {"mitigationString": "", "evidenceString": "In
        1989 the building was heavily damaged by fire, but it has since been restored.",
        "rule": "The Galactic Empire is nearing co", "criticality": 1, "timestamp":
        "2026-04-21T22:09:03.517Z", "criticalityLabel": "Ini"}, {"mitigationString":
        "", "evidenceString": "The Galactic Empire is nearing completion of the Death
        Star, a space station with the power[...]
