interactions:
- request:
    body: '{"hash": ["e3f236e4aeb73f8f8f0caebe46f53abbb2f71fa4b266a34ab50e01933709e877"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/soar/v3/enrichment
  response:
    body:
      string: '{"data": {"results": [{"risk": {"context": {"phishing": {"summary":
        [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule": ""}, "malware":
        {"summary": [], "rule": {"maxCount": 0}, "score": 89.0, "mostCriticalRule":
        ""}, "public": {"summary": [], "rule": {"maxCount": 0}, "score": 89.0, "mostCriticalRule":
        ""}, "c2": {"summary": [], "rule": {"maxCount": 0}, "score": 0.0, "mostCriticalRule":
        ""}}, "rule": {"count": 4, "mostCritical": "Chicken Biryani", "maxCount":
        17, "evidence": {"historicalThreatListMembership": {"count": 1, "timestamp":
        "2025-07-18T03:56:21.581Z", "description": "Prawn Pizza", "rule": "Churrasco",
        "sightings": -1, "mitigation": "", "level": 1}, "positiveMalwareVerdict":
        {"count": 6, "timestamp": "2025-04-30T21:31:45.212Z", "description": "Shrimp
        and Grits", "rule": "Fish Tacos", "sightings": 17, "mitigation": "", "level":
        3}, "threatResearcher": {"count": 2, "timestamp": "2025-07-03T13:02:03.161Z",
        "description": "Falafel", "rule": "Jalapeno Poppers", "sightings": 20, "mitigation":
        "", "level": 1}, "linkedToMalware": {"count": 13, "timestamp": "2023-10-18T19:40:57.000Z",
        "description": "Crab cake", "rule": "Drunken chicken", "sightings": 83, "mitigation":
        "", "level": 2}}, "summary": [{"count": 2.0, "level": 1.0}, {"count": 1.0,
        "level": 2.0}, {"count": 1.0, "level": 3.0}]}, "score": 89, "level": 3.0},
        "entity": {"id": "hash:43693ec8e8af6ce4c26698cbc21200a621da5d9798825603048e9bb9e53ec039",
        "name": "33192454ddcb1cf56fbc2f53b054431f4f904a4f1c6ea533968a394dc968d071",
        "type": "Hash"}}]}, "counts": {"returned": 1, "total": 1}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
