interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/entity-match/entity/SoA6SP
  response:
    body:
      string: '{"data": {"id": "SoA6SP", "type": "Malware", "attributes": {"name":
        "Popo", "common_names": ["Atoms can co", "Do you have", "Any elemen", "The
        sequent", "Any element of ", "I don''t even", "Haskell "], "alias": ["The
        argu", "The Galactic Em", "Erlang is a", "Hask", "Erlang is a", "The Galac",
        "Haskell is a sta", "In 1989 th", "The Galactic Em", "She spent he", "Messages
        can be", "Where are ", "The Ga", "Its main impl", "Initially c", "He looked
        inquisitiv", "Wher"], "is_threat_actor": false}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
