interactions:
- request:
    body: '{"name": "meow", "type": "text"}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/create
  response:
    body:
      string: '{"id": "report:BERc0ui", "name": "Dome", "type": "text", "created":
        "2026-02-13T10:09:56.698Z", "updated": "2026-02-13T10:09:56.698Z", "owner_id":
        "She spent her ea", "owner_name": "Initially composing lig", "organisation_id":
        "The Galactic Emp", "organisation_name": "Atoms can contain any character
        i", "owner_organisation_details": {"owner_id": "The arguments ca", "owner_name":
        "Do you have any idea wh", "organisations": [], "enterprise_id": "Atoms are
        used w", "enterprise_name": "She spent her earliest years read"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
