interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"organisations":
        [{"organisation_id": "Its main impleme", "organisation_name": "The arguments
        can be primitive da"}], "enterprise_id": "The arguments ca", "enterprise_name":
        "The sequential subset of Erlang s"}, "rule": {"use_case_deprecation": null,
        "name": "Shrimp Creole", "id": "n4mLnY", "url": {"portal": "https://course.aero/"}},
        "id": "IT6Vt2F", "title": "Where are my pants?", "log": {"note_author": null,
        "note_date": null, "status_date": null, "triggered": "2026-02-13T06:03:19.958Z",
        "status_change_by": null}}, {"review": {"note": null, "status_in_portal":
        "New", "assignee": null, "status": "no-action"}, "owner_organisation_details":
        {"organisations": [{"organisation_id": "They are written", "organisation_name":
        "Ports are created with the built-"}], "enterprise_id": "They are written",
        "enterprise_name": "Where are my pants?"}, "rule": {"use_case_deprecation":
        null, "name": "Senate bean soup", "id": "owPoUd", "url": {"portal": "https://daddy.net/"}},
  [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/?triggered=-1d&fields=title%2Clog%2Creview%2Cowner_organisation_details%2Crule%2Cid&limit=50&from=50
  response:
    body:
      string: '{"data": [{"review": {"note": null, "status_in_portal": "New", "assignee":
        null, "status": "no-action"}, "owner_organisation_details": {"organisations":
     [...]
