interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/search?limit=5&fields=entity%2CintelCard%2Clocation%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"location": {"organization": "Do you have any
        i", "cidr": {"id": "ip:243.103.200.26", "name": "Pepperoni Pizza", "type":
        "IpAddress"}, "location": {"continent": "The ar", "country": "Make me", "city":
        "Ports are"}, "asn": "Do you "}, "timestamps": {"lastSeen": "2026-05-19T18:41:52.184Z",
        "firstSeen": "2026-06-14T23:06:57.777Z"}, "risk": {"criticalityLabel": "Do
        you come he", "riskString": "The s", "rules": 10, "criticality": 4, "riskSummary":
        "Any element of a tuple can be accessed ", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Haskell is a standardized, general-purpose
        purely functional programming language, with non-strict semantics and strong
        stati", "rule": "Do you have any idea why thi", "criticality": 1, "timestamp":
        "2026-02-28T03:16:35.148Z", "criticalityLabel": "Haskell"}, {"mitigationString":
        "", "evidenceString": "He looked inquisitively at his keyboard and wrote another
        sentence.", "rule": "Haskell is a standardized, general-purp", "criticality":
        1, "timestamp": "2026-02-13T16:45:59.196Z", "criticalityLabel": "The arg"},
        {"mitigationString": "", "evidenceString": "The Galactic Empire is nearing
        completion of the Death Star, a space station with the power[...]
