interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/search?limit=1&riskScore=%5B66%2C66%5D&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-08-18T05:03:17.452Z",
        "firstSeen": "2026-03-26T15:28:49.040Z"}, "risk": {"criticalityLabel": "Its
        main ", "riskString": "I do", "rules": 2, "criticality": 3, "riskSummary":
        "Type classes first appeared in the Has", "score": 66, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Haskell is a standardized, general-purpose
        purely functional programming language, with non-strict semantics and st",
        "rule": "They are written as strings of consecutive alphan", "criticality":
        1, "timestamp": "2026-10-12T06:00:13.472Z", "criticalityLabel": "Atoms a"},
        {"mitigationString": "", "evidenceString": "Any element of a tuple can be
        accessed in constant time.", "rule": "Messages can be sent to and receiv",
        "criticality": 3, "timestamp": "2026-05-24T18:36:49.926Z", "criticalityLabel":
        "Tuples ar"}]}, "entity": {"id": "ip:50.71.122.235", "name": "Sour cream",
        "type": "IpAddress"}}]}, "counts": {"returned": 1, "total": 7648}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
