interactions:
- request:
    body: '{"name": "meow", "type": "source"}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/create
  response:
    body:
      string: '{"id": "report:BERcsq_", "name": "Chow", "type": "source", "created":
        "2026-02-13T10:09:56.269Z", "updated": "2026-02-13T10:09:56.269Z", "owner_id":
        "Type classes fir", "owner_name": "Erlang is a general-pur", "organisation_id":
        "Do you come here", "organisation_name": "Ports are created with the built-",
        "owner_organisation_details": {"owner_id": "The sequential s", "owner_name":
        "The syntax {D1,D2,...,D", "organisations": [], "enterprise_id": "Erlang is
        a gene", "enterprise_name": "In 1989 the building was heavily "}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
