interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/search?limit=1&riskScore=%5B20%2C%5D&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-12-22T13:17:08.839Z",
        "firstSeen": "2026-08-14T09:11:27.352Z"}, "risk": {"criticalityLabel": "Erlang
        is", "riskString": "It i", "rules": 4, "criticality": 3, "riskSummary": "Type
        classes first appeared in the Has", "score": 89, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments
        are D1, D2, ... Dn.", "rule": "She spent her earliest years reading cl", "criticality":
        1, "timestamp": "2026-03-14T15:31:12.754Z", "criticalityLabel": "Ports a"},
        {"mitigationString": "", "evidenceString": "Make me a sandwich.", "rule":
        "She spent her earliest years", "criticality": 1, "timestamp": "2026-10-27T15:36:10.105Z",
        "criticalityLabel": "Make me"}, {"mitigationString": "", "evidenceString":
        "Its main implementation is the Glasgow Haskell Compiler.", "rule": "The Galactic
        Empire is nearing compl", "criticality": 1, "timestamp": "2026-09-04T22:08:27.867Z",
        "criticalityLabel": "Do you "}, {"mitigationString": "", "evidenceString":
        "Its main implementation is the Glasgow Haskell Compiler.", "rule": "The sequential
        subset of Erlang s", "criticality": 3, "timestamp": "2026-01-07T22:46:28.641Z",
        "criticalityLabel": "Any eleme"}]}, "entity": {"id": "url:https://disclaimer.mobi/",
        "name": "Choco pie", "type": "URL"}}]}, "counts": {"returned": 1, "total":
        3211186}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
