interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/search?limit=5&fields=entity%2ChashAlgorithm%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-04-21T17:48:21.531Z",
        "firstSeen": "2026-10-12T14:03:44.905Z"}, "risk": {"criticalityLabel": "Do
        you ha", "riskString": "The ", "rules": 1, "criticality": 3, "riskSummary":
        "Atoms are used within a program to den", "score": 89, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Initially composing light-hearted
        and irreverent works, he also wrote serious, sombre and religious pieces beginning
        in the 1930s.", "rule": "Ports are used to commun", "criticality": 3, "timestamp":
        "2026-02-11T11:28:29.867Z", "criticalityLabel": "Where are"}]}, "entity":
        {"id": "hash:5eb864697566f1a8737a4ba4c653514d2340e864ee4db721bced208d1128bfc7",
        "name": "Pulled pork", "type": "Hash"}, "hashAlgorithm": "Make me"}, {"timestamps":
        {"lastSeen": "2026-03-26T14:33:11.633Z", "firstSeen": "2026-05-31T08:12:05.748Z"},
        "risk": {"criticalityLabel": "He looked", "riskString": "The ", "rules": 2,
        "criticality": 3, "riskSummary": "In 1989 the building was heavily damag",
        "score": 89, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Any element of a tuple can be accessed in constant time.", "rule": "Ports
        are created", "criticality": 2, "timest[...]
