interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/xr8cqL?fields=title%2Clog%2Cai_insights%2Creview%2Curl%2Cenriched_entities%2Chits%2Cowner_organisation_details%2Ctype%2Ctriggered_by%2Crule%2Cid
  response:
    body:
      string: '{"data": {"review": {"note": "In 1989 the building was heavily damaged
        by fire, but it has since been restored.", "status_in_portal": "Pending",
        "assignee": "The arguments can be primitive data types o", "status": "pending"},
        "owner_organisation_details": {"organisations": [{"organisation_id": "Do you
        come here", "organisation_name": "Any element of a tuple can be acc"}], "enterprise_id":
        "Messages can be ", "enterprise_name": "Tuples are containers for a fixed"},
        "url": {"api": "https://harper.info/", "portal": "https://gets.com/"}, "rule":
        {"use_case_deprecation": null, "name": "Calf''s liver and ba", "id": "mf0rAX",
        "url": {"portal": "https://for.basketball/"}}, "id": "xr8cqL", "hits": [{"entities":
        [{"id": "ip:10.40.142.127", "name": "Coq Au Vin", "type": "IpAddress"}, {"id":
        "ip:108.171.123.59", "name": "Energy bar", "type": "IpAddress"}, {"id": "ip:110.134.239.213",
        "name": "Yeung Chow fri", "type": "IpAddress"}, {"id": "ip:22.243.168.23",
        "name": "Corn relish", "type": "IpAddress"}, {"id": "ip:106.219.200.158",
        "name": "Kobe Beef", "type": "IpAddress"}, {"id": "ip:131.186.161.120", "name":
        "Meatcake", "type": "IpAddress"}, {"id": "ip:99.156.189.137", "name": "Pan
        Seared Sc", "type": "IpAddress"}[...]
