interactions:
- request:
    body: '{"filter": {"created": {}, "updated": {}, "title": "ransomware"}, "limit":
      10}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 10, "total_count": 314, "result": [{"id": "doc:oJeqDP", "type":
        "yara", "title": "Do you come here often?", "description": "The syntax {D1,D2,...,Dn}
        denotes a tuple whose arguments are D1, D2, ... Dn.", "created": "2022-09-27T15:27:18.379Z",
        "updated": "2022-09-27T15:29:36.873Z", "rules": [{"entities": [{"id": "J0Nl-p",
        "type": "MalwareCategory", "name": "Clam cake"}, {"id": "oJZAhV", "type":
        "Malware", "name": "Beignets"}], "content": "Its main implementation is the
        Glasgow Haskell Compiler.", "file_name": "The syntax {D1,D2,...,Dn} "}]},
        {"id": "doc:hq7CrJ", "type": "yara", "title": "He looked inquisitively at
        his keyboard and wrote another sentence.", "description": "Do you come here
        often?", "created": "2021-03-19T00:00:00.000Z", "updated": "2021-03-19T21:54:30.309Z",
        "rules": [{"entities": [{"id": "hash:36b756325485df7b72a7308c31486bd7029e70be5d0b6b2323765918e9cbc74d",
        "type": "Hash", "name": "Beignets"}, {"id": "hash:7fb9d394393347b7660c4cd5887812eec7a[...]
