interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/vulnerability/search?limit=5&fields=analystNotes%2Centity%2CintelCard%2ClifecycleStage%2Clinks%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"analystNotes": [{"attributes": {"validated_on":
        "2026-02-09T01:29:30.240Z", "published": "2026-01-05T00:47:58.679Z", "text":
        "I don''t even care. The Galactic Empire is nearing completion of the Death
        Star, a space station with the power to destroy entire planets. Haskell is
        a standardized, general-purpose purely functional programming language, with
        non-strict semantics and strong static typing. Haskell is a standardized,
        general-purpose purely functional programming language, with non-strict semantics
        and strong static typing. She spent her earliest years reading classic literature,
        and writing poetry.", "topic": {"id": "wJv-Gk", "name": "Rabbit pie", "type":
        "Topic", "description": "The Galactic Empire is nearing completion of the
        Death Star, a space station with the power to destroy entire planets."}, "context_entities":
        [{"id": "PCX4qO", "name": "Tetrazzini", "type": "AttackVector"}, {"id": "JQIdFy",
        "name": "Stu", "type": "Product"}, {"id": "hR4MM", "name": "Potato ", "type":
        "Product"}, {"id": "7YZ51", "name": "Fish and ", "type": "Company"}, {"id":
        "I2VqZL", "name": "Porter", "type": "Company"}], "validation_urls": [{"id":
        "url:https://realm.tui/", "name": "Brisket", "type": "URL"}, {"id": "url:https://seat.store/",
        "name": "Chicken Divan", "type": "URL"}, {"id": "url:https://deep.md/", "name":
        "Salted caramel cookie", "type": "URL"}], "title": "They are written as strings
        of consecutive alphanumeric characters, the first character being lowercas",
        "note_entities": [{"id": "wx1SZ3", "name": "Tin Roof Ice C", "type": "CyberVulnerability",
        "description": "Ports are used to communicate with the external world."},
        {"id": "K-1HVG", "name": "Pasta salad", "type": "CyberVulnerability", "description":
        "Messages can be sent to and received from ports, but these messages must
        obey the so-called \"port protocol.\""}, {"id": "auJpoQGieie", "name": "Turki",
        "type": "MitreAttackIdentifier"}, {"id": "UyxYy64uRE0h3OO", "name": "Pocky",
        "type": "MitreAttackIdentifier"}, {"id": "3PXo6jY1Qbi", "name": "Fajit", "type":
        "MitreAttackIdentifier"}, {"id": "SaoXC", "name": "Pork and beans", "type":
        "Product"}, {"id": "sB4yaZ", "name": "Hawai", "type": "Product"}, {"id": "tuuDS",
        "name": "White chocolate cookie", "type": "ProductIdentifier"}, {"id": "JQhGJc",
        "name": "Mission burrito", "type": "ProductIdentifier"}, {"id": "If9XVe",
        "name": "Salad bar", "type": "ProductIdentifier"}]}, "source": {"id": "Zr7pOwbqMrgKT",
        "name": "Cheese fries", "type": "Source"}, "id": "xOw6vj"}, {"attributes":
        {"validated_on": "2026-04-17T07:59:17.961Z", "published": "2026-05-01T19:47:10.630Z",
        "text": "In 1989 the building was heavily damaged by fire, but it has since
        been restored. Ports are created with the built-in function open_port. Erlang
        is ", "topic": {"id": "TXSFt4", "name": "White cho", "type": "Topic", "description":
        "Any element of a tuple can[...]
