interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:c89f8024-0462-4a50-88a9-f7e86056d485
  response:
    body:
      string: '{"status": {"status_code": "Qu", "status_message": "Fajitas"}, "data":
        {"playbook_alert_id": "task:c89f8024-0462-4a50-88a9-f7e86056d485", "rule_id":
        "Chicke", "alert_rule": {"id": "sLn1j4", "label": "Swiss steak", "name": "Milkshake"},
        "status": "Resolved", "priority": "Hangtown", "created": "2023-09-12T19:16:32.115Z",
        "updated": "2026-02-13T10:11:06.842Z", "category": "third_party_risk", "title":
        "Haske", "assignee_name": "London broil", "assignee_id": "Reuben sandwich",
        "owner_id": "Corn flakes", "owner_name": "Risotto", "organisation_id": "Kung
        Pao Chicken", "organisation_name": "Ratatouille", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Stuffed ham", "organisation_name":
        "Ice cream cake"}], "enterprise_id": "Albacore Tuna Me", "enterprise_name":
        "Pizza strips"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/third_party_risk/task:c89f8024-0462-4a50-88a9-f7e86056d485
  response:
    body:
      string: '{"status": {"status_code": "Cu", "status_message": "Pocky"}, "data":
        {"playbook_alert_id": "task:c89f8024-0462-4a50-88a9-f7e86056d485", "panel_status":
        {"status": "Resolved", "priority": "Cheese C", "assignee_name": "Haggis",
        "assignee_id": "Lorna Doone", "created": "2023-09-12T19:16:32.115Z", "updated":
        "2026-02-13T10:11:06.842Z", "case_rule_id": "Stuffed zucch", "case_rule_label":
        "Third Party Risk", "alert_rule": {"id": "sLn1j4", "label": "Creamed corn",
        "name": "Scampi"}, "owner_id": "Protein bar", "owner_name": "Boulliabaise",
        "organisation_id": "Spring Rolls", "organisation_name": "Vichyssoise", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Albacore Tuna Me", "organisation_name":
        "Chicken bog"}], "enterprise_id": "Tamales", "enterprise_name": "Vichyssoise"},
        "entity_id": "Chick", "entity_name": "Devil", "entity_criticality": "Chicke",
        "risk_score": 64, "targets": [], "actions_taken": [], "tags": []}, "panel_evidence_summary":
        {"assessments": []}, "panel_log": [{"id": "ySSWMj3Mros3ngpwDhpzG2pmfMQv12x001oL7v6Rs",
        "created": "2023-09-12T19:16:32.129Z", "modified": "Key Lime Pie", "action_priority":
        "Doug", "context": {"type": "third_party_risk", "changes": [{"risk_attribute":
        "Chicken Divan", "assessment_name": "Paella", "added": {"level": 3, "evidence_string":
        "Frybread", "added": "2023-09-12T19:15:25.731Z", "removed": "2023-09-12T19:23:43.874Z"},
        "type": "tpr_assessment_change"}]}}, {"id": "SjLjo3VqVYhLEedZWqJ03bvZ8BMpEkjCQTCeqGta2",
        "created": "2023-09-13T08:53:05.932Z", "modified": "Tres Leches Cake", "action_priority":
        "Chic", "context": {"type": "third_party_risk", "changes": [{"risk_attribute":
        "Liver and onions", "assessment_name": "Polenta", "removed": {"level": 3,
        "evidence_string": "Cheese dog", "added": "2023-09-13T08:34:25.737Z", "removed":
        "2023-09-[...]
