interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/185.49.126.52?fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-11-20T14:34:30.964Z", "firstSeen":
        "2026-05-28T12:34:08.388Z"}, "risk": {"criticalityLabel": "Haskell is", "riskString":
        "Do y", "rules": 7, "criticality": 2, "riskSummary": "Type classes first appeared
        in the Has", "score": 36, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Tuples are containers for a fixed number of Erlang data types.", "rule":
        "Erlang is a general-purpose, concurrent", "criticality": 1, "timestamp":
        "2026-11-09T08:50:03.203Z", "criticalityLabel": "Any ele"}, {"mitigationString":
        "", "evidenceString": "The Galactic Empire is nearing completion of the Death
        Star, a space station with the power to destroy entire planets.", "rule":
        "Ports are used to communicate w", "criticality": 1, "timestamp": "2026-04-09T23:56:06.104Z",
        "criticalityLabel": "Where a"}, {"mitigationString": "", "evidenceString":
        "They are written as strings of consecutive alpha[...]
[...]
