interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/meow/info
  response:
    body:
      string: '{"message": "Spaghetti Bolognese", "status_code": 404, "trace_id":
        "7a515ef7-178b-4a9c-8dd0-88d1346d75fa"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 404
      message: Not Found
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Poppyseed ", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-02-13T10:59:40.887Z", "owner_id":
        "Chicken \u00e0 la Kin", "owner_name": "Bruschetta", "organisation_id": "Sushi",
        "organisation_name": "Boulliabaise", "owner_organisation_details": {"owner_id":
        "Coq Au Vin", "owner_name": "Bear claw", "organisations": [], "enterprise_id":
        "French Onion Sou", "enterprise_name": "Mashed pumpkin"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"entity": {"id": "not_a_real_entity"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entity/add
  response:
    body:
      string: '{"message": "Succotash", "status_code": 400, "trace_id": "b1006625-9602-4429-9330-916ca9e5a30f"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: '{"entity": {"id": "not_a_real_entity"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/report:wpHivJ/entity/remove
  response:
    body:
      string: '{"message": "Mozzarella sticks", "status_code": 400, "trace_id": "4950b7a1-9310-4dde-af80-9c4776918835"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 400
      message: Bad Request
[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/meow/info
  response:
    body:
      string: '{"message": "Hot Chicken sandwich", "status_code": 404, "trace_id":
        "33c8e190-c1ec-4614-bc9c-4a47ba1e50d0"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 404
      message: Not Found
version: 1
