interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Satay", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-02-06T16:43:16.287Z", "owner_id":
        "Erlang is known ", "owner_name": "Haskell features a type", "organisation_id":
        "Any element of a", "organisation_name": "Initially composing light-hearted",
        "owner_organisation_details": {"owner_id": "The Galactic Emp", "owner_name":
        "Atoms can contain any c", "organisations": [], "enterprise_id": "Tuples are
        conta", "enterprise_name": "Initially composing light-hearted"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
