interactions:
- request:
    body: '{"playbook_alert_ids": ["task:db6b2635-28f5-49ec-b717-8372de9a96fd"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/vulnerability
  response:
    body:
      string: '{"status": {"status_code": "Me", "status_message": "Kung Pao Chicken"},
        "data": [{"playbook_alert_id": "task:db6b2635-28f5-49ec-b717-8372de9a96fd",
        "panel_status": {"status": "Resolved", "priority": "Spag", "reopen": "Chick",
        "created": "2024-11-11T12:13:41.666Z", "updated": "2026-02-13T10:10:58.682Z",
        "case_rule_id": "Chicken finge", "case_rule_label": "Cyber Vulnerability",
        "alert_rule": {"id": "pAHhqL", "label": "Queso Fresco", "name": "French Onion
        Soup"}, "owner_id": "Pork and beans", "owner_name": "Pulled pork", "organisation_id":
        "Brunswick stew", "organisation_name": "Scampi", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Chile Relleno", "organisation_name":
        "Pumpkin pie"}], "enterprise_id": "Ammonia cookie", "enterprise_name": "Stroganoff"},
        "entity_id": "Corned", "entity_name": "Corn flakes", "entity_criticality":
        "Tuna", "risk_score": 67, "lifecycle_stage": "Spring Ro", "targets": [{"name":
        "Paella"}], "actions_taken": []}, "panel_evidence_summary": {"summary": {"targets":
        [{"name": "Hummus"}], "lifecycle_stage": "Frito Pie", "risk_rules": [{"rule":
        "Venison", "description": "Phaal"}]}, "affected_products": [{"name": "Texas
        Toast"}, {"name": "Cordon bleu"}, {"name": "Ranch dressing"}, {"name": "Crab
        Rangoon"}, {"name": "Mango and Sticky Rice"}, {"name": "Chicago Deep Dish
        Pizza"}, {"name": "Mashed potato"}, {"name": "Bellini"}, {"name": "Meatcake"},
        {"name": "Pulled pork"}, {"name": "Apple butter"}, {"name": "Pizza strips"},
        {"name": "Beef Manhattan"}, {"name": "Hog fry"}, {"name": "Supreme pizza"},
        {"name": "Buffalo burger"}, {"name": "Steamed clams[...]
- request:
    body: '{"playbook_alert_ids": ["task:c89f8024-0462-4a50-88a9-f7e86056d485"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/third_party_risk
  response:
    body:
      string: '{"status": {"status_code": "Eg", "status_message": "Calf''s liver and
        bacon"}, "data": [{"playbook_alert_id": "task:c89f8024-0462-4a50-88a9-f7e86056d485",
        "panel_status": {"status": "Resolved", "priority": "Kimchi", "assignee_name":
        "American fried rice", "assignee_id": "Coleslaw", "created": "2023-09-12T19:16:32.115Z",
        "updated": "2026-02-13T10:11:06.842Z", "case_rule_id": "French Dip", "case_rule_label":
        "Third Party Risk", "alert_rule": {"id": "sLn1j4", "label": "Polenta", "name":
        "Cowboy beans"}, "owner_id": "Chicken French", "owner_name": "Beef Manhattan",
        "organisation_id": "Fajitas", "organisation_name": "Banh Mi Vi\u00eat", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Kimchi", "organisation_name": "Cheese
        stuffed crust pizza"}], "enterprise_id": "Toaster Strudel", "enterprise_name":
        "Bacon Cheeseburger"}, "entity_id": "Pulle", "entity_name": "Cordo", "entity_criticality":
        "Grit", "risk_score": 89, "targets": [], "actions_taken": [], "tags": []},
        "panel_evidence_summary": {"assessments": []}, "panel_log": [{"id": "x8oKJT84txUtVL6bOyOkmTrQApD9Hbl6ILiCmWnWa",
        "actor_name": "Chicken Alfredo", "actor_id": "Chicken herby pa", "created":
        "2026-02-13T10:11:06.842Z", "modified": "Peanut butter", "message": "Pistachio
        Ic", "changes": {"status_change": {"old": "Domestica", "new": "Seafood ",
        "type": "status_change"}}, "context": {"type": "third_party_risk", "changes":
        [{"old": "Ranch dre", "new": "Frito Pi", "actions_taken": [], "type": "status_change"}]}},
        {"id": "xTEb8rcyeYqOgsqAfeMxYDphqgjsAAGYC3hcUybMd", "actor_name": "Bulgogi",
        "actor_id": "Bacon Cheeseburg", "created": "2026-02-13T10:10:52.216Z", "modified":
        "Chicken fried steak", "changes": {"status_change": {"old": "Chicken ", "new":
        "Gyros", "type": "status_change"}}, "context": {"type": "third_party_risk",
        "chan[...]
- request:
    body: '{"playbook_alert_ids": ["task:99a83597-3c3f-49c0-af56-c06a636532e8"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/domain_abuse
  response:
    body:
      string: '{"status": {"status_code": "Ca", "status_message": "Albacore Tuna Melt"},
        "data": [{"playbook_alert_id": "task:99a83597-3c3f-49c0-af56-c06a636532e8",
        "panel_status": {"status": "Dismissed", "priority": "Blue-pla", "created":
        "2024-12-10T12:21:55.012Z", "updated": "2025-09-15T14:11:14.142Z", "case_rule_id":
        "Chocolate Chi", "case_rule_label": "Domain Abuse", "alert_rule": {"id": "oT8Yal",
        "label": "Cheese Curd", "name": "Chicken bog"}, "owner_id": "Macaroni and
        Che", "owner_name": "Chicken herby past", "organisation_id": "Chicken herby
        pa", "organisation_name": "Veggie Pizza", "owner_organisation_details": {"organisations":
        [{"organisation_id": "Beignets", "organisation_name": "Pepperoni Pizza"}],
        "enterprise_id": "Clam chowder", "enterprise_name": "Brunswick stew"}, "entity_id":
        "Fish and Chips!", "entity_name": "technological.net", "entity_criticality":
        "Mas", "risk_score": 5, "context_list": [{"context": "Eggo"}, {"context":
        "Pork and beans"}], "targets": ["Tin Roof Ice Crea", "Patty"], "attackers":
        ["Jerky"], "actions_taken": []}, "panel_action": [], "panel_evidence_summary":
        {"explanation": "Fried Green Tomatoes", "cause": "Maple bac", "resolved_record_list":
        [], "screenshots": [{"description": "Buffalo Wings", "image_id": "img:f814f884-ceaa-4782-a849-c16ed2965943",
        "created": "2024-12-10T12:31:31.840Z", "availability": "Oysters R"}], "screenshot_mentions":
        [{"url": "Crepes", "screenshot": "Pigs in blankets", "document": "Reuben san",
        "analyzed": "2024-12-10T12:31:24.961Z", "mentioned_entities": [{"entity":
        {"id": "idn:promotional.vegas", "name": "proceedings.miami", "type": "InternetDomainName"},
        "reference": "Fried Catfi", "fragment": "Chile Relleno"}, {"entity": {"id":
        "idn:plan.jewelry", "name": "beginners.com", "type": "InternetDomainName"},
        "reference": "Muffuletta", "fragment": "Waffle"}], "mentioned_custom_keywords":
        []}]}, "panel_evidence_dns": {"ip_list": [], "mx_list": [], "ns_list": []},
        "panel_evidence_whois": {"body": [{"provider": "Falafel", "entity": "Po''Boy",
        "attribute": "Sloppy joe", "value": {"status": "autoRenewPeriod", "nameServers":
        ["Muffuletta", "Churrasco", "Fish Tacos"], "registrarName": "Hot Chicken s",
        "updatedDate": "Sichuan Hot Pot", "createdDate": "Bi Bim Bap", "expiresDate":
        "Lorna Doone", "privateRegistration": false}, "added": "2025-12-11T01:17:11.801Z"},
        {"provider": "Frito Pie", "entity": "Glorified rice", "attribute": "Chocolate
        Chip Coo", "value": {"type": "technicalContact"}, "added": "2025-12-10T00:37:37.548Z"},
        {"provider": "Chicken nugget", "entity": "Pizza strips", "attribute": "Root
        Beer Float", "value": {"type": "administrativeContact"}, "added": "2025-12-10T00:37:37.548Z"},
        {"provider": "Potato skins", "entity": "Ice Cream Sundae", "attribute": "White
        chocol[...]
- request:
    body: '{"playbook_alert_ids": ["task:f87706b1-cea4-4765-9d50-7647ee9bda9b"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/identity_novel_exposures
  response:
    body:
      string: '{"status": {"status_code": "Po", "status_message": "Slinger"}, "data":
        [{"playbook_alert_id": "task:f87706b1-cea4-4765-9d50-7647ee9bda9b", "panel_status":
        {"status": "InProgress", "priority": "Chili do", "created": "2024-12-05T20:05:50.787Z",
        "updated": "2026-02-13T10:11:10.360Z", "case_rule_id": "Bird''s Nest S", "case_rule_label":
        "Novel Identity Exposure", "alert_rule": {"id": "s8LnBp", "label": "Baked
        potato", "name": "Coq Au Vin"}, "owner_id": "Coq Au Vin", "owner_name": "Osso
        Buco", "organisation_id": "Hoppin'' John", "organisation_name": "Slinger",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Pop-Tarts",
        "organisation_name": "Wasabi Peas"}], "enterprise_id": "Gumbo", "enterprise_name":
        "Low Country Boil"}, "entity_id": "Baklava", "entity_name": "Hawaiian Pizza",
        "targets": [{"name": "exploring.ru"}, {"name": "frozen.repair"}], "actions_taken":
        []}, "panel_evidence_summary": {"assessments": [{"name": "Empanad", "criticality":
        "Kimchi"}], "subject": "Fattoush Salad", "authorization_url": "https://notification.paris/",
        "exposed_secret": {"type": "clear", "effectively_clear": true, "hashes": [{"algorithm":
        "SHA1", "hash": "81ca893fc002aa71c30c7af64a907496ccebefe9ca7164ab8011da93ebc46ba9"},
        {"algorithm": "SHA256", "hash": "086f94692d0ae949ea63831bd5afb9f93e83690b1485aadaec770b7af530bca0"},
        {"algorithm": "NTLM", "hash": "0cd1fb884f59f7c116e8aca92c4120c96f689dfa2a8a1327a54f305dade4073e"},
        {"algorithm": "MD5", "hash": "1de82265b0de8138048f197ac39b38aa136d0718a361dc319a34fa119c2f2154"}],
        "details": {"properties": ["Kung P", "Cornish game hen"], "clear_text_value":
        "Reuben", "clear_text_hint": "Ha"}}, "dump": {"name": "Energy bar", "description":
        "Salisbury steak"}, "compromised_host": {"exfiltration_date": "2024-12-05T13:19:24.000Z"},
        "malware_family": {"id": "nlflWX", "name": "Alphabet pasta"}}, "panel_log":
        [{"id": "pnMTSKWVId8fMNZqouY9WZvm3NEzQyIad3Y21pBcM", "actor_name": "Black
        Pudding", "actor_id": "Tagine", "created": "2026-02-13T10:11:10.360Z", "modified":
        "Toaster Strudel", "changes": {"status_change": {"old": "Pork and ", "new":
        "Beignets", "type": "status_change"}}}, {"id": "XJytPGS3NEYA7yqzbmfXM7ElQ9vfNTqUE32b5ZDFq",
        "actor_name": "Gumbo", "actor_id": "Hot chicken", "created": "2026-02-13T10:[...]
- request:
    body: '{"playbook_alert_ids": ["task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/code_repo_leakage
  response:
    body:
      string: '{"status": {"status_code": "Su", "status_message": "Ploye"}, "data":
        [{"playbook_alert_id": "task:bd7d0c8c-f7f7-4a21-9560-1d5843e48cdc", "panel_status":
        {"status": "InProgress", "priority": "Chur", "created": "2024-12-10T10:11:54.696Z",
        "updated": "2026-02-13T10:11:00.790Z", "case_rule_id": "Mission burri", "case_rule_label":
        "Data Leakage on Code Repository", "alert_rule": {"id": "qS_wmm", "label":
        "Smelt", "name": "Mozzarella Sticks"}, "owner_id": "Spaghetti Bologn", "owner_name":
        "Chicken fingers", "organisation_id": "Barbecue", "organisation_name": "Crab
        Rangoon", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Osso Buco", "organisation_name": "Grilled Snake"}], "enterprise_id": "Ice
        Cream Sundae", "enterprise_name": "Bacon Cheeseburger"}, "entity_id": "Blue
        cheese dressing", "entity_name": "https://highlights.org/", "risk_score":
        0, "targets": [{"name": "Soul f"}], "actions_taken": []}, "panel_evidence_summary":
        {"repository": {"id": "url:https://talented.bt/", "name": "https://stops.name/",
        "owner": {"name": "Naan"}}, "evidence": [{"assessments": [{"id": "cZtSY0eN7Z8tKqzfWGgA",
        "title": "Make me a sandwic", "value": "Parma"}, {"id": "tWhWt3PEKxvlcUUDrobEFQusfMT",
        "title": "The syntax {D1,D2,...,Dn} denotes a", "value": "Shish "}], "targets":
        [{"name": "Shephe"}], "url": "https://actors.dubai/", "content": "Caviar",
        "published": "2025-03-27T14:56:01.383Z"}, {"assessments": [{"id": "zQ0SkLDWKtvpp4EChJXO",
        "title": "Any element of a ", "value": "Lobster "}, {"id": "xRM9PqRHQTSvJFKTjXux5eehpfT",
        "title": "Atoms are used within a program to ", "value": "Chili "}], "targets":
        [{"name": "Chicke"}], "url": "https://sequences.osaka/", "content": "Liver
        and onions", "published": "2025-01-21T23:45:39.488Z"}, {"assessments": [{"id":
        "h2I8MSkRRP2LEBkjkWTW", "title": "Messages can be s", "val[...]
- request:
    body: '{"playbook_alert_ids": ["task:3b9e9afb-3e4d-4f98-93fa-031cb3088004"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/malware_report
  response:
    body:
      string: '{"status": {"status_code": "Es", "status_message": "Chile Relleno"},
        "data": [{"playbook_alert_id": "task:3b9e9afb-3e4d-4f98-93fa-031cb3088004",
        "panel_status": {"status": "New", "priority": "Hokkien fried", "assignee_name":
        "Salisbury steak", "assignee_id": "Eggo", "created": "2026-02-11T06:00:12.978Z",
        "updated": "2026-02-11T06:00:12.978Z", "case_rule_id": "Reuben", "case_rule_label":
        "Cobalt Strike tags", "alert_rule": {"id": "5swDSv", "label": "Stuffed zucch",
        "name": "Spaghetti Bolognes"}, "owner_id": "Pemmican", "owner_name": "Hummus",
        "organisation_id": "Paella", "organisation_name": "Onion Rings", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Cheese stuffed c", "organisation_name":
        "Potato Wedges"}], "enterprise_id": "Muffuletta", "enterprise_name": "Coq
        Au Vin"}}, "panel_evidence_summary": {"notification_title": "Spanish ric",
        "report_limit_reached": false, "number_of_reports": 235, "matched_hashes":
        [{"sha256": "d2af7f6ef491c477b180c3b41129b05f92e9aae7d25f3096ddd740f674f4c440",
        "is_enterprise_submission": false, "risk_score": 65, "report_overviews": [{"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-k52ccshy4e-behavioral1",
        "sandbox_score": 10, "tags": ["Salted c", "Pan", "Salisbur", "Maine Lobste",
        "Mozzarella sticks", "Moules Fr", "Risotto", "New Yo", "Chick", "Ice crea"]},
        {"report_id": "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-md58caay2d-behavioral1",
        "sandbox_score": 10, "tags": ["Mission ", "Cho", "Scampi", "Goulash", "Buffalo
        burger", "Pigs in b", "Choco p", "Chines", "Thous", "Calf''s l"]}, {"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30f[...]
- request:
    body: '{"playbook_alert_ids": ["task:a8b126d8-4c00-4716-acaa-43905d5a19f8"]}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/geopolitics_facility
  response:
    body:
      string: '{"status": {"status_code": "Po", "status_message": "Pemmican"}, "data":
        [{"playbook_alert_id": "task:a8b126d8-4c00-4716-acaa-43905d5a19f8", "panel_status":
        {"status": "Resolved", "priority": "Choc", "created": "2026-02-10T06:53:03.906Z",
        "updated": "2026-02-10T18:54:56.953Z", "case_rule_id": "Poke", "case_rule_label":
        "Geopolitics Facility", "alert_rule": {"id": "w41VFj", "label": "Hot chicken",
        "name": "Corn flakes"}, "owner_id": "Fattoush Salad", "owner_name": "Moules
        Frites", "organisation_id": "Bangers and mash", "organisation_name": "Dirty
        rice", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Pan Seared Scall", "organisation_name": "Reuben"}], "enterprise_id": "Chicken
        Manchuri", "enterprise_name": "Hog fry"}, "entity_id": "Chees", "entity_name":
        "Chicken fried bacon", "targets": [{"name": "Beignets"}], "actions_taken":
        []}, "panel_evidence_summary": {"assessments": [{"name": "Chicken Biryani",
        "criticality": "Huevos R"}, {"name": "Rice and gravy", "criticality": "Stea"}],
        "events": [{"text": "He looked inquisitively at his keyboard and wrote another
        sentence. The sequential subset of Erlang supports eager evaluation, single
        assignment, and dynamic typing. Ports are used to communicate with the external
        world. I don''t even care. The Galactic Empire is nearing completion", "source":
        "Potato wedges", "url": "https://dpi.mba/", "assessments": [{"name": "Phaal",
        "criticality": "Cinnamon"}], "document_id": "Chicken", "time": "2026-02-10T06:29:05.000Z",
        "images": ["Hog fry"]}, {"text": "The syntax {D1,D2,...,Dn} denotes a tuple
        whose arguments are D1, D2, ... Dn. She spent her earliest years reading classic
        literature, and writing poetry. Ports are created with the built-in function
        open_port. Make me a sandwich. In 1989 the building was heavily damaged by
        fire, but it has since been restored.", "source": "Hummus", "url": "https://stopped.ke/",
        "assessments": [{"name": "Sausage gravy", "criticality": "Chicken "}],[...]
