interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:a8b126d8-4c00-4716-acaa-43905d5a19f8
  response:
    body:
      string: '{"status": {"status_code": "Co", "status_message": "BBQ Ribs"}, "data":
        {"playbook_alert_id": "task:a8b126d8-4c00-4716-acaa-43905d5a19f8", "rule_id":
        "Sushi", "alert_rule": {"id": "w41VFj", "label": "Chicken Salad Wrap", "name":
        "Creamed corn"}, "status": "Resolved", "priority": "Sush", "created": "2026-02-10T06:53:03.906Z",
        "updated": "2026-02-10T18:54:56.953Z", "category": "geopolitics_facility",
        "title": "Messages can be sen", "owner_id": "Lobster Newberg", "owner_name":
        "Deviled crab", "organisation_id": "Albacore Tuna Me", "organisation_name":
        "Steak sandwich", "owner_organisation_details": {"organisations": [{"organisation_id":
        "Spaghetti Bologn", "organisation_name": "Baba Ghanoush"}], "enterprise_id":
        "Pizza strips", "enterprise_name": "Poppyseed muffin"}, "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/geopolitics_facility/task:a8b126d8-4c00-4716-acaa-43905d5a19f8
  response:
    body:
      string: '{"status": {"status_code": "Gy", "status_message": "Funnel Cake"},
        "data": {"playbook_alert_id": "task:a8b126d8-4c00-4716-acaa-43905d5a19f8",
        "panel_status": {"status": "Resolved", "priority": "Chic", "created": "2026-02-10T06:53:03.906Z",
        "updated": "2026-02-10T18:54:56.953Z", "case_rule_id": "Lasagna", "case_rule_label":
        "Geopolitics Facility", "alert_rule": {"id": "w41VFj", "label": "Churrasco",
        "name": "Thousand Island dre"}, "owner_id": "Jerky", "owner_name": "Geoduck",
        "organisation_id": "Jell-O", "organisation_name": "Stroganoff", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Oreo", "organisation_name": "Satay"}],
        "enterprise_id": "Shrimp and Grits", "enterprise_name": "Frybread"}, "entity_id":
        "Steam", "entity_name": "Fried Green Tomatoe", "targets": [{"name": "Succotash"}],
        "actions_taken": []}, "panel_evidence_summary": {"assessments": [{"name":
        "Bruschetta", "criticality": "Peanut b"}, {"name": "Stroganoff", "criticality":
        "Scra"}], "events": [{"text": "Haskell features a type system with type inference
        and lazy evaluation. Erlang is a general-purpose, concurrent, functional programming
        language. Do you have any idea why this is not working? Its main implementation
        is the Glasgow Haskell Compiler. The arguments can be primitive d", "source":
        "Tuna casserole", "url": "https://assumes.cat/", "assessments": [{"name":
        "Apple butter", "criticality": "Shrimp a"}], "document_id": "Rice an", "time":
        "2026-02-10T06:29:05.000Z", "images": ["Biscuit"]}, {"text": "Erlang is known
        for its designs that are well suited for systems. Haskell features a type
        system with type inference and lazy evaluation. The Galactic Empire is nearing
        completion of the Death Star, a space station with the power to destroy entire
        planets. The sequential subset of Erlang supports eager evaluati", "source":
        "Hot Chicken sandwich", "url": "https://use.coop/", "assessments": [{"name":
        "Butter cookie", "critica[...]
