interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/1ct-k8?fields=hits%2Ctitle%2Crule%2Cowner_organisation_details%2Ctriggered_by%2Creview%2Cid%2Cenriched_entities%2Clog%2Curl%2Cai_insights%2Ctype
  response:
    body:
      string: '{"data": {"review": {"note": "Chicken Tikka Masala", "status_in_portal":
        "Pending", "assignee": "Maple Bacon Doughnut", "status": "pending"}, "owner_organisation_details":
        {"organisations": [{"organisation_id": "Pan Seared Scall", "organisation_name":
        "Pan Seared Scallops"}], "enterprise_id": "Suckling Pig", "enterprise_name":
        "Mango and Sticky Rice"}, "url": {"api": "https://print.biz/", "portal": "https://anytime.gd/"},
        "rule": {"use_case_deprecation": null, "name": "Roasted Bone Marrow", "id":
        "mohGF-", "url": {"portal": "https://generally.jobs/"}}, "id": "1ct-k8", "hits":
        [{"entities": [{"id": "hash:a8eecb6a3784e8c804720dc152c6ca8c4ea8ffaf8cf6fc4ccec8cd497dd081d0",
        "name": "4434be998749115bbcead6d424611cfa4401d79abbf16dd537934b0c9a4794b0",
        "type": "Hash"}, {"id": "hA4Z4", "name": "Crab cak", "type": "Industry"},
        {"id": "2F7oOcBV7NX", "name": "Calam", "type": "MitreAttackIdentifier"}, {"id":
        "r8JE1T", "name": "Shepherd''s Pie", "type": "AttackVector"}, {"id": "JitILV",
        "name": "Calas", "type": "AttackVector"}, {"id": "P5F8HN", "name": "Cornish
        g", "type": "Malware"}, {"id": "tIwXlr", "name": "Phaal", "type": "CyberVulnerability",
        "description": "Potato salad"}, {"id": "ywp4F", "name": "Philly Cheese Ste",
        "type": "AttackVector"}, {"id": "Qtqet4", "name": "Alphabet pasta", "type":
        "Product"}, {"id": "G9YvPMQpcAA", "name": "Osso ", "type": "MitreAttackIdentifier"},
        {"id": "FsFgxgdhL2V", "name": "Fatto", "type": "MitreAttackIdentifier"}, {"id":
        "sTuagSvikw1", "name": "Steak", "type": "MitreAttackIdentifier"}, {"id": "h4anPzVmafw",
        "name": "Falaf", "type": "MitreAttackIdentifier"}, {"id": "uvjs7c", [...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/1b6uQY?fields=hits%2Ctitle%2Crule%2Cowner_organisation_details%2Ctriggered_by%2Creview%2Cid%2Cenriched_entities%2Clog%2Curl%2Cai_insights%2Ctype
  response:
    body:
      string: '{"data": {"review": {"note": "Barbecue", "status_in_portal": "Pending",
        "assignee": "Philadelphia cheesesteak", "status": "pending"}, "owner_organisation_details":
        {"organisations": [{"organisation_id": "Fried chicken", "organisation_name":
        "Chicken sandwich"}], "enterprise_id": "Turkish Delight", "enterprise_name":
        "Bi Bim Bap"}, "url": {"api": "https://surgeon.travel/", "portal": "https://charter.doha/"},
        "rule": {"use_case_deprecation": null, "name": "Root Beer Float", "id": "o7x4o3",
        "url": {"portal": "https://subscribers.org/"}}, "id": "1b6uQY", "hits": [{"entities":
        [{"id": "6ewQh", "name": "Reub", "type": "Country"}, {"id": "uimuY", "name":
        "Stuff", "type": "Country"}, {"id": "rGIRY", "name": "Hopp", "type": "Country"},
        {"id": "unk4b", "name": "Pistachio Ice", "type": "Country"}, {"id": "Ui83z",
        "name": "Ice c", "type": "Organization"}, {"id": "8H3yO", "name": "Protein
        b", "type": "Region"}, {"id": "IhnCd", "name": "Brunswi", "type": "Country"}],
        "document": {"source": {"id": "jm4TNKxlNk", "name": "Macaroni an", "type":
        "Source"}, "title": "Atoms can contain any character if they are enclosed
        within single quotes and an escape convention exists which allows any character
        to be used within an atom.", "url": "https://normal.sc/", "authors": [{"id":
        "ooyNwJ", "name": "Popover", "type": "Username"}]}, "fragment": "Laksa", "id":
        "5xy63btfDza", "language": "Tun", "primary_entity": null, "analyst_note":
        null}, {"entities": [{"id": "T5jrF", "name": "Gumbo", "type": "Country"},
        {"id": "tP4YFq", "name": "Satay", "type": "Username"}, {"id": "t2bsK", "name":
        "Schnitzel", "type": "Organization"}, {"id": "ihd6lq", "name": "Gyoza", "type":
        "Region"}, {"id": "Sj2Fi", "name": "Hot c", "type": "Country"}, {"id": "NCdAi",
        "name": "Chic", "type": "Country"}, {"id": "VeGcm", "name": "Prot", "type":
        "Organization"}, {"id": "nQJnZb", "name": "Root Beer Float", "[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/xr8cqL?fields=hits%2Ctitle%2Crule%2Cowner_organisation_details%2Ctriggered_by%2Creview%2Cid%2Cenriched_entities%2Clog%2Curl%2Cai_insights%2Ctype
  response:
    body:
      string: '{"data": {"review": {"note": "Mango and Sticky Rice", "status_in_portal":
        "Pending", "assignee": "Rice and gravy",[...]
