interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/xr8cqL?fields=title%2Clog%2Cai_insights%2Creview%2Curl%2Cenriched_entities%2Chits%2Cowner_organisation_details%2Ctype%2Ctriggered_by%2Crule%2Cid
  response:
    body:
      string: '{"data": {"review": {"note": "Ports are used to communicate with the
        external world.", "status_in_portal": "Pending", "assignee": "She spent her
        earliest years reading classi", "status": "pending"}, "owner_organisation_details":
        {"organisations": [{"organisation_id": "Do you come here", "organisation_name":
        "Any element of a tuple can be acc"}], "enterprise_id": "The sequential s",
        "enterprise_name": "The arguments can be primitive da"}, "url": {"api": "https://prevention.kn/",
        "portal": "https://healthy.bayern/"}, "rule": {"use_case_deprecation": null,
        "name": "Oysters Rockefeller", "id": "mf0rAX", "url": {"portal": "https://clinic.com/"}},
        "id": "xr8cqL", "hits": [{"entities": [{"id": "ip:6.189.240.254", "name":
        "Baba Ghanous", "type": "IpAddress"}, {"id": "ip:23.79.241.47", "name": "Pickled
        Okra", "type": "IpAddress"}, {"id": "ip:220.21.84.97", "name": "Vichyssoise",
        "type": "IpAddress"}, {"id": "ip:40.95.229.152", "name": "Popover", "type":
        "IpAddress"}, {"id": "ip:141.72.192.49", "name": "Cheesecake", "type": "IpAddress"},
        {"id": "ip:33.8.16.255", "name": "Sandwich", "type": "IpAddress"}, {"id":
        "ip:183.41.216.84", "name": "Milk Steak", "type": "IpAddress"}, {"id": "ip:175.54.202.148[...]
