interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/fa54c4e34732b611921820be56dd690a4de98285828e4be487b904679a855a92?fields=fileHashes%2CenterpriseLists%2CanalystNotes%2CintelCard%2CriskMapping%2Centity%2Ctimestamps%2Clinks%2Crisk%2ChashAlgorithm%2CthreatLists%2Csightings
  response:
    body:
      string: '{"data": {"enterpriseLists": [], "sightings": [{"source": "Sloppy j",
        "url": "https://charity.sz/", "published": "2019-08-04T22:17:30.000Z", "fragment":
        "Bulgogi", "title": "They are writ", "type": "recentPaste"}, {"source": "Sushi",
        "url": "https://funded.hotel/", "published": "2022-05-19T14:40:08.210Z", "fragment":
        "Creamed eggs on toast", "title": "Erlang is known for its designs that are
        well suited for systems.", "type": "mostRecent"}, {"source": "Mashed potato",
        "url": "Macaroni salad", "published": "2019-02-13T00:00:00.000Z", "fragment":
        "Tamales", "title": "Its main implementation is the Gla", "type": "first"},
        {"source": "Potato wedges", "url": "https://establish.boston/", "published":
        "2019-02-13T12:28:42.000Z", "fragment": "Chicken \u00e0 la King", "title":
        "He looked inquisitively at his keyboard and wrote another sentence.", "type":
        "recentInfoSec"}], "riskMapping": [{"rule": "Jalapeno Poppers", "categories":
        [{"framework": "Pork ", "name": "Massam"}]}, {"rule": "Meatcake", "categories":
        [{"framework": "Chile", "name": "Fish T"}]}], "entity": {"id": "hash:c5c2453386afa82b822b2d2f8cff2bfa85380bf6133d0f4f9e717308b8ec35e3",
        "name": "813fcb3c808de6e06c890839848ecab1e2bdcaccf7bbf6f24b3174ed7b1d2aad",
        "type": "Hash"}, "analystNotes": [{"external_id": "Flan", "attributes": {"published":
        "2025-10-08T22:22:14.531Z", "text": "The sequential subset of Erlang supports
        eager evaluation, single assignment, and dynamic typing. Where are my pants?
        They are written as strings of consecutive alphanumeric characters, the first
        character being lowercase. The Galactic Empi", "authors": [{"id": "9cwGnR5WcY0cwYav",
        "name": "Glorified rice", "type": "IntegrationUser"}], "title": "Haskell is
        a stand", "context_entities": [{"id": "FCAWY90tVO08WKzR1uN7FpwXd2eThPZ", "name":
        "Baked potato", "type": "EmailAddress"}, {"id": "url:https://wayne.finance/",
        "name": "https://baseline.tui/", "type": "URL"}, {"id": "5BaTR4", "name":
        "Gazpacho", "type": "Company"}, {"id": "idn:owned.ng", "name": "estates.tokyo",
        "type": "InternetDomainName"}, {"id": "ip:5.46.87.105", "name": "3.240.223.253",
        "type": "IpAddress"}, {"id": "hash:6966be1a0b0238a4bfa1c12178c07e901220c536412fa43d607f8bff2888[...]
