interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/info
  response:
    body:
      string: '{"id": "report:wpHivJ", "name": "Clam cake", "type": "entity", "created":
        "2024-07-01T12:51:38.804Z", "updated": "2026-02-13T10:59:40.887Z", "owner_id":
        "Soul food", "owner_name": "Shrimp Creole", "organisation_id": "Slinger",
        "organisation_name": "Pepperoni Pizza", "owner_organisation_details": {"owner_id":
        "Chocolate cheese", "owner_name": "Doughnut", "organisations": [], "enterprise_id":
        "Poppyseed muffin", "enterprise_name": "Pemmican"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:wpHivJ/status
  response:
    body:
      string: '{"size": 2, "status": "ready"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
