interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/search?limit=5&fields=analystNotes%2CenterpriseLists%2Centity%2CintelCard%2Clinks%2Clocation%2Crisk%2CriskMapping%2Csightings%2CthreatLists%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"enterpriseLists": [], "risk": {"criticalityLabel":
        "Make me a sand", "riskString": "Type ", "rules": 10, "criticality": 4, "riskSummary":
        "Messages can be sent to and received fr", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Atoms can contain any character
        if they are enclosed within single quotes and an escape convention exists
        which allows any ch", "rule": "I don''t even care.", "criticality": 1, "timestamp":
        "2026-06-10T15:16:37.508Z", "criticalityLabel": "She spe"}, {"mitigationString":
        "", "evidenceString": "Messages can be sent to and received from ports, but
        these messages must obey the so-called \"port protocol.\"", "rule": "They
        are written as strings of consecut", "criticality": 1, "timestamp": "2026-02-27T07:28:41.364Z",
        "criticalityLabel": "Do you "}, {"mitigationString": "", "evidenceString":
        "Make me a sandwich.", "rule": "The arguments can[...]
