interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/search?limit=5&fields=analystNotes%2CenterpriseLists%2Centity%2CfileHashes%2ChashAlgorithm%2CintelCard%2Clinks%2Crisk%2CriskMapping%2Csightings%2CthreatLists%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"enterpriseLists": [], "sightings": [{"source":
        "Atoms can", "url": "https://lamp.doha/", "published": "2026-02-16T07:18:05.351Z",
        "fragment": "It is also a garbage-collected runtime system.", "title": "They
        are written as strings of consecutive alphanumeric characters, the first charact",
        "type": "mostRecent"}, {"source": "They are ", "url": "https://derived.tn/",
        "published": "2026-04-09T13:42:30.290Z", "fragment": "Messages can be sent
        to and received from ports, but these messages must obey the so-", "title":
        "Erlang is a general-purpose, concurrent, functional programming language.",
        "type": "first"}, {"source": "Its main implementation is the Gla", "url":
        "https://discretion.biz/", "published": "2026-01-30T02:07:31.692Z", "fragment":
        "The sequential subset of Erlang supports eager evaluation, single assignment,
        and dynamic typing.", "title": "Haskell is a standardized, general-pu", "type":
        "recentInfoSec"}], "riskMapping": [{"rule": "Where are my pants?", "categories":
        [{"framework": "He lo", "name": "Caroli"}]}], "entity": {"id": "hash:6a86942c016e60548acacbe2ff05edfab77ad0b2abe492038623873864e8eddc",
        "name": "Chowder", "type": "Hash"}, "analystNotes": [], "hashAlgorithm": "Ports
        a", "timestamps": {"lastSeen": "2026-02-13T08:14:16.758Z", "firstSeen": "2026-07-05T13:29:36.202Z"},
        "threatLists": [], "risk": {"criticalityLabel": "The synta", "riskString":
        "Make", "rules": 1, "criticality": 3, "riskSummary": "The arguments can be
        primitive data ty", "score": 89, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "Its main implementation is the Glasgow Haskell Compiler.",
        "rule": "Type classes first appea", "criticality": 3, "timestamp": "2026-03-30T01:30:43.442Z",
        "criticalityLabel": "Do you ha"}]}, "fileHashes": ["Atoms can contain any
        character ", "Type classes first appeared in the Haskell programming language.",
        "He looked inquisitively at his keyboard "], "intelCard": "https://hits.so/",
        "links": {"hits": [], "method_aggregates": [{"count": 0, "type": "hHQyM6"},
        {"count": 0, "type": "hHQyM7"}, {"count": 0, "type": "gTB8y2"}], "counts":
        []}}, {"enterpriseLists": [], "sightings": [{"source": "Ports are used to
        communicate with", "url": "https://differential.do/", "published": "2026-04-16T00:51:41.415Z",
        "fragment": "Any element of a tuple can be accessed in constant time.", "title":
        "The Galactic Empire is nearing completion", "type": "recentInfoSec"}, {"source":
        "They are written as strings of con", "url": "https://pulse.dubai/", "published":
        "2026-09-14T04:28:36.434Z", "fragment[...]
