interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v3/alerts/bad-alert-id?fields=title%2Clog%2Cai_insights%2Creview%2Curl%2Cenriched_entities%2Chits%2Cowner_organisation_details%2Ctype%2Ctriggered_by%2Crule%2Cid
  response:
    body:
      string: '{"error": {"message": "He looked", "status": 404}, "traceId": "Do you
        have any idea why this is not"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 404
      message: Not Found
version: 1
