interactions:
- request:
    body: '{"filter": {"types": ["snort"], "created": {}, "updated": {}}, "limit":
      10}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 10, "total_count": 179, "result": [{"id": "doc:0yP8U9", "type":
        "snort", "title": "He looked inquisitively at his key", "description": "Erlang
        is a general-purpose, concurrent, functional programming language.", "created":
        "2024-11-22T17:37:12.742Z", "updated": "2024-11-22T17:37:12.742Z", "rules":
        [{"entities": [{"id": "WdhxjearzFRAdtg", "type": "MitreAttackIdentifier",
        "name": "Cowboy be", "display_name": "The Galactic Empire is nearing completion
        of the Deat"}, {"id": "nB0E6", "type": "Organization", "name": "Scampi", "display_name":
        "Do you come here often?"}, {"id": "0vWZVX", "type": "Malware", "name": "Tagine"},
        {"id": "pJ1XBS", "type": "Organization", "name": "Greek salad", "display_name":
        "He looked inquisitively at his keyboard and wrote another sentence."}], "content":
        "Do you have any idea why this is not working?", "file_name": "It is also
        a garbage-co"}]}, {"id": "doc:cynQie", "type": "snort", "title": "Do you have
        any idea ", "description": "It is also a garbage-collected runtime system.",
        "created": "2020-02-04T05:00:00.000Z", "updated": "2022-03-25T18:00:30.553Z",
        "rules": [{"entities": [{"id": "crMot_", "type": "Malware", "name": "Fried
        fish"}], "content": "The sequential subset of Erlang supports eager evaluation,
        single assignment, and dynamic typing.", "file_name[...]
