interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/hash/riskrules
  response:
    body:
      string: '{"data": {"results": [{"criticalityLabel": "He looked", "description":
        "I don''t even care.", "categories": [{"name": "Blue-p", "framework": "Ports"}],
        "criticality": 3, "relatedEntities": [], "name": "Roaste", "count": 761785},
        {"criticalityLabel": "Atoms can", "description": "Atoms can contain any character
        if they are enclosed within single quot", "categories": [{"name": "Steame",
        "framework": "The s"}], "criticality": 3, "relatedEntities": [], "name": "Protein
        bar", "count": 9728}, {"criticalityLabel": "Atoms a", "description": "Ports
        are used to communicate with t", "categories": [{"name": "Key Li", "framework":
        "They "}], "criticality": 1, "relatedEntities"[...]
