interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/wowzasomethng.com?fields=timestamps%2Centity%2Crisk
  response:
    body:
      string: '{"error": {"message": "Erlang is", "status": 404}, "traceId": "Haskell
        is a standardized, general-p"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 404
      message: Not Found
version: 1
