interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/search?limit=5&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-12-04T19:52:15.706Z",
        "firstSeen": "2026-10-14T20:47:25.191Z"}, "risk": {"criticalityLabel": "Do
        you have an", "riskString": "She s", "rules": 10, "criticality": 4, "riskSummary":
        "In 1989 the building was heavily damage", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Erlang is a general-purpose,
        concurrent, functional programming language.", "rule": "He looked inquisitively
        at h", "criticality": 1, "timestamp": "2026-01-03T19:02:47.525Z", "criticalityLabel":
        "Type cl"}, {"mitigationString": "", "evidenceString": "Type classes first
        appeared in the Haskell programming language.", "rule": "He looked inquisitively
        at his keyboard", "criticality": 1, "timestamp": "2026-05-28T06:12:06.787Z",
        "criticalityLabel": "The Gal"}, {"mitigationString": "", "evidenceString":
        "Tuples are containers for a fixed number of Erlang data types.", "rule":
        "Do you come here oft[...]
