interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/117.72.35.30?fields=timestamps%2Centity%2Crisk
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-02-10T16:59:22.000Z", "firstSeen":
        "2026-09-13T10:32:24.694Z"}, "risk": {"criticalityLabel": "Initially ", "riskString":
        "Mess", "rules": 8, "criticality": 2, "riskSummary": "The sequential subset
        of Erlang suppor", "score": 46, "evidenceDetails": [{"mitigationString": "",
        "evidenceString": "Ports are created with the built-in function open_port.",
        "rule": "The sequential subset of Erlang support", "criticality": 1, "timestamp":
        "2026-05-20T15:24:22.669Z", "criticalityLabel": "Tuples "}, {"mitigationString":
        "", "evidenceString": "Make me a sandwich.", "rule": "Haskell is a standardized,
        gene", "criticality": 1, "timestamp": "2026-01-22T05:42:17.260Z", "criticalityLabel":
        "Do you "}, {"mitigationString": "", "evidenceString": "Haskell features a
        type system with type inference and lazy evaluation.", "rule": "Haskell features
        a type system w", "criticality": 1, "timestamp"[...]
