interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/playbook-alert/common/task:3b9e9afb-3e4d-4f98-93fa-031cb3088004
  response:
    body:
      string: '{"status": {"status_code": "Po", "status_message": "Margherita Pizza"},
        "data": {"playbook_alert_id": "task:3b9e9afb-3e4d-4f98-93fa-031cb3088004",
        "rule_id": "Calas", "alert_rule": {"id": "5swDSv", "label": "Chicharones",
        "name": "Poke"}, "status": "New", "priority": "Salted carame", "created":
        "2026-02-11T06:00:12.978Z", "updated": "2026-02-11T06:00:12.978Z", "category":
        "malware_report", "title": "Its main im", "assignee_name": "Shish Kabob",
        "assignee_id": "Bulgogi", "owner_id": "Kimchi", "owner_name": "Currywurst",
        "organisation_id": "Salted caramel c", "organisation_name": "Poutine", "owner_organisation_details":
        {"organisations": [{"organisation_id": "Supreme pizza", "organisation_name":
        "Falafel"}], "enterprise_id": "Schnitzel", "enterprise_name": "Currywurst"},
        "actions_taken": []}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/playbook-alert/malware_report/task:3b9e9afb-3e4d-4f98-93fa-031cb3088004
  response:
    body:
      string: '{"status": {"status_code": "Ch", "status_message": "Risotto"}, "data":
        {"playbook_alert_id": "task:3b9e9afb-3e4d-4f98-93fa-031cb3088004", "panel_status":
        {"status": "New", "priority": "Steak Tartare", "assignee_name": "Meatloaf",
        "assignee_id": "Pigs in blankets", "created": "2026-02-11T06:00:12.978Z",
        "updated": "2026-02-11T06:00:12.978Z", "case_rule_id": "Russian dress", "case_rule_label":
        "Cobalt Strike tags", "alert_rule": {"id": "5swDSv", "label": "Frybread",
        "name": "Pop-Tarts"}, "owner_id": "Cobb Salad", "owner_name": "Stroganoff",
        "organisation_id": "Fish Tacos", "organisation_name": "Porterhouse Steak",
        "owner_organisation_details": {"organisations": [{"organisation_id": "Chicken
        Alfredo", "organisation_name": "Elote"}], "enterprise_id": "Supreme pizza",
        "enterprise_name": "Shrimp Creole"}}, "panel_evidence_summary": {"notification_title":
        "Tomato comp", "report_limit_reached": false, "number_of_reports": 235, "matched_hashes":
        [{"sha256": "1050bacab09f89536693a5abdc7689f3f334eeb84c0092c08454070413ee7a48",
        "is_enterprise_submission": false, "risk_score": 65, "report_overviews": [{"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-k52ccshy4e-behavioral1",
        "sandbox_score": 10, "tags": ["Milkshak", "Pot", "Shawarma", "Coleslaw", "Lobster
        Newberg", "Hog fry", "Strogan", "Baked ", "Cream", "Ice crea"]}, {"report_id":
        "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-md58caay2d-behavioral1",
        "sandbox_score": 10, "tags": ["Tetrazzi", "Ris", "Abalone", "Schnitzel", "Jerky",
        "Chicken f", "Gazpach", "Chocol", "Stuff", "Ribs"]}, {"report_id": "1e177e064d0fdca123c5cf2ff4c6dfc8ef394d0b418ac30fe17b2204ee876765-260210-mgc1zaay5h-beha[...]
