interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/search?limit=5&fields=analystNotes%2CenterpriseLists%2Centity%2CintelCard%2Clinks%2Crisk%2CriskMapping%2Csightings%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"analystNotes": [{"external_id": "Messag", "attributes":
        {"published": "2026-10-03T00:51:43.465Z", "text": "Atoms can contain any character
        if they are enclosed within single quotes and an escape convention exists
        which allows any character to be used within an atom. The Galactic Empire
        is nearing completion of the Death Star, a space station wit", "authors":
        [{"id": "W61aV4xLTYfj8RfR", "name": "Montreal Smoked Me", "type": "IntegrationUser"}],
        "title": "Do you come here o", "context_entities": [{"id": "hONrk2Fc98ov52AroNjNAOiKXQ7x6gC",
        "name": "Sausage gravy", "type": "EmailAddress"}, {"id": "url:https://config.cw/",
        "name": "Souvlaki", "type": "URL"}, {"id": "5BaTR4", "name": "Pork and ",
        "type": "Company"}, {"id": "idn:nikon.org", "name": "Deviled egg", "type":
        "InternetDomainName"}, {"id": "ip:171.42.91.124", "name": "Veggie Pizza",
        "type": "IpAddress"}, {"id": "hash:4bb785e737cc4c35d0003b8cda24d0e52e1a30b5691818cb015ed9eaa3a6d0e1",
        "name": "Cheese balls", "type": "Hash"}]}, "source": {"id": "msZOjzslY0BUD",
        "name": "Supreme pizza", "type": "Source"}, "id": "_AI5Iq"}, {"external_id":
        "Ports ", "attributes": {"published": "2026-03-18T04:10:55.885Z", "text":
        "Haskell features a type system with type inference and lazy evaluation. Tuples
        are containers for a fixed number of Erlang data types. Messages can be sent
        to and received from ports, but these messages must obey the so-called \"port
        proto", "authors": [{"id": "pBe7ofZ6sWYIa79y", "name": "Bao", "type": "IntegrationUser"}],
        "title": "The syntax {D1,D2,", "context_entities": [{"id": "eD7kW3gYzXeah8WnQZCA931a2OnNvyv",
        "name": "Blue cheese dressing", "type": "EmailAddress"}, {"id": "url:https://nsw.tel/",
        "name": "Russian tea cake", "type": "URL"}, {"id": "5BaTR4", "name": "Wasabi
        Pe", "type": "Company"}, {"id": "idn:invisible.nagoya", "name": "Fried fish",
        "type": "InternetDomainName"}, {"id": "ip:172.188.10.165", "name": "Chicharones",
        "type": "IpAddress"}, {"id": "hash:2b74aea834e366e5435541fa63b8ee9ed7d4682642a29f1fe3852e0b2622d830",
        "name": "Banh Mi Vi\u00eat", "type": "Hash"}]}, "source": {"id": "9etOLLUEdfAJB",
        "name": "Burnt ends", "type": "Source"}, "id": "_AI5Io"}, {"attributes": {"validated_on":
        "2026-10-02T23:21:57.899Z", "published": "2026-07-11T04:17:05.368Z", "text":
        "He looked inquisitively at his keyboard and wrote another sentence. It is
        also a garbage-collected runtime system. Haskell features a type system with
        type inference and lazy evaluation. Make me a sandwich. Messages can be sent
        to and received from ports, but these messages must obey the so-called \"port
        protocol.\"", "attachment": "Its main implementation is the Glasgow ", "topic":
        {"id": "aDKkpk", "name": "Turducken", "type": "Topic", "description": "Any
        element of a tuple can be accessed in constant time."}, "context_entities":
        [{"id": "Xeo7B", "name": "Pastrami", "type": "Technology"}, {"id": "I50Cdv",
        "name": "Apple sauce", "type": "Technology"}, {"id": "ExIrb7", "name": "Bang",
        "type": "Product"}, {"id": "JQJ0Eu", "name": "Macaroni a", "type": "Technology"},
        {"id": "b4oYYp", "name": "Paella", "type": "Product"}, {"id": "LXBkq", "name":
        "Chicken and waffles", "type": "Technology"}, {"id": [...]
