interactions:
- request:
    body: '{"filter": {"types": ["yara"], "created": {"after": "2026-01-14T10:22:00"},
      "updated": {}}, "limit": 15}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 11, "total_count": 11, "result": [{"id": "doc:BD0L4b5", "type":
        "yara", "title": "Where are my pants?", "description": "Type classes first
        appeared in the Haskell programmi", "created": "2026-02-06T03:06:52.683Z",
        "updated": "2026-02-06T03:06:52.683Z", "rules": [{"entities": [{"id": "si5vSziURFB",
        "type": "MitreAttackIdentifier", "name": "Alpha", "display_name": "The sequential
        subset of"}, {"id": "TyWTvGD", "type": "Malware", "name": "Chicken f"}, {"id":
        "PbO0c", "type": "Product", "name": "Vichyssoise"}], "content": "It is also
        a garbage-collected runtime system.", "file_name": "Tuples are container"}]},
        {"id": "doc:BDrXKES", "type": "yara", "title": "Atoms are used within a program
        to denote dist", "description": "They are written as strings of consecutive
        alphanumeric char", "created": "2026-01-29T15:32:57.321Z", "updated": "2026-01-29T15:32:57.321Z",
        "rules": [{"entities": [{"id": "0B_A4x", "type": "Malware", "name": "Fried
        fi"}], "content": "Make me a sandwich.", "file_name": "Any element of a"}]},
        {"id": "doc:BDtifr[...]
- request:
    body: '{"filter": {"types": ["yara"], "created": {"after": "2026-01-14T10:22:00"},
      "updated": {}}, "limit": 4, "offset": "eyJvZmZzZXQiOls4Nzg1LCJIRkNqUUFEVm1PXyJdfQ=="}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 0, "total_count": 11, "result": []}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
