interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/ip/search?limit=5&fields=analystNotes%2CdnsPortCert%2CenterpriseLists%2Centity%2CintelCard%2Clinks%2Clocation%2Crisk%2CriskMapping%2Cscanner%2Csightings%2CthreatLists%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"enterpriseLists": [], "risk": {"criticalityLabel":
        "Ports are crea", "riskString": "Initi", "rules": 10, "criticality": 4, "riskSummary":
        "Ports are created with the built-in fun", "score": 99, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "He looked inquisitively at his
        keyboard and wrote another sentence.", "rule": "Messages can be sent to and
        ", "criticality": 1, "timestamp": "2026-04-05T17:48:05.486Z", "criticalityLabel":
        "The Gal"}, {"mitigationString": "", "evidenceString": "Initially composing
        light-hearted and irreverent works, he also wrote serious, sombre and religious
        pieces beginning in the 1930s.", "rule": "The syntax {D1,D2,...,Dn} denotes
        a tup", "criticality": 1, "timestamp": "2026-11-18T08:38:37.342Z", "criticalityLabel":
        "Do you "}, {"mitigationString": "", "evidenceString": "Its main implementation
        is t[...]
