interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/http%3A%2F%2Falphastand.win%2Falien%2Ffre.php?fields=timestamps%2Centity%2Crisk
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-07-26T00:11:36.948Z", "firstSeen":
        "2026-10-17T09:14:35.901Z"}, "risk": {"criticalityLabel": "Messages ", "riskString":
        "In 19", "rules": 12, "criticality": 3, "riskSummary": "Ports are used to
        communicate with the ", "score": 74, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "In 1989 the building was heavily damaged by fire, but
        it has since been restored.", "rule": "He looked inquisitively at his keyboard",
        "criticality": 1, "timestamp": "2026-01-27T21:35:04.260Z", "criticalityLabel":
        "He look"}, {"mitigationString": "", "evidenceString": "Tuples are containers
        for a fixed number of Erlang data types.", "rule": "I don''t even care.",
        "criticality": 1, "timestamp": "2026-08-22T23:28:52.332Z", "criticalityLabel":
        "Erlang "}, {"mitigationString": "", "evidenceString": "In 1989 the building
        was heavily damaged by fire, but it has since been restored.", "rule": "Erlang
        is known for its[...]
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/http%3A%2F%2Falphastand.top%2Falien%2Ffre.php?fields=timestamps%2Centity%2Crisk
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-05-31T16:21:53.248Z", "firstSeen":
        "2026-01-05T11:03:40.708Z"}, "risk": {"criticalityLabel": "Haskell f", "riskString":
        "The s", "r[...]
