interactions:
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/threat/map/actors
  response:
    body:
      string: '{"data": {"threat_map": [{"id": "5Bamz9", "name": "Bird''s Nest Soup",
        "alias": ["Its main implementatio"], "categories": [{"id": "ppu8e4", "name":
        "Mini pizzas"}, {"id": "JW2OHE", "name": "Chicken fing"}], "intent": 49, "opportunity":
        10, "log_entries": [{"watchlist": {"id": "report:mfVhIo", "name": "Po''Boy"},
        "entity": {"id": "D1SudZ", "name": "Chicken Tikka Ma"}, "severity": 2, "axis":
        "In 198", "date": "2026-08-28T02:23:30.119Z"}, {"watchlist": {"id": "report:mfVhIo",
        "name": "Creamed corn"}, "entity": {"id": "CEpLql", "name": "Philly "}, "severity":
        2, "axis": "Erlang", "date": "2026-09-19T06:45:09.763Z"}, {"watchlist": {"id":
        "report:mfVhIo", "name": "Mission burrito"}, "entity": {"id": "I50Pbd", "name":
        "Tuna Pizza"}, "severity": 2, "axis": "Atoms ", "date": "2026-12-18T12:12:31.363Z"},
        {"watchlist": {"id": "report:mfVhIo", "name": "Pemmican"}, "enti[...]
- request:
    body: '{"filter": {"entities": ["5Bamz9"], "created": {}, "updated": {}}, "limit":
      100}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 0, "total_count": 0, "result": []}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"filter": {"entities": ["3xXGD6"], "created": {}, "updated": {}}, "limit":
      100}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 2, "total_count": 2, "result": [{"id": "doc:5fgkW4", "type":
        "sigma", "title": "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments
        are D", "description": "Atoms are used within a program to denote distinguished
        values.", "created": "2025-04-24T17:33:26.954Z", "updated": "2025-04-24T17:33:26.953Z",
        "rules": [{"entities": [{"id": "JDyIFqbbHcjUc9f", "type": "MitreAttackIdentifier",
        "name": "Oreo", "display_name": "Where are my pants?"}, {"id": "COuNNqbU66x",
        "type": "MitreAttackIdentifier", "name": "Fried", "display_name": "It is also
        a garbage"}, {"id": "894g6AOJpZN", "type": "MitreAttackIdentifier", "name":
        "Pastr", "display_name": "Ports are used to communicate with the ex"}, {"id":
        "zLLliJV8ymIsfGJ", "type": "MitreAttackIdentifier", "name": "Pancakes", "display_name":
        "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments"}, {"id": "X1boAdcknQ6",
        "[...]
- request:
    body: '{"filter": {"entities": ["3xXGD6"], "created": {}, "updated": {}}, "limit":
      100, "offset": "eyJvZmZzZXQiOls4MzQ2LCJIRkJYZ0FELW9RUSJdfQ=="}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 0, "total_count": 2, "result": []}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{"filter": {"entities": ["wahcED"], "created": {}, "updated": {}}, "limit":
      100}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/detection-rule/search
  response:
    body:
      string: '{"count": 1, "total_count": 1, "result": [{"id": "doc:7naD1A", "type":
        "sigma", "title": "Any element of a tuple can be accessed in constant time.",
        "description": "Tuples are containers for a fixed number of Erlang data types.",
        "created": "2025-07-03T16:25:27.973Z", "updated": "2025-07-03T16:25:27.972Z",
        "rules": [{"entities": [{"id": "RqNWyl", "type": "Malware", "name": "Chicken
        fried bacon", "display_name": "Erlang is known for its designs that are we"},
        {"id": "67f1n", "type": "Product", "name": "Deep Fried Oreos"}, {"id": "wG6mXlXOowu",
        "type": "MitreAttackIdentifier", "name": "Hummu", "display_name": "He looked
        inquisitively at his ke"}], "content": "Erlang is a general-purpose, concurrent,
        functional programming language.", "file_name": "She spent her earliest years
        reading cl"}]}], "next_offset": "eyJvZmZzZXQiOlsxMTk0MywiSEZCdXdBRHNXZVMiXX0="}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
[...]
- request:
    body: '{}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/threat/map/malware
  response:
    body:
      string: '{"data": {"threat_map": [{"id": "cQGgz6", "name": "Cheesecake", "alias":
        ["Erlang is a gen", "The "], "categories": [{"id": "qAtiT", "name": "Greek
        "}], "prevalence": 75, "opportunity": 75, "log_entries": [{"entity": {"id":
        "cQGgz6", "name": "Pork Belly"}, "severity": 4, "axis": "Ports ", "date":
        "2026-11-16T15:57:40.455Z"}, {"entity": {"id": "cQGgz6", "name": "Energy bar"},
        "severity": 4, "axis": "Ports are ", "date": "2026-11-15T12:06:49.903Z"}]},
        {"id": "_7T1xP", "name": "White chocolat", "alias": [], "categories": [],
        "prevalence": 50, "opportunity": 50, "log_entries": [{"entity": {"id": "_7T1xP",
        "name": "[...]
[...]
