interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/search?limit=1&riskScore=%2850%2C61%5D&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-05-19T22:06:38.115Z",
        "firstSeen": "2026-03-21T10:33:48.187Z"}, "risk": {"criticalityLabel": "Atoms
        are ", "riskString": "Atom", "rules": 6, "criticality": 2, "riskSummary":
        "Erlang is known for its designs that a", "score": 58, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Do you come here often?", "rule":
        "The Galactic Empire is nearing completion of", "criticality": 1, "timestamp":
        "2026-06-24T13:39:25.614Z", "criticalityLabel": "In 1989"}, {"mitigationString":
        "", "evidenceString": "He looked inquisitively at his keyboard and wrote another
        sentence.", "rule": "Erlang is a general-purpose, concurrent,", "criticality":
        1, "timestamp": "2026-01-05T09:29:26.665Z", "criticalityLabel": "He look"},
        {"mitigationString": "", "evidenceString": "They are written as strings of
        consecutive alphanumeric characters, the first character being lowercase.",
        "rule": "Its main implementation is the Glasgow ", "criticality": 1, "timestamp":
        "2026-01-18T16:47:24.042Z", "criticalityLabel": "Its mai"}, {"mitigationString":
        "", "evidenceString": "The arguments can be primitive data types or compound
        data types.", "rule": "The syntax {D1,D2,...,Dn} denotes a ", "criticality":
        1, "timestamp": "2026-04-16T13:49:03.784Z", "criticalityLabel": "Atoms c"},
        {"mitigationString": "", "evidenceString": "Erlang is a general-purpose, concurrent,
        functional programming language.", "rule": "Initially composing ligh", "criticality":
        2, "timestamp": "2026-03-07T07:27:59.794Z", "criticalityLabel": "Haskell is"},
        {"mitigationString": "", "evidenceString": "Make me a sandwich.", "rule":
        "I don''t even care.", "criticality": 2, "timestamp": "2026-09-11T22:49:00.509Z",
        "criticalityLabel": "Initially "}]}, "entity": {"id": "idn:beneath.africa",
        "name": "Tres Leches ", "type": "InternetDomainName"}}]}, "counts": {"returned":
        1, "total": 6}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
