interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/list/report:21YKUC/info
  response:
    body:
      string: '{"id": "report:21YKUC", "name": "Pickled cucu", "type": "entity", "created":
        "2025-01-28T00:24:08.686Z", "updated": "2026-02-13T10:10:11.291Z", "owner_id":
        "Chocolate Chip C", "owner_name": "Spaghetti Bolognese", "organisation_id":
        "French Onion Sou", "organisation_name": "Pan Seared Scallops", "owner_organisation_details":
        {"owner_id": "Steak sauce", "owner_name": "Veggie Pizza", "organisations":
        [], "enterprise_id": "Queso Fresco", "enterprise_name": "Chocolate Brownie"}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
- request:
    body: '{"entity": {"id": "123456"}}'
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: POST
    uri: https://api.recordedfuture.com/list/report:21YKUC/entity/remove
  response:
    body:
      string: '{"message": "Spaghetti Bolognese", "status_code": 404, "trace_id":
        "100d47ff-1927-4c00-8212-ac4f9a0ca785"}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 404
      message: Not Found
version: 1
