interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/domain/digitalcollege.org?fields=timestamps%2Crisk%2Centity
  response:
    body:
      string: '{"data": {"timestamps": {"lastSeen": "2026-02-15T03:51:04.993Z", "firstSeen":
        "2020-12-14T08:46:12.085Z"}, "risk": {"criticalityLabel": "Potatoes O''Bri",
        "riskString": "Corn", "rules": 7, "criticality": 4, "riskSummary": "Succotash",
        "score": 99, "evidenceDetails": [{"mitigationString": "", "evidenceString":
        "Chicken Biryani", "rule": "Garden salad", "criticality": 1, "timestamp":
        "2022-02-01T21:22:56.588Z", "criticalityLabel": "Spring "}, {"mitigationString":
        "", "evidenceString": "Rabbit pie", "rule": "Laksa", "criticality": 1, "timestamp":
        "2021-02-03T21:32:08.000Z", "criticalityLabel": "Alphabe"}, {"mitigationString":
        "", "evidenceString": "Spaghetti and Meatballs", "rule": "Poutine", "criticality":
        1, "timestamp": "2025-12-22T01:08:51.106Z", "criticalityLabel": "Burnt e"},
        {"mitigationString": "", "evidenceString": "Glorified rice", "rule": "Fish
        and Chips!", "criticality": 1, "timestamp": "2020-12-18T00:00:00.000Z", "criticalityLabel":
        "Doughnu"}, {"mitigationString": "", "evidenceString": "Mission burrito",
        "rule": "Souvlaki", "criticality": 1, "timestamp": "2020-12-15T00:00:00.000Z",
        "criticalityLabel": "Cheesec"}, {"mitigationString": "", "evidenceString":
        "Rabbit pie", "rule": "Tomato compote", "criticality": 1, "timestamp": "2026-02-16T04:05:29.847Z",
        "criticalityLabel": "Grits"}, {"mitigationString": "", "evidenceString": "Chicken
        nugget", "rule": "Blue-plate special", "criticality": 4, "timestamp": "2026-02-16T04:05:29.846Z",
        "criticalityLabel": "Deep Fried Ore"}]}, "entity": {"id": "idn:dir.accountants",
        "name": "emperor.page", "type": "InternetDomainName"}}}'
    headers:
      Content-Type:
      - application/json
      scrubbed: '1'
    status:
      code: 200
      message: OK
version: 1
