interactions:
- request:
    body: null
    headers:
      Content-Type:
      - application/json
      X-RFToken:
      - bmljZSB0cnkgOikpKSk=
    method: GET
    uri: https://api.recordedfuture.com/v2/url/search?limit=5&fields=entity%2Crisk%2Ctimestamps
  response:
    body:
      string: '{"data": {"results": [{"timestamps": {"lastSeen": "2026-08-29T20:51:51.763Z",
        "firstSeen": "2026-10-10T22:56:56.421Z"}, "risk": {"criticalityLabel": "The
        Galac", "riskString": "The ", "rules": 4, "criticality": 3, "riskSummary":
        "The arguments can be primitive data ty", "score": 89, "evidenceDetails":
        [{"mitigationString": "", "evidenceString": "Any element of a tuple can be
        accessed in constant time.", "rule": "She spent her earliest years reading
        cl", "criticality": 1, "timestamp": "2026-11-15T01:23:35.306Z", "criticalityLabel":
        "Its mai"}, {"mitigationString": "", "evidenceString": "Make me a sandwich.",
        "rule": "It is also a garbage-collect", "criticality": 1, "timestamp": "2026-02-28T05:30:01.632Z",
        "criticalityLabel": "It is a"}, {"mitigationString": "", "evidenceString":
        "He looked inquisitively at his keyboard and wrote another sentence.", "rule":
        "Do you come here often?", "criticality": 1, "timestamp": "2026-06-19T15:55:31.538Z",
        "criticalityLabel": "He look"}, {"mitigationString": "", "evidenceString":
        "She spent her earliest years reading classic literature, and writing poetry.",
        "rule": "I don''t even care.", "criticality": 3, "timestamp": "2026-12-23T02:21:44.938Z",
        "criticalityLabel": "He looked"}]}, "entity": {"id": "url:https://achievements.tokyo/",
        "name": "Fried Catfish", "type": "URL"}}, {"timestamps": {"lastSeen": "2026-03-20T12:17:47.041Z",
        "firstSeen": "2026-04-30T22:28:57.474Z"}, "risk": {"criticalityLabel": "Haskell
        i", "riskString": "Erlan", "rules": 13, "criticality": 3, "riskSummary": "The
        sequential subset of Erlang support", "score": 83, "evidenceDetails": [{"mitigationString":
        "", "evidenceString": "The syntax {D1,D2,...,Dn} denotes a tuple whose arguments
        are D1, D2, ... Dn.", "rule": "He looked inquisitively at his k[...]
